#add_beneficiary{
  md-tab-body{
    background-color: #333;
  }
  .ms-form-wizard .ms-form-wizard-form{
    padding: 16px;
  }
  md-tabs-canvas{
    height: 51px;
  }
  .required-field{
    label, label:after {
      color: rgb(213, 0, 0);
    }
    input {
      border-bottom-color: rgb(213, 0, 0);
    }
    .md-select-value {
      color: rgb(213, 0, 0);
      border-bottom-color: rgb(213, 0, 0);
      span:after {
        color: rgb(213, 0, 0);
      }
    }
  }
  .form-container{
    display: block;
  }
  .ms-form-wizard md-pagination-wrapper{
    min-width: 760px;
  }
  md-tabs{
    background-color: #fff;
  }
  .md-tab{
    padding: 12px;
    border-bottom: 3px solid #fff;
  }
  .md-tab.md-active{
    border-bottom: 3px solid #00A4D3;
    background-color: #E4EDFD;
    font-weight: bold;
    .ms-form-wizard-step-label{
      background-color: #E4EDFD;
    }
  }
  .md-tab:after,
  .md-tab:before{
    display: none;
  }
  md-input-container{
    margin: 16px 0;
    md-checkbox{
      margin: 2px 0;
    }
    .md-errors-spacer{
      display: none;
    }
  }
  .no-extra-margin{
    margin: 2px 0;
  }
  .pay_to_checkbox{
    margin: 14px 0 20px 0;
  }
  .extra-height{
    min-height: 35px;
  }
  .next-button-container{
    position: relative;
    z-index: 1;
    width: 100%;
    background: #EBEBEB;
    border: 1px solid #DCDCDC;
    button.md-primary{
      background: #0C59CF !important;
      color: #fff;
    }
    button.md-secondary{
      background: #606060 !important;
      color: #fff;
    }
  }
  .popup{
    position: absolute;
    top: -13em;
    left: 30%;
    background-color: #fff;
    color: #333;
    width: 30%;
    padding: 1em;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    span {
      display: block;
      font-weight: 700;
      width: 100%;
      text-align: center;
      color: #0C59CF;
      font-size: 1.1em;
    }
    table{
      margin-top: 5px;
      border-collapse: collapse;
      width: 100%;
      td,th{
        white-space: nowrap;
        border-bottom: 1px solid #f0f3f4;
        padding: 4px;
      }
    }
  }
  .show-circle-loader{
    position: absolute;
    top: 38px;
    right: 40px;
    z-index: 999;
  }
  .popup-form-box{
    min-height: 210px;
    height:auto !important;
    height: 210px;
    position: relative;
    float: left;
    background-color: #FBFAFA;
    border: 1px solid #D9D9D9;
    padding: 10px;
    margin-top: 0.9em;
    width: 100%;
  }
  .auto-order-box{
    min-height: 290px;
    height:auto !important;
    height: 290px;
  }
  .popup-form-box .triangle{
    position: absolute;
    top: -20px;
    left: 1px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 19.1px 11px;
    border-color: transparent transparent #D9D9D9 transparent;
  }
  .popup-form-box .triangle .inner{
    position: relative;
    top: 2px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10.5px 18.2px 10.5px;
    border-color: transparent transparent #FBFAFA transparent;
  }
  md-input-container i.material-icons{
    position: absolute;
    right: 1%;
  }
  button{
    font-size: 12px;
  }
  button.md-outline{
    background-color: #fff;
    border: 0.14em solid #207ADC;
    color: #207ADC;
    font-weight: bold;
  }
  button.md-disable{
    background-color: #D6D6D6;
    color: #ABAAAA;
  }
}
#pick_routing_dialog{
  width: 98%;
  height: 94%;
  max-width: 100%;
  max-height: 100%;
  .p10-around{
    padding-left: 10px;
    padding-right: 10px;
  }
  span.method{
    font-size: 10px;
    color: #fff;
    background-color: #555;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    top: -2px;
  }
  button.filter-button,
  button.filter-button-icon{
    background-color: #2196F3 !important;
  }
  button.filter-button{
    margin: 8px 0;
  }
  button.filter-button-icon{
    margin-right: 1em;
    margin-left:2px;
    min-width: 30px;
    i.material-icons{
      position: relative;
      top: 7px;
    }
  }
  span.method.aba{background-color: #FF8351;}
  span.method.bill-payment{background-color: #FFA834;}
  form.pick-routing-form{
    padding:0;
    margin-top: 0;
    md-input-container{
      width: 95%;
      margin:12px 0;
      .md-errors-spacer{
        display: none;
      }
    }
  }
  table.filter-table{
    font-size: 12px;
    .pick-it.show{
      display: inline-block;
      i.material-icons{
        color: #13F220;
      }
    }
    .pick-it.hide{
      display: none;
    }
    .span-align{
      position: relative;
      top: -6px;
    }
    thead tr th{
      text-transform: uppercase;
      background-color: #2196F3;
      color: #fff;
    }
    tr th,
    tr td{
      padding: 10px;
      font-weight: normal;
    }
    tbody tr td{
      cursor: pointer;
    }
    tbody tr:hover td{
      background-color: #E4EDFD;
    }
    tbody{
      height: 283px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    tbody, thead{
      display: block;
      width: 100%;
    }
    thead tr th,
    tbody tr td{
      overflow: hidden;
    }
    thead tr th:first-child,
    tbody tr td:first-child{
      width: 260px;
    }
    thead tr th:nth-child(2),
    tbody tr td:nth-child(2){
      width: 100px;
    }
    thead tr th:nth-child(3),
    tbody tr td:nth-child(3){
      width: 100px;
    }
    thead tr th:nth-child(4),
    tbody tr td:nth-child(4){
      width: 130px;
    }
    thead tr th:nth-child(5),
    tbody tr td:nth-child(5){
      width: 130px;
    }
    thead tr th:nth-child(6),
    tbody tr td:nth-child(6){
      width: 200px;
    }
    thead tr th:nth-child(7),
    tbody tr td:nth-child(7){
      width: 150px;
    }
    thead tr th:nth-child(8),
    tbody tr td:nth-child(8){
      width: 120px;
    }
    thead tr th:nth-child(9),
    tbody tr td:nth-child(9){
      width: 120px;
    }
    thead tr th:nth-child(10),
    tbody tr td:nth-child(10){
      width: 100px;
    }
  }
}
/* Mobile devices */
@media only screen and (min-width : 320px) and (max-width: 359px){
  #add_beneficiary{

  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  #add_beneficiary{

  }
}
@media only screen and (min-width: 375px) and (max-width: 411px)  {
  #add_beneficiary{

  }
}
@media only screen and (min-width: 412px) and (max-width: 413px) {
  #add_beneficiary{

  }
}
@media only screen and (min-width: 414px) and (max-width: 767px)  {
  #add_beneficiary{

  }
}
@media only screen and (min-width: 768px) and (max-width: 959px)  {
  #add_beneficiary{

  }
}
@media only screen and (min-width: 960px) and (max-width: 1023px){
  #add_beneficiary{
    ms-form-wizard.ms-form-wizard{
      min-height: 450px;
    }
  }
}
//iPad Pro
@media only screen and (min-width: 1024px) and (max-width: 1279px){
  #add_beneficiary{
    ms-form-wizard.ms-form-wizard{
      min-height: 650px;
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1359px){
  #add_beneficiary{
    ms-form-wizard.ms-form-wizard{
      min-height: 650px;
    }
  }
}
@media screen\0{
  #add_beneficiary{
    ms-form-wizard.ms-form-wizard{
      height: auto;
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #pick_routing_dialog{
    table{
      tbody{
        height: 255px !important;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 280px !important;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 120px !important;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 120px !important;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 260px !important;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 140px !important;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 140px !important;
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        width: 130px !important;
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        width: 125px !important;
      }
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #pick_routing_dialog{
    table{
      tbody{
        height: 307px !important;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 250px !important;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 110px !important;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 110px !important;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 110px !important;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 110px !important;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 200px !important;
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        width: 200px !important;
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        width: 110px !important;
      }
      thead tr th:nth-child(9),
      tbody tr td:nth-child(9){
        width: 95px !important;
      }
      thead tr th:nth-child(10),
      tbody tr td:nth-child(10){
        width: 95px !important;
      }
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #pick_routing_dialog{
    table{
      tbody{
        height: 308px !important;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 270px !important;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 115px !important;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 115px !important;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 115px !important;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 115px !important;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 250px !important;
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        width: 250px !important;
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        width: 115px !important;
      }
      thead tr th:nth-child(9),
      tbody tr td:nth-child(9){
        width: 100px !important;
      }
      thead tr th:nth-child(10),
      tbody tr td:nth-child(10){
        width: 95px !important;
      }
    }
  }
}
@media only screen and (min-width : 1920px) {
  #pick_routing_dialog{
    table{
      tbody{
        height: 545px !important;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 460px !important;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 180px !important;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 180px !important;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 320px !important;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 180px !important;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 180px !important;
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        width: 180px !important;
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        width: 180px !important;
      }
    }
  }
}
@media only screen and (min-width : 2560px) {
  #add_beneficiary{
    ms-form-wizard.ms-form-wizard{
      min-height: 650px;
      height:auto !important;
      height: 650px;
    }
  }
}
