<div id="add_beneficiary" class="page-layout simple fullwidth doc-page" layout="column" style="margin-right: 1%;padding: 11px;">
  <div class="content form-container" layout="column">
    <ms-form-wizard flex>
      <div class="show-circle-loader" ng-hide="vm.circleLoader">
        <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
      </div>
      <md-tabs md-dynamic-height>
        <md-tab id="tab_0">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-text">BENEFICIARY</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row">
                <!-- MAIN Container -->
                <div flex="45" flex-offset="0" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="0" class="step1-part1">
                  <div layout="column" layout-gt-xs="row"  layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1Invalid === false ? '' : (vm.step1.beneficiary_name === null ? 'required-field':'')">
                      <label>Beneficiary Name</label>
                      <input type="text" ng-model="vm.step1.beneficiary_name" ng-required="true" ng-keydown="vm.WordsAndNumbers($event)" ng-disabled="vm.disableAllFields">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1Invalid === false ? '' : (vm.step1.address1 === null ? 'required-field':'')">
                      <label>Address 1</label>
                      <input type="text" ng-model="vm.step1.address1" ng-required="true" ng-keydown="vm.WordsAndNumbers($event)" ng-disabled="vm.disableAllFields">
                    </md-input-container>
                  </div>

                  <div ng-show="vm.step1.country && vm.step1.province" layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1Invalid === false ? '' : (vm.step1.city === null ? 'required-field':'')">
                      <label>City</label>
                      <md-select  ng-model="vm.step1.city" ng-required="true" ng-click="vm.fetchCitiesStep1_1(vm.step1)" ng-disabled="vm.disableAllFields">
                        <md-option ng-repeat="city in vm.step1_cities | orderBy: 'city_name'" ng-value="city.city_name">{{ city.city_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1Invalid === false ? '' : (vm.step1.country === null ? 'required-field':'')">
                      <label>Country</label>
                      <md-select ng-model="vm.step1.country" ng-required="true" ng-disabled="vm.disableAllFields">
                        <md-option ng-value="country.country_name" ng-repeat="country in vm.countries track by country.country_id | orderBy: 'country_name'">{{country.country_name}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Account Type</label>
                      <md-select ng-model="vm.step1.account_type" ng-required="false" ng-disabled="vm.disableAllFields" ng-click="vm.fetchAccountTypes()">
                        <md-option ng-value="account.id" ng-repeat="account in vm.beneficiary_account_types">{{ account.name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1Invalid === false ? '' : (vm.step1.account_no === null ? 'required-field':'')">
                      <label>Account No</label>
                      <input type="text" ng-model="vm.step1.account_no" ng-required="true" ng-keydown="vm.WordsAndNumbers($event)" ng-disabled="vm.disableAllFields">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Beneficiary Instructions</label>
                      <input type="text" ng-model="vm.step1.beneficiary_instruction" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.onlyWords($event)">
                    </md-input-container>
                  </div>

                </div>
                <!-- FLEX END -->
                <!-- Pay to ACME -->
                <div flex="45" flex-offset="5" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="5">
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="pay_to_checkbox">
                      <md-checkbox ng-model="vm.step1.pay_to" aria-label="checkbox" ng-click="vm.fillEntityFields()" ng-disabled="vm.disableAllFields">PAY TO {{ vm.pay_to | uppercase }}</md-checkbox>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Address 2</label>
                      <input type="text" ng-model="vm.step1.address2" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)" ng-disabled="vm.disableAllFields">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Province/State</label>
                      <md-select ng-model="vm.step1.province" ng-required="false" ng-change="vm.fetchCitiesStep1_1(vm.step1)" ng-disabled="vm.disableAllFields">
                        <md-option ng-repeat="province in vm.provinces track by province.province_id | orderBy: 'province_name'" ng-value="province.province_name">{{ province.province_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Postal Code/Zip</label>
                      <input type="text" ng-model="vm.step1.postal_code" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)" ng-disabled="vm.disableAllFields">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1Invalid === false ? '' : (vm.step1.currency === null ? 'required-field':'')">
                      <label>Currency</label>
                      <md-select ng-model="vm.step1.currency" ng-required="true" ng-disabled="vm.disableAllFields" ng-click="vm.fetchCurrencies()">
                        <md-option ng-value="currency.currency_id" ng-repeat="currency in vm.currencies | orderBy: 'currency_name'">{{ currency.currency_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Beneficiary Email Address</label>
                      <input type="text" ng-model="vm.step1.beneficiary_email" ng-disabled="vm.disableAllFields" ng-required="false"  ng-keydown="vm.validateEmail($event)" ng-keypress="vm.limitLength($event, 100)" ng-paste="vm.pasteLimit($event, 100)" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Sending Bank Instructions</label>
                      <input type="text" ng-model="vm.step1.send_bank_instruction" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.onlyWords($event)">
                    </md-input-container>
                  </div>

                </div>
              </div>
              <div layout="column" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="column" layout-gt-sm="column">
                <div layout="column" layout-gt-xs="row" layout-xs="column" class="extra-height">
                  <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="no-extra-margin">
                    <md-checkbox ng-model="vm.step1.beneficiary_is_person" aria-label="BENEFICIARY IS A PERSON" ng-disabled="vm.disableAllFields">BENEFICIARY IS A PERSON</md-checkbox>
                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" layout-xs="column" class="popup-form-box beneficiary-box" ng-show="vm.step1.beneficiary_is_person">
                  <div class="triangle">
                    <div class="inner"></div>
                  </div>
                  <div flex="50" flex-offset="0" flex-xs="100" flex-offset-xs="0" flex-gt-xs="50" flex-offset-gt-xs="0">
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Contact Number</label>
                        <input type="text" ng-model="vm.step1_is_person.contact_number" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.OnlyContacts($event)">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Occupation</label>
                        <input type="text" ng-model="vm.step1_is_person.occupation" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.onlyWords($event)">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Identification Number</label>
                        <input type="text" ng-model="vm.step1_is_person.identification_number" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">
                      </md-input-container>
                    </div>
                  </div>
                  <div flex="45" flex-offset="5" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="5">
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Date of Birth</label>
                        <input type="text" jq-date-picker="" ng-disabled="vm.disableAllFields" ng-model="vm.step1_is_person.date_of_birth" ng-required="false" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Identification Type</label>
                        <md-select ng-model="vm.step1_is_person.identification_type" ng-required="false" ng-disabled="vm.disableAllFields" ng-click="vm.fetchIdentification()">
                          <md-option ng-value="identification.id" ng-repeat="identification in vm.identifications | orderBy: 'name'">{{ identification.name }}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                </div>
                <div layout="column" layout-gt-xs="row" layout-xs="column" class="extra-height">
                  <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="no-extra-margin">
                    <md-checkbox ng-model="vm.step1.auto_by_order_of" aria-label="AUTO BY ORDER OF" ng-disabled="vm.disableAllFields" ng-click="vm.autoFillOrderOf()">AUTO BY ORDER OF</md-checkbox>
                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" layout-xs="column" class="popup-form-box auto-order-box" ng-show="vm.step1.auto_by_order_of">
                  <div class="triangle">
                    <div class="inner"></div>
                  </div>
                  <div flex="50" flex-offset="0" flex-xs="100" flex-offset-xs="0" flex-gt-xs="50" flex-offset-gt-xs="0">
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1AutoInvalid === false ? '' : (vm.step1_auto_by_order_of.name === null ? 'required-field':'')">
                        <label>Name</label>
                        <input type="text" ng-model="vm.step1_auto_by_order_of.name" ng-disabled="vm.disableAllFields" ng-required="true" ng-keydown="vm.onlyWords($event)">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1AutoInvalid === false ? '' : (vm.step1_auto_by_order_of.country === null ? 'required-field':'')">
                        <label>Country</label>
                        <md-select ng-model="vm.step1_auto_by_order_of.country" ng-required="true" ng-disabled="vm.disableAllFields">
                          <md-option ng-value="country.country_name" ng-repeat="country in vm.countries | orderBy: 'country_name'">{{country.country_name}}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1AutoInvalid === false ? '' : (vm.step1_auto_by_order_of.province === null ? 'required-field':'')">
                        <label>Province/State</label>
                        <md-select ng-model="vm.step1_auto_by_order_of.province" ng-required="true" ng-disabled="vm.disableAllFields" ng-change="vm.fetchCitiesStep1_2(vm.step1_auto_by_order_of)">
                          <md-option ng-repeat="province in vm.provinces | orderBy: 'province_name'" ng-value="province.province_name">{{ province.province_name }}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1AutoInvalid === false ? '' : (vm.step1_auto_by_order_of.city === null ? 'required-field':'')">
                        <label>City</label>
                        <md-select ng-model="vm.step1_auto_by_order_of.city" ng-required="true" ng-disabled="vm.disableAllFields" ng-click="vm.fetchCitiesStep1_2(vm.step1_auto_by_order_of)">
                          <md-option ng-repeat="city in vm.step2_cities | orderBy: 'city_name'" ng-value="city.city_name">{{ city.city_name }}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                  <div flex="45" flex-offset="5" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="5">
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class="vm.step1AutoInvalid === false ? '' : (vm.step1_auto_by_order_of.address1 === null ? 'required-field':'')">
                        <label>Address 1</label>
                        <input type="text" ng-model="vm.step1_auto_by_order_of.address1" ng-disabled="vm.disableAllFields" ng-required="true" ng-keydown="vm.WordsAndNumbers($event)">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Address 2</label>
                        <input type="text"  ng-model="vm.step1_auto_by_order_of.address2" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Postal Code/Zip</label>
                        <input type="text" ng-model="vm.step1_auto_by_order_of.postal_code" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </md-tab-body>
        </md-tab>
        <!-- md-tab ENDS -->
        <md-tab id="tab_1">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-text">BENEFICIARY BANK</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row">
                <!-- MAIN Container -->
                <div flex="45" flex-offset="0" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="0" class="step1-part1">
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Pick Routing Codes</label>
                      <input type="text" ng-model="vm.step2.routing_code" ng-disabled="vm.disableAllFields" ng-required="true" ng-click="vm.pickRouting(vm.step2)" ng-keydown="vm.stopInputing($event)">
                      <i class="material-icons">more_horiz</i>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Name</label>
                      <input type="text" ng-model="vm.step2.name" ng-required="true" ng-disabled="vm.disableAllFields" ng-keydown="vm.onlyWords($event)">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Country</label>
                      <md-select ng-model="vm.step2.country" ng-required="true" ng-disabled="vm.disableAllFields">
                        <md-option ng-value="country.country_name" ng-repeat="country in vm.countries | orderBy: 'country_name'">{{ country.country_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Province/State</label>
                      <md-select ng-model="vm.step2.province" ng-required="true" ng-change="vm.fetchCitiesStep2_1(vm.step2)" ng-disabled="vm.disableAllFields">
                        <md-option ng-repeat="province in vm.step2_provinces | orderBy: 'province_name'" ng-value="province.province_name">{{ province.province_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>City</label>
                      <md-select ng-model="vm.step2.city" ng-required="true" ng-click="vm.fetchCitiesStep2_1(vm.step2)" ng-disabled="vm.disableAllFields">
                        <md-option ng-repeat="city in vm.step3_cities | orderBy: 'city_name'" ng-value="city.city_name">{{ city.city_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <!-- FLEX END -->
                <div flex="45" flex-offset="5" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="5">
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Routing Type</label>
                      <md-select ng-model="vm.step2.routing_type" ng-required="true" ng-disabled="vm.disableAllFields">
                        <md-option ng-value="routing.name" ng-repeat="routing in vm.routings | orderBy: 'name'">{{routing.name}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Bank Code</label>
                      <input type="text" ng-model="vm.step2.bank_code" ng-required="false" ng-disabled="vm.disableAllFields" ng-keydown="vm.OnlyContacts($event)">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Address 1</label>
                      <input type="text" ng-model="vm.step2.address1" ng-required="true" ng-disabled="vm.disableAllFields" ng-keydown="vm.WordsAndNumbers($event)">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Address 2</label>
                      <input type="text" ng-model="vm.step2.address2" ng-required="false" ng-disabled="vm.disableAllFields" ng-keydown="vm.WordsAndNumbers($event)">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Postal Code/Zip</label>
                      <input type="text" ng-model="vm.step2.postal_code" ng-required="false" ng-disabled="vm.disableAllFields" ng-keydown="vm.WordsAndNumbers($event)">
                    </md-input-container>
                  </div>
                </div>
              </div>
              <div layout="column" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="column" layout-gt-sm="column">
                <div layout="column" layout-gt-xs="row"  layout-xs="column"  class="extra-height">
                  <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="no-extra-margin">
                    <md-checkbox ng-model="vm.step2.intermediary_bank" aria-label="INTERMEDIARY BANK" ng-disabled="vm.disableAllFields" ng-click="vm.clearIntermediary()">INTERMEDIARY BANK</md-checkbox>
                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" layout-xs="column" class="popup-form-box intermediary-box" ng-show="vm.step2.intermediary_bank">
                  <div class="triangle">
                    <div class="inner"></div>
                  </div>
                  <div flex="45" flex-offset="0" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="0">
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Pick Routing Codes</label>
                        <input type="text" ng-model="vm.step2_intermediary.routing_code" ng-disabled="vm.disableAllFields" ng-required="true"  ng-click="vm.pickIntermediaryRouting(vm.step2_intermediary)" ng-keydown="vm.stopInputing($event)" >
                        <i class="material-icons">more_horiz</i>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Name</label>
                        <input type="text" ng-model="vm.step2_intermediary.name" ng-disabled="vm.disableAllFields" ng-required="true" ng-keydown="vm.onlyWords($event)">
                      </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Address 1</label>
                        <input type="text" ng-model="vm.step2_intermediary.address1" ng-disabled="vm.disableAllFields" ng-required="true" ng-keydown="vm.WordsAndNumbers($event)">
                      </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>City</label>
                        <md-select ng-model="vm.step2_intermediary.city" ng-required="true" ng-disabled="vm.disableAllFields" ng-click="vm.fetchCitiesStep2_2(vm.step2_intermediary)" >
                          <md-option ng-repeat="city in vm.step4_cities | orderBy: 'city_name'" ng-value="city.city_name">{{ city.city_name }}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Country</label>
                        <md-select ng-model="vm.step2_intermediary.country" ng-required="true" ng-disabled="vm.disableAllFields">
                          <md-option ng-value="country.country_name" ng-repeat="country in vm.countries | orderBy: 'country_name'">{{ country.country_name }}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Account No</label>
                        <input type="text" ng-model="vm.step2_intermediary.account_no" ng-disabled="vm.disableAllFields" ng-required="true" ng-keydown="vm.OnlyContacts($event)">
                      </md-input-container>
                    </div>
                  </div>
                  <div flex="45" flex-offset="5" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="5">
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Routing Type</label>
                        <md-select ng-model="vm.step2_intermediary.routing_type" ng-disabled="vm.disableAllFields" ng-required="true">
                          <md-option ng-value="routing.name" ng-repeat="routing in vm.routings | orderBy: 'name'">{{routing.name}}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Bank Code</label>
                        <input type="text" ng-model="vm.step2_intermediary.bank_code" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.OnlyContacts($event)">
                      </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Address 2</label>
                        <input type="text" ng-model="vm.step2_intermediary.address2" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">
                      </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Province/State</label>
                        <md-select ng-model="vm.step2_intermediary.province" ng-required="true" ng-disabled="vm.disableAllFields" ng-change="vm.fetchCitiesStep2_2(vm.step2_intermediary)">
                          <md-option ng-repeat="province in vm.step2_intermediary_provinces | orderBy: 'province_name'" ng-value="province.province_name">{{ province.province_name }}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>

                    <div layout="column" layout-gt-xs="row" layout-xs="column">
                      <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label>Postal Code/Zip</label>
                        <input type="text" ng-model="vm.step2_intermediary.postal_code" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </md-tab-body>
        </md-tab>
        <!-- md-tab ENDS -->
        <md-tab id="tab_2">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-text">PURPOSE OF PAYMENT</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row">
                <!-- MAIN Container -->
                <div flex="100" flex-offset="0" flex-xs="100" flex-gt-xs="100" flex-offset-gt-xs="0" class="step1-part1">
                  <div layout="column" flex="40" flex-xs="100" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Purpose Of Payment</label>
                      <md-select ng-model="vm.step3.payment_purpose" ng-required="false" ng-disabled="vm.disableAllFields">
                        <md-option ng-value="purpose.id" ng-repeat="purpose in vm.paymentPurposes | orderBy: 'name'">{{ purpose.name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" flex="100" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Purpose Of Payment Detail</label>
                      <textarea ng-model="vm.step3.payment_purpose_detail" ng-disabled="vm.disableAllFields" ng-required="false"  cols="30" rows="10" ng-keydown="vm.onlyWords($event)"></textarea>
                      <!--<input type="text" ng-model="vm.step3.payment_purpose_detail" ng-required="false" ng-keydown="vm.onlyWords($event)">-->
                    </md-input-container>
                  </div>
                </div>
              </div>
            </form>
          </md-tab-body>
        </md-tab>
        <!-- md-tab ENDS -->
        <md-tab id="tab_3">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-text">FURTHER CREDIT DETAILS</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row">
                <!-- MAIN Container -->
                <div flex="45" flex-offset="0" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="0" class="step1-part1">
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Name</label>
                      <input type="text" ng-model="vm.step4.name" ng-disabled="vm.disableAllFields" ng-required="true" ng-keydown="vm.onlyWords($event)">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Address 1</label>
                      <input type="text" ng-model="vm.step4.address1" ng-disabled="vm.disableAllFields" ng-required="true" ng-keydown="vm.WordsAndNumbers($event)">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>City</label>
                      <md-select ng-model="vm.step4.city" ng-required="true" ng-disabled="vm.disableAllFields" ng-click="vm.fetchCitiesStep4_1(vm.step4)">
                        <md-option ng-repeat="city in vm.step5_cities | orderBy: 'city_name'" ng-value="city.city_name">{{ city.city_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Country</label>
                      <md-select ng-model="vm.step4.country" ng-required="true" ng-disabled="vm.disableAllFields">
                        <md-option ng-value="country.country_name" ng-repeat="country in vm.countries | orderBy: 'country_name'">{{country.country_name}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                </div>

                <!-- FLEX END -->
                <div flex="45" flex-offset="5" flex-xs="100" flex-offset-xs="0" flex-gt-xs="45" flex-offset-gt-xs="5">
                  <!--<div layout="column" layout-gt-xs="row" flex flex layout-xs="column">-->
                  <!--<md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">-->
                  <!--<label>Account No</label>-->
                  <!--<input type="text" ng-model="vm.step4.account_number" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">-->
                  <!--</md-input-container>-->
                    <!--<md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">-->
                      <!--<label>Account No</label>-->
                      <!--<input type="text" ng-model="vm.step4.account_number" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">-->
                    <!--</md-input-container>-->
                  <!--</div>-->
                  <br/>
                  <br/>
                  <br/>

                  <div layout="column" layout-gt-xs="row"layout-xs="column">
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Address 2</label>
                      <input type="text" ng-model="vm.step4.address2" ng-disabled="vm.disableAllFields"  ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Province/State</label>
                      <md-select ng-model="vm.step4.province" ng-required="true" ng-disabled="vm.disableAllFields" ng-change="vm.fetchCitiesStep4_1(vm.step4)">
                        <md-option ng-repeat="province in vm.provinces | orderBy: 'province_name'" ng-value="province.province_name">{{ province.province_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>

                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Postal Code/Zip</label>
                      <input type="text" ng-model="vm.step4.postal_code" ng-disabled="vm.disableAllFields" ng-required="false" ng-keydown="vm.WordsAndNumbers($event)">
                    </md-input-container>
                  </div>
                </div>
              </div>
            </form>
          </md-tab-body>
        </md-tab>
        <!-- md-tab ENDS -->
      </md-tabs>
      <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
        <md-button class="md-primary" ng-click="vm.saveWire()" ng-hide="vm.showApprove" ng-disabled="vm.showApprove">Save</md-button>
        <md-button class="md-primary" ng-show="vm.showApprove" ng-disabled="vm.progressing" ng-click="vm.approveWire()" ng-mouseover="vm.showPopOverFunc()" ng-mouseleave="vm.showPopLeaveFunc()">Approve <span>{{ vm.approvalCounter }} / {{ vm.approvalPolicy[0].approval_level }}</span></md-button>
        <md-button class="md-outline" ng-show="vm.showUpdate" ng-disabled="vm.progressing" ng-click="vm.updateWire()">Update</md-button>
        <div class="popup" ng-hide="vm.showPopOver">
          <span>{{ vm.popover.title }}</span>
          <table ms-responsive-table>
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="vm.Approvals != 0">
              <td colspan="3">No approval records.</td>
            </tr>
            <tr ng-repeat="approval in vm.Approvals track by $index">
              <td>{{ $index + 1 }}</td>
              <td>{{ vm.toUpperCase(approval.user_name) }}</td>
              <td>{{ approval.approval_date | date: 'MM/dd/yyyy h:mm:ss a'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ms-form-wizard>
  </div>
</div>
