<!-- Pick Routing Dialog -->
<md-dialog aria-label="TEMPLATE PICKER" id="pick_routing_dialog">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div class="show-circle-loader" ng-hide="vm.circleLoader">
        <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
      </div>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">TEMPLATE PICKER</h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button custom-third" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
      <form name="wizardStep1" class="md-inline-form pick-routing-form" ms-form-wizard-form novalidate>
        <div class="p10-around" layout="row" layout-xs="column" layout-align="space-between center">
          <div flex>
            <md-input-container>
              <label>Name</label>
              <input type="text" ng-model="search.name" ng-required="false" ng-pattern="/^[a-zA-Z]+( [a-zA-Z]+)*$/">
            </md-input-container>
          </div>

          <div flex="33">
            <md-input-container>
              <label>Bank Code</label>
              <input type="text" ng-model="search.bank_code" ng-required="false">
            </md-input-container>
          </div>

          <div flex>
            <md-input-container>
              <label>Routing Code</label>
              <input type="text" ng-model="search.routing_code" ng-required="false">
            </md-input-container>
          </div>

        </div>
        <div class="p10-around" layout="row" layout-xs="column" layout-align="space-between center">

          <div flex>
            <md-input-container>
              <label>Routing Type</label>
              <md-select ng-model="search.routing_type" ng-required="false">
                <md-option ng-value="routing.name" ng-repeat="routing in vm.routings | orderBy: 'name'">{{routing.name}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex>
            <md-input-container>
              <label>Currency</label>
              <md-select ng-model="search.currency" ng-required="false" ng-click="vm.fetchCurrencies">
                <md-option ng-value="currency.currency_name" ng-repeat="currency in vm.currencies | orderBy:'currency_name'">{{ currency.currency_name }}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div flex>
            <md-input-container>
              <label>City</label>
              <input type="text" ng-model="search.city" ng-required="false">
            </md-input-container>
          </div>
        </div>
        <div class="p10-around" layout="row" layout-xs="column" layout-align="space-between center">
          <div flex="33">
            <md-input-container>
              <label>Province/State</label>
              <input type="text" ng-model="search.province" ng-required="false">
            </md-input-container>
          </div>
          <div flex="33">
            <md-input-container>
              <label>Postal Code/Zip</label>
              <input type="text" ng-model="search.postal_code" ng-required="false">
            </md-input-container>
          </div>

          <div flex>
            <md-input-container>
              <label>Country</label>
              <md-select ng-model="search.country" ng-required="false">
                <md-option ng-value="country.country_name" ng-repeat="country in vm.countries | orderBy: 'country_name'">{{country.country_name}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <span flex></span>
        </div>
        <div class="p10-around" layout="row" layout-xs="column" layout-align="space-between center">
          <span flex></span>
          <md-button class="md-primary filter-button" ng-click="applyFilter()">APPLY FILTER</md-button>
          <md-button class="md-primary filter-button-icon" ng-click="clearFilter()">
            <md-tooltip md-direction="top">Clear Selections</md-tooltip>
            <i class="material-icons">filter_list</i>
          </md-button>
        </div>
        <div layout="row" layout-xs="column" layout-align="space-between center">

          <!--<div class="show-circle-loader" ng-hide="tableLoader">
            <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
          </div>-->
          <table class="simple filter-table" id="pick_routing">
            <thead>
              <tr>
                <th>Name</th>
                <th>Routing Code</th>
                <th>Routing Type</th>
                <th>Address</th>
                <th>Address2</th>
                <th>Country</th>
                <th>Province</th>
                <th>City</th>
                <th>Postcode</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pick in vm.routing_codes" ng-hide="pick.excludedByFilter" ng-click="selectRoutingPicker(pick, $event)" data-id="{{ pick.id }}">
                <td><span class="pick-it hide"><i class="material-icons">done</i></span> <span class="span-align">{{ pick.name | limitTo: 35}}</span></td>
                <td>{{ pick.routingcode }}</td>
                <td><span class="method {{ vm.replaceWith(vm.toLowerCase(pick.routingtype), '-') }}">{{ vm.toUpperCase(pick.routingtype) }}</span></td>
                <td>{{ pick.address1 | limitTo: 30 }}</td>
                <td>{{pick.address2 | limitTo: 30}}</td>
                <td>{{ pick.country_name }}</td>
                <td>{{ pick.province }}</td>
                <td>{{ pick.city }}</td>
                <td>{{ pick.postcode }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </ms-form-wizard>
  </md-dialog-content>
  <md-dialog-actions>
    <div layout="row" layout-align="center center" layout-gt-lg="row" layout-align-gt-lg="row">
      <md-button class="md-primary" ng-click="selectRow()">Pick Routing</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
