<md-tab ng-disabled="vm.selectedIndex != 1" id="tab_1">
  <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="273.518px" height="191.991px" viewBox="0 0 273.518 191.991" enable-background="new 0 0 273.518 191.991"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M175.823,193.787h58.617l39.078-77.496V0.044H156.284v116.247
	h58.617L175.823,193.787 M19.525,193.787h58.616l39.063-77.496V0.044H0v116.247h58.604L19.525,193.787"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Quote</span>
            </span>
  </md-tab-label>
  <md-tab-body style="background:#333;">
    <div class="show-circle-loader" ng-hide="true" style="position: absolute; right: 10px;">
      <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
    </div>
    <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2 </strong><span hide-xs>-</span> Review the Rate and click Accept to book the Deal</h3>
    <div layout="row" layout-xs="column" layout-align="center center" class="step2-info-box">
      <div flex="25" flex-xs="100" flex-gt-xs="50" flex-gt-sm="25" flex-offset-xs="0" ng-hide="vm.hideQuoteScreen">
        <ms-widget flippable="true">
          <ms-widget-front class="padding-16 custom-quote" style="border-bottom:1px solid rgba(215, 214, 214, 0.8);">
            <div layout="row" layout-align="space-between none" class="rate-block"  >
              <p class="key_value">
                <strong>Rate</strong>
                <span>1.100</span>
              </p>
              <p class="key_value">
                <strong>Type</strong>
                <span>Fixed Dated Forward</span>
              </p>
            </div>
            <div layout="column" layout-align="space-around stretch" class="money-block">
              <div flex>
                <span>Amount you will receive</span>
                <p> USD 10,000.00</p>
              </div>
              <div flex>
                <span>Amount you will pay</span>
                <p>CAD 11,000.00</p>
              </div>
            </div>
          </ms-widget-front>
        </ms-widget>
      </div>

      <div flex="30" flex-offset="5" flex-gt-xs="40" flex-gt-sm="30" id="circular-timer-box" hide-xs ng-hide="vm.hideQuoteScreen"></div>
      <div id="linear-timer-box" hide-gt-xs ng-hide="vm.hideQuoteScreen">
        <div class="progress">
          <div class="progress-bar" style="width: {{ vm.percent_duration + '%' }}" role="progressbar" aria-valuenow="{{ vm.expires_in }}" aria-valuemin="0" aria-valuemax="60">
            <span class="sr-only">{{ vm.expires_in }} Seconds</span> {{ vm.expires_in }} Seconds
          </div>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
      <md-button class="md-primary" ng-click="vm.moveForwardTab()">Accept</md-button>
      <md-button class="md-primary md-secondary" >Decline</md-button>
    </div>
  </md-tab-body>
</md-tab>
