#account_transfer{
  .content.layout-column,
  .data-table.layout-column{
    display: block;
  }
  .reference input{
    text-transform: uppercase;
  }
  .next-button-container{
    position: relative;
    z-index: 1;
  }
  button.md-outline{
    background-color: #fff;
    border: 0.14em solid #207ADC;
    color: #207ADC;
    font-weight: bold;
  }
  button.md-disable{
    background-color: #D6D6D6;
    color: #ABAAAA;
  }
  button{
    i.material-icons{
      position: relative;
      top: 6px;
    }
  }
  .required-field{
    label, label:after{
      color: rgb(213,0,0);
    }
    input{
      border-bottom-color: rgb(213,0,0);
    }
    .md-select-value{
      color: rgb(213,0,0);
      border-bottom-color: rgb(213,0,0);
      span:after{
        color: rgb(213,0,0);
      }
    }
  }
  .popup{
    position: absolute;
    top: -13em;
    left: 35%;
    background-color: #fff;
    color: #333;
    width: 30%;
    padding: 1em;
    z-index: 1;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    span {
      display: block;
      font-weight: 700;
      width: 100%;
      text-align: center;
      color: #0C59CF;
      font-size: 1.1em;
    }
    table{
      margin-top: 5px;
      border-collapse: collapse;
      width: 100%;
      td,th{
        white-space: nowrap;
        border-bottom: 1px solid #f0f3f4;
        padding: 4px;
      }
    }
  }
  .next-button-container{
    background: #EBEBEB;
    border-top: 1px solid #DCDCDC;
    button.md-primary{
      background: #0C59CF !important;
      color: #fff;
    }
    button.md-secondary{
      background: #606060 !important;
      color: #fff;
    }
  }
  md-input-container{
    margin: 12px 0;
  }
  .data-table-parent{
    position: relative;
  }
  .inline-data-table{
    overflow-x: auto;
    //overflow-y: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    margin-top: 2.9em;
    margin-left: 3px;
    i.material-icons{
      position: absolute;
      left: auto;
      right: 0;
      background-color: #666;
      color: #fff;
      cursor: pointer;
      z-index: 3;
    }
    table{
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      font-size: 12px;
      thead tr th md-input-container{
        width: 100%;
        padding: 0;
        margin: 0;
        .md-errors-spacer{
          display: none;
        }
        input{
          font-weight: bold;
        }
      }
      thead, tbody{
        display: block;
      }
      tbody tr:hover{
        background-color: rgba(3,155,229, .3);
        cursor: pointer;
      }
      tbody{
        //height: 95px;
        height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      tbody tr{
        width: 100%;
      }
      thead tr th{
        padding: 1em 2px 0 2px;
      }
      tbody tr td{
        padding: 0.8em 4px;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 135px;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 90px;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 130px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 90px;
      }
    }
  }
  //progress bar
  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
  }
  .progress-striped .progress-bar,
  .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
  .progress.active .progress-bar,
  .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
  }
  .progress-bar-success {
    background-color: #5cb85c;
  }
  .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-info {
    background-color: #5bc0de;
  }
  .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-warning {
    background-color: #f0ad4e;
  }
  .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-danger {
    background-color: #d9534f;
  }
  .progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .info-box{
    .custom-quote{
      padding-left: 2em;
    }
    .noLeftPadding{
      padding-left: 0 !important;
    }
    .widget-quote{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
      .left{
        margin:8px 0 5px 0;
        text-align: left;
        span{
          display: block;
          color: #929292;
          font-style: italic;
          font-size: 1em;
        }
        strong{
          display: block;
          font-size: 1em;
          margin-top: 5px;
          color: #606060;
        }
      }
      .left.inline{
        text-align: left;
        span{display: inline-block;}
        strong{display: inline-block;}
      }
      .right{
        text-align: right;
        span{display: block;}
        strong{display: block;}
      }
      p+h3{
        font-size: 1.8em;
        margin: 0 0 5px 0;
        font-weight: 500;
        color: #606060;
      }
      h3.green{color: #72BB78;}
      h3.blue{color: #3D8AF7;}
      .middle{
        background-color: #F8F7F7;
      }
      .top,
      .middle,
      .bottom{
        padding: 8px 16px;
      }
      .middle p.left{
        span+strong{
          margin-top: 12px;
        }
      }
    }
  }
  #circular-timer{
    position: relative;
    top: -11em;
    svg{
      path{
        stroke: #FFA834;
      }
    }
  }
  #circular-timer canvas{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25%;
    width: 45%;
  }
  #circular-timer .textDiv_Seconds{
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    h4{
      font-size: 18px !important;
      line-height: 0 !important;
      position: relative;
      top: 8.2em;
      left: 17.1em;
      color: #FF6849;
    }
    span.title{
      font-size: 17px !important;
      line-height: 0 !important;
      font-weight: bolder;
      position: relative;
      top: 7.95em;
      left: 18.2em;
      color: #606060;
    }
    span:not(.title){
      display: none;
    }
  }
  //icon styles
  md-tabs md-tabs-content-wrapper{
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    margin: 10px 6px 6px 6px;
  }
  md-tabs md-tabs-wrapper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tab-content{
    background: #fff;
    margin-top: 2%;
  }
  md-tabs-canvas md-pagination-wrapper{
    width: 100% !important;
  }
  .icon-circle, .icon-circle-large, .icon-circle-small{
    position: relative;
    display: inline-block;
    margin: -1px;
    width: 45px;
    height: 45px;
    font-size:40px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align:center;
  }
  .icon-circle-large {
    width: 100px;
    height: 100px;
    font-size: 64px;
    padding: 16px;
  }
  .icon-circle-small {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
  .icon-circle-outline {
    border: 1px solid rgb(0, 161, 225);
    background: transparent;
    color: rgb(0, 161, 225);
  }
  .icon-circle-outline i {  }
  .item-icon-circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align:center;
    color:white;
  }
  .item-icon-circle i {
    font-size:60px;
  }
  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .md-tab{
    padding-top: 6px;
  }
  .ms-form-wizard-step-label{
    color: #00C8F8;
    background: none;
    .ms-form-wizard-step-icon {
      display: block;
      .icon-circle{
        color: #00C8F8;
        border-color: #00C8F8;
        background: #fff;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#00C8F8;
          }

        }
      }
    }
    .ms-form-wizard-step-text{
      display: block;
      text-transform: none;
    }
  }
  md-tab-item{
    position: relative;
    max-width: 100%;
  }
  md-tab-item::after{
    content: '';
    display: block;
    position: absolute;
    top: 28%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 28%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item:first-of-type::before{
    content: '';
    display: none;
  }
  md-tab-item:last-of-type::after{
    display:none;
    content:'';
  }
  md-tab-item:not(.md-active){
    .ms-form-wizard-step-label{
      color: #B8B8B8 !important;
      .icon-circle{
        color: #B8B8B8 !important;
        border-color: #fff !important;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#AAAAAA;
          }
        }
      }
    }
  }
  md-tab-item:not(.md-active):after{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item:not(.md-active):before{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item.md-active{
    .icon-circle{
      background: transparent !important;
    }
  }
  md-tab-item.md-previous{
    .ms-form-wizard-step-label{
      color: #3D8AF7 !important;
      background: none;
      .ms-form-wizard-step-icon {
        .icon-circle{
          color: #fff;
          border-color: #3D8AF7 !important;
          background: #3D8AF7 !important;
          .icon-svg{
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
            top: 0;
            path,
            polyline{
              fill: #fff;
            }
          }
        }
      }
    }
    &:after{
      border-bottom: 3px solid #3D8AF7;
    }
    &:before{
      border-bottom: 3px solid #3D8AF7;
    }
    &:first-of-type::before{
      display:none;
      content:'';
    }
  }
  md-tabs{
    h3.md-text-accent{
      color: #555 !important;
      margin-left: 15px;
      font-size: 1.4em;
      padding-bottom: 1.2em;
      margin-right: 0.7em;
      margin-bottom: 5px;
      border-bottom: 2px solid #D8D8D8;
      strong{
        color: #606070 !important;
      }
    }
    md-input-container label{
      font-weight: bold !important;
    }
    md-input-container md-select,
    md-input-container input,
    md-input-container md-select md-option{
      font-weight: bold;
    }
    .next-button-container{
      background: #EBEBEB;
      border-top: 1px solid #DCDCDC;
      button.md-primary{
        background: #0C59CF !important;
        color: #fff;
      }
      button.md-secondary{
        background: #606060 !important;
        color: #fff;
      }
    }
    md-datepicker{
      position: relative;
    }
    md-datepicker .md-datepicker-input-container{
      width: 100%;
      margin-left: 0;
      .md-icon-button{
        display: none;
      }
    }
    md-datepicker > button{
      position: absolute;
      top: -18px;
      right: 8px;
    }
  }
}
@media screen\0{
  #account_transfer{
    //md-tab-item:nth-child(3){
    //  padding-right: 0 !important;
    //}
    //md-tab-item:nth-child(3):after{
    //  display:none;
    //}
    md-tab-item.md-tab:nth-child(4):after{
      right: 120px;
    }
  }
}
@media only screen and (min-width : 1024px) and (max-width: 1279px) {
  #account_transfer{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:50px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 91px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 115px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 130px;
    }md-tab-item.md-tab:nth-child(3):after{
      left: 130px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:83px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 20%;
      width: 65%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 8.2em;
        left: 12.5em;
      }
      span.title{
        font-size: 15px !important;
        top: 6.9em;
        left: 13em;
      }
    }
    .info-box .widget-quote p + h3 {
      font-size: 1.30em;
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1599px) {
  #account_transfer{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 90px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 90px;
      padding-right: 90px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 90px;
      padding-right: 90px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:90px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 91px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 155px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 155px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 170px;
    }md-tab-item.md-tab:nth-child(3):after{
      left: 170px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:84px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 20%;
      width: 65%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 8.2em;
        left: 12.5em;
      }
      span.title{
        font-size: 15px !important;
        top: 6.9em;
        left: 13em;
      }
    }
    .info-box .widget-quote p + h3 {
      font-size: 1.30em;
    }
    .inline-data-table{
      table{
        tbody{
          height: 150px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 90px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 110px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 96px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #account_transfer{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 105px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 105px;
      padding-right: 105px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 105px;
      padding-right: 105px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:105px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 91px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 170px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 170px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 185px;
    }md-tab-item.md-tab:nth-child(3):after{
      left: 185px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:85px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 20%;
      width: 70%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 9.2em;
        left: 14em;
      }
      span.title{
        font-size: 15px !important;
        top: 8.9em;
        left: 15em;
      }
    }
    .info-box .widget-quote p + h3 {
      font-size: 1.30em;
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #account_transfer{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 115px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 115px;
      padding-right: 115px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 115px;
      padding-right: 115px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:115px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 91px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 184px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 184px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 195px;
    }md-tab-item.md-tab:nth-child(3):after{
      left: 195px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 7.2em;
        left: 14em;
      }
      span.title{
        font-size: 15px !important;
        top: 6.9em;
        left: 15em;
      }
    }
    .info-box .widget-quote p + h3 {
      font-size: 1.45em;
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #account_transfer{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 140px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 140px;
      padding-right: 140px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 140px;
      padding-right: 140px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:140px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 91px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 205px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 205px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 220px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 220px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:85px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 25%;
      width: 50%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 8.5em;
        left: 16em;
      }
      span.title{
        font-size: 15px !important;
        top: 8.2em;
        left: 17.1em;
      }
    }
    .inline-data-table{
      table{
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1){
          width: 200px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 120px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 120px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 100px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1920px) {
  #account_transfer{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 190px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 190px;
      padding-right: 190px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 190px;
      padding-right: 190px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:190px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 91px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 255px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 255px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 268px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 268px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:83px;
    }
    .inline-data-table{
      table{
        tbody{
          height: 95px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 200px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 90px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 100px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 145px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 150px;
        }
      }
    }
  }
}
@media only screen and (min-width : 2560px) {
  #account_transfer{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 300px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 300px;
      padding-right: 300px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 300px;
      padding-right: 300px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:300px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 90px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 365px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 365px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 380px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 380px;
    }
    #circular-timer{
      position: relative;
      top: -12.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25%;
      width: 36%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        top: 9.2em;
        left: 21.8em;
      }
      span.title{
        top: 9em;
        left: 23.2em;
      }
    }
    .inline-data-table{
      table{
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1){
          width: 320px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 220px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 220px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 230px;
        }
      }
    }
  }
}

.accept_decline_little_bit_down{
  margin-top:50px;
}

//@media all and (-ms-high-contrast: none) and (min-width: 1024px) and (max-width: 1279px){
//  #account_transfer{
//    md-tab-item.md-tab:first-child{
//      padding-left: 0;
//      padding-right: 50px;
//    }
//    md-tab-item.md-tab:nth-child(2){
//      padding-left: 50px;
//      padding-right: 50px;
//      margin-left: -1px;
//    }
//    md-tab-item.md-tab:nth-child(3){
//      padding-left: 50px;
//      padding-right: 50px;
//      margin-left: -1px;
//    }
//    md-tab-item.md-tab:nth-child(4){
//      padding-left: 100px;
//    }
//    md-tab-item.md-tab:first-child:after{
//      left: 91px;
//    }
//    md-tab-item.md-tab:nth-child(2):before{
//      right: 115px;
//    }
//    md-tab-item.md-tab:nth-child(2):after{
//      left: 115px;
//    }
//    md-tab-item.md-tab:nth-child(3):before{
//      right: 80px;
//    }md-tab-item.md-tab:nth-child(3):after{
//       left: 60px;
//     }
//    md-tab-item.md-tab:nth-child(4):after{
//      right:100px;
//    }
//    #circular-timer{
//      position: relative;
//      top: -11.5em;
//      svg{
//        path{
//          stroke: #FFA834;
//        }
//      }
//    }
//    #circular-timer canvas{
//      display: inline-block;
//      position: absolute;
//      top: 0;
//      left: 20%;
//      width: 65%;
//    }
//    #circular-timer .textDiv_Seconds{
//      h4{
//        font-size: 16px !important;
//        top: 8.2em;
//        left: 12.5em;
//      }
//      span.title{
//        font-size: 15px !important;
//        top: 6.9em;
//        left: 13em;
//      }
//    }
//    .info-box .widget-quote p + h3 {
//      font-size: 1.30em;
//    }
//  }
//}
//@media all and (-ms-high-contrast: none) and (min-width: 1280px) and (max-width: 1359px){
//  #account_transfer{
//    md-tab-item.md-tab:first-child{
//      padding-left: 0;
//      padding-right: 90px;
//    }
//    md-tab-item.md-tab:nth-child(2){
//      padding-left: 90px;
//      padding-right: 90px;
//      margin-left: -1px;
//    }
//    md-tab-item.md-tab:nth-child(3){
//      padding-left: 90px;
//      padding-right: 90px;
//      margin-left: -1px;
//    }
//    md-tab-item.md-tab:nth-child(4){
//      padding-left:150px;
//    }
//    md-tab-item.md-tab:first-child:after{
//      left: 91px;
//    }
//    md-tab-item.md-tab:nth-child(2):before{
//      right: 155px;
//    }
//    md-tab-item.md-tab:nth-child(2):after{
//      left: 155px;
//    }
//    md-tab-item.md-tab:nth-child(3):before{
//      right: 80px;
//    }md-tab-item.md-tab:nth-child(3):after{
//       left: 70px;
//     }
//    md-tab-item.md-tab:nth-child(4):after{
//      right:84px;
//    }
//    #circular-timer{
//      position: relative;
//      top: -11.5em;
//      svg{
//        path{
//          stroke: #FFA834;
//        }
//      }
//    }
//    #circular-timer canvas{
//      display: inline-block;
//      position: absolute;
//      top: 0;
//      left: 20%;
//      width: 65%;
//    }
//    #circular-timer .textDiv_Seconds{
//      h4{
//        font-size: 16px !important;
//        top: 8.2em;
//        left: 12.5em;
//      }
//      span.title{
//        font-size: 15px !important;
//        top: 6.9em;
//        left: 13em;
//      }
//    }
//    .info-box .widget-quote p + h3 {
//      font-size: 1.30em;
//    }
//    .inline-data-table{
//      table{
//        tbody{
//          height: 150px;
//          overflow-y: auto;
//          overflow-x: hidden;
//        }
//        thead tr th:first-child,
//        tbody tr td:first-child{
//          width: 150px;
//        }
//        thead tr th:nth-child(2),
//        tbody tr td:nth-child(2){
//          width: 90px;
//        }
//        thead tr th:nth-child(3),
//        tbody tr td:nth-child(3){
//          width: 110px;
//        }
//        thead tr th:nth-child(4),
//        tbody tr td:nth-child(4){
//          width: 96px;
//        }
//      }
//    }
//  }
//}
//@media all and (-ms-high-contrast: none) and (min-width: 1360px) and (max-width: 1439px){
//  #account_transfer{
//    md-tab-item.md-tab:first-child{
//      padding-left: 0;
//      padding-right: 105px;
//    }
//    md-tab-item.md-tab:nth-child(2){
//      padding-left: 105px;
//      padding-right: 105px;
//      margin-left: -1px;
//    }
//    md-tab-item.md-tab:nth-child(3){
//      padding-left: 105px;
//      padding-right: 105px;
//      margin-left: -1px;
//    }
//    md-tab-item.md-tab:nth-child(4){
//      padding-left:160px;
//    }
//    md-tab-item.md-tab:first-child:after{
//      left: 91px;
//    }
//    md-tab-item.md-tab:nth-child(2):before{
//      right: 170px;
//    }
//    md-tab-item.md-tab:nth-child(2):after{
//      left: 170px;
//    }
//    md-tab-item.md-tab:nth-child(3):before{
//      right: 80px;
//    }md-tab-item.md-tab:nth-child(3):after{
//       left: 185px;
//     }
//    md-tab-item.md-tab:nth-child(4):after{
//      right:85px;
//    }
//    #circular-timer{
//      position: relative;
//      top: -11.5em;
//      svg{
//        path{
//          stroke: #FFA834;
//        }
//      }
//    }
//    #circular-timer canvas{
//      display: inline-block;
//      position: absolute;
//      top: 0;
//      left: 20%;
//      width: 70%;
//    }
//    #circular-timer .textDiv_Seconds{
//      h4{
//        font-size: 16px !important;
//        top: 9.2em;
//        left: 14em;
//      }
//      span.title{
//        font-size: 15px !important;
//        top: 8.9em;
//        left: 15em;
//      }
//    }
//    .info-box .widget-quote p + h3 {
//      font-size: 1.30em;
//    }
//  }
//}

.account_transfer_approval_dimensions{
  height:400px;
}

.approve_previous_btns{
  margin-top:75px;
}

.timer_bit_down{
  position: relative;
  top: 15px;
}




  .accept_decline_little_bit_down{
    height: 100px; margin-top: 123px;
  }



