<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Choose Account</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">


        <!-- BASIC FORM -->
        <div flex="100">

          <table class="dataTable row-border hover" datatable="ng" dt-options="dtOptions">
            <thead>
            <tr>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title"><input type="text" name="something" placeholder="Account Title"></span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title"><input type="text" name="something" placeholder="Number"></span>
                </div>
              </th>
              <th class="secondary-text">
                <div class="table-header">
                  <span class="column-title"><input type="text" name="something" placeholder="Currency"></span>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="account in accounts" ng-click="answer(account)">
              <td>{{ account.title }}</td>
              <td>{{ account.number }}</td>
              <td>{{ account.currency }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- / BASIC FORM -->

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
