<md-dialog aria-label="Modern Popup Table" id="modern-popup-table" class="pay_from_your_account beneficiary">
  <md-dialog-content>
    <div layout="row" layout-align="space-between start" class="header">
      <div flex>
        <h3 class="md-text-accent">Beneficiary Account Picker</h3>
      </div>
      <span flex></span>
      <md-button class="md-icon-button filter-button" ng-click="toggleFilter()">
        <i class="material-icons">filter_list</i>
      </md-button>
      <md-button class="md-icon-button close-button" ng-click="closeDialog()">
        <i class="material-icons">close</i>
      </md-button>
      <div class="progress-loader" ng-hide="dialogLoader">
        <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div class="responsive">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Account Code</th>
          <th>Balance</th>
          <th>Currency</th>
        </tr>
        <tr class="filters" ng-hide="showFilter">
          <th>
            <md-input-container>
              <label>Name</label>
              <input type="text" ng-model="filter.name">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Type</label>
              <input type="text" ng-model="filter.type">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Account Code</label>
              <input type="text" ng-model="filter.account_code">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Balance</label>
              <input type="text" ng-model="filter.balance">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Currency</label>
              <input type="text" ng-model="filter.currency">
            </md-input-container>
          </th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-if="vm.accountTo.id !== beneficiary.id" ng-repeat="beneficiary in vm.beneficiaryAccounts" ng-click="selectBeneficiaryAccount(beneficiary)">
          <td>{{  vm.convertName(beneficiary.name) }}</td>
          <td>{{ beneficiary.type }}</td>
          <td>{{ beneficiary.beneficiary_accountcode }}</td>
          <td>{{ beneficiary.balance }}</td>
          <td>{{ beneficiary.currency_name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </md-dialog-content>
</md-dialog>
