#pay_from_your_account{
  .content.layout-column,
  .data-table.layout-column{
    display: block;
  }
  .ms-form-wizard .ms-form-wizard-form{
    padding: 16px;
  }
  .next-button-container{
    position: relative;
    z-index: 1;
  }
  button.md-outline{
    background-color: #fff;
    border: 0.14em solid #207ADC;
    color: #207ADC;
    font-weight: bold;
  }
  button.md-disable{
    background-color: #D6D6D6;
    color: #ABAAAA;
  }
  button{
    i.material-icons{
      position: relative;
      top: 6px;
    }
  }
  .required-field{
    label, label:after{
      color: rgb(213,0,0);
    }
    input{
      border-bottom-color: rgb(213,0,0);
    }
    .md-select-value{
      color: rgb(213,0,0);
      border-bottom-color: rgb(213,0,0);
      span:after{
        color: rgb(213,0,0);
      }
    }
  }
  .popup{
    position: absolute;
    top: -13em;
    left: 35%;
    background-color: #fff;
    color: #333;
    width: 30%;
    padding: 1em;
    z-index: 1;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    span {
      display: block;
      font-weight: 700;
      width: 100%;
      text-align: center;
      color: #0C59CF;
      font-size: 1.1em;
    }
    table{
      margin-top: 5px;
      border-collapse: collapse;
      width: 100%;
      td,th{
        white-space: nowrap;
        border-bottom: 1px solid #f0f3f4;
        padding: 4px;
      }
    }
  }
  .next-button-container{
    background: #EBEBEB;
    border-top: 1px solid #DCDCDC;
    button.md-primary{
      background: #0C59CF !important;
      color: #fff;
    }
    button.md-secondary{
      background: #606060 !important;
      color: #fff;
    }
  }
  md-input-container{
    margin: 14px 0;
    .md-errors-spacer{
      display: none;
    }
  }
  .data-table-parent{
    position: relative;
  }
  .inline-data-table{
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    margin-top: 2.9em;
    margin-left: 3px;
    i.material-icons{
      position: absolute;
      left: auto;
      right: 0;
      background-color: #666;
      color: #fff;
      cursor: pointer;
      z-index: 3;
    }
    table{
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      font-size: 12px;
      thead tr th md-input-container{
        width: 100%;
        padding: 0;
        margin: 0;
        .md-errors-spacer{
          display: none;
        }
        input{
          font-weight: bold;
        }
      }
      thead, tbody{
        display: block;
      }
      tbody tr:hover{
        background-color: rgba(3,155,229, .3);
        cursor: pointer;
      }
      tbody{
        height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      tbody tr{
        width: 100%;
      }
      thead tr th{
        padding: 1em 2px 0 2px;
      }
      tbody tr td{
        padding: 0.8em 4px;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 135px;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 90px;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 130px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 90px;
      }
    }
  }
  .info-box{
    .custom-quote{
      padding-left: 2em;
    }
    .noLeftPadding{
      padding-left: 0 !important;
    }
    .widget-quote{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
      .left{
        margin:8px 0 5px 0;
        text-align: left;
        span{
          display: block;
          color: #929292;
          font-style: italic;
          font-size: 1em;
        }
        strong{
          display: block;
          font-size: 1em;
          margin-top: 5px;
          color: #606060;
        }
      }
      .left.inline{
        text-align: left;
        span{display: inline-block;}
        strong{display: inline-block;}
      }
      .right{
        text-align: right;
        span{display: block;}
        strong{display: block;}
      }
      p+h3{
        font-size: 1.8em;
        margin: 0 0 5px 0;
        font-weight: 500;
        color: #606060;
      }
      h3.green{color: #72BB78;}
      h3.blue{color: #3D8AF7;}
      .middle{
        background-color: #F8F7F7;
      }
      .top,
      .middle,
      .bottom{
        padding: 8px 16px;
      }
    }
  }
  #circular-timer{
    position: relative;
    top: -11em;
    svg{
      path{
        stroke: #FFA834;
      }
    }
  }
  #circular-timer canvas{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25%;
    width: 45%;
  }
  #circular-timer .textDiv_Seconds{
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    h4{
      font-size: 18px !important;
      line-height: 0 !important;
      position: relative;
      top: 8.2em;
      left: 16.5em;
      color: #FF6849;
    }
    span.title{
      font-size: 17px !important;
      line-height: 0 !important;
      font-weight: bolder;
      position: relative;
      top: 7.95em;
      left: 17.5em;
      color: #606060;
    }
    span:not(.title){
      display: none;
    }
  }
  //icon styles
  md-tabs md-tabs-content-wrapper{
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    margin: 10px 6px 6px 6px;
  }
  md-tabs md-tabs-wrapper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tab-content{
    background: #fff;
  }
  md-tabs-canvas md-pagination-wrapper{
    width: 100% !important;
  }
  .icon-circle, .icon-circle-large, .icon-circle-small{
    position: relative;
    display: inline-block;
    margin: -1px;
    width: 45px;
    height: 45px;
    font-size:40px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align:center;
  }
  .icon-circle-large {
    width: 100px;
    height: 100px;
    font-size: 64px;
    padding: 16px;
  }
  .icon-circle-small {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
  .icon-circle-outline {
    border: 1px solid rgb(0, 161, 225);
    background: transparent;
    color: rgb(0, 161, 225);
  }
  .icon-circle-outline i {  }
  .item-icon-circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align:center;
    color:white;
  }
  .item-icon-circle i {
    font-size:60px;
  }
  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .md-tab{
    padding-top: 6px;
  }
  .ms-form-wizard-step-label{
    color: #00C8F8;
    background: none;
    .ms-form-wizard-step-icon {
      display: block;
      .icon-circle{
        color: #00C8F8;
        border-color: #00C8F8;
        background: #fff;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#00C8F8;
          }

        }
      }
    }
    .ms-form-wizard-step-text{
      display: block;
      text-transform: none;
    }
  }
  md-tab-item{
    position: relative;
  }
  md-tab-item::after{
    content: '';
    display: block;
    position: absolute;
    top: 28%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 28%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item:first-of-type::before{
    content: '';
    display: none;
  }
  md-tab-item:last-of-type::after{
    display:none;
    content:'';
  }
  md-tab-item:not(.md-active){
    .ms-form-wizard-step-label{
      color: #B8B8B8 !important;
      .icon-circle{
        color: #B8B8B8 !important;
        border-color: #fff !important;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#AAAAAA;
          }
        }
      }
    }
  }
  md-tab-item:not(.md-active):after{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item:not(.md-active):before{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item.md-active{
    .icon-circle{
      background: transparent !important;
    }
  }
  md-tab-item.md-previous{
    .ms-form-wizard-step-label{
      color: #3D8AF7 !important;
      background: none;
      .ms-form-wizard-step-icon {
        .icon-circle{
          color: #fff;
          border-color: #3D8AF7 !important;
          background: #3D8AF7 !important;
          .icon-svg{
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
            top: 0;
            path,
            polyline{
              fill: #fff;
            }
          }
        }
      }
    }
    &:after{
      border-bottom: 3px solid #3D8AF7;
    }
    &:before{
      border-bottom: 3px solid #3D8AF7;
    }
    &:first-of-type::before{
      display:none;
      content:'';
    }
  }
  md-tabs{
    h3.md-text-accent{
      color: #555 !important;
      margin-left: 15px;
      font-size: 1.4em;
      padding-bottom: 1.2em;
      margin-right: 0.7em;
      margin-bottom: 5px;
      border-bottom: 2px solid #D8D8D8;
      strong{
        color: #606070 !important;
      }
    }
    md-input-container label{
      font-weight: bold !important;
    }
    md-input-container md-select,
    md-input-container input,
    md-input-container md-select md-option{
      font-weight: bold;
    }
    .next-button-container{
      background: #EBEBEB;
      border-top: 1px solid #DCDCDC;
      button.md-primary{
        background: #0C59CF !important;
        color: #fff;
      }
      button.md-secondary{
        background: #606060 !important;
        color: #fff;
      }
    }
    md-datepicker{
      position: relative;
    }
    md-datepicker .md-datepicker-input-container{
      width: 100%;
      margin-left: 0;
      .md-icon-button{
        display: none;
      }
    }
    md-datepicker > button{
      position: absolute;
      top: -18px;
      right: 8px;
    }
  }
}
md-dialog.pay_from_your_account.entity{
  .responsive table{
    thead tr th:nth-child(1),
    tbody tr td:nth-child(1){
      width: 220px;
    }
    thead tr th:nth-child(2),
    tbody tr td:nth-child(2){
      width: 100px;
    }
    thead tr th:nth-child(3),
    tbody tr td:nth-child(3){
      width: 150px;
    }
    thead tr th:nth-child(4),
    tbody tr td:nth-child(4){
      width: 115px;
    }
    thead tr th:nth-child(5),
    tbody tr td:nth-child(5){
      width: 115px;
    }
  }
}
md-dialog.pay_from_your_account.beneficiary{
  .responsive table{
    thead tr th:nth-child(1),
    tbody tr td:nth-child(1){
      width: 150px;
    }
    thead tr th:nth-child(2),
    tbody tr td:nth-child(2){
      width: 100px;
    }
    thead tr th:nth-child(3),
    tbody tr td:nth-child(3){
      width: 220px;
    }
    thead tr th:nth-child(4),
    tbody tr td:nth-child(4){
      width: 115px;
    }
    thead tr th:nth-child(5),
    tbody tr td:nth-child(5){
      width: 115px;
    }
  }
}
@media screen\0{
  #pay_from_your_account{
    md-tab-item.md-tab:nth-child(4):after{
      right: 120px;
    }
  }
}
@media only screen and (min-width : 1024px) and (max-width: 1279px) {
  #pay_from_your_account{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 35px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 35px;
      padding-right: 35px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 35px;
      padding-right: 35px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:35px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 100px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 100px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 115px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:80px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 20%;
      width: 65%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 8.2em;
        left: 12.5em;
      }
      span.title{
        font-size: 15px !important;
        top: 6.9em;
        left: 13em;
      }
    }
    .info-box .widget-quote p + h3 {
      font-size: 1.30em;
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1599px) {
  #pay_from_your_account{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 80px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 80px;
      padding-right: 80px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 80px;
      padding-right: 80px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 80px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 150px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 150px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 160px;
    }md-tab-item.md-tab:nth-child(3):after{
      left: 160px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:85px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 20%;
      width: 65%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 8.2em;
        left: 12.5em;
      }
      span.title{
        font-size: 15px !important;
        top: 6.9em;
        left: 13em;
      }
    }
    .info-box .widget-quote p + h3 {
      font-size: 1.30em;
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #pay_from_your_account{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 90px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 90px;
      padding-right: 90px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 90px;
      padding-right: 90px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 155px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 155px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 170px;
    }md-tab-item.md-tab:nth-child(3):after{
      left: 170px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:90px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:85px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 20%;
      width: 70%;
    }
    #circular-timer .textDiv_Seconds{
      position: relative;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      font-family: 'Roboto', 'Open Sans', sans-serif;
      h4{
        font-size: 18px !important;
        line-height: 0 !important;
        position: relative;
        top: 8.2em;
        left: 11.8em;
        color: #FF6849;
      }
      span.title{
        font-size: 16px !important;
        line-height: 0 !important;
        font-weight: bolder;
        position: relative;
        top: 8.2em;
        left: 13.4em;
        color: #606060;
      }
      span:not(.title){
        display: none;
      }
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #pay_from_your_account{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 100px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 100px;
      padding-right: 100px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 100px;
      padding-right: 100px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:100px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 165px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 165px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 180px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 180px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:85px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
    }
    #circular-timer .textDiv_Seconds{
      position: relative;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      font-family: 'Roboto', 'Open Sans', sans-serif;
      h4{
        font-size: 18px !important;
        line-height: 0 !important;
        position: relative;
        top: 6.2em;
        left: 11.8em;
        color: #FF6849;
      }
      span.title{
        font-size: 16px !important;
        line-height: 0 !important;
        font-weight: bolder;
        position: relative;
        top: 5.95em;
        left: 13.4em;
        color: #606060;
      }
      span:not(.title){
        display: none;
      }
    }
    .inline-data-table{
      table{
        tbody{
          height: 95px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 125px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 125px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 125px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 125px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #pay_from_your_account{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 130px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 130px;
      padding-right: 130px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 130px;
      padding-right: 130px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:130px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 195px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 197px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 210px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 210px;
    }
    //md-tab-item.md-tab:nth-child(3):after{
    //  left: 20px;
    //}
    md-tab-item.md-tab:nth-child(4):before{
      right:85px;
    }
    #circular-timer{
      position: relative;
      top: -11.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
    }
    #circular-timer .textDiv_Seconds{
      position: relative;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      font-family: 'Roboto', 'Open Sans', sans-serif;
      h4{
        font-size: 18px !important;
        line-height: 0 !important;
        position: relative;
        top: 7.2em;
        left: 13.8em;
        color: #FF6849;
      }
      span.title{
        font-size: 16px !important;
        line-height: 0 !important;
        font-weight: bolder;
        position: relative;
        top: 7.30em;
        left: 15.6em;
        color: #606060;
      }
      span:not(.title){
        display: none;
      }
    }

    .inline-data-table{
      table{
        tbody{
          height: 95px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 200px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 120px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 150px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 150px;
        }
      }
    }

  }
}
@media only screen and (min-width : 1920px) {
  #pay_from_your_account{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 175px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 175px;
      padding-right: 175px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 175px;
      padding-right: 175px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:175px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 240px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 240px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 255px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 255px
    }
    md-tab-item.md-tab:nth-child(4):before{
      right:85px;
    }

    .inline-data-table{
      table{
        tbody{
          height: 200px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 250px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 150px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 150px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 150px;
        }
      }
    }
  }
}
@media only screen and (min-width : 2560px) {
  #pay_from_your_account{
    md-tab-item.md-tab:first-child{
      padding-left: 0;
      padding-right: 290px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 290px;
      padding-right: 290px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 290px;
      padding-right:290px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left:290px;
    }
    md-tab-item.md-tab:first-child:after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 355px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 355px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 370px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 370px;
    }
    #circular-timer{
      position: relative;
      top: -12.5em;
      svg{
        path{
          stroke: #FFA834;
        }
      }
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25%;
      width: 36%;
    }
    #circular-timer .textDiv_Seconds{
      position: relative;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      font-family: 'Roboto', 'Open Sans', sans-serif;
      h4{
        font-size: 22px !important;
        line-height: 0 !important;
        position: relative;
        top: 7.2em;
        left: 17.3em;
        color: #FF6849;
      }
      span.title{
        font-size: 19px !important;
        line-height: 0 !important;
        font-weight: bolder;
        position: relative;
        top: 7.40em;
        left: 20em;
        color: #606060;
      }
      span:not(.title){
        display: none;
      }
    }
    .inline-data-table{
      table{
        tbody{
          height: 95px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 250px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 250px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 250px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 250px;
        }
      }
    }
  }
}
.little_bit_downward{
  margin-top:55px;
}
.little_bit_downward_approval_btns{
  margin-top:95px;
}
.little_bit_downward_confirmation_btns{
  margin-top:95px;
}
.accept_decline_section{
  min-height:400px;
}
.accept_decline_alignment{
  margin-top:75px;
}
.some_table_class{
  table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
    thead tr th md-input-container{
      width: 100%;
      padding: 0;
      margin: 0;
      .md-errors-spacer{
        display: none;
      }
      input{
        font-weight: bold;
      }
    }
    thead, tbody{
      display: block;
    }
    tbody tr:hover{
      background-color: rgba(3,155,229, .3);
      cursor: pointer;
    }
    tbody{
      height: 95px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    tbody tr{
      width: 100%;
    }
    thead tr th{
      padding: 1em 2px 0 2px;
    }
    tbody tr td{
      padding: 0.8em 4px;
    }
    thead tr th:first-child,
    tbody tr td:first-child{
      width: 175px;
    }
    thead tr th:nth-child(2),
    tbody tr td:nth-child(2){
      width: 175px;
    }
    thead tr th:nth-child(3),
    tbody tr td:nth-child(3){
      width: 175px;
    }
    thead tr th:nth-child(4),
    tbody tr td:nth-child(4){
      width: 175px;
    }
  }

}

.timer-bit-down{
  position:relative;
  top: 15px;
}
