<div id="pay_from_your_account" class="page-layout simple fullwidth" layout="column">
  <div class="content" layout="column">
    <ms-form-wizard flex>
      <md-tabs md-dynamic-height>
        <md-tab ng-disabled="vm.selectedIndex != 0" id="tab_0">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="209.443px" height="191.991px" viewBox="0 0 209.443 191.991" enable-background="new 0 0 209.443 191.991"
	 xml:space="preserve">
<g>
	<g>
		<g>
			<g>
				<g>
					<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M104.722,74.662c-11.568,0-20.942,9.55-20.942,21.334
						c0,11.778,9.374,21.329,20.942,21.329c11.568,0,20.947-9.551,20.947-21.329C125.668,84.211,116.29,74.662,104.722,74.662
						 M104.722,53.327c23.136,0,41.889,19.106,41.889,42.668c0,23.563-18.753,42.663-41.889,42.663
						c-23.131,0-41.89-19.1-41.89-42.663C62.832,72.433,81.591,53.327,104.722,53.327 M167.559,191.991H41.89l26.706-43.63
						c9.948,7.362,22.619,11.631,36.125,11.631c13.512,0,26.183-4.269,36.13-11.631L167.559,191.991 M209.443,31.999v127.994
						l-53.298-27.201c7.225-10.135,11.414-23.039,11.414-36.795c0-13.762-4.189-26.666-11.414-36.802L209.443,31.999 M41.89,0
						h125.669l-26.707,43.623c-9.947-7.361-22.618-11.625-36.13-11.625c-13.507,0-26.178,4.264-36.125,11.625L41.89,0 M0,31.999
						l53.305,27.195C46.08,69.33,41.89,82.233,41.89,95.996c0,13.756,4.189,26.661,11.415,36.795L0,159.992V31.999"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Pay From Your Account</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 1 </strong><span hide-xs>-</span> Please select the currency and the amount then click next</h3>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-align="space-around stretch" layout-xs="column">
                <div flex="45" flex-offset="0" flex-xs="100" flex-offset-xs="0">
                  <div layout="column" layout-gt-xs="row" flex layout-xs="column">
                    <md-input-container flex="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.value_date == null ? 'required-field':'') ">
                      <label>Value Date</label>
                      <input type="text" jq-date-picker ng-disabled="vm.step1disable" ng-model="vm.step1.value_date" ng-required="true" ng-keydown="vm.stopInput($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex layout-xs="column" class="data-table-parent">
                    <md-input-container flex="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.account == null ? 'required-field':'') ">
                      <label>Entity Account</label>
                      <input type="text" ng-model="vm.step1.account" autocomplete="off" ng-disabled="vm.step1disable" ng-required="true" ng-keydown="vm.stopInput($event)" ng-click="vm.openEntityPopup()">
                    </md-input-container>
                  </div>
                  <div layout="row" layout-xs="column">
                    <md-input-container flex="70" flex-offset="0" flex-xs="100" flex-offset-xs="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.amount == null ? 'required-field':'') ">
                      <label>Amount</label>
                      <input type="text" ng-model="vm.step1.amount" autocomplete="off" ng-disabled="vm.step1disable" format="currency" ng-required="true" ng-keydown="vm.protectAmount($event)">
                    </md-input-container>
                    <md-input-container flex="30" flex-offset="0" flex-xs="100" flex-offset-xs="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.currency == null ? 'required-field':'') ">
                      <label>Currency</label>
                      <md-select ng-model="vm.step1.currency" ng-disabled="vm.step1disable" ng-required="true" aria-label="currency" ng-click="vm.fetchStep1Currency()">

                        <!--<md-option ng-selected="vm.defaultSelected" value="buy">{{vm.step1.currency}}</md-option>-->
                        <md-option ng-repeat="currency in vm.currencies | orderBy: 'currency_name' " ng-value="currency.currency_name" data-ng-selected="{{vm.accountTo.currency_id === currency.currency_id}}" >{{ currency.currency_name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex layout-xs="column">
                    <md-input-container flex="100" flex-offset="0" flex-xs="100" flex-offset-xs="0" class="reference">
                      <label>Reference</label>
                      <input type="text" ng-model="vm.step1.reference" autocomplete="off" ng-disabled="vm.step1disable" ng-keydown="vm.noSpecialCharactersFunction($event)" ng-keypress="vm.limitLength($event, 25)">
                    </md-input-container>
                  </div>
                </div>
                <!-- vertical column 1 -->
                <div flex="45" flex-offset="5" flex-xs="100" flex-offset-xs="0" style="position: relative;">
                  <div layout="column" layout-gt-xs="row" layout-xs="column" class="data-table-parent">
                    <md-input-container flex="100" flex-offset="0" flex-xs="100" flex-offset-xs="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.beneficiary == null ? 'required-field':'') ">
                      <label>Beneficiary</label>
                      <input type="text" ng-model="vm.step1.beneficiary" autocomplete="off" ng-disabled="vm.step1disable" ng-required="true" ng-keydown="vm.stopInput($event)" ng-click="vm.openBeneficiaryPopup()">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-offset="0" flex-xs="100" flex-offset-xs="0" class="account_input">
                      <label>Fee</label>
                      <input type="text" ng-model="vm.step1.fee" ng-disabled="vm.step1disable" ng-readonly="true" format="currency" ng-keydown="vm.protectAmount($event)">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column" ng-hide="vm.hidePurpose">
                    <md-input-container flex="100" flex-offset="0" flex-xs="100" flex-offset-xs="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.payment_purpose == null ? 'required-field':'') ">
                      <label>Select Payment Purpose</label>
                      <md-select ng-model="vm.step1.payment_purpose" ng-disabled="vm.step1disable" aria-label="Select Payment Purpose" ng-required="true">
                        <md-option ng-repeat="purpose in vm.purposes | orderBy: 'name' " ng-value="purpose.id">{{ purpose.name }}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <!-- vertical column 2 -->
              </div>
            </form>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button class="md-primary" ng-if="vm.selectedIndex === 0" ng-disabled="vm.step1disable" ng-click="vm.step1Next()">Next</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 1" id="tab_1">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="172.305px" height="196.394px" viewBox="0 0 172.305 196.394" enable-background="new 0 0 172.305 196.394"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M154.27,178.602V54.004H55.094v53.404H37.06V54.004
	c0-9.82,8.075-17.791,18.034-17.791h99.176c9.959,0,18.035,7.971,18.035,17.791v124.598c0,9.82-8.076,17.791-18.035,17.791H55.094
	c-9.959,0-18.034-7.971-18.034-17.791v-17.801h18.034v17.801H154.27 M82.141,142.999H19.024C9.065,142.999,1,135.03,1,125.209
	V18.413C1,8.583,9.065,0.611,19.024,0.611h108.198v17.802H19.024v106.796h63.116v-17.801l36.07,26.695l-36.07,26.697V142.999"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Approval</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2 </strong><span hide-xs>-</span> Please confirm your payment details and next button</h3>
            <div layout="row" layout-xs="column" layout-align="center center" class="info-box">
              <div flex="95" flex-offset="0" flex-xs="100" flex-offset-xs="0" class="custom-quote noLeftPadding">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 widget-quote" style="z-index: 0">
                   <div layout="row" layout-align="space-between none" class="top">
                    <div flex="50" flex-offset="0">
                      <p class="left">
                        <span>Date</span>
                        <strong>{{ vm.step1.value_date | date: 'MM/dd/yyyy'}}</strong>
                      </p>
                    </div>
                    <div flex="50" flex-offset="0" ng-hide="true">
                      <p class="left">
                        <span>Exchange Rate</span>
                        <strong>{{ vm.temp_rate.exchange_rate | currency:'':5}}</strong>
                      </p>
                    </div>
                   </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>From</span>
                          <h3>{{ vm.step1.account }}</h3>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>To</span>
                          <h3>{{ vm.step1.beneficiary }}</h3>
                        </p>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="20" flex-offset="0">
                        <p class="left">
                          <span>Amount</span>
                        </p>
                        <h3 class="green">{{ vm.toUpperCase(vm.step1.currency) }} {{ vm.step1.amount | currency:'':2}}</h3>
                      </div>
                      <div flex="30" flex-offset="0">
                        <p class="left">
                          <span>Fee</span>
                          <strong>{{ vm.step1.fee | currency:'':5 }} {{ vm.toUpperCase(vm.step1.currency) }}</strong>
                        </p>
                      </div>
                      <span flex></span>
                      <div flex="50" flex-offset="0" ng-hide="true">
                        <p class="left">
                          <span>Exchange Amount</span>
                        </p>
                        <h3 class="blue">{{ vm.getAnotherCurrency(vm.step1.currency) }} {{ vm.step1.amount | currency:'':2}}</h3>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="bottom">
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Reference</span>
                          <strong>{{ vm.step1.reference }}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Purpose of Payment</span>
                          <strong>{{ vm.getPurposeName(vm.step1.payment_purpose) }}</strong>
                        </p>
                      </div>
                    </div>

                  </ms-widget-front>
                </ms-widget>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container little_bit_downward_approval_btns">
              <md-button class="md-primary" ng-if="vm.selectedIndex === 1" ng-hide="vm.skipApprovalStep == true" ng-mouseover="vm.showPopOverFunc()" ng-mouseleave="vm.showPopLeaveFunc()" ng-click="vm.approveNow()">Approve <span>{{ vm.approvalCounter }} / {{ vm.approvalPolicy[0].approval_level }}</span></md-button>
              <md-button class="md-outline" ng-if="vm.selectedIndex === 1" ng-show="vm.ApprovalNext || (vm.skipApprovalStep == true)" ng-click="vm.nextStep()" >Next</md-button>
              <md-button class="md-outline"  ng-hide="vm.showPrevious" ng-click="vm.previousStep()" >Previous</md-button>
              <div class="popup" ng-hide="vm.showPopOver">
                <span>{{ vm.popover.title }}</span>
                <table ms-responsive-table>
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-hide="vm.Approvals != 0">
                    <td colspan="3">No approval records.</td>
                  </tr>
                  <tr ng-repeat="approval in vm.Approvals track by $index">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ vm.toUpperCase(approval.user_name) }}</td>
                    <td>{{ approval.approval_date | date: 'MM/dd/yyyy h:mm:ss a'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 2" id="tab_2">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="258.229px" height="193.647px" viewBox="0 0 258.229 193.647" enable-background="new 0 0 258.229 193.647"
	 xml:space="preserve">
<polyline fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="82.156,153.211 20.535,92.515 0,112.741 82.156,193.678
	258.229,20.242 237.693,0 82.156,153.211 "/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Confirmation</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2 </strong><span hide-xs>-</span> Please confirm your payment details and click Get Quote to request exchange rate</h3>
            <div layout="row" layout-xs="column" layout-align="center center" class="info-box">
              <div flex="95" flex-offset="0" flex-xs="100" flex-offset-xs="0" class="custom-quote noLeftPadding">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 widget-quote" style="z-index: 0">
                   <div layout="row" layout-align="space-between none" class="top">
                    <div flex="50" flex-offset="0">
                      <p class="left">
                        <span>Date</span>
                        <strong>{{ vm.step1.value_date | date: 'MM/dd/yyyy'}}</strong>
                      </p>
                    </div>
                    <div flex="50" flex-offset="0" ng-hide="true">
                      <p class="left">
                        <span>Exchange Rate</span>
                        <strong>{{ vm.temp_rate.exchange_rate | currency:'':5}}</strong>
                      </p>
                    </div>
                   </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>From</span>
                          <h3>{{ vm.step1.account }}</h3>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>To</span>
                          <h3>{{ vm.step1.beneficiary }}</h3>
                        </p>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="20" flex-offset="0">
                        <p class="left">
                          <span>Amount</span>
                        </p>
                        <h3 class="green">{{ vm.toUpperCase(vm.step1.currency) }} {{ vm.step1.amount | currency:'':2}}</h3>
                      </div>
                      <div flex="30" flex-offset="0">
                        <p class="left">
                          <span>Fee</span>
                          <strong>{{ vm.step1.fee | currency:'':5 }} {{ vm.toUpperCase(vm.step1.currency) }}</strong>
                        </p>
                      </div>
                      <span flex></span>
                      <div flex="50" flex-offset="0" ng-hide="true">
                        <p class="left">
                          <span>Exchange Amount</span>
                        </p>
                        <h3 class="blue">{{ vm.getAnotherCurrency(vm.step1.currency) }} {{ vm.step1.amount | currency:'':2}}</h3>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="bottom">
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Reference</span>
                          <strong>{{ vm.toUpperCase(vm.step1.reference) }}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Purpose of Payment</span>
                          <strong>{{ vm.getPurposeName(vm.step1.payment_purpose) }}</strong>
                        </p>
                      </div>
                    </div>

                  </ms-widget-front>
                </ms-widget>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container little_bit_downward_confirmation_btns">

              <md-button class="md-outline" ng-if="vm.selectedIndex === 2" ng-show="vm.ApprovalNext || (vm.skipApprovalStep == true)" ng-click="vm.getQuote()" >Get Quote</md-button>

              <div class="popup" ng-hide="vm.showPopOver">
                <span>{{ vm.popover.title }}</span>
                <table ms-responsive-table>
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-hide="vm.Approvals != 0">
                    <td colspan="3">No approval records.</td>
                  </tr>
                  <tr ng-repeat="approval in vm.Approvals track by $index">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ vm.toUpperCase(approval.user_name) }}</td>
                    <td>{{ approval.approval_date | date: 'MM/dd/yyyy h:mm:ss a'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 3" id="tab_3">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="273.518px" height="191.991px" viewBox="0 0 273.518 191.991" enable-background="new 0 0 273.518 191.991"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M175.823,193.787h58.617l39.078-77.496V0.044H156.284v116.247
	h58.617L175.823,193.787 M19.525,193.787h58.616l39.063-77.496V0.044H0v116.247h58.604L19.525,193.787"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Quote</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="accept_decline_section">
              <div class="progress-loader" ng-hide="vm.loader">
                <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
              </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 3 </strong><span hide-xs>-</span> {{vm.hideQuoteBox ? "Summary Details." : "Please accept or decline quote."}} </h3>
            <div layout="row" layout-xs="column" layout-align="center center" class="info-box">
              <div ng-hide="vm.skipQuote" flex="vm.hideQuoteBox == false ? '50' : '95'" flex-offset="0" flex-xs="100" flex-offset-xs="0" class="custom-quote">
                <div class="payment-detail" ng-if="vm.hideQuoteBox" style="background: #F8F7F7; height:40px; padding:12px" layout="row" >
                  <strong>Deal : </strong><span>{{vm.deal.deal_number}}</span>
                </div>
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 widget-quote">

                    <div layout="row" layout-align="space-between none" class="top">
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>Date</span>
                          <strong>{{ vm.step1.value_date | date: 'MM/dd/yyyy'}}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>Exchange Rate</span>
                          <strong>{{ vm.temp_rate.exchange_rate | currency:'':5}}</strong>
                        </p>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>From</span>
                        <h3>{{ vm.step1.account }}</h3>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>To</span>
                        <h3>{{ vm.step1.beneficiary }}</h3>
                        </p>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="30" flex-offset="0">
                        <p class="left">
                          <span>Amount</span>
                        </p>
                        <h3 class="green">{{ vm.toUpperCase(vm.step1.currency) }} {{ vm.temp_rate.buy_amount | currency:'':2}}</h3>
                      </div>
                      <div flex="20" flex-offset="0">
                        <p class="left">
                          <span>Fee</span>
                          <strong>{{ vm.step1.fee | currency:'':6 }} {{ vm.toUpperCase(vm.step1.currency) }}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>Exchange Amount</span>
                        </p>
                        <h3 class="blue">{{ vm.getAnotherCurrency(vm.step1.currency) }} {{ vm.temp_rate.sell_amount | currency:'':2}}</h3>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="bottom" ng-hide="true">
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Reference</span>
                          <strong>{{ vm.toUpperCase(vm.step1.reference) }}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Purpose of Payment:</span>
                          <strong>{{ vm.getPurposeName(vm.step1.payment_purpose) }}</strong>
                        </p>
                      </div>
                    </div>

                  </ms-widget-front>
                </ms-widget>
              </div>
              <div ng-show="vm.skipQuote" flex="100" flex-offset="0" flex-xs="100" flex-offset-xs="0" class="custom-quote">

                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 widget-quote">
                    <div layout="row" layout-align="space-between none" class="top">
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>Date</span>
                          <strong>{{ vm.step1.value_date | date: 'MM/dd/yyyy'}}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0" ng-hide="true">
                        <p class="left">
                          <span>Exchange Rate</span>
                          <strong>{{ vm.temp_rate.exchange_rate | currency:'':6 }} </strong>
                        </p>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>From</span>
                        <h3>{{ vm.step1.account }}</h3>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>To</span>
                        <h3>{{ vm.step1.beneficiary }}</h3>
                        </p>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="middle">
                      <div flex="30" flex-offset="0">
                        <p class="left">
                          <span>Amount</span>
                        </p>
                        <h3 class="green">{{ vm.toUpperCase(vm.step1.currency) }} {{ vm.step1.amount | currency:'':2}}</h3>
                      </div>
                      <div flex="20" flex-offset="0">
                        <p class="left">
                          <span>Fee</span>
                          <strong>{{ vm.step1.fee | currency:'':6 }} {{ vm.toUpperCase(vm.step1.currency) }}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left">
                          <span>Exchange Amount</span>
                        </p>
                        <h3 class="blue">{{ vm.getAnotherCurrency(vm.step1.currency) }} {{ vm.step1.amount | currency:'':2}}</h3>
                      </div>
                    </div>

                    <div layout="row" layout-align="space-between none" class="bottom" ng-hide="true">
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Reference</span>
                          <strong>{{ vm.toUpperCase(vm.step1.reference) }}</strong>
                        </p>
                      </div>
                      <div flex="50" flex-offset="0">
                        <p class="left inline">
                          <span>Purpose of Payment:</span>
                          <strong>{{ vm.getPurposeName(vm.step1.payment_purpose) }}</strong>
                        </p>
                      </div>
                    </div>

                  </ms-widget-front>
                </ms-widget>
              </div>
              <!-- /flex-50 -->
              <div ng-hide="vm.skipQuote == false ? (vm.hideQuoteBox === true ? true : false) : true" flex="45" flex-offset="5"  class="timer-bit-down timer_position" id="circular-timer-box" hide-xs></div>
              <div ng-hide="vm.skipQuote == false ? (vm.hideQuoteBox === true ? true : false) : true" id="linear-timer-box" hide-gt-xs>
                <div class="progress">
                  <div class="progress-bar" style="width: {{ vm.percent_duration + '%' }}" role="progressbar" aria-valuenow="{{ vm.expires_in }}" aria-valuemin="0" aria-valuemax="60">
                    <span class="sr-only">{{ vm.expires_in }} Seconds</span> {{ vm.expires_in }} Seconds
                  </div>
                </div>
              </div>
              <!-- /flex-45 -->
            </div>
            <div layout="row" style="height: 150px;" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container accept_decline_alignment">
              <md-button class="md-primary" ng-if="vm.selectedIndex === 3" ng-hide="vm.show_summary" ng-click="vm.acceptQuote()" ng-disabled="vm.disableMe">Accept</md-button>
              <md-button class="md-secondary" ng-if="vm.selectedIndex === 3" ng-hide="vm.show_summary" ng-click="vm.declineQuote()" ng-disabled="vm.disableMe">Decline</md-button>
              <md-button class="md-primary" ng-if="vm.selectedIndex === 3" ng-show="vm.show_summary" ng-click="vm.reloadModule()">Done</md-button>
              <md-button class="md-outline" ng-if="vm.selectedIndex === 3" ng-show="vm.show_summary" ng-click="vm.printDeal()"><i class="material-icons">print</i> Print</md-button>
            </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /md-tab -->
      </md-tabs>
      <!-- /md-tabs -->
    </ms-form-wizard>
  </div>
</div>
