<div id="login" class="flex-scrollable" layout="column" ms-scroll>
  <div id="login-form-wrapper" layout="column" layout-align="center center">
    <div id="login-form" class="md-whiteframe-8dp" style="position: relative;">
      <div class="show-loader" ng-hide="vm.showCircleLoader">
        <md-progress-circular  class="md-accent" md-diameter="60px"></md-progress-circular>
      </div>
      <div class="logo md-accent-bg">
        <span>FX</span>
      </div>

      <div class="title">Log in to your account</div>

      <form name="loginForm" novalidate>


        <!--Customer Id-->
        <md-input-container class="md-block" md-no-float>
          <label ng-show="vm.form.txtCustomerID != null">Customer ID</label>
          <input type="text" name="txtCustomerID" ng-model="vm.form.txtCustomerID" maxlength="10"
                 placeholder="Customer ID"
                 translate translate-attr-placeholder="LOGIN.CUSTOMERID"
                 autocomplete="off"
                 required>
          <div ng-messages="loginForm.txtCustomerID.$error" role="alert" multiple>
            <div ng-message="required">
              <span translate="LOGIN.ERRORS.CUSTOMER_ID_REQUIRED">Customer ID Field is required</span>
            </div>
            <div ng-message="pattern">
              <span translate="LOGIN.ERRORS.CUSTOMER_ID_MUST_VALID">CUSTOMER ID must be a valid id</span>
            </div>
          </div>
        </md-input-container>

        <!--Username-->
        <md-input-container class="md-block" md-no-float>
          <label ng-show="vm.form.username != null">Username</label>
          <input type="text" name="username" ng-model="vm.form.username" placeholder="Username"
                 translate translate-attr-placeholder="LOGIN.USERNAME" autocomplete="off" required>
          <div ng-messages="loginForm.username.$error" role="alert" multiple>
            <div ng-message="required">
              <span translate="LOGIN.ERRORS.USERNAME_REQUIRED">Username field is required</span>
            </div>
            <div ng-message="pattern">
              <span translate="LOGIN.ERRORS.USERNAME_MUST_VALID">Username must be a valid.</span>
            </div>
          </div>
        </md-input-container>

        <!--Password-->
        <md-input-container class="md-block" md-no-float>
          <label ng-show="vm.form.password != null">Password</label>
          <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                 translate translate-attr-placeholder="LOGIN.PASSWORD" autocomplete="off"
                 required>
          <div ng-messages="loginForm.password.$error" role="alert">
            <div ng-message="required">
              <span translate="LOGIN.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
            </div>
          </div>
        </md-input-container>

        <!--Forgot pass and remember me-->
        <div class="remember-forgot-password" layout="row" layout-xs="column"
             layout-align="space-between center" flex-offset-xs="0">

          <md-checkbox class="remember-me" ng-model="vm.form.remember" value="1" aria-label="Remember Me">
            <span translate="LOGIN.REMEMBER_ME">Remember Me</span>
          </md-checkbox>

          <a ui-sref="app.pages_auth_forgot_password" class="forgot-password md-accent-color"
             translate="LOGIN.FORGOT_PASSWORD"
             ng-click="vm.goForgotPassword()">Forgot Password?</a>
        </div>

        <!-- reCaptcha -->
        <div layout="row" layout-xs="column" layout-align="center center" ng-if="vm.config.captcha">
          <div
            flex="80"
            vc-recaptcha
            theme="'light'"
            key="vm.reCaptcha.key"
            size = "'normal'"
            on-create="setWidgetId(widgetId)"
            on-success="setResponse(response)"
            on-expire="cbExpiration()"
            class="recaptcha-box"
          ></div>
        </div>
        <!--Login button-->
        <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                   ng-disabled="loginForm.$invalid || loginForm.$pristine"
                   translate="LOGIN.LOG_IN" translate-attr-aria-label="LOGIN.LOG_IN" ng-click="vm.doLogin(vm.form)">
          LOG IN
        </md-button>
      </form>
    </div>
  </div>
</div>
