<!--Forms-->
<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="space-between">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">USER INTERFACE</span>
      </div>

      <div class="title">Forms</div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" layout="column">

    <div class="md-title">Stepper</div>
    <!--<div class="pb-16">-->
    <!--<b>ms-stepper</b> is a custom made form wizard directive. It follows Google's Material Design specifications-->
    <!--and we recommend you to use it. If for some reason, it's not suitable for your project, you can always use-->
    <!--the Form Wizard that we put together using md-tabs and forms.-->
    <!--</div>-->

    <!-- HORIZONTAL STEPPER -->
    <form name="horizontalStepper" ms-horizontal-stepper ng-submit="vm.submitHorizontalStepper()"
          ng-model="vm.horizontalStepper" novalidate>
      <ms-horizontal-stepper-step ng-form="horizontalStep1" step="1" step-title="'Personal Information'">
        <div ng-include="'app/main/components/stepper-steps/horizontal/step-1.html'"></div>
      </ms-horizontal-stepper-step>

      <ms-horizontal-stepper-step ng-form="horizontalStep2" step="2" step-title="'Birthplace'" optional-step
                                  hide-step="!vm.horizontalStepper.step1.lastname">
        <div ng-include="'app/main/components/stepper-steps/horizontal/step-2.html'"></div>
      </ms-horizontal-stepper-step>

      <ms-horizontal-stepper-step ng-form="horizontalStep3" step="3" step-title="'SSN'" optional-step
                                  hide-step="!vm.horizontalStepper.step2.birthplace">
        <div ng-include="'app/main/components/stepper-steps/horizontal/step-3.html'"></div>
      </ms-horizontal-stepper-step>

      <ms-horizontal-stepper-step ng-form="horizontalStep4" step="4" step-title="'Address'" optional-step>
        <div ng-include="'app/main/components/stepper-steps/horizontal/step-4.html'"></div>
      </ms-horizontal-stepper-step>

      <ms-horizontal-stepper-step ng-form="horizontalStep5" step="5" step-title="'Payment Method'">
        <div ng-include="'app/main/components/stepper-steps/horizontal/step-5.html'"></div>
      </ms-horizontal-stepper-step>
    </form>
    <!-- / HORIZONTAL STEPPER -->

    <div class="mv-24"></div>

    <!-- VERTICAL STEPPER -->
    <form name="verticalStepper" ms-vertical-stepper ng-submit="vm.submitVerticalStepper()"
          ng-model="vm.verticalStepper" novalidate>
      <ms-vertical-stepper-step ng-form="verticalStep1" step="1" step-title="'Personal Information'">
        <div ng-include="'app/main/components/stepper-steps/vertical/step-1.html'"></div>
      </ms-vertical-stepper-step>

      <ms-vertical-stepper-step ng-form="verticalStep2" step="2" step-title="'Birthplace'" optional-step
                                hide-step="!vm.verticalStepper.step1.lastname">
        <div ng-include="'app/main/components/stepper-steps/vertical/step-2.html'"></div>
      </ms-vertical-stepper-step>

      <ms-vertical-stepper-step ng-form="verticalStep3" step="3" step-title="'SSN'" optional-step
                                hide-step="!vm.verticalStepper.step2.birthplace">
        <div ng-include="'app/main/components/stepper-steps/vertical/step-3.html'"></div>
      </ms-vertical-stepper-step>

      <ms-vertical-stepper-step ng-form="verticalStep4" step="4" step-title="'Address'" optional-step>
        <div ng-include="'app/main/components/stepper-steps/vertical/step-4.html'"></div>
      </ms-vertical-stepper-step>

      <ms-vertical-stepper-step ng-form="verticalStep5" step="5" step-title="'Payment Method'">
        <div ng-include="'app/main/components/stepper-steps/vertical/step-5.html'"></div>
      </ms-vertical-stepper-step>
    </form>
    <!-- / VERTICAL STEPPER -->

    <div class="md-title mt-32">Form Wizard</div>
    <div class="pb-16">
      Form wizard is a combination of md-tabs and forms that we have created for you. You can have as many steps
      as you want.
    </div>
    <div layout="row">

      <!-- FORM WIZARD -->
      <ms-form-wizard flex>
        <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
          <md-tab>
            <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep1.$invalid">1</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep1.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Personal Information</span>
                            </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="100" flex-gt-xs="50">
                    <input type="text" name="firstname" ng-model="vm.formWizard.firstname"
                           placeholder="Firstname"
                           required>
                    <div ng-messages="wizardStep1.firstname.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>Firstname field is required.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="50">
                    <input type="text" name="lastname" ng-model="vm.formWizard.lastname"
                           placeholder="Lastname"
                           required>
                    <div ng-messages="wizardStep1.lastname.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>Lastname field is required.</span>
                      </div>
                    </div>
                  </md-input-container>
                </div>

                <md-input-container class="md-block">
                  <input type="email" name="email" ng-model="vm.formWizard.email" placeholder="Email"
                         ng-pattern="/^.+@.+\..+$/" required>
                  <div ng-messages="wizardStep1.email.$error"
                       role="alert" multiple>
                    <div ng-message="required">
                      <span>Email field is required</span>
                    </div>
                    <div ng-message="pattern">
                      <span>Email must be a valid e-mail address</span>
                    </div>
                  </div>
                </md-input-container>

                <div layout="column" layout-gt-sm="row" flex>
                  <md-input-container flex="100" flex-gt-xs="50">
                    <input type="password" name="password" ng-model="vm.formWizard.password"
                           placeholder="Password"
                           required>
                    <div ng-messages="wizardStep1.password.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>Password field is required.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="50">
                    <input type="password" name="passwordConfirm"
                           ng-model="vm.formWizard.passwordConfirm"
                           placeholder="Password (Confirm)"
                           required>
                    <div ng-messages="wizardStep1.passwordConfirm.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>Password (Confirm) field is required.</span>
                      </div>
                    </div>
                  </md-input-container>
                </div>
              </form>
            </md-tab-body>
          </md-tab>

          <md-tab ng-disabled="wizardStep1.$invalid">
            <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep2.$invalid">2</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep2.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Address</span>
                            </span>
            </md-tab-label>

            <md-tab-body>
              <form name="wizardStep2" ms-form-wizard-form novalidate>
                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex>
                    <label>City</label>
                    <input type="text" name="city" ng-model="vm.formWizard.city">
                  </md-input-container>

                  <md-input-container flex>
                    <label>State</label>
                    <md-select ng-model="vm.formWizard.state">
                      <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
                        {{state.abbrev}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container flex>
                    <label>Postal Code</label>
                    <input name="postalcode" ng-model="vm.formWizard.postalCode" placeholder="12345"
                           required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                    <div ng-messages="wizardStep2.postalcode.$error"
                         role="alert" multiple>
                      <div ng-message="required"><span>You must supply a postal code.</span></div>
                      <div ng-message="pattern">
                        <span>That doesn't look like a valid postal code.</span></div>
                      <div ng-message="md-maxlength">
                        <span>Postal code can't be longer than 5 characters.</span>
                      </div>
                    </div>
                  </md-input-container>
                </div>

                <md-input-container class="md-block">
                  <label>Address</label>
                  <textarea ng-model="vm.formWizard.address" md-maxlength="150" max-rows="5"
                            required></textarea>
                  <div ng-messages="wizardStep2.address.$error"
                       role="alert" multiple>
                    <div ng-message="required"><span>Address field is required.</span></div>
                    <div ng-message="md-maxlength">
                      <span>Address can't be longer than 150 characters.</span>
                    </div>
                  </div>
                </md-input-container>
              </form>
            </md-tab-body>
          </md-tab>

          <md-tab ng-disabled="wizardStep1.$invalid || wizardStep2.$invalid">
            <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-number md-accent-bg"
                                      ng-if="wizardStep3.$invalid">3</span>
                                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="wizardStep3.$valid">
                                    <i class="icon-check s16"></i>
                                </span>
                                <span class="ms-form-wizard-step-text">Payment Method</span>
                            </span>
            </md-tab-label>
            <md-tab-body>
              <form name="wizardStep3" ms-form-wizard-form novalidate>
                <md-input-container class="md-block">
                  <input type="text" name="cardholder" ng-model="vm.formWizard.cardholder"
                         placeholder="Card Holder"
                         required>
                  <div ng-messages="wizardStep3.cardholder.$error"
                       role="alert">
                    <div ng-message="required">
                      <span>Card holder field is required.</span>
                    </div>
                  </div>
                </md-input-container>

                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="33">
                    <input type="text" name="cardnumber" ng-model="vm.formWizard.cardnumber"
                           placeholder="Card Number"
                           required>
                    <div ng-messages="wizardStep3.cardnumber.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>Card number field is required.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="33">
                    <input type="text" name="CC2" ng-model="vm.formWizard.cc2"
                           placeholder="CC2" md-maxlength="3"
                           required>
                    <div ng-messages="wizardStep3.cc2.$error"
                         role="alert" multipl>
                      <div ng-message="required">
                        <span>CC2 field is required.</span>
                      </div>
                      <div ng-message="md-maxlength">
                        <span>CC2 can't be longer than 3 characters.</span>
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="100" flex-gt-xs="33">
                    <input type="text" name="expirationDate" ng-model="vm.formWizard.expirationDate"
                           placeholder="Expiration Date"
                           required>
                    <div ng-messages="wizardStep3.expirationDate.$error"
                         role="alert">
                      <div ng-message="required">
                        <span>Expiration date field is required.</span>
                      </div>
                    </div>
                  </md-input-container>
                </div>
              </form>
            </md-tab-body>
          </md-tab>
        </md-tabs>

        <div class="navigation" flex layout="row" layout-align="center center">
          <md-button class="md-raised md-accent" ng-click="msWizard.previousStep()"
                     ng-disabled="msWizard.isFirstStep()">
            Previous
          </md-button>
          <div class="steps">
                        <span ng-repeat="form in msWizard.forms"
                              ng-class="{'selected md-accent-bg':msWizard.selectedIndex === $index}"></span>
          </div>
          <md-button class="md-raised md-accent" ng-click="msWizard.nextStep()"
                     ng-hide="msWizard.isLastStep()"
                     ng-disabled="msWizard.currentStepInvalid()">
            Next
          </md-button>
          <md-button class="md-raised md-warn" ng-click="vm.sendForm(); msWizard.resetForm();"
                     ng-show="msWizard.isLastStep()"
                     ng-disabled="msWizard.formsIncomplete()">
            Send
          </md-button>
        </div>

      </ms-form-wizard>
      <!-- / FORM WIZARD -->

    </div>

    <div class="md-title mt-32">Basic form with validation</div>
    <div class="pb-16">With this form example, Submit button will only be activated if all the required fields are
      filled and if there is no error on the form.
    </div>
    <div layout="row">

      <!-- BASIC FORM -->
      <div class="form-wrapper md-whiteframe-1dp" flex="100">

        <form name="basicForm" class="md-inline-form" novalidate>

          <div class="form-title">Optional form title</div>

          <div layout="column" layout-gt-sm="row">
            <md-input-container flex>
              <input type="text" name="firstname" ng-model="vm.basicForm.firstname"
                     placeholder="Firstname"
                     required>
              <div ng-messages="basicForm.firstname.$error"
                   role="alert">
                <div ng-message="required">
                  <span>Firstname field is required.</span>
                </div>
              </div>
            </md-input-container>

            <md-input-container flex>
              <input type="text" name="lastname" ng-model="vm.basicForm.lastname" placeholder="Lastname"
                     required>
              <div ng-messages="basicForm.lastname.$error"
                   role="alert">
                <div ng-message="required">
                  <span>Lastname field is required.</span>
                </div>
              </div>
            </md-input-container>
          </div>

          <div layout="column" layout-gt-xs="row">
            <md-input-container flex>
              <label>City</label>
              <input type="text" name="city" ng-model="vm.basicForm.city">
            </md-input-container>

            <md-input-container flex>
              <label>State</label>
              <md-select ng-model="vm.basicForm.state">
                <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">
                  {{state.abbrev}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container flex>
              <label>Postal Code</label>
              <input name="postalcode" ng-model="vm.basicForm.postalCode" placeholder="12345"
                     required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
              <div ng-messages="basicForm.postalcode.$error" role="alert" multiple>
                <div ng-message="required"><span>You must supply a postal code.</span></div>
                <div ng-message="pattern"><span>That doesn't look like a valid postal code.</span></div>
                <div ng-message="md-maxlength">
                  <span>Postal code can't be longer than 5 characters.</span>
                </div>
              </div>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Biography</label>
            <textarea ng-model="vm.basicForm.biography" md-maxlength="150" max-rows="5"></textarea>
          </md-input-container>

          <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                     ng-disabled="basicForm.$invalid || basicForm.$pristine">
            Submit
          </md-button>
        </form>

      </div>
      <!-- / BASIC FORM -->
    </div>

  </div>
  <!-- / CONTENT -->

</div>

<!--Datatables-->
<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Tables</span>
      </div>
      <div class="title">Datatable</div>
    </div>

    <div layout="row" layout-align="start center">
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <div class="md-title mb-32">Normal Datatable</div>
    <div class="white-bg md-whiteframe-4dp">
      <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
        <thead>
        <tr>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Name</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Position</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Office</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Age</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Start Date</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Salary</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in ::vm.employees">
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.office }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.startDate }}</td>
          <td>{{ employee.salary }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- / CONTENT -->

</div>

<!--Datepickers-->
<div id="date-pickers" class="page-layout simple fullwidth doc-page element-doc-page">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Tables</span>
      </div>
      <div class="title">Date Pickers</div>
    </div>

    <div layout="row" layout-align="start center">
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <div layout-gt-xs="row">
      <div flex-gt-xs>
        <h4>Standard date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
      </div>

      <div flex-gt-xs>
        <h4>Disabled date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled></md-datepicker>
      </div>
    </div>

    <div layout-gt-xs="row">
      <div flex-gt-xs>
        <h4>Date-picker with min date and max date</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
      </div>

      <div flex-gt-xs>
        <h4>Only weekends are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
      </div>
    </div>

    <div layout-gt-xs="row">
      <div flex-gt-xs>
        <h4>Only weekends within given range are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-min-date="minDate" md-max-date="maxDate"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
      </div>

      <div flex-gt-xs>
        <h4>Opening the calendar when the input is focused</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-open-on-focus></md-datepicker>
      </div>
    </div>

    <div layout-gt-xs="row">
      <form name="myForm" flex-gt-xs>
        <h4>With ngMessages</h4>
        <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
                       required md-min-date="minDate" md-max-date="maxDate"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>

        <div class="validation-messages" ng-messages="myForm.dateField.$error">
          <div ng-message="valid">The entered value is not a date!</div>
          <div ng-message="required">This date is required!</div>
          <div ng-message="mindate">Date is too early!</div>
          <div ng-message="maxdate">Date is too late!</div>
          <div ng-message="filtered">Only weekends are allowed!</div>
        </div>
      </form>

      <form name="myOtherForm" flex-gt-xs>
        <h4>Inside a md-input-container</h4>

        <md-input-container>
          <label>Enter date</label>
          <md-datepicker ng-model="myDate" name="dateField" md-min-date="minDate"
                         md-max-date="maxDate"></md-datepicker>

          <div ng-messages="myOtherForm.dateField.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
            <div ng-message="mindate">Date is too early!</div>
            <div ng-message="maxdate">Date is too late!</div>
          </div>
        </md-input-container>
      </form>
    </div>


  </div>
  <!-- / CONTENT -->

</div>


<!--Dialogs-->
<div id="dialogs" class="page-layout simple fullwidth doc-page element-doc-page">

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="space-between">
    <div layout="column" layout-align="center start">
      <div class="breadcrumb" layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-home" class="s16"></md-icon>
        <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
        <span class="parent">Tables</span>
      </div>
      <div class="title">Dialogs</div>
    </div>

    <div layout="row" layout-align="start center">
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
      <md-button class="md-primary md-raised" ng-click="vm.showAlert($event)">
        Alert Dialog
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.showConfirm($event)">
        Confirm Dialog
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.showPrompt($event)">
        Prompt Dialog
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.showAdvanced($event)">
        Custom Dialog
      </md-button>
      <md-button class="md-primary md-raised" ng-click="vm.showTabDialog($event)">
        Tab Dialog
      </md-button>
      <md-button class="md-primary md-raised" ng-if="vm.listPrerenderedButton" ng-click="vm.showPrerenderedDialog($event)">
        Pre-Rendered Dialog
      </md-button>
    </div>
    <p class="footer">Note: The <b>Confirm</b> dialog does not use <code>$mdDialog.clickOutsideToClose(true)</code>.</p>

    <div ng-if="vm.status" id="status">
      <b layout="row" layout-align="center center" class="md-padding">
        {{vm.status}}
      </b>
    </div>

    <div class="dialog-demo-prerendered">
      <md-checkbox ng-model="listPrerenderedButton">Show Pre-Rendered Dialog</md-checkbox>
      <p class="md-caption">Sometimes you may not want to compile the dialogs template on each opening.</p>
      <md-checkbox ng-model="customFullscreen" aria-label="Fullscreen custom dialog">Use full screen mode for custom
        dialog
      </md-checkbox>
      <p class="md-caption">Allows the dialog to consume all available space on small devices</p>
    </div>


    <div style="visibility: hidden">
      <div class="md-dialog-container" id="myDialog">
        <md-dialog layout-padding>
          <h2>Pre-Rendered Dialog</h2>
          <p>
            This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
            template on each opening.
            <br/><br/>
            The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
            Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
            we restore the element back into its old DOM position.
          </p>
        </md-dialog>
      </div>
    </div>


  </div>
  <!-- / CONTENT -->

</div>

