<table class="primary">
  <thead>
  <tr>
    <th>Account Title</th>
    <th>Available Balance</th>
    <th>Closing Balance</th>
  </tr>
  </thead>
  <tbody ms-scroll>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  <tr>
    <td>Data No. 01</td>
    <td>Data No. 02</td>
    <td>Data No. 03</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">
      <div layout="row">
        <div flex="15">
          <p class="records-info">Total Records: <strong>5,656</strong></p>
        </div>
        <div flex="15">
          <div class="button-group">
            <md-button class="button-flat active">10</md-button>
            <md-button class="button-flat">20</md-button>
            <md-button class="button-flat">50</md-button>
            <md-button class="button-flat">100</md-button>
          </div>
        </div>
        <span flex></span>
        <div flex="15">
          <md-button class="md-icon-button" aria-label="icon-button"><i class="fa fa-angle-double-left" aria-hidden="true"></i></md-button>
          <md-button class="md-icon-button" aria-label="icon-button"><i class="fa fa-angle-left" aria-hidden="true"></i></md-button>
          <md-button class="md-icon-button" aria-label="icon-button"><i class="fa fa-angle-right" aria-hidden="true"></i></md-button>
          <md-button class="md-icon-button" aria-label="icon-button"><i class="fa fa-angle-double-right" aria-hidden="true"></i></md-button>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
