#approval_policy{
  md-card.classic-design{
    table{
      //@include breakpoints(1590px, 1919px){
      @include breakpoints(1620px, 1919px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints( 1440px, 1589px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints(1360px, 1439px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints(1280px, 1359px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints(1024px, 1279px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        width: 150px;
        @include breakpoints(false, 1920px){
          width: 550px;
        }
        @include breakpoints(false, 2560px){
          width: 800px;
        }
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 150px;
        @include breakpoints(false, 1590px){
          width: 550px;
        }
        @include breakpoints(false, 1920px){
          width: 550px;
        }
        @include breakpoints(false, 2560px){
          width: 800px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 150px;
        @include breakpoints(false, 1920px){
          width: 550px;
        }
        @include breakpoints(false, 2560px){
          width: 700px;
        }
      }
    }
    .md-menu-design{
      button.md-button{
        margin: 0;
        position: relative;
        @include breakpoint(xlarge){
          top: -5px;
        }
        @include breakpoint(desktop){
          top: -5px;
        }
        @include breakpoint(laptop){
          top: -10px;
        }
        @include breakpoint(tablet){
          top: -10px;
        }
        @include breakpoint(mobile){
          top: -10px;
        }
      }
    }
  }
  .tabs-group{
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    border-radius: 2px;
    margin: 8px;
    @include show-box;
  }
  md-tabs{
    form.md-inline-form{
      margin: 1em;
      md-input-container{
        .md-errors-spacer{
          display: none;
        }
      }
      button.margin-1em{
        margin: 1em;
      }
      .user_table{
        @include responsive-table;
        button.trash-icon{
          margin: 0;
          i.fa{
            color: red;
            font-size: 18px;
            font-weight: normal;
          }
        }
        table{
          font-size: 13px;
          tbody, thead{
            display: table-header-group !important;
          }
          th,td{
            padding: 6px;
            background-color: rgba(0, 0, 0, 0.14);
          }
          td{
            background-color: #fff;
            border-bottom: 1px solid rgb(224,224,224);
          }
          tr:last-child td{
            border-bottom: none;
          }
          tr:hover td{
            background-color: rgb(238,238,238);
          }
          td:last-child{
            text-align: center;
          }
        }
      }
    }
  }
}



