<div id="approval_policy" class="page-layout fullwidth">
  <md-card class="classic-design" ng-show="vm.hideTabs">
    <div layout="column" class="display-block">
      <div flex="100" ng-show="vm.showDataTable">
        <h3>Loading...</h3>
        <md-progress-circular class="md-accent loader" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div layout="column" class="display-block" ng-hide="vm.showDataTable">
      <div flex="100" class="filter-btn-container">
        <div layout="row" ng-class="vm.enableFilter == true? 'background-shades': ''">
          <div flex="5">
            <md-button class="filter_button" aria-label="button" ng-click="vm.toggleFilters()">
              <i class="material-icons">filter_list</i> Apply Filters
            </md-button>
          </div>
          <span flex></span>
          <div flex="10">
            <md-button class="md-primary button-with-icon" aria-label="button" ng-click="vm.addApprovalPolicy($event)">
              <i class="material-icons">add</i>Add New
            </md-button>
          </div>
        </div>
      </div>
      <div flex="100" ng-class="vm.enableFilter == true? 'background-shades filter-inputs show': 'filter-inputs hide'">
        <table class="filters_table">
          <thead>
          <tr>
            <th>
              <md-input-container>
                <label>By Module Name</label>
                <input type="text" ng-model="vm.filter.module_name"  aria-label="By Module Name" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Approval level</label>
                <input type="text" ng-model="vm.filter.approval_level"  aria-label="By Approval level" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th></th>
          </tr>
          </thead>
        </table>
      </div>
      <div flex="100" ng-class="vm.enableFilter == true? 'reduce-top-margin':'add-top-margin'">
        <table ng-table="vm.tableParams" class="responsive-table">
          <tbody ms-scroll>
          <tr ng-repeat="row in $data track by $index">
            {{row}}
            <td data-title="'Module'" sortable="'module_name'">
              {{ row.module_name }}
            </td>
            <td data-title="'Approval Level'" sortable="'module_id'">
              {{ row.module_id }}
            </td>
            <td data-title="">
              <md-menu md-position-mode="target-right target" class="md-menu-design">
                <md-button aria-label="Open demo menu" class="md-raised" aria-label="button" ng-click="$mdOpenMenu($event)">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button ng-click="vm.editApprovalPolicy(row)" aria-label="button">
                      <span md-menu-align-target="">
                        Edit
                      </span>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="">
                      <span md-menu-align-target="" aria-label="button">
                        Delete
                      </span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-card>
  <div ng-hide="vm.hideTabs" class="tabs-group">
    <div class="progress-loader" ng-hide="vm.loader">
      <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
    </div>
    <md-tabs md-dynamic-height  md-no-select-click="true" md-stretch-tabs="auto" >
      <md-tab>
        <md-tab-label>Approval Policy</md-tab-label>
        <md-tab-body>
          <form class="md-inline-form approval_policy_form" novalidate>
            <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
              <div flex="50" flex-offset="0">
                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Entity</label>
                    <input type="text" ng-model="vm.step1.entity" ng-disabled="true">
                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" ng-class=" vm.step1Invalid === false ? '' : (vm.step1.level === null ? 'required-field':'') ">
                    <label>Approval Level</label>
                    <md-select ng-model="vm.step1.level">
                      <md-option ng-repeat="level in vm.approvalLevels | orderBy:'approvaltypename'" ng-value="level.approvaltypeid">{{ level.approvaltypename }}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <!-- /.flex-50 -->
              <div flex="50" flex-offset="0">
                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" ng-class=" vm.step1Invalid === false ? '' : (vm.step1.module === null ? 'required-field':'') ">
                    <label>Module</label>
                    <md-select ng-model="vm.step1.module">
                      <md-option ng-repeat="module in vm.modules | orderBy:'module_name'" ng-value="module.module_id">{{ module.module_name }}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <!-- /.flex-50 -->
            </div>
          </form>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Assign user</md-tab-label>
        <md-tab-body>
          <form class="md-inline-form assign_user_form" novalidate>
            <div layout="row">
              <div flex="30">
                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Module</label>
                    <md-select ng-model="vm.step2.module">
                      <md-option ng-repeat="module in vm.modules | orderBy:'module_name'" ng-value="module.module_id">{{ module.module_name }}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <div flex="30">
                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>User</label>
                    <md-select ng-model="vm.step2.user">
                      <md-option ng-repeat="user in vm.webUsers | orderBy:'full_name'" ng-value="user.user_name">{{ user.full_name }}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <div flex="30">
                <div layout="column" layout-gt-xs="row">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Approval Level</label>
                    <md-select ng-model="vm.step2.level">
                      <md-option ng-repeat="level in vm.approvalLevels | orderBy:'approvaltypename'" ng-value="level.approvaltypename">{{ level.approvaltypename }}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <div flex="10">
                <md-button class="md-primary margin-1em" aria-label="button" ng-click="vm.assignUser($event)">Assign</md-button>
              </div>
            </div>
            <div layout="column" ng-hide="vm.step3.length <= 0">
              <div flex="100" class="user_table">
                <table>
                  <thead>
                  <tr>
                    <th>User</th>
                    <th>Approval Level</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="user in vm.step3 track by $index">
                    <td>{{ user.name }}</td>
                    <td>{{ user.level }}</td>
                    <td>
                      <md-button class="md-icon-button trash-icon" aria-label="icon" ng-click="vm.deleteRecord(user, $index)"><i class="fa fa-trash" aria-hidden="true"></i></md-button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    <div layout="row" layout-align="center center" class="next-button-container">
      <md-button class="md-outline" aria-label="button" ng-click="vm.backToApprovals($event)">Cancel</md-button>
      <md-button class="md-primary" aria-label="button" ng-click="vm.saveApprovalPolicy($event)">Save</md-button>
    </div>
  </div>
</div>
