<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
          <div class="logo md-accent-bg">
            <span>FX</span>
          </div>

            <div class="title" translate="FORGOTPASSWORD.TITLE">Recover your password</div>

            <form name="forgotPasswordForm" novalidate>
              <md-input-container class="md-block" md-no-float>
                <label>Reset Type</label>
                <md-select ng-model="vm.form.type">
                  <md-option value="1">Email</md-option>
                  <md-option value="2">Security Question</md-option>
                </md-select>
              </md-input-container>
              <div ng-if="vm.form.type == 1">

                <md-input-container  class="md-block" md-no-float>
                  <label>Name</label>
                  <input type="text" ng-model="vm.form.username"  required>
                </md-input-container>

                <md-input-container  class="md-block" md-no-float>
                  <label>Email</label>
                  <input type="email" ng-model="vm.form.email" ng-pattern="/^.+@.+\..+$/" required>
                </md-input-container>

                <md-input-container  class="md-block" md-no-float>
                  <label>Customer Id</label>
                  <input type="text" ng-model="vm.form.CustID"  required>
                </md-input-container>

              </div>




              <div ng-if="vm.form.type == 2 ? true: false">
                <md-input-container  class="md-block" md-no-float>
                  <label>Select Question</label>
                  <md-select ng-model="vm.form.question" required>
                    <md-option value="1">What is your pet name?</md-option>
                    <md-option value="2">Which is your first school?</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container  class="md-block" md-no-float>
                  <label>Answer</label>
                  <input type="text" ng-model="vm.form.answer"  required>
                </md-input-container>
              </div>

                <!--<md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email address"
                           translate translate-attr-placeholder="FORGOTPASSWORD.EMAIL_ADRESS"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>-->

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD"
                           ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine"
                           translate="FORGOTPASSWORD.SEND_RESET_LINK"
                           translate-attr-aria-label="FORGOTPASSWORD.SEND_RESET_LINK"
                ng-click="vm.submitRequest()">
                    SEND RESET LINK
                </md-button>
            </form>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login" translate="FORGOTPASSWORD.GO_BACK">Go back to login</a>
            </div>
        </div>
    </div>
</div>
