<!-- Deal Dialog -->
<md-dialog aria-label="Beneficiary Information" id="beneficiary_information">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">BENEFICIARY INFORMATION</h3>
        </div>
        <span flex></span>
        <!-- <div class="show-circle-loader" ng-hide="singlePayeeLoader" style="position: absolute; right: 7%; top: 4%;">
          <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
        </div> -->
        <!-- <md-button class="md-icon-button custom-primary" ng-click="closeDialog()">
          <i class="material-icons">done</i>
        </md-button>
        <md-button class="md-icon-button custom-secondary" ng-click="closeDialog()">
          <i class="material-icons">replay</i>
        </md-button> -->
        <md-button class="md-icon-button custom-third" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
      <form name="wizardStep1" class="md-inline-form beneficiary-form" ms-form-wizard-form novalidate>
        <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row" class="payee-holder">
          <div flex="50" flex-offset="0" flex-xs="100" flex-gt-xs="50">
            <div layout="column" layout-gt-xs="row" flex>
              <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                <label>Beneficiary Name</label>
                <input type="text" ng-model="beneficiary.name" placeholder="Beneficiary Name" ng-readonly="true">
              </md-input-container>
            </div>
          </div>
          <div flex="45" flex-offset="5" flex-xs="100" flex-gt-xs="45" flex-offset-gt-xs="5">
            <div layout="column" layout-gt-xs="row" flex>
              <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                <label>Currency</label>
                <input type="text" ng-model="beneficiary.currency" placeholder="Currency" ng-readonly="true">
              </md-input-container>
            </div>
          </div>
          <!-- /flex-row-end -->
        </div>
        <!-- /layout-row -->
      </form>
    </ms-form-wizard>
  </md-dialog-content>
</md-dialog>
