//#view_beneficiary {
//  md-card.classic-design {
//    table {
//      table + .ng-scope.ng-isolate-scope {
//        max-width: 57em;
//      }
//      thead tr th:nth-child(1),
//      tbody tr td:nth-child(1) {
//        width: 200px;
//      }
//      thead tr th:nth-child(2),
//      tbody tr td:nth-child(2) {
//        width: 150px;
//      }
//    }
//  }
//}
@media only screen and (min-width: 1024px) and (max-width: 1279px){
  #view_beneficiary {
    md-card.classic-design {
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 100px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 150px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 120px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 160px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 130px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1359px){
  #view_beneficiary {
    md-card.classic-design {
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 120px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 150px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 120px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 260px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 150px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1366px) and (max-width: 1439px){
  #view_beneficiary {
    md-card.classic-design {
     //height: 900px;
      .apply_filters{
        position: relative;
        bottom: 35px;
      }
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 150px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 170px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 150px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 270px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 155px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px){
  #view_beneficiary {
    md-card.classic-design {
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 150px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 150px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 150px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 260px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 150px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px){
  #view_beneficiary {
    md-card.classic-design {
      .apply_filters{
        position: relative;
        bottom: 35px;
      }
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 170px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 300px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 150px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 350px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 150px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1920px){
  #view_beneficiary {
    md-card.classic-design {
      .apply_filters{
        position: relative;
        bottom: 35px;
      }
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 250px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 250px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 250px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 250px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 340px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 250px;
        }
      }
    }
  }
}
@media only screen and (min-width : 2560px){
  #view_beneficiary {
    md-card.classic-design {
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 350px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 250px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 450px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 250px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 540px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 330px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3) {
        width: 150px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4) {
        width: 150px;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5) {
        width: 250px;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6) {
        width: 150px;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3) {
        width: 150px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4) {
        width: 150px;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5) {
        width: 250px;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6) {
        width: 150px;
      }
    }
  }
}

//@media screen\0{
//  #view_beneficiary {
//
//    md-card.classic-design {
//      min-height: 800px;
//      .filter-table{
//        margin-top: 20px;
//        margin-bottom: 20px;
//      }
//      table {
//        position: relative;
//        top: 50px;
//        table + .ng-scope.ng-isolate-scope {
//          max-width: 57em;
//        }
//        thead tr th:nth-child(1),
//        tbody tr td:nth-child(1) {
//          width: 150px;
//        }
//        thead tr th:nth-child(2),
//        tbody tr td:nth-child(2) {
//          width: 130px;
//        }
//        thead tr th:nth-child(3),
//        tbody tr td:nth-child(3) {
//          width: 170px;
//        }
//        thead tr th:nth-child(4),
//        tbody tr td:nth-child(4) {
//          width: 150px;
//        }
//        thead tr th:nth-child(5),
//        tbody tr td:nth-child(5) {
//          width: 270px;
//        }
//        thead tr th:nth-child(6),
//        tbody tr td:nth-child(6) {
//          width: 155px;
//        }
//      }
//    }
//  }
//}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {   //IE specific styling.
  #view_beneficiary {

        md-card.classic-design {
          min-height: 820px;
          .filter-table{
            margin-top: 20px;
            margin-bottom: 20px;
          }
          table {
            position: relative;
            top: 50px;
            table + .ng-scope.ng-isolate-scope {
              max-width: 57em;
            }
            thead tr th:nth-child(1),
            tbody tr td:nth-child(1) {
              width: 150px;
            }
            thead tr th:nth-child(2),
            tbody tr td:nth-child(2) {
              width: 130px;
            }
            thead tr th:nth-child(3),
            tbody tr td:nth-child(3) {
              width: 170px;
            }
            thead tr th:nth-child(4),
            tbody tr td:nth-child(4) {
              width: 150px;
            }
            thead tr th:nth-child(5),
            tbody tr td:nth-child(5) {
              width: 270px;
            }
            thead tr th:nth-child(6),
            tbody tr td:nth-child(6) {
              width: 155px;
            }
          }
        }

       .Total_records{
           margin-top: 40px;
        }

        .Set_page_size{
           margin-top: 40px;
         }

        .pagination_alignment{
          margin-top: 40px;
        }
      }
}

@media screen and (min-width: 1590px) and (max-width: 1919px)
and (-ms-high-contrast: none) , (-ms-high-contrast: active) { //IE specific styling+
  #view_beneficiary {
    md-card.classic-design {
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 150px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 300px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 150px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 350px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 150px;
        }
      }
    }
  }
}

@media all and (min-width: 1920px) and (max-width: 2559px)
              and (-ms-high-contrast: none) and (-ms-high-contrast: active)
{
  #view_beneficiary {
    md-card.classic-design {
      table {
        table + .ng-scope.ng-isolate-scope {
          max-width: 57em;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1) {
          width: 250px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2) {
          width: 250px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3) {
          width: 250px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4) {
          width: 250px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5) {
          width: 500px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6) {
          width: 250px;
        }
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
  #view_beneficiary{
    .apply_filters{
      position: relative;
      bottom: 10px;
    }
  }
}

