<div id="view_beneficiary" class="simple fullwidth">
  <!--Templates for ng-table -->
  <script type="text/ng-template" id="custom/pagination">
    <div layout="row" id="ng-table-options">
      <div flex="15" class="Total_records">
        <p>Total Records: <strong>{{ params.total() }}</strong></p>
      </div>
      <div flex="45" class="pages Set_page_size">
        <p class="inline-block">Set page size to: </p>
        <md-button ng-class="params.count() === count ? 'active':''" ng-repeat="count in params.settings().counts" ng-click="params.count(count)" aria-label="icon">{{ count }}</md-button>
      </div>
      <div flex="50" class="pagination pagination_alignment" layout-align="end center">
        <ul>
          <li ng-repeat="page in pages" ng-show="page.type === 'first'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'prev'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-hide="page.type === 'prev' || page.type === 'next'">
            <a href="javascript:void(0);" ng-class="{'active':page.current}" ng-click="params.page(page.number)">{{ page.number }}</a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'next'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'last'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </script>

  <md-card style="min-height:900px" class="classic-design">
    <div layout="column">
      <div flex="100" ng-show="vm.showDataTable">
        <h3>Loading...</h3>
        <md-progress-circular class="md-accent loader" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div layout="column" ng-hide="vm.showDataTable">
      <div flex="100" class="filter-btn-container">
        <div layout="row" ng-class="vm.enableFilter == true? 'background-shades': ''">
          <div flex="15">
            <md-button class="filter_button" ng-click="vm.toggleFilters()">
              <i class="material-icons">filter_list</i> Apply Filters
            </md-button>
          </div>
          <span flex></span>
          <div flex="20">
            <md-button class="md-primary button-with-icon" aria-label="button" ng-click="vm.addNewBeneficiary()">
              <i class="material-icons">add</i>Add New Beneficiary
            </md-button>
          </div>
        </div>
      </div>
      <div style="margin-bottom:40px;" flex="100" ng-class="vm.enableFilter == true? 'background-shades filter-inputs show': 'filter-inputs hide'">
        <table class="filters_table">
          <thead>
          <tr>
            <th>
              <md-input-container>
                <label>By Beneficiary Name</label>
                <input type="text" ng-model="vm.filter.name" aria-label="By Beneficiary Name" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Routing Type</label>
                <input type="text" ng-model="vm.filter.type" aria-label="By Routing Type" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Internal Reference</label>
                <input type="text" ng-model="vm.filter.reference" aria-label="By Internal Reference" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Beneficiary Currency</label>
                <input type="text" ng-model="vm.filter.currency" aria-label="By Beneficiary Currency" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Beneficiary Address 1</label>
                <input type="text" ng-model="vm.filter.address1"  aria-label="By Beneficiary Address 1" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Account Number</label>
                <input type="text" ng-model="vm.filter.accountNumber"  aria-label="By Account Number" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th></th>
          </tr>
          </thead>
        </table>
      </div>
      <div  flex="100" ng-class="vm.enableFilter == true? 'reduce-top-margin':'add-top-margin'">
        <table ng-table="vm.tableParams" class="responsive-table" template-pagination="custom/pagination">
          <tbody ms-scroll>
          <tr ng-repeat="row in $data track by $index">
            <td data-title="'Beneficiary Name'" sortable="'name'">
              {{ row.name }}
            </td>
            <td data-title="'Routing Type'" sortable="'paymentmethod_name'">
              <span class="method {{ row.paymentmethod_name | lowercase | dashes  }}">{{ row.paymentmethod_name }}</span>
            </td>
            <td data-title="'Internal Reference'" sortable="'internal_reference'">
              {{ row.internal_reference }}
            </td>
            <td data-title="'Beneficiary Currency'" sortable="'currency_name'">
              <span class="currency {{ row.currency_name | lowercase}}">{{ row.currency_name }}</span>
            </td>
            <td data-title="'Beneficiary Address 1'" sortable="'beneficiarybank_address1'">
              {{ row.beneficiarybank_address1 }}
            </td>
            <td data-title="'Account Number'" sortable="'beneficiary_accountcode'">
              {{ row.beneficiary_accountcode }}
            </td>
            <td data-title="">
              <md-button class="md-icon-button">
                <i class="material-icons">edit</i>
              </md-button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-card>
</div>
