<!-- Single Add Payee Custom Dialog -->
<md-dialog aria-label="EDIT PAYEE" id="single_payment_dialog" class="edit_payment_dialog">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">EDIT PAYEE</h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
        <div class="show-circle-loader" ng-hide="dialogLoader" style="position: absolute; right: 10%;">
          <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
        </div>
      </div>
      <form name="wizardStep1" class="md-inline-form single-payee-form" ms-form-wizard-form novalidate>
        <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row" class="payee-holder">
          <div flex="50" flex-offset="0" flex-xs="100" flex-gt-xs="45">
            <div layout="column" layout-gt-xs="row" flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="payee_input">
                <label>Payee</label>
                <input type="text" ng-click="showPayeeTableFunc($event)" ng-model="single.payee_" ng-keydown="vm.stopInputing($event)">
              </md-input-container>
              <div class="advance-data-table edit-payee-data-table" layout="row" ng-hide="showPayeeTable">
                <i class="material-icons hide-payee-table" ng-click="hidePayeeTableFunc()">close</i>
                <div flex>
                  <div class="show-loader" ng-hide="showSinglePayeeTable">
                    <md-progress-circular  class="md-accent" md-diameter="60px"></md-progress-circular>
                  </div>
                  <table ms-responsive-table>
                    <thead>
                    <tr>
                      <th>
                        <md-input-container>
                          <input type="text" id="routing" ng-model="payeeTable.routing" placeholder="Routing/Account Name" autocomplete="off">
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <input type="text" id="payee_payor" ng-model="payeeTable.payee_payor" placeholder="Payee/Payor" autocomplete="off">
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <input type="text" id="bank_name" ng-model="payeeTable.bank_name" placeholder="Bank Name" autocomplete="off">
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <md-select ng-model="payeeTable.method" placeholder="Payment Method">
                            <md-option value="{{ vm.toLowerCase(method.name) }}" ng-repeat="method in vm.settlementMethods | orderBy: 'name'">{{ method.name }}</md-option>
                          </md-select>
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <md-select ng-model="payeeTable.country" id="country" placeholder="Country">
                            <md-option ng-repeat="country in vm.countries | orderBy: 'country_name'" value="{{ vm.toLowerCase(country.country_name) }}">
                              {{ country.country_name }}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="payeeSelectFunc($event)" ng-repeat="payee in vm.payeesList | filter: routingFilter | filter: payeeFilter | filter: bankFilter | filter: countryFilter | filter: vm.payeeMethodFilter" id="{{ payee.id }}">
                      <td>{{ payee.internal_reference }}</td>
                      <td>{{ payee.name }}</td>
                      <td>{{ payee.beneficiarybank_name }}</td>
                      <td>{{ payee.type }}</td>
                      <td>{{ payee.country_name }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="payee_amount_input">
                <label>Amount</label>
                <input type="text" ng-model="single.amount" format="currency" ng-keydown="vm.protectAmount($event)">
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="payment_reference_input">
                <label>Payment reference</label>
                <input type="text" name="reference" ng-keydown="vm.noSpecialCharactersFunction($event)" ng-paste="vm.pasteLimit($event, 25)"  ng-keypress="vm.limitLength($event, 25)" ng-model="single.payment_reference">
              </md-input-container>
            </div>
          </div>
          <!-- /flex-row-end -->
          <div flex="50" flex-offset="5" flex-xs="100" flex-gt-xs="45" flex-offset-gt-xs="5" class="top-placement-parent">
            <md-checkbox ng-click="collapseAll(info)" aria-label="No Payee Notification" class="md-secondary top-placement" ng-model="show" *ng-if="showHelloMe">
              Additional details
            </md-checkbox>
            <div ng-show="info.expanded" class="top-placement-fix">
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="value_date_input">
                  <label style="left:0;">Value date</label>
                  <input type="text" jq-date-picker ng-model="single.value_date" min-date="today" ng-keydown="vm.stopInputing($event)" placeholder="Value date" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                </md-input-container>
              </div>
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="purpose_payment_input">
                  <label>Purpose of payment</label>
                  <md-select ng-model="single.payment_purpose">
                    <md-option ng-repeat="purpose_of_payment in vm.paymentPurposes | orderBy: 'name'" value="{{ purpose_of_payment.id }}" title="{{ purpose_of_payment.description }}" ng-selected="single.payment_purpose == purpose_of_payment.id" ng-required="vm.popMandate">
                      {{ purpose_of_payment.name }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="payment_reference_input">
                  <label>Internal Reference</label>
                  <input type="text" name="internal reference" ng-keydown="vm.noSpecialCharactersFunction($event)" ng-paste="vm.pasteLimit($event, 25)" ng-keypress="vm.limitLength($event, 25)" ng-model="single.internal_payment_reference">
                </md-input-container>
              </div>
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="payment_reference_email_input">
                  <label>Payee Notification Email Address</label>
                  <input type="text" name="payee notification" ng-pattern="/^[a-zA-Z0-9]+$/g" ng-keypress="vm.limitLength($event, 100)" ng-paste="vm.pasteLimit($event, 100)" ng-model="single.payee_notification" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                </md-input-container>
              </div>
            </div>
          </div>
          <!-- /flex-row-end -->
        </div>
        <!-- /layout-row -->
      </form>
    </ms-form-wizard>
  </md-dialog-content>
  <md-dialog-actions>
    <div layout="row" layout-align="center center" layout-gt-lg="row" layout-align-gt-lg="row">
      <md-button class="md-primary" ng-click="updatePayee(single)" ng-disabled="disableSubmission">Update Payee</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
