<!-- Single Add Payee Custom Dialog -->
<md-dialog aria-label="EDIT FUNDING" id="single_payment_dialog">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">EDIT FUNDING</h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
        <div class="show-circle-loader" ng-hide="dialogLoader" style="position: absolute; right: 10%;">
          <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
        </div>
      </div>
      <form name="wizardStep1" class="md-inline-form single-payee-form" ms-form-wizard-form novalidate>
        <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row" class="payee-holder">
          <div flex="70" flex-offset="10" flex-xs="100" flex-gt-xs="70">
            <div layout="column" layout-gt-xs="row" flex>
              <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="step4_method_input">
                <label>Methods</label>
                <md-select ng-model="single.method"  ng-change="PickAccount(single)">
                  <md-option ng-repeat="method in vm.methods | orderBy: 'name'" value="{{ method.id }}">
                    {{ method.name }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="payee_amount_input">
                <label>Amount</label>
                <input type="text" ng-model="single.amount" format="currency" ng-keydown="vm.protectAmount($event)">
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" flex>
              <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" style="margin-top: 12px;">
                <label>Account picker</label>
                <md-select ng-model="single.account_picker">
                  <md-option ng-repeat="account in accounts | orderBy: 'name'" value="{{ account.id }}" ng-selected="account.id == single.account_picker">
                    {{ account.name }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <!-- /flex-row-end -->
        </div>
        <!-- /layout-row -->
      </form>
    </ms-form-wizard>
  </md-dialog-content>
  <md-dialog-actions>
    <div layout="row" layout-align="center center" layout-gt-lg="row" layout-align-gt-lg="row">
      <md-button class="md-primary" ng-click="updateFunding(single)">Update Funding</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
