<div id="spot-deals" class="page-layout simple fullwidth doc-page" layout="column">
  <div class="content" layout="column">
    <ms-form-wizard flex>
      <md-tabs md-no-select-click="true" md-dynamic-height md-selected="vm.selectedIndex" md-stretch-tabs="always">
        <md-tab ng-disabled="vm.selectedIndex != 0" id="tab_0">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="209.443px" height="191.991px" viewBox="0 0 209.443 191.991" enable-background="new 0 0 209.443 191.991"
	 xml:space="preserve">
<g>
	<g>
		<g>
			<g>
				<g>
					<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M104.722,74.662c-11.568,0-20.942,9.55-20.942,21.334
						c0,11.778,9.374,21.329,20.942,21.329c11.568,0,20.947-9.551,20.947-21.329C125.668,84.211,116.29,74.662,104.722,74.662
						 M104.722,53.327c23.136,0,41.889,19.106,41.889,42.668c0,23.563-18.753,42.663-41.889,42.663
						c-23.131,0-41.89-19.1-41.89-42.663C62.832,72.433,81.591,53.327,104.722,53.327 M167.559,191.991H41.89l26.706-43.63
						c9.948,7.362,22.619,11.631,36.125,11.631c13.512,0,26.183-4.269,36.13-11.631L167.559,191.991 M209.443,31.999v127.994
						l-53.298-27.201c7.225-10.135,11.414-23.039,11.414-36.795c0-13.762-4.189-26.666-11.414-36.802L209.443,31.999 M41.89,0
						h125.669l-26.707,43.623c-9.947-7.361-22.618-11.625-36.13-11.625c-13.507,0-26.178,4.264-36.125,11.625L41.89,0 M0,31.999
						l53.305,27.195C46.08,69.33,41.89,82.233,41.89,95.996c0,13.756,4.189,26.661,11.415,36.795L0,159.992V31.999"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Book Spot</span>
            </span>
          </md-tab-label>
          <md-tab-body style="background:#333;">
            <div class="show-circle-loader" ng-hide="vm.circleLoader" style="position: absolute; right: 10px;">
              <md-progress-circular class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 1 </strong><span hide-xs>-</span>
              Please select the currency and the amount then click get quote</h3>
            <form name="wizardStep1" class="md-inline-form" id="step1-form" ms-form-wizard-form
                  ng-submit="vm.step1CheckFields($event)">
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="30" flex-gt-xs="30" flex-sm="40" flex-offset="5" flex-offset-sm="0"
                                    flex-offset-xs="0">
                  <label>Currency I want to buy</label>
                  <!--{{vm.retrieve(vm.step1.currency_to_buy)}}-->
                  <!--{{vm.step1.currency_to_buy}}-->

                  <md-select ng-model="vm.step1.currency_to_buy" ng-required="true"
                             ng-change="vm.fetchFundingCurrencies(vm.step1)" ng-disabled="vm.step1_disabled">
                    <md-option ng-repeat="currency in vm.paymentCurrencies | orderBy: 'currency_name'  track by currency.currency_id "
                               value="{{ currency.currency_id }}">

                      <strong> {{ currency.currency_name }}</strong> - {{ currency.currency_description }}</span>
                    </md-option>


                  </md-select>

                </md-input-container>

                <md-input-container flex="30" flex-gt-xs="30" flex-sm="40" flex-offset-gt-sm="30" flex-offset="5"
                                    flex-offset-xs="0">
                  <label>Currency I want to sell</label>
                  <!--{{vm.fundingCurrencies}}-->
                  <md-select ng-model="vm.step1.currency_to_sell" ng-required="true"
                             ng-change="vm.fetchPaymentCurrencies(vm.step1)" ng-disabled="vm.step1_disabled">
                    <md-option ng-repeat="currency in vm.fundingCurrencies | orderBy: 'currency_name'  track by currency.currency_id "
                               value="{{ currency.currency_id }}" ng-selected="{{ currency.currency_id === '6'  }}">
                      <strong>{{ currency.currency_name}}</strong> - {{ currency.currency_description}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <!-- /flex -->
              <div layout="column" layout-gt-xs="row" flex>

                <!--<md-select ng-model="vm.number" ng-model-options="{trackBy: '$value.id'}">-->
                  <!--<md-option ng-repeat="n in vm.numbers" ng-value="n">-->
                    <!--{{ n.value }}-->
                  <!--</md-option>-->
                <!--</md-select>-->

                <md-input-container flex="10" flex-gt-xs="15" flex-sm="20" flex-offset="5" flex-offset-sm="0"
                                    flex-offset-xs="0">

                  <label>I want to</label>

                  <md-select   ng-model="vm.step1.i_want_to"  ng-required="true" style="font-size:12px">

                    <md-option value="buy" ng-selected="vm.defaultSelected">BUY ({{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }})</md-option>
                    <md-option value="sell">SELL ({{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }})
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="15" flex-gt-xs="15" flex-sm="30" flex-offset-xs="0" class="step1_amount">
                  <label>Amount</label>
                  <input type="text" autocomplete="off" ng-model="vm.step1.amount" ng-required="true" format="currency"
                         ng-keydown="vm.protectAmount($event)" ng-disabled="vm.step1_disabled">
                </md-input-container>

                <!--<md-input-container>-->
                  <!--<label>Test</label>-->
                  <!--<input type="text" ng-focus="vm.fakeAPI()">-->
                <!--</md-input-container>-->

                <md-input-container flex="30" flex-gt-xs="30" flex-offset="30" flex-sm="50" flex-offset-sm="5"
                                    flex-offset-xs="0" class="step1_value_date">
                  <label style="left:0;">Value Date</label>
                  <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today"
                         ng-keydown="vm.stopInputing($event)"
                         ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/"
                         ng-disabled="vm.step1_disabled">
                </md-input-container>
              </div>
              <!-- /flex -->
              <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column"
                   class="next-button-container">
                <md-button type="submit" class="md-primary" ng-if="vm.selectedIndex === 0" ng-click="vm.getQuote()"
                           ng-disabled="vm.disableQuote">Get Quote
                </md-button>
              </div>
            </form>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 1" md-on-select="onTabChanges(1)" id="tab_1">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="273.518px" height="191.991px" viewBox="0 0 273.518 191.991" enable-background="new 0 0 273.518 191.991"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M175.823,193.787h58.617l39.078-77.496V0.044H156.284v116.247
	h58.617L175.823,193.787 M19.525,193.787h58.616l39.063-77.496V0.044H0v116.247h58.604L19.525,193.787"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Quote</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 10px;">
              <md-progress-circular class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2 </strong><span hide-xs>-</span>
              Review the rate and click accept to book the deal</h3>
            <div layout="row" layout-xs="column" layout-align="center center" class="step2-info-box">
              <div flex="25" flex-xs="100" flex-gt-xs="50" flex-gt-sm="25" flex-offset-xs="0"
                   ng-hide="vm.hideQuoteScreen">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 custom-quote">
                    <div layout="row" layout-align="space-between none" class="rate-block">
                      <p class="left">
                        <strong>Rate</strong>
                        <span>{{ vm.temp_rate.exchange_rate | currency:"":2}}</span>
                        <small><span>Inverse rate</span>{{ (1.0/vm.temp_rate.exchange_rate) | currency:"":2}}</small>
                      </p>
                    </div>
                    <div layout="column" layout-align="space-around stretch" class="money-block">
                      <div flex>
                        <span>Amount you will receive</span>
                        <p> {{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }} {{ vm.temp_rate.buy_amount |
                          currency:"":2}}</p>
                      </div>
                      <div flex>
                        <span>Amount you will pay</span>
                        <p>{{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }} {{ vm.temp_rate.sell_amount |
                          currency:"":2}}</p>
                      </div>
                    </div>
                  </ms-widget-front>
                </ms-widget>
              </div>
              <div flex="25" flex-offset="5" flex-xs="100" flex-gt-xs="50" flex-gt-sm="25" flex-offset-xs="0"
                   ng-show="vm.hideQuoteScreen">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 custom-quote">
                    <div layout="row" layout-align="space-between none" class="rate-block">
                      <p class="left">
                        <strong>Rate</strong>
                        <span>{{ vm.temp_rate.exchange_rate | currency:"":2}}</span>
                        <small><span>Inverse rate</span>{{ (1.0/vm.temp_rate.exchange_rate) | currency:"":2}}</small>
                      </p>
                    </div>
                    <div layout="column" layout-align="space-around stretch" class="money-block">
                      <div flex>
                        <span>Amount you will receive</span>
                        <p> {{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }} {{ vm.temp_rate.buy_amount |
                          currency:"":2}}</p>
                      </div>
                      <div flex>
                        <span>Amount you will pay</span>
                        <p>{{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }} {{ vm.temp_rate.sell_amount |
                          currency:"":2}}</p>
                      </div>
                    </div>
                  </ms-widget-front>
                </ms-widget>
              </div>
              <div flex="30" flex-offset="5" flex-gt-xs="40" flex-gt-sm="30" id="circular-timer-box" hide-xs
                   ng-hide="vm.hideQuoteScreen"></div>
              <div id="linear-timer-box" hide-gt-xs ng-hide="vm.hideQuoteScreen">
                <div class="progress">
                  <div class="progress-bar" style="width: {{ vm.percent_duration + '%' }}" role="progressbar"
                       aria-valuenow="{{ vm.expires_in }}" aria-valuemin="0" aria-valuemax="60">
                    <span class="sr-only">{{ vm.expires_in }} Seconds</span> {{ vm.expires_in }} Seconds
                  </div>
                </div>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column"
                 class="next-button-container">
              <md-button class="md-primary" ng-if="vm.selectedIndex === 1" ng-click="vm.AcceptQuoteFunc()"
                         ng-disabled="vm.acceptQuoteDisable">Accept
              </md-button>
              <md-button class="md-primary md-secondary" ng-if="vm.selectedIndex === 1" ng-click="vm.DeclineQuoteFunc()"
                         ng-disabled="vm.declineQuoteDisable">Decline
              </md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 2" id="tab_2">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="246.314px" height="195.005px" viewBox="0 0 246.314 195.005" enable-background="new 0 0 246.314 195.005"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M135.472,54.847h-24.629V30.472h24.629V54.847 M135.472,109.693
	h-24.629V85.318h24.629V109.693 M135.472,164.533h-24.629v-24.375h24.629V164.533 M246.314,73.125v-48.75
	C246.314,10.917,235.297,0,221.686,0H24.629C11.084,0,0.119,10.85,0.119,24.375v48.75c13.56,0,24.51,10.971,24.51,24.381
	c0,13.404-10.95,24.375-24.629,24.375v48.748c0,13.404,11.084,24.377,24.629,24.377h197.057c13.545,0,24.629-10.973,24.629-24.377
	V121.88c-13.545,0-24.629-10.971-24.629-24.375C221.686,84.095,232.77,73.125,246.314,73.125"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Payee</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 28%;">
              <md-progress-circular class="md-accent" md-diameter="25px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 3 </strong><span hide-xs>-</span>
              Add one or more payees then click next when done</h3>
            <p class="pull-right md-text-green" hide-xs>YOUR RATE HAS BEEN CONFIRMED</p>
            <form name="wizardStep1" class="md-inline-form step3-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
                <div class="little-bit-down payee-holder" flex="30" flex-gt-sm="30" flex-xs="100" flex-gt-xs="100"
                     flex-offset="0">
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="payee_input step3_payee">

                      <label>Payee</label>
                      <input type="text" ng-model="vm.step3.payee_" ng-click="vm.showPayeeTableFunc($event)"
                             ng-keydown="vm.stopInputing($event)">
                      <!--ng-disabled="vm.step3.amount === undefined && vm.balance.amount === 0"-->
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="amount_input step3_amount">
                      <label>Amount</label>
                      <input type="text" name="amount" ng-model="vm.step3.amount" format="currency"
                             ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdatePayeeBalance($event)"
                              ng-keyup="vm.LimitPayeeAmountInt($event)"
                             >
                      <!--ng-keypress="vm.LimitPayeeAmountTotal($event)"-->
                             <!--ng-disabled="vm.step3.amount === undefined && vm.balance.amount  === 0">-->

                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0"
                                        class="payment_input step3_payment_reference">
                      <label>Payment reference</label>
                      <input type="text" name="reference" ng-keydown="vm.noSpecialCharactersFunction($event)"
                             ng-paste="vm.pasteLimit($event, 25)" ng-keypress="vm.limitLength($event, 25)"
                             ng-model="vm.step3.payment_reference">

                    </md-input-container>
                    <!--ng-disabled="vm.step3.amount === undefined && vm.balance.amount === 0">-->
                  </div>
                </div>
                <!-- /flex-row-end -->
                <div class="little-bit-down" flex="30" flex-md="30" flex-gt-sm="30" flex-offset-gt-sm="5" flex-xs="100"
                     flex-gt-xs="100" flex-offset-gt-xs="0" flex-offset="5">
                  <md-checkbox ng-init="data.expanded = false" ng-click="collapseAll(data)"
                               aria-label="No Payee Notification" class="md-secondary top-placement"
                               ng-model="vm.step_3.no_notification" *ng-if="showHelloMe">
                    Additional details
                    <span ng-class="{expandCollapse:true, active:data.expanded}"></span>
                  </md-checkbox>
                  <div ng-class="{dataContent:true, activeContent:data.expanded}">
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" style="margin-bottom: 0;"
                                          class="step3_value_date">
                        <label style="left:0;">Value date</label>
                        <input type="text" jq-date-picker=""
                               ng-model="vm.step3.value_date" min-date="today" ng-keydown="vm.stopInputing($event)"
                               ng-blur="vm.preventFocusAgain($event)"
                               ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" style="margin-top: 8px;">
                        <label>Purpose of payment</label>
                        <md-select ng-model="vm.step3.payment_purpose" >
                          <md-option ng-repeat="purpose_of_payment in vm.paymentPurposes | orderBy: 'name'"
                                     value="{{ purpose_of_payment.id }}" title="{{ purpose_of_payment.description }}"
                                     ng-required="vm.popMandate">
                            {{ purpose_of_payment.name }}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex style="margin-bottom: 8px;">
                        <label>Internal Reference</label>
                        <input type="text" name="reference"
                               ng-keydown="vm.noSpecialCharactersFunction($event)" ng-paste="vm.pasteLimit($event, 25)"
                               ng-keypress="vm.limitLength($event, 25)" ng-model="vm.step3.internal_payment_reference">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex style="margin-top: 0;">
                        <label>Payee notification email address</label>
                        <input type="text" name="reference"
                               ng-keypress="vm.limitLength($event, 100)" ng-paste="vm.pasteLimit($event, 100)"
                               ng-model="vm.step3.payment_notification_email">
                      </md-input-container>
                    </div>
                  </div>
                  <!-- /.ng-class -->
                </div>
                <!-- /flex-row-end -->
                <div flex="30" flex-md="30" flex-gt-sm="30" flex-offset-gt-sm="5" flex-xs="100" flex-offset="5"
                     flex-gt-xs="100" flex-offset-gt-xs="0" class="payment-card-detail">
                  <ms-widget flippable="true">
                    <ms-widget-front class="padding-16 custom-quote long-height">
                      <div layout="row" layout-align="space-between none" class="rate-block">
                        <p class="left">
                          <strong>Rate</strong>
                          <span>{{ vm.rate.exchange_rate || 0 | currency:"":2}}</span>
                          <small><span>Inverse rate</span>{{ (1.0/vm.rate.exchange_rate) | currency:"":2}}</small>
                        </p>
                        <p class="right">
                          <span>{{ vm.postDeal.recordnumber }}</span>
                        </p>
                      </div>
                      <div layout="column" layout-gt-xs="row" layout-gt-sm="column" layout-align="space-around stretch"
                           class="money-block">
                        <div flex flex-gt-xs="50" flex-gt-sm="100" flex-offset-gt-xs="0">
                          <!--<span>Received amount</span>-->
                          <span>Amount to receive</span>
                          <p>{{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }} {{ vm.rate.buy_amount |
                            currency:"":2}}</p>
                        </div>
                        <div flex flex-gt-xs="40" flex-offset-gt-xs="10" flex-offset-gt-sm="0" flex-gt-sm="100">
                          <span>Amount to pay</span>
                          <p>{{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell)}} {{ vm.rate.sell_amount |
                            currency:"":2}}</p>
                        </div>
                      </div>
                      <div layout="row" layout-align="space-between none" class="date-block">
                        <p class="left">
                          <span>Value date</span>
                          {{ vm.step1.value_date | date: 'MM/dd/yyyy'}}
                        </p>
                      </div>
                    </ms-widget-front>
                  </ms-widget>
                </div>
                <!-- /flex-row-end -->
                <div class="advance-data-table click-outside-and-hide" layout="row" ng-hide="vm.showPayeeTable">
                  <i class="material-icons hide-payee-table" ng-click="vm.hidePayeeTableFunc()">close</i>
                  <div flex>
                    <table ms-responsive-table>
                      <thead>
                      <tr>
                        <th>
                          <md-input-container>
                            <input type="text" ng-model="vm.payeeTable.routing" placeholder="Routing/Account Name"
                                   autocomplete="off">
                          </md-input-container>
                        </th>
                        <th>
                          <md-input-container>
                            <input type="text" ng-model="vm.payeeTable.payee_payor" placeholder="Payee/Payor"
                                   autocomplete="off">
                          </md-input-container>
                        </th>
                        <th>
                          <md-input-container>
                            <input type="text" ng-model="vm.payeeTable.bank_name" placeholder="Bank Name"
                                   autocomplete="off">
                          </md-input-container>
                        </th>
                        <th>
                          <md-input-container>
                            <md-select ng-model="vm.payeeTable.method" placeholder="Payment Method">
                              <md-option value="{{ vm.toLowerCase(method.name) }}"
                                         ng-repeat="method in vm.settlementMethods | orderBy: 'name'">{{ method.name }}
                              </md-option>
                            </md-select>
                          </md-input-container>
                        </th>
                        <th>
                          <md-input-container>
                            <md-select ng-model="vm.payeeTable.country" placeholder="Country">
                              <md-option ng-repeat="country in vm.countries | orderBy: 'country_name'"
                                         value="{{ vm.toLowerCase(country.country_name) }}">
                                {{ country.country_name }}
                              </md-option>
                            </md-select>
                          </md-input-container>
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-click="vm.payeeSelectFunc($event)"
                          ng-repeat="payee in vm.payeesList | filter: vm.routingFilter | filter: vm.payeeNameFilter | filter: vm.payeeBankFilter | filter: vm.payeeCountryFilter | filter: vm.payeeMethodFilter"
                          id="{{ payee.id }}">

                        <td>{{ payee.type }}{{payee.beneficiary_accountcode}}</td>
                        <td>{{ payee.name }}</td>
                        <td>{{ payee.beneficiarybank_name }}</td>
                        <td>{{ payee.type }}</td>
                        <td>{{ payee.country_name }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
            <div layout="row" class="next-button-container payee-balance" layout-xs="column"
                 layout-align="center center">
              <div flex="30" flex-xs="100" class="balance">
                <h3>Balance:</h3> <span>{{ vm.balance.amount || 0 | currency:""}}</span>
              </div>
              <div flex="70" flex-xs="100">
                <!--<md-button ng-class="vm.parseFloating(vm.step3.amount) < vm.parseFloating(vm.balance.copy_amount) ? (vm.parseFloating(vm.step3.amount) == 0 ? 'md-secondary':'md-primary') :'md-secondary'" ng-hide="(vm.parseFloating(vm.step3.amount) >= vm.parseFloating(vm.balance.copy_amount) || vm.parseFloating(vm.step3.amount) == 0)? true:false" ng-click="vm.addPayee()" ng-disabled="vm.SendPayeesAndDisable">Add Payee</md-button>-->
                <!--<md-button ng-class="vm.parseFloating(vm.step3.amount) == vm.parseFloating(vm.balance.copy_amount) ? 'md-primary': (vm.step3.amount == null ? 'md-primary': (vm.parseFloating(vm.step3.amount) > vm.parseFloating(vm.balance.copy_amount) ? 'md-primary': 'md-secondary'))" ng-hide="vm.step3.amount == '' ?  true: vm.parseFloating(vm.step3.amount) == vm.parseFloating(vm.balance.copy_amount) ? false: (vm.step3.amount == null ? false: (vm.parseFloating(vm.step3.amount) > vm.parseFloating(vm.balance.copy_amount) ? false: true))" ng-click="vm.addPayeeTotal()" ng-disabled="vm.SendPayeesAndDisable">Next</md-button>-->
                <md-button class="md-primary"  ng-if="vm.verifyRecord(vm.step3.amount, vm.balance.copy_amount)"
                           ng-click="vm.addPayee()">Add Payee
                </md-button>
                <md-button class="md-primary" ng-if="!vm.verifyRecord(vm.step3.amount, vm.balance.copy_amount)"
                           ng-click="vm.addPayeeTotal()">Next
                </md-button>
                <!--vm.step3.amount > 0 && vm.step3.amount < vm.quote_copy.amount-->

              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 3">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="101.672px" height="193.615px" viewBox="0 0 101.672 193.615" enable-background="new 0 0 101.672 193.615"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M101.672,128.028c0,11.025-3.436,20.515-10.299,28.477
	c-6.873,7.962-15.828,12.881-26.885,14.762v18.881c0,1.02-0.316,1.855-0.936,2.502c-0.609,0.646-1.387,0.966-2.322,0.966h-14.02
	c-0.926,0-1.705-0.351-2.324-1.05s-0.955-1.503-1.008-2.418v-18.881c-4.594-0.641-9.02-1.771-13.254-3.385
	c-4.235-1.613-7.747-3.199-10.531-4.761c-2.786-1.561-5.351-3.312-7.673-5.244c-2.322-1.935-3.921-3.28-4.802-4.036
	c-0.884-0.752-1.493-1.398-1.86-1.934c-1.135-1.504-1.188-2.985-0.158-4.436L16.3,132.867c0.462-0.698,1.24-1.13,2.322-1.292
	c1.031-0.105,1.881,0.216,2.554,0.973l0.158,0.242c7.849,7.151,16.269,11.64,25.253,13.473c2.533,0.589,5.088,0.883,7.674,0.883
	c5.58,0,10.51-1.529,14.797-4.598c4.291-3.064,6.4-7.473,6.348-13.227c0-1.992-0.514-3.9-1.543-5.729
	c-1.031-1.829-2.197-3.337-3.49-4.519c-1.293-1.184-3.299-2.527-6.043-4.035c-2.732-1.505-5.033-2.66-6.895-3.469
	c-1.859-0.805-4.625-1.987-8.293-3.548c-2.678-1.13-4.803-2.019-6.348-2.665c-1.555-0.646-3.699-1.612-6.432-2.904
	c-2.744-1.288-4.877-2.393-6.432-3.307c-1.545-0.914-3.51-2.208-5.887-3.872c-2.375-1.667-4.234-3.201-5.58-4.599
	c-1.344-1.397-2.837-3.148-4.499-5.244c-1.649-2.097-2.857-4.193-3.636-6.291c-0.776-2.096-1.522-4.494-2.248-7.184
	c-0.716-2.685-1.008-5.507-0.853-8.471c0-9.895,3.385-18.607,10.153-26.138c6.768-7.525,15.596-12.339,26.497-14.441V3.468
	c0-0.972,0.334-1.775,1.008-2.422C45.559,0.4,46.338,0.053,47.211,0h14.02c0.936,0,1.713,0.321,2.322,0.967
	c0.619,0.646,0.936,1.476,0.936,2.501v19.039c3.975,0.432,7.797,1.235,11.467,2.417c3.668,1.189,6.684,2.397,9.059,3.632
	s4.572,2.581,6.59,4.036c2.018,1.45,3.354,2.501,4.025,3.148c0.674,0.641,1.188,1.155,1.557,1.529
	c1.188,1.293,1.365,2.664,0.535,4.115l-8.439,15.732c-0.516,1.131-1.293,1.719-2.322,1.777c-0.986,0.21-1.945-0.032-2.871-0.731
	c-0.209-0.215-0.691-0.673-1.469-1.371c-0.779-0.699-2.125-1.64-4.027-2.822c-1.912-1.183-3.949-2.339-6.127-3.468
	c-2.166-1.13-4.729-2.071-7.672-2.822c-2.943-0.757-5.906-1.157-8.9-1.215c-6.57,0-11.908,1.536-16.041,4.599
	c-4.129,3.069-6.232,7.073-6.273,12.024c0,1.881,0.307,3.604,0.926,5.16c0.619,1.561,1.629,3.069,3.027,4.519
	c1.387,1.451,2.752,2.639,4.098,3.548c1.346,0.914,3.279,2.045,5.813,3.389c2.533,1.346,4.625,2.313,6.273,2.906
	c1.66,0.588,4.076,1.587,7.283,2.986c3.67,1.397,6.465,2.527,8.367,3.389c1.912,0.861,4.551,2.123,7.902,3.789
	c3.363,1.665,5.971,3.199,7.83,4.598c1.861,1.399,4.004,3.201,6.434,5.408c2.428,2.202,4.256,4.492,5.496,6.857
	c1.24,2.364,2.322,5.107,3.26,8.229C101.209,120.98,101.672,124.371,101.672,128.028"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Funding</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 28%;">
              <md-progress-circular class="md-accent" md-diameter="25px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 4 </strong><span hide-xs>-</span>
              Add one or more funding methods then click next when done</h3>
            <!-- <p class="pull-right md-text-dark-green" hide-xs>Your rate has been confirmed.</p> -->
            <p class="pull-right md-text-green" hide-xs>YOUR RATE HAS BEEN CONFIRMED</p>
            <form name="wizardStep1" class="md-inline-form step4-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
                <div flex="40" flex-offset="0" flex-gt-sm="40" flex-xs="90" flex-gt-xs="100" flex-offset-gt-xs="0"
                     class="funding-payee-block">
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="step4_method_input">
                      <label>Methods</label>
                      <md-select ng-model="vm.step4.method"
                                 ng-change="vm.PickAccount(vm.step4)">
                        <!--ng-disabled="vm.step4.amount == null ? true: false"-->
                        <md-option ng-repeat="method in vm.methods | orderBy: 'name'" value="{{ method.id }}">
                          {{ method.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0"
                                        style="margin-bottom: 0; z-index: 2;">
                      <label>Amount</label>
                      <!--<input type="text" name="amount" ng-required="true" ng-model="vm.step4.amount" format="currency"-->
                              <!--ng-change="vm.UpdateFundingBalance()"-->
                             <!--ng-keypress="vm.protectAmount($event)"-->
                            <!--&gt;-->

                      <!--<input type="text" name="amount" ng-model="vm.step4.amount" format="currency" ng-required="true"-->
                             <!--ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateFundingBalance($event)"-->
                             <!--ng-keypress="vm.LimitFundingAmountTotal($event)" ng-keyup="vm.LimitFundingAmountTotal($event)"-->

                      <!--&gt;-->
                      <input type="text" name="amount" ng-model="vm.step4.amount" format="currency"
                             ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateFundingBalance($event)"
                             ng-keypress="vm.LimitFundingAmountTotal($event)"

                      >
                      <!--ng-keydown="vm.protectAmount($event)"-->
                      <!--ng-keydown="vm.protectAmount($event)"-->
                      <!--ng-keypress="vm.LimitFundingAmountTotal($event)"-->
                      <!--ng-keyup="vm.LimitFundingAmountInt($event)"-->
                             <!--&lt;!&ndash;ng-disabled="vm.step4.amount == null ? true: false">&#45;&#45;-->

                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" style="margin-top: 12px;">
                      <label>Account picker</label>
                      <md-select ng-model="vm.step4.account_picker">
                        <md-option ng-repeat="account in vm.accounts | orderBy: 'name'" value="{{ account.id }}">
                          {{ account.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <!-- /flex-row-end -->
                <div flex="30" flex-offset="30" flex-gt-sm="30" flex-offset-gt-sm="30" flex-xs="90" flex-gt-xs="100"
                     flex-offset-gt-xs="0" flex-offset-xs="0" class="payment-card-detail funding-card">
                  <ms-widget flippable="true">
                    <ms-widget-front class="padding-16 custom-quote long-height">
                      <div layout="row" layout-align="space-between none" class="rate-block">
                        <p class="left">
                          <strong>Rate</strong>
                          <span>{{ vm.rate.exchange_rate | currency:"":2}}</span>
                          <small><span>Inverse rate</span>{{ (1.0/vm.rate.exchange_rate) | currency:"":2}}</small>
                        </p>
                        <p class="right">
                          <span>{{ vm.postDeal.recordnumber }}</span>
                        </p>
                      </div>
                      <div layout="column" layout-gt-xs="row" layout-gt-sm="column" layout-align="space-around stretch"
                           class="money-block">
                        <div flex flex-gt-xs="50" flex-gt-sm="100" flex-offset-gt-xs="0">
                          <!--<span>Received amount</span>-->
                          <span>Amount to receive</span>
                          <p>{{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }} {{ vm.rate.buy_amount || 0 |
                            currency:"" }}</p>
                        </div>
                        <div flex flex-gt-xs="40" flex-offset-gt-xs="10" flex-offset-gt-sm="0" flex-gt-sm="100">
                          <span>Amount to pay</span>
                          <p>{{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }} {{ vm.rate.sell_amount || 0 |
                            currency:"" }}</p>
                        </div>
                      </div>
                      <div layout="row" layout-align="space-between none" class="date-block">
                        <p class="left">
                          <span>Value date</span>
                          {{ vm.step1.value_date | date: 'MM/dd/yyyy'}}
                        </p>
                      </div>
                    </ms-widget-front>
                  </ms-widget>
                </div>
                <!-- /flex-row-end -->
              </div>
            </form>
            <div layout="row" layout-xs="column" layout-align="center center"
                 class="next-button-container funding-balance">
              <div flex="30" flex-xs="100" class="balance">
                <h3>Balance:</h3> <span>{{ vm.funding_balance.amount || 0 | currency:""}}</span>
              </div>
              <div flex="70" flex-xs="100">
                <!--<md-button-->
                  <!--ng-class="vm.parseFloating(vm.step4.amount) < vm.parseFloating(vm.funding_balance.copy_amount) ? (vm.parseFloating(vm.step4.amount) == 0 ? 'md-secondary':'md-primary') :'md-secondary'"-->
                  <!--ng-hide="(vm.parseFloating(vm.step4.amount) >= vm.parseFloating(vm.funding_balance.copy_amount) || vm.parseFloating(vm.step4.amount) == 0)? true:false"-->
                  <!--ng-click="vm.addFundingRecord(vm.step4)" ng-disabled="vm.SendFundingAndDisable">Add Funding-->
                <!--</md-button>-->
                <!--<md-button class="md-primary" ng-show="vm.customShow" ng-click="vm.addTotalFundingRecord(vm.step4)">-->
                  <!--Next-->
                <!--</md-button>-->
                <md-button class="md-primary"  ng-if="vm.verifyRecord(vm.step4.amount, vm.funding_balance.copy_amount)"
                           ng-click="vm.addFundingRecord(vm.step4)">Add Funding
                </md-button>
                <md-button class="md-primary" ng-if="!vm.verifyRecord(vm.step4.amount, vm.funding_balance.copy_amount)"
                           ng-click="vm.addTotalFundingRecord(vm.step4)">Next
                </md-button>
                <!--<md-button-->
                  <!--ng-class="vm.parseFloating(vm.step4.amount) == vm.parseFloating(vm.funding_balance.copy_amount) ? 'md-primary': (vm.step4.amount == null ? 'md-primary': (vm.parseFloating(vm.step4.amount) > vm.parseFloating(vm.rate.sell_amount) ? 'md-primary' : 'md-secondary'))"-->
                  <!--ng-hide="vm.step4.amount == '' ? true: vm.parseFloating(vm.step4.amount) == vm.parseFloating(vm.funding_balance.copy_amount) ? false: (vm.step4.amount == null ? false: (vm.parseFloating(vm.step4.amount) > vm.parseFloating(vm.funding_balance.copy_amount) ? false : true))"-->
                  <!--ng-show="vm.customShow" ng-click="vm.addTotalFundingRecord(vm.step4)"-->
                  <!--ng-disabled="vm.SendFundingAndDisable">Next-->
                <!--</md-button>-->
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 4">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="172.305px" height="196.394px" viewBox="0 0 172.305 196.394" enable-background="new 0 0 172.305 196.394"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M154.27,178.602V54.004H55.094v53.404H37.06V54.004
	c0-9.82,8.075-17.791,18.034-17.791h99.176c9.959,0,18.035,7.971,18.035,17.791v124.598c0,9.82-8.076,17.791-18.035,17.791H55.094
	c-9.959,0-18.034-7.971-18.034-17.791v-17.801h18.034v17.801H154.27 M82.141,142.999H19.024C9.065,142.999,1,135.03,1,125.209
	V18.413C1,8.583,9.065,0.611,19.024,0.611h108.198v17.802H19.024v106.796h63.116v-17.801l36.07,26.695l-36.07,26.697V142.999"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Approval</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 10px;">
              <md-progress-circular class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 5 </strong><span hide-xs>-</span>
              Please review the deal details and click approve</h3>
            <div layout="row" layout-xs="column" class="payment-detail">
              <div flex flex-xs="30">
                <p>Deal number <span>{{ vm.postDeal.recordnumber }}</span></p>
              </div>
              <div flex flex-xs="20">
                <p>Rate <span>{{ vm.rate.exchange_rate | currency: "":5}}</span></p>
              </div>
              <div flex flex-xs="50">
                <p>Value date <span>{{ vm.step1.value_date | date: 'MM/dd/yyyy'}}</span></p>
              </div>
              <div flex flex-xs="50">
                <p>Amount you will receive<span>{{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }} {{ vm.rate.buy_amount | currency:""}}</span>
                </p>
              </div>
              <div flex flex-xs="50">
                <p>Amount to pay <span>{{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }} {{ vm.rate.sell_amount | currency:""}}</span>
                </p>
              </div>
            </div>
            <!-- Beneficiary Details -->
            <div layout="row" layout-xs="row" layout-wrap class="details-block">
              <div flex="100" class="heading-block">
                <h3>Payee details</h3>
              </div>
              <div flex="100" class="details-table">
                <table class="mdl-data-table">
                  <tbody ng-show="vm.payees.length == 0" class="empty-row">
                  <tr>
                    <td colspan="7">No Details added.</td>
                  </tr>
                  </tbody>
                  <tbody ng-show="vm.payees.length > 0">
                  <tr ng-repeat="payee in vm.payees track by $index">
                    <td>
                      {{ $index+1 }} - {{ payee.payee_ | limitTo: 25}}
                      <span class="method {{ vm.replaceWith(vm.toLowerCase(payee.type), '-') }}">{{ vm.toUpperCase(payee.type) }}</span>
                    </td>
                    <td><strong>Amount:</strong>
                      {{ payee.amount | currency:"":2 }}
                      <span class="currency {{ vm.toLowerCase(payee.currency_name) }}">{{ vm.toUpperCase(payee.currency_name) }}</span>
                    </td>
                    <td><strong>Fee:</strong> <span>{{ payee.fee | currency:"":2 }}</span></td>
                    <td><strong>Total:</strong> <span>{{  vm.getSingleBeneficiary(payee) | currency:"":2 }}</span></td>
                    <td><strong>Rate:</strong> <span>{{ vm.rate.exchange_rate | currency:"":2 }}</span></td>
                    <td style="text-transform: uppercase; font-weight: 400;"><strong style="margin-right: 5px">Ref:</strong>{{ payee.payment_reference }}</td>
                    <td><strong style="margin-right: 5px">Date:</strong>{{ payee.value_date | date: 'MM/dd/yyyy'}}</td>
                  </tr>
                  </tbody>
                  <tfoot style="display:none;">
                  <tr>
                    <td></td>
                    <td>{{ vm.getTotalBeneficiaryAmount() | currency:"$" }}</td>
                    <td>{{ vm.getTotalBeneficiaryFee() | currency:"$" }}</td>
                    <td colspan="4">{{ vm.getTotalBeneficiary() | currency:"$" }}</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <!-- Funding Summary -->
            <div layout="row" layout-xs="row" layout-wrap class="details-block">
              <div flex="100" class="heading-block">
                <h3>Funding details</h3>
              </div>
              <div flex="100" class="details-table funding-table">
                <table class="mdl-data-table">
                  <tbody ng-show="vm.fundings.length == 0" class="empty-row">
                  <tr>
                    <td colspan="7">No Details added.</td>
                  </tr>
                  </tbody>
                  <tbody ng-show="vm.fundings.length > 0">
                  <tr ng-repeat="funding in vm.fundings track by $index">
                    <td colspan="6">
                      {{ $index+1 }} - {{ vm.toUpperCase(funding.payee_) }}
                      <span class="method {{ vm.replaceWith(vm.toLowerCase(vm.getMethodName(funding.method)), '-') }}">{{ vm.toUpperCase(vm.getMethodName(funding.method)) }}</span>
                    </td>
                    <td><strong>Amount:</strong>
                      {{ funding.amount | currency:"" }}
                      <span
                        class="currency {{ vm.toLowerCase(funding.currency_name) }}">{{ funding.currency_name }}</span>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot style="display:none;">
                  <tr>
                    <td colspan="6"></td>
                    <td style="text-align: right;">{{ vm.getTotalFundingAmount() | currency:"$" }}</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="center center" class="next-button-container">

              <md-button class="md-primary" ng-if="vm.selectedIndex === 4" ng-mouseover="vm.showPopOverFunc()"
                         ng-hide="vm.skipApprovalStep == true" ng-mouseleave="vm.showPopLeaveFunc()"
                         ng-click="vm.approveNow()">Approve <span>{{ vm.approvalCounter }} / {{ vm.approvalPolicy[0].approval_level }}</span>
              </md-button>
              <md-button class="md-outline" ng-if="vm.selectedIndex === 4" ng-click="vm.UpdateDeal()"
                         ng-show="vm.ApprovalNext || (vm.skipApprovalStep == true)">Next
              </md-button>
              <md-button class="md-primary md-secondary" ng-if="vm.selectedIndex === 4" ng-click="vm.ApprovalPrevious()"
                         ng-show="vm.approvalCounter <= 0 ">Previous
              </md-button>
              <div class="popup" ng-hide="vm.showPopOver">
                <span>{{ vm.popover.title }}</span>
                <table ms-responsive-table>
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-hide="vm.Approvals != 0">
                    <td colspan="3">No approval records.</td>
                  </tr>
                  <tr ng-repeat="approval in vm.Approvals track by $index">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ vm.toUpperCase(approval.user_name) }}</td>
                    <td>{{ approval.approval_date | date: 'MM/dd/yyyy h:mm:ss a'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 5">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="258.229px" height="193.647px" viewBox="0 0 258.229 193.647" enable-background="new 0 0 258.229 193.647"
	 xml:space="preserve">
<polyline fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="82.156,153.211 20.535,92.515 0,112.741 82.156,193.678
	258.229,20.242 237.693,0 82.156,153.211 "/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Confirmation</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 10px;">
              <md-progress-circular class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 6 </strong><span hide-xs>-</span>
              Confirmation summary</h3>
            <div layout="row" layout-xs="column" class="payment-detail">
              <div flex flex-xs="30">
                <p>Deal number <span>{{ vm.finalDeal.recordnumber }}</span></p>
              </div>
              <div flex flex-xs="20">
                <p>Rate <span>{{ vm.rate.exchange_rate | currency:"":2}}</span></p>
              </div>
              <div flex flex-xs="50">
                <p>Value date <span>{{ vm.step1.value_date | date: 'MM/dd/yyyy'}}</span></p>
              </div>
              <div flex flex-xs="50">
                <p>Amount you will receive <span>{{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }} {{ vm.rate.buy_amount | currency:"" }}</span>
                </p>
              </div>
              <div flex flex-xs="50">
                <p>Amount to pay <span>{{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }} {{ vm.rate.sell_amount | currency:"" }}</span>
                </p>
              </div>
            </div>
            <!-- Beneficiary Details -->
            <div layout="row" layout-xs="row" layout-wrap class="details-block step6-payee-details">
              <div flex="100" class="heading-block">
                <h3>Payee details</h3>
              </div>
              <div flex="100" class="details-table">
                <table class="mdl-data-table">
                  <tbody ng-show="vm.payees.length == 0" class="empty-row">
                  <tr>
                    <td colspan="8">No Details added.</td>
                  </tr>
                  </tbody>
                  <tbody ng-show="vm.payees.length > 0">
                  <tr ng-repeat="payee in vm.payees track by $index">
                    <td>
                      {{ $index+1 }} - {{ payee.payee_ | limitTo: 25 }}
                      <span class="method {{ vm.replaceWith(vm.toLowerCase(payee.type), '-') }}">{{ vm.toUpperCase(payee.type) }}</span>
                    </td>
                    <td>
                      {{ payee.amount | currency:"":2 }}
                      <span class="currency {{ vm.toLowerCase(payee.currency_name) }}">{{ vm.toUpperCase(payee.currency_name) }}</span>
                    </td>
                    <td><strong>Fee:</strong> <span>{{ payee.fee | currency:"":2 }}</span></td>
                    <td><strong>Total:</strong> <span>{{  vm.getSingleBeneficiary(payee) | currency:"":2 }}</span></td>
                    <td><strong>Rate:</strong> <span>{{ vm.rate.exchange_rate | currency:"":2 }}</span></td>
                    <td style="text-transform: uppercase; font-weight: 400;">{{ payee.payment_reference }}</td>
                    <td>{{payee.value_date | date: 'MM/dd/yyyy'}}</td>
                    <td style="text-align: right">
                      <div class="print-btn-block" ng-repeat="method in vm.allElectronicMethods">
                        <a ng-if="payee.paymentmethod == method.id" class="print-btn"
                           ng-click="vm.printSettlement(payee)"><i class="fa fa-print"></i></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot ng-show="vm.payees.length > 0">
                  <tr>
                    <td>Grand Total</td>
                    <td>{{ vm.getTotalBeneficiaryAmount() | currency:"":2 }}</td>
                    <td>{{ vm.getTotalBeneficiaryFee() | currency:"":2 }}</td>
                    <td colspan="5">{{ vm.getTotalBeneficiary() | currency:"":2 }}</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <!-- Funding Summary -->
            <div layout="row" layout-xs="row" layout-wrap class="details-block step6-funding-details">
              <div flex="100" class="heading-block">
                <h3>Funding details</h3>
              </div>
              <div flex="100" class="details-table funding-table">
                <table class="mdl-data-table">
                  <tbody ng-show="vm.fundings.length == 0" class="empty-row">
                  <tr>
                    <td colspan="2">No Details added.</td>
                  </tr>
                  </tbody>
                  <tbody ng-show="vm.fundings.length > 0">
                  <tr ng-repeat="funding in vm.fundings track by $index">
                    <td colspan="6">
                      {{$index+1}} - {{ vm.toUpperCase(funding.payee_) }}
                      <span class="method {{ vm.replaceWith(vm.toLowerCase(vm.getMethodName(funding.method)), '-') }}">{{ vm.toUpperCase(vm.getMethodName(funding.method)) }}</span>
                    </td>
                    <td>
                      {{ funding.amount | currency:"":2 }}
                      <span class="currency {{ vm.toLowerCase(funding.currency_name) }}">{{ vm.toUpperCase(funding.currency_name) }}</span>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot ng-show="vm.fundings.length > 0">
                  <tr>
                    <td colspan="6">Grand Total</td>
                    <td style="text-align: right;">{{ vm.getTotalFundingAmount() | currency:"":2 }}</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="center center" class="next-button-container">
              <md-button class="md-primary" ng-if="vm.selectedIndex === 5" ng-click="vm.doneFunc()">Done</md-button>
              <md-button class="md-outline" ng-if="vm.selectedIndex === 5">
                <a href="javascript:;" ng-click="vm.printDeal()"><i class="material-icons">print</i> Print</a>
              </md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
      </md-tabs>
    </ms-form-wizard>
  </div>
  <!-- /.content -->
  <div class="modern-data-tables-summary spot-deal-datatable" layout="column" layout-align="center stretch">
    <div flex="100" id="payees" ng-if="vm.payees.length > 0 && vm.selectedIndex < 3">
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Fee</th>
          <th>Reference</th>
          <th>Value Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="payee in vm.payees track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ payee.name | limitTo: 25 }} <span class="method {{ payee.type | lowercase | filter:'dashes' }}">{{ payee.type | uppercase }}</span></td>
          <td><div class="amount">{{ payee.amount | currency:"":2 }} <span class="currency {{ payee.currency_name | lowercase }}">{{ payee.currency_name | uppercase }}</span></div></td>
          <td><div class="amount">{{ payee.fee | currency:"":2 }}</div></td>
          <td>{{ payee.payment_reference }}</td>
          <td>{{ payee.value_date | date: 'MM/dd/yyyy'}}</td>
          <td>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="vm.editPayee(payee)">
                    <ion-icon></ion-icon>
                    <span md-menu-align-target=""><i class="material-icons">edit</i> Edit</span></md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.deletePayee(payee, $index)"><span md-menu-align-target=""><i class="material-icons">delete</i> Delete</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div flex="100" id="fundings" ng-if="vm.fundings.length > 0 && vm.selectedIndex < 4" >
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Fee</th>
          <th colspan="2">Value Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="funding in vm.fundings track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ funding.name | limitTo: 25 }} <span class="method {{ funding.method | lowercase | filter:'dashes' }}">{{ funding.method | uppercase }}</span></td>
          <td><div class="amount">{{ funding.amount | currency:"":2 }} <span class="currency {{ funding.currency_name | lowercase }}">{{ funding.currency_name | uppercase }}</span></div></td>
          <td><div class="amount">{{ funding.fee | currency:"":2 }}</div></td>
          <td colspan="2">{{ funding.value_date | date: 'MM/dd/yyyy'}}</td>
          <td>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="vm.editFunding(funding)">
                    <ion-icon></ion-icon>
                    <span md-menu-align-target=""><i class="material-icons">edit</i> Edit</span></md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.deleteFunding(funding, $index)"><span md-menu-align-target=""><i class="material-icons">delete</i> Delete</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.data-table -->
</div>
