#spot-deals{
  .spot-deal-datatable{
    margin-left: 4.8%;
    margin-right: 4.4%;
  }
  .show-loader{
    z-index: 100;
  }
  .next-button-container{
    position: relative;
    z-index: 1;
  }
  .content.layout-column,
  .data-table.layout-column{
    display: block;
  }
  form#step1-form{
    padding: 24px 0 0 0;
  }
  button{
    font-size: 12px;
  }
  //progress bar
  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
  }
  .progress-striped .progress-bar,
  .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
  .progress.active .progress-bar,
  .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
  }
  .progress-bar-success {
    background-color: #5cb85c;
  }
  .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-info {
    background-color: #5bc0de;
  }
  .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-warning {
    background-color: #f0ad4e;
  }
  .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-danger {
    background-color: #d9534f;
  }
  .progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .step1_value_date,
  .step3_value_date{
    cursor: pointer;
  }
  #linear-timer-box{
    width: 90%;
  }
  tbody.empty-row{
   td{
     border-bottom: 1px solid #E8E8E8;
   }
  }
  .md-button a{
    text-decoration: none;
    i.material-icons{
      color: #0C59CF;
    }
    color: #0C59CF;
  }
  .popup{
    position: absolute;
    top: -13em;
    left: 30%;
    background-color: #fff;
    color: #333;
    width: 30%;
    padding: 1em;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    span {
      display: block;
      font-weight: 700;
      width: 100%;
      text-align: center;
      color: #0C59CF;
      font-size: 1.1em;
    }
    table{
      margin-top: 5px;
      border-collapse: collapse;
      width: 100%;
      td,th{
        white-space: nowrap;
        border-bottom: 1px solid #f0f3f4;
        padding: 4px;
      }
    }
  }
  md-tabs md-tabs-content-wrapper{
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    margin: 10px 6px 6px 6px;
  }
  md-tabs,
  ms-form-wizard{
    background: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tabs-wrapper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tab-content{
    background: #fff;
    margin-top: 2%;
  }
  .icon-circle, .icon-circle-large, .icon-circle-small{
    position: relative;
    display: inline-block;
    margin: -1px;
    width: 45px;
    height: 45px;
    font-size:40px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align:center;
  }
  .icon-circle-large {
    width: 100px;
    height: 100px;
    font-size: 64px;
    padding: 16px;
  }
  .icon-circle-small {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
  .icon-circle-outline {
    border: 1px solid rgb(0, 161, 225);
    background: transparent;
    color: rgb(0, 161, 225);
  }
  .icon-circle-outline i {  }
  .item-icon-circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align:center;
    color:white;
  }
  .item-icon-circle i {
    font-size:60px;
  }
  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .md-tab{
    padding-top: 6px;
  }
  .md-tab:nth-child(1){
    padding-left: 8px;
    .ms-form-wizard-step-label{
      padding-left: 0;
    }
  }
  .md-tab:nth-child(6){
    width: 0;
    max-width: none !important;
    padding-right: 50px;
    .ms-form-wizard-step-label{
      padding-right: 0;
    }
  }
  .ms-form-wizard-step-label{
    color: #00C8F8;
    background: none;
    .ms-form-wizard-step-icon {
      display: block;
      .icon-circle{
        color: #00C8F8;
        border-color: #00C8F8;
        background: #fff;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#00C8F8;
          }

        }
      }
    }
    .ms-form-wizard-step-text{
      display: block;
      text-transform: none;
    }
  }
  md-tab-item{
    position: relative;
  }
  md-tab-item::after{
    content: '';
    display: block;
    position: absolute;
    top: 36%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 36%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item:first-of-type::before{
    content: '';
    display: none;
  }
  md-tab-item:last-of-type::after{
    display:none;
    content:'';
  }
  md-tab-item:not(.md-active){
    .ms-form-wizard-step-label{
      color: #B8B8B8 !important;
      .icon-circle{
        color: #B8B8B8 !important;
        border-color: #fff !important;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#AAAAAA;
          }
        }
      }
    }
  }
  md-tab-item:not(.md-active):after{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item:not(.md-active):before{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item.md-active{
    .icon-circle{
      background: transparent !important;
    }
  }
  md-tab-item.md-previous{
    .ms-form-wizard-step-label{
      color: #3D8AF7 !important;
      background: none;
      .ms-form-wizard-step-icon {
        .icon-circle{
          color: #fff;
          border-color: #3D8AF7 !important;
          background: #3D8AF7 !important;
          .icon-svg{
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
            top: 0;
            path,
            polyline{
              fill: #fff;
            }
          }
        }
      }
    }
    &:after{
      border-bottom: 3px solid #3D8AF7;
    }
    &:before{
      border-bottom: 3px solid #3D8AF7;
    }
    &:first-of-type::before{
      display:none;
      content:'';
    }
  }
  md-tabs{
    h3.md-text-accent{
      color: #555 !important;
      margin-left: 15px;
      font-size: 1.4em;
      padding-bottom: 1.2em;
      margin-right: 0.7em;
      margin-bottom: 5px;
      border-bottom: 2px solid #D8D8D8;
      strong{
        color: #606070 !important;
      }
    }
    md-input-container label{
      font-weight: bold !important;
    }
    md-input-container md-select,
    md-input-container input,
    md-input-container md-select md-option{
      font-weight: bold;
    }
    .next-button-container{
      background: #EBEBEB;
      border-top: 1px solid #DCDCDC;
      button.md-primary{
        background: #0C59CF !important;
        color: #fff;
      }
      input.md-primary{
        background: #0C59CF !important;
        color: #fff;
      }
      button.md-secondary{
        background: #606060 !important;
        color: #fff;
      }
    }
    md-datepicker{
      position: relative;
    }
    md-datepicker .md-datepicker-input-container{
      width: 100%;
      margin-left: 0;
      .md-icon-button{
        display: none;
      }
    }
    md-datepicker > button{
      position: absolute;
      top: -18px;
      right: 8px;
    }
  }
  .ms-form-wizard-form{
    padding-bottom: 0;
  }
  .custom-quote.long-height{
    height: 21em;
    .money-block{
      height: 10.5em;
    }
  }
  .custom-quote{
    background-color: #F7F6F6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    height: 17em;
    .rate-block{
      background-color: #FBFAFA;
      padding: 0 16px 16px 16px;
      border-bottom: none;
      border-top: 1px solid rgba(215, 214, 214, .80);
      border-left: 1px solid rgba(215, 214, 214, .80);
      border-right: 1px solid rgba(215, 214, 214, .80);
      p.left{
        position: relative;
        margin-bottom: 5px;
        margin-top: 8px;
        padding-bottom: 3.5em;
        & > *{
          position: absolute;
          top: 0;
          left:0;
        }
        & > strong{
          font-weight: normal;
          font-size: 0.90em;
          color: #929292;
          font-style: italic;
        }
        & > span{
          top: 14px;
          font-size: 1.8em;
          margin-top: 5px;
        }
        & > small{
          font-style: italic;
          top: 30px;
          font-size: 11px;
          width: 110px;
          padding-top: 17px;
          span{
            padding-right: 4px;
          }
        }
      }
    }
    .money-block{
      padding: 10px 16px 0 16px;
      height: 9.5em;
      span{
        font-size: 0.90em;
        color: #929292;
        font-style: italic;
      }
      p{
        font-size: 1.8em;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      & > div:nth-child(1) > p{
        color: #00A4D3;
      }
      p:nth-child(2){
        color: #72BB53;
      }
    }
  }
  .top-placement{
    position: absolute;
    top: -12px;
  }
  .payment-card-detail{
    position: relative;
    top: -36px;
  }
  .payment-card-detail.funding-card{
    position: relative;
    top: -44px;
  }
  .funding-payee-block{
    //margin-top: 3%;
  }
  .dataContent:not(.activeContent){
    display: none;
  }
  .date-block{
    padding: 8px 8px 8px 16px;
    background-color: #FBFAFA;
    border-top: none;
    border-bottom: 1px solid rgba(215, 214, 214, .80);
    border-left: 1px solid rgba(215, 214, 214, .80);
    border-right: 1px solid rgba(215, 214, 214, .80);
    span{
      color: #959595;
      font-style: italic;
      font-weight: normal;
    }
    color: #636060;
    font-weight: bold;
  }
  .next-button-container{
    .left{
      float: left;
      padding-left: 20px;
      margin-top: -10px;
    }
    .balance *{
      display: inline-block;
      padding: 2px;
      color: #3D97F2;
      font-size: 20px;
    }
    .balance{
      h3{
        font-weight: bold;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }
  .md-text-green.pull-right{
    color: #13F22D;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
    margin-top: 21px;
  }
  .md-text-dark-green.pull-right{
    color: #8AC059;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    font-size: 13px;
    font-style: italic;
    margin-top: 21px;
  }
  .data-table{
    padding: 10px 28px 10px 28px;
  }
  .data-table table.mdl-data-table,
  .details-block table.mdl-data-table{
    border-collapse: collapse;
  }
  .data-table table.mdl-data-table tr th,
  .data-table table.mdl-data-table tr th,
  .details-block table.mdl-data-table tr td,
  .details-block table.mdl-data-table tr td{
    padding: 8px 8px 8px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.117647);
    font-size: 13px;
    color: #333;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    border: none;
  }
  .details-block table.mdl-data-table tr:not(:last-child){
    -webkit-box-shadow:  0 2px 1px -1px grey;
    -moz-box-shadow: 0 2px 1px -1px grey;
    box-shadow: 0 2px 1px -1px grey;
  }
  .details-block table.mdl-data-table tr td,
  .details-block table.mdl-data-table tr td{
    padding: 10px 4px 10px 4px;
    white-space: nowrap;
  }
  .data-table table.mdl-data-table tr:first-child th,
  .data-table table.mdl-data-table tr:first-child td,
  .details-block table.mdl-data-table tr:first-child th,
  .details-block table.mdl-data-table tr:first-child td{
    border:none;
  }
  .data-table table.mdl-data-table tr th:first-child,
  .data-table table.mdl-data-table tr td:first-child,
  .details-block table.mdl-data-table tr th:first-child,
  .details-block table.mdl-data-table tr td:first-child{
    padding-left: 8px;
  }
  .data-table table.mdl-data-table td span.method,
  .data-table table.mdl-data-table th span.method,
  .details-block table.mdl-data-table td span.method,
  .details-block table.mdl-data-table th span.method{
    font-size: 10px;
    color: #fff;
    background-color: #555;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    top: -2px;
  }
  .data-table table.mdl-data-table td span.method.bill,
  .data-table table.mdl-data-table th span.method.bill,
  .details-block table.mdl-data-table td span.method.bill,
  .details-block table.mdl-data-table th span.method.bill{
    background-color: #FFA834;
  }
  .data-table table.mdl-data-table td span.method.wire,
  .data-table table.mdl-data-table th span.method.wire,
  .details-block table.mdl-data-table td span.method.wire,
  .details-block table.mdl-data-table th span.method.wire{
    background-color: #9A4DFA;
  }
  .data-table table.mdl-data-table td span.method.aba,
  .data-table table.mdl-data-table th span.method.aba,
  .details-block table.mdl-data-table td span.method.aba,
  .details-block table.mdl-data-table th span.method.aba{
    background-color: #d9534f;
  }
  .data-table table.mdl-data-table td span.method.draft,
  .data-table table.mdl-data-table th span.method.draft,
  .details-block table.mdl-data-table td span.method.draft,
  .details-block table.mdl-data-table th span.method.draft{
    background-color: #009acd;
  }
  .data-table table.mdl-data-table td span.method.accounts,
  .data-table table.mdl-data-table th span.method.accounts,
  .details-block table.mdl-data-table td span.method.accounts,
  .details-block table.mdl-data-table th span.method.accounts{
    background-color: #008b8b;
  }
  .data-table table.mdl-data-table td span.method.swift,
  .data-table table.mdl-data-table th span.method.swift,
  .details-block table.mdl-data-table td span.method.swift,
  .details-block table.mdl-data-table th span.method.swift{
    background-color: #72BB53;
  }
  .data-table table.mdl-data-table td span.currency,
  .data-table table.mdl-data-table th span.currency,
  .details-block table.mdl-data-table td span.currency,
  .details-block table.mdl-data-table th span.currency{
    background-color: #EBEBEB;
    color: #8F8198;
    padding: 2px;
    font-size: 10px;
    position: relative;
    top: -3px;
  }
  .data-table table.mdl-data-table td span.currency.cad,
  .data-table table.mdl-data-table th span.currency.cad,
  .details-block table.mdl-data-table td span.currency.cad,
  .details-block table.mdl-data-table th span.currency.cad{
    border-bottom: 3px solid #20b2aa;
  }
  .data-table table.mdl-data-table td span.currency.usd,
  .data-table table.mdl-data-table th span.currency.usd,
  .details-block table.mdl-data-table td span.currency.usd,
  .details-block table.mdl-data-table th span.currency.usd{
    border-bottom: 3px solid #72BB53;
  }
  .data-table table.mdl-data-table td span.currency.gbp,
  .data-table table.mdl-data-table th span.currency.gbp,
  .details-block table.mdl-data-table td span.currency.gbp,
  .details-block table.mdl-data-table th span.currency.gbp{
    border-bottom: 3px solid #FF6849;
  }
  .data-table table.mdl-data-table td span.currency.aud,
  .data-table table.mdl-data-table th span.currency.aud,
  .details-block table.mdl-data-table td span.currency.aud,
  .details-block table.mdl-data-table th span.currency.aud{
    border-bottom: 3px solid #8b3a3a;
  }
  .data-table table.mdl-data-table md-menu md-menu-content md-menu-item md-button:hover,
  .details-block table.mdl-data-table md-menu md-menu-content md-menu-item md-button:hover{
    background-color: #2196F3 !important;
    color: #fff !important;
  }
  .data-table table.mdl-data-table md-menu md-menu-content md-menu-item md-button i.material-icons,
  .details-block table.mdl-data-table md-menu md-menu-content md-menu-item md-button i.material-icons{
    position: relative;
    top: 5px;
  }
  .details-block table.mdl-data-table td a.print-btn{
    color: #1464F6;
    cursor: pointer;
    i.fa{
      font-size: 20px;
    }
  }
  .payment-detail{
    background-color: #EFF6EB;
    border: 1px solid rgba(215, 214, 214, .80);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 16px;
    padding: 8px;
    p{
      padding-left: 8px;
      padding-right: 8px;
      display: block;
      font-size: 12px;
      font-style: italic;
      color: #9B9B9A;
      span{
        display: block;
        font-size: 14px;
        padding-top: 6px;
        font-weight: bold;
        color: #333;
        font-style: normal;
      }
    }
  }
  .content{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .data-table,
  .details-block{
    margin-top: 0;
    padding-top: 0;
    padding-left: 22px;
    padding-right: 22px;
  }
  .data-table table,
  .details-block table{
    width: 100%;
    thead{
      display: none;
    }
  }
  .details-block table{
    margin-top: 1em;
  }
  .details-block{
    margin-bottom: 1.5em;
  }
  .details-block table tfoot tr{
    background-color: #AAAAAA;
    border: 2px solid #E8E8E8;
  }
  .details-block table tfoot tr td{
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
  }
  .details-block table tfoot tr td:nth-child(3){
    padding-left: 3%;
  }
  .details-block table tfoot tr td:nth-child(4){
    padding-left: 4%;
  }
  .details-block table.mdl-data-table tfoot tr:hover{
    background-color: #AAAAAA;
  }
  .details-block .funding-table tbody tr td:nth-child(2){
    text-align: right;
    padding-right: 3%;
  }
  .details-block .funding-table tfoot tr td:nth-child(2){
    text-align: right;
    padding-right: 5.6%;
  }
  .clickable-btn{
    float:right;
    width: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .md-icon-button i.material-icons{
      top: 1px;
    }
  }
  .details-block{
    md-table-container{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .heading-block{
      background-color: #EBEBEB;
      border-top: 1px solid #C7C7C7;
      -webkit-box-shadow:  0 4px 15px -2px grey;
      -moz-box-shadow:  0 4px 15px -2px grey;
      box-shadow: 0 4px 15px -2px grey;
      h3{
        font-size: 18px;
        padding: 2px;
        margin-left: 8px;
        font-weight: bold;
        color: #616060;
        font-family: 'Open Sans', 'Roboto', sans-serif;
      }
    }
  }
  .details-block{
    padding-left:0;
    padding-right:0;
  }
  button i.material-icons{
    position: relative;
    top: 0;
    right: 5px;
  }
  #circular-timer{
    position: relative;
    top: -7em;
    svg{
        path{
          stroke: #FFA834;
        }
    }
  }
  #circular-timer canvas{
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 17%;
    width: 75%;
  }
  #circular-timer .textDiv_Seconds{
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    h4{
      font-size: 13px !important;
      line-height: 0 !important;
      position: relative;
      top: 6em;
      left: 10.3em;
      color: #FF6849;
    }
    span.title{
      font-size: 18px !important;
      line-height: 0 !important;
      font-weight: bolder;
      position: relative;
      top: 4.1em;
      left: 7.5em;
      color: #606060;
    }
    span:not(.title){
        display: none;
    }
  }
  form{
    position: relative;
  }
  .step3-form{
    height: 310px;
  }
  .step4-form{
    height: 285px;
    padding-right: 12px;
  }
  .little-bit-down{
    margin-top: 10px;
  }

  //payee data table styles
  .payee-holder{
    position: relative;
  }
  .advance-data-table{
    width: 69%;
    height: 72%;
    margin-top: 5.10em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    table{
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }
    i.material-icons{
      position: absolute;
      right: 0;
      color: #90A4AE;
      cursor: pointer;
      z-index: 3;
      background-color: #666;
      color: #fff;
    }
    th,td{
      padding: 0.55em 6px 6px 6px;
      text-align: left;
      font-size: 12px;
      word-wrap: break-word;
    }
    th{
      padding: 1.75em 6px 6px 6px;
      color: #333;
    }
    tbody:hover{
      background-color: #fff;
    }
    tbody tr:nth-child(2n-1){
      background-color: #f5f5f5;
      transition: all .125s ease-in-out;
    }
    tbody tr:hover{
      background-color: rgba(3,155,229, .3);
      cursor: pointer;
    }
    tbody{
      height: 164px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    tbody, thead{
      display: block;
      width: 100%;
    }
    thead tr th:first-child,
    tbody tr td:first-child{
      width: 140px;
    }
    thead tr th:nth-child(2),
    tbody tr td:nth-child(2){
      width: 105px;
    }
    thead tr th:nth-child(3),
    tbody tr td:nth-child(3){
      width: 140px;
    }
    thead tr th:nth-child(4),
    tbody tr td:nth-child(4){
      width: 145px;
    }
    thead tr th:nth-child(5),
    tbody tr td:nth-child(5){
      width: 140px;
    }
    thead tr th md-input-container{
      margin: 0;
      height: 32px;
      width: 100%;
      color: #222;
      input{
        color: #222;
        background-color: #fff;
        width: 100% !important;
      }
      md-select{
        width: 100% !important;
      }
      label{
        color: #222;
        top: -22px;
      }
    }
  }
  .payee_input{
    margin-bottom: 0;
  }
  .amount_input{
    margin-top: 12px;
    z-index:2;
  }
  .payment_input{
    margin-bottom: -5px;
    margin-top: -5px;
  }
}
md-dialog.edit_payment_dialog{
  .edit-payee-data-table{
    height: 80% !important;
    margin-top: 4em !important;
    > div{
      margin-top: 14px;
    }
    i.material-icons{
      right: 0;
      left:auto !important;
      background-color: #666;
      color: #fff !important;
    }
    table tbody{
      height: 117px !important;
    }
    table thead tr th:first-child,
    table tbody tr td:first-child{
      width: 215px !important;
    }
    table thead tr th:nth-child(2),
    table tbody tr td:nth-child(2){
      width: 270px !important;
    }
    table thead tr th:nth-child(3),
    table tbody tr td:nth-child(3){
      width: 200px !important;
    }
  }
}
md-menu-content md-menu-item button span i{
  position: relative;
  top: 6px;
}
md-menu-content md-menu-item:hover{
  background-color: #2196F3;
  color: #fff;
}
md-menu-content{
  padding: 0;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
/* Mobile devices */
@media only screen and (min-width : 320px) and (max-width: 359px){
  #spot-deals{
    md-tabs md-tabs-content-wrapper{
      margin-left: 4%;
      margin-right: 4%;
    }
    .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper,
    .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas{
      height: 80px;
    }
    .data-table{
      padding-left: 20px;
      padding-right: 20px;
    }
    md-tab-item{
        padding-left: 35%;
        padding-right: 65%;
        padding-top: 17px !important;
    }
    md-tab-item:before,
    md-tab-item:after{
      top: 47%;
    }
    md-tab-item:first-of-type{
      padding-left: 35% !important;
    }
    md-tab-item:first-of-type::before{
      display: block;
      right: 60%;
    }
    md-tab-item:first-of-type::after{
      left: 64%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(2)::before{
      right: 62%;
    }
    md-tab-item:nth-child(2)::after{
      left: 62%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(3)::before{
      right: 62%;
    }
    md-tab-item:nth-child(3)::after{
      left: 63%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(4)::before{
      right: 60%;
    }
    md-tab-item:nth-child(4)::after{
      left: 65%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(5)::before{
      right: 59%;
    }
    md-tab-item:nth-child(5)::after{
      left: 66%;
    }
    md-tab-item:nth-child(6){
      padding-right: 65% !important;
      padding-left: 35.984px !important;
      padding-right: 148.828px !important;
    }
    md-tab-item:nth-child(6)::before{
      right: 62%;
    }
    md-tab-item:nth-child(6)::after{
      left: 62%;
      display: block;
    }
    md-tabs{
      h3.md-text-accent{
        font-size: 1.25em;
      }
    }
    p.pull-right.md-text-green,
    p.pull-right.md-text-dark-green{
      font-size: 12px;
      top: 26px;
    }
    .step3-form{
      height: auto;
    }
    .step4-form{
      height: auto;
      padding-right: 0;
    }
    .top-placement{
      position: relative;
      top: 2px;
      margin-bottom: 25px;
    }
    md-datepicker{

    }
    .funding-payee-block{
      margin-top: 0;
    }
    .step4-form{
      height: auto;
      padding-right: 12px;
    }
    .step1_amount{
      margin-bottom: 0;
      z-index:2;
    }
    .step1_value_date{
      margin-top: 5px;
      margin-bottom: 0;
    }
    .step2-info-box{
      min-height: 300px;
    }
    .payment-detail{
      min-height: 265px;
    }
    .popup{
      width: 100%;
      top: 70%;
      left: 0;
    }
    h3.md-text-accent{
      text-align: center;
      strong{
        display: block;
      }
    }
    .payee-holder,
    .step3_payee{
      margin-top: 0;
    }
    .balance.left{
      display: block;
      text-align: center;
    }
    .next-button-container{
      .balance{
        h3{
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2){
        text-align: center;
      }
    }
    .payee-balance{
      height: 90px;
    }
    .funding-balance{
      height: 90px;
      h3{
        margin-top:0;
      }
    }
    .payee-dataTable{
      overflow: visible;
      i.material-icons{
        top: 7%;
        left: 42%;
      }
      > div{
        margin-top: 3.8em;
        margin-left:0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table thead th input{
        width: 92px;
      }
      table thead th md-select{
        margin-left: 5px;
        width: 92px;
        height: 25px;
        md-select-value{
          border: none;
          span{
            font-family: sans-serif;
            font-size: 14px;
          }
        }
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tr { border: 1px solid #ccc; }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table thead th input{
        width: 94px !important;
      }
    }
    .payment-card-detail{
      top: -20px;
    }
    .payment-detail{
      > div{
        display: inline-block;
      }
    }
    .payment-detail{
      > div{
        p{
          margin-bottom: 0;
        }
      }
    }
    .data-table{
      padding-left: 24px;
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 150px;
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tbody tr { border-bottom: 1px solid #0C59CF; position: relative; }
      table tbody tr:last-of-type{ border-bottom: none; }
      table tbody td {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
        position: relative;
        padding: 8px;
        font-family: 'Roboto', 'Open Sans', sans-serif;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 150px;
      }
      table tbody tr td:last-of-type{
        position: absolute;
        top: 0;
        right: 0;
        border: none !important;
        padding: 0;
        button{
          padding: 0 0 8px 0;
          margin: 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  #spot-deals{
    md-tab-item:first-of-type:before{
      right: 61%;
    }
    md-tab-item:first-of-type:after{
      left: 59%;
    }
    md-tab-item:nth-child(2){
      padding-left: 74.984px !important;
      padding-right: 147.828px !important;
    }
    md-tab-item:nth-child(2):before{
      right: 60%;
    }
    md-tab-item:nth-child(2):after{
      left: 61%;
    }
    md-tab-item:nth-child(3){
      padding-left: 72.984px !important;
      padding-right: 148.828px !important;
    }
    md-tab-item:nth-child(3):before{
      right: 60.2%;
    }
    md-tab-item:nth-child(3):after{
      left: 60%;
    }
    md-tab-item:nth-child(4){
      padding-left: 67.984px !important;
      padding-right: 153.828px !important;
    }
    md-tab-item:nth-child(4):before{
      right: 61%;
    }
    md-tab-item:nth-child(4):after{
      left: 59%;
    }
    md-tab-item:nth-child(5){
      padding-left: 66.984px !important;
      padding-right: 154.828px !important;
    }
    md-tab-item:nth-child(5):before{
      right: 61%;
    }
    md-tab-item:nth-child(5):after{
      left: 60%;
    }
    md-tab-item:nth-child(6){
      padding-left: 21.984px !important;
      padding-right: 162.828px !important;
    }
    md-tab-item:nth-child(6):before{
      right: 70%;
    }
    md-tab-item:nth-child(6):after{
      left: 55%;
    }
    .payee-dataTable{
      i.material-icons{
        top: 6%;
      }
      table thead tr th input{
        width: 125px;
      }
      table thead tr th md-select{
        margin-left: 5px;
        height: 25px;
        width: 125px;
        md-select-value{
          border-bottom: none;
          span{
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            padding-left: 1px;
          }
        }
      }
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tr { border: 1px solid #ccc; }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
    }
    .payment-detail{
      > div{
        p{
          margin-bottom: 0;
        }
      }
    }
    .data-table{
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 150px;
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tbody tr { border-bottom: 1px solid #0C59CF; position: relative; }
      table tbody tr:last-of-type{ border-bottom: none; }
      table tbody td {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
        position: relative;
        padding: 8px;
        font-family: 'Roboto', 'Open Sans', sans-serif;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 150px;
      }
      table tbody tr td:last-of-type{
        position: absolute;
        top: 0;
        right: 0;
        border: none !important;
        padding: 0;
        button{
          padding: 0 0 8px 0;
          margin: 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 411px)  {

  #spot-deals{
    //background: yellow;
    md-tabs md-tabs-content-wrapper{
      margin-left: 2%;
      margin-right: 2%;
    }
    .data-table{
      padding-left: 26px;
      padding-right: 26px;
    }
    md-tab-item:first-of-type{
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:first-of-type:before{
      right: 59%;
      display: block;
      content: '';
    }
    md-tab-item:first-of-type:after{
      left: 60%;
    }
    md-tab-item:nth-child(2){
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(3){
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(4){
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(5){
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(6){
      padding-left: 66px !important;
      padding-right: 170px !important;
    }
    md-tab-item:nth-child(2):before{
      right: 56%;
    }
    md-tab-item:nth-child(2):after{
      left: 62.5%;
    }
    md-tab-item:nth-child(3):before{
      right: 56.5%;
    }
    md-tab-item:nth-child(3):after{
      left: 62.5%;
    }
    md-tab-item:nth-child(4):before{
      right: 55%;
    }
    md-tab-item:nth-child(4):after{
      left: 63.7%;
    }
    md-tab-item:nth-child(5):before{
      right: 54%;
    }
    md-tab-item:nth-child(5):after{
      left: 65%;
    }
    md-tab-item:nth-child(6):before{
      right: 57.7%;
    }
    md-tab-item:nth-child(6):after{
      left: 61.5%;
      display: block;
      content: '';
    }
    h3.md-text-accent{
      text-align: center;
      strong{
        display: block;
      }
    }
    .step1_amount{
      margin-bottom: 0;
    }
    .step1_value_date{
      margin-top: 5px;
      margin-bottom: 0;
    }
    .payee-holder,
    .step3_payee{
      margin-top: 0;
    }
    .balance.left{
      display: block;
      text-align: center;
    }
    .next-button-container{
      .balance{
        h3{
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2){
        text-align: center;
      }
    }
    .payee-balance{
      height: 90px;
      h3{
        margin-top:10px !important;
      }
    }
    .funding-balance{
      height: 90px;
      h3{
        margin-top:10px !important;
      }
    }
    .payee-dataTable{
      i.material-icons{
        top: 7%;
        left: 42%;
      }
      > div{
        margin-top: 3.8em;
        margin-left:0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tr { border: 1px solid #ccc; }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table thead th input{
        width: 120px;
      }
      table thead th md-select{
        width: 141px;
        margin-left: 5px;
        height: 25px;
        md-select-value{
          border: none;
          span{
            font-family: sans-serif;
            font-size: 14px;
          }
        }
      }
    }
    .popup{
      top: 73%;
      left: 0;
      width: 100%;
    }
    .payment-card-detail{
      top: -20px;
    }
    .payment-detail{
      > div{
        display: inline-block;
      }
    }
    .step3-form{
      height: auto;
    }
    .step4-form{
      height: 510px;
    }
    .step4_method_input{
      margin-top: 0;
    }
    .little-bit-down{
      margin-top: 0;
      margin-left: 0;
      .top-placement{
        position: relative;
        top: 0;
      }
    }
  }
}
@media only screen and (min-width: 412px) and (max-width: 413px) {
  #spot-deals{
    //background: yellow;
    md-tabs md-tabs-content-wrapper{
      margin-left: 2%;
      margin-right: 2%;
    }
    .data-table{
      padding-left: 26px;
      padding-right: 26px;
    }
    md-tab-item:first-of-type{
      padding-left: 106px !important;
      padding-right: 168px !important;
    }
    md-tab-item:first-of-type:before{
      right: 58%;
      display: block;
      content: '';
    }
    md-tab-item:first-of-type:after{
      left: 58%;
    }
    md-tab-item:nth-child(2){
      padding-left: 96px !important;
      padding-right: 178px !important;
    }
    md-tab-item:nth-child(3){
      padding-left: 93px !important;
      padding-right: 181px !important;
    }
    md-tab-item:nth-child(4){
      padding-left: 93px !important;
      padding-right: 181px !important;
    }
    md-tab-item:nth-child(5){
      padding-left: 93px !important;
      padding-right: 181px !important;
    }
    md-tab-item:nth-child(6){
      padding-left: 86px !important;
      padding-right: 182px !important;
    }
    md-tab-item:nth-child(2):before{
      right: 59%;
    }
    md-tab-item:nth-child(2):after{
      left: 56.8%;
    }
    md-tab-item:nth-child(3):before{
      right: 60.2%;
    }
    md-tab-item:nth-child(3):after{
      left: 56.2%;
    }
    md-tab-item:nth-child(4):before{
      right: 59%;
    }
    md-tab-item:nth-child(4):after{
      left: 57.1%;
    }
    md-tab-item:nth-child(5):before{
      right: 58%;
    }
    md-tab-item:nth-child(5):after{
      left: 58%;
    }
    md-tab-item:nth-child(6):before{
      right: 54.7%;
    }
    md-tab-item:nth-child(6):after{
      left: 61.5%;
      display: block;
      content: '';
    }
    h3.md-text-accent{
      text-align: center;
      strong{
        display: block;
      }
    }
    .step1_amount{
      margin-bottom: 0;
    }
    .step1_value_date{
      margin-top: 5px;
      margin-bottom: 0;
    }
    .payee-holder,
    .step3_payee{
      margin-top: 0;
    }
    .balance.left{
      display: block;
      text-align: center;
    }
    .next-button-container{
      .balance{
        h3{
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2){
        text-align: center;
      }
    }
    .payee-balance{
      height: 90px;
      h3{
        margin-top:10px !important;
      }
    }
    .funding-balance{
      height: 90px;
      h3{
        margin-top:10px !important;
      }
    }
    .payee-dataTable{
      i.material-icons{
        top: 7%;
        left: 42%;
      }
      > div{
        margin-top: 3.8em;
        margin-left:0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tr { border: 1px solid #ccc; }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table thead th md-select{
        margin-left: 5px;
        width: 141px;
        height: 25px;
        md-select-value{
          border-bottom: none;
          span{
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }
    .payment-card-detail{
      top: -20px;
    }
    .payment-detail{
      > div{
        display: inline-block;
      }
    }
    .step3-form{
      height: auto;
    }
    .step4-form{
      height: 510px;
    }
    .step4_method_input{
      margin-top: 0;
    }
    .little-bit-down{
      margin-top: 0;
      margin-left: 0;
      .top-placement{
        position: relative;
        top: 0;
      }
    }
    .payment-detail{
      > div{
        p{
          margin-bottom: 0;
        }
      }
    }
    .data-table{
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tbody tr { border-bottom: 1px solid #0C59CF; position: relative; }
      table tbody tr:last-of-type{ border-bottom: none; }
      table tbody td {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
        position: relative;
        padding: 8px;
        font-family: 'Roboto', 'Open Sans', sans-serif;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 280px;
      }
      table tbody tr td:last-of-type{
        position: absolute;
        top: 0;
        right: 0;
        border: none !important;
        padding: 0;
        button{
          padding: 0 0 8px 0;
          margin: 0;
        }
      }
    }
    .popup{
      left: 0;
      width: 100%;
      top: 71%;
    }
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px)  {

  #spot-deals{
    //background: yellow;
    md-tabs md-tabs-content-wrapper{
      margin-left: 2%;
      margin-right: 2%;
    }
    .data-table{
      padding-left: 26px;
      padding-right: 26px;
    }
    md-tab-item:first-of-type{
      padding-left: 100px !important;
      padding-right: 176px !important;
    }
    md-tab-item:first-of-type:before{
      right: 60%;
      display: block;
      content: '';
    }
    md-tab-item:first-of-type:after{
      left: 55%;
    }
    md-tab-item:nth-child(2){
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(3){
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(4){
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(5){
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(6){
      padding-left: 66px !important;
      padding-right: 170px !important;
    }
    md-tab-item:nth-child(2):before{
      right: 55%;
    }
    md-tab-item:nth-child(2):after{
      left: 63.5%;
    }
    md-tab-item:nth-child(3):before{
      right: 54.5%;
    }
    md-tab-item:nth-child(3):after{
      left: 63.5%;
    }
    md-tab-item:nth-child(4):before{
      right: 53.1%;
    }
    md-tab-item:nth-child(4):after{
      left: 64.7%;
    }
    md-tab-item:nth-child(5):before{
      right: 52%;
    }
    md-tab-item:nth-child(5):after{
      left: 66%;
    }
    md-tab-item:nth-child(6):before{
      right: 57.7%;
    }
    md-tab-item:nth-child(6):after{
      left: 61.5%;
      content: '';
      display: block;
    }
    .step3-form{
      height: auto;
    }
    .little-bit-down{
      margin-left: 0;
      .top-placement{
        top: 0;
        position: relative;
      }
    }
    h3.md-text-accent{
      text-align: center;
      strong{
        display: block;
      }
    }
    .step1_amount{
      margin-bottom: 0;
    }
    .step1_value_date{
      margin-top: 5px;
      margin-bottom: 0;
    }
    .payee-holder,
    .step3_payee{
      margin-top: 0;
    }
    .balance.left{
      display: block;
      text-align: center;
    }
    .next-button-container{
      .balance{
        h3{
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2){
        text-align: center;
      }
    }
    .payee-balance{
      height: 90px;
      h3{
        margin-top:10px !important;
      }
    }
    .funding-balance{
      height: 90px;
      h3{
        margin-top:10px !important;
      }
    }
    .payee-dataTable{
      i.material-icons{
        top: 6%;
        left: 42%;
      }
      > div{
        margin-top: 3.8em;
        margin-left:0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table,thead,tbody,th,td,tr{
        display: block;
      }
      table tr { border: 1px solid #ccc; }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead{
        display: inline-block;
      }
      table thead tr{
        display: table-cell;
        width: 1%;
      }
      table tbody{
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table select{
        margin-left: 5px !important;
        width: 142px !important;
        height: 14px !important;
      }
      table thead th input{
        width: 140px;
      }
      table thead th md-select{
        margin-left: 5px;
        height: 25px;
        width: 142px;
        md-select-value{
          border: none;
          span{
            font-family: sans-serif;
            font-size: 14px;
          }
        }
      }
    }
    .funding-payee-block,
    .step4_method_input{
      margin-top: 0;
    }
    .step4-form{
      height: 500px;
    }
    .payment-card-detail{
      top: -10px;
    }
    .payment-detail{
      > div{
        display: inline-block;
      }
    }
    .data-table{
      table{
        width: 100%;
        td{width: 100%;}
      }
    }
    .popup{
      left: 0;
      width: 100%;
      top: 72%;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px)  {
  #spot-deals{
    //background: yellow;
    md-tabs md-tabs-content-wrapper{
      margin-left: 2%;
      margin-right: 2%;
    }
    .data-table{
      padding-left: 26px;
      padding-right: 26px;
    }
    md-tab-item{
      //padding-left: 2%;
      padding-right: 17%;
    }
    md-tab-item:first-of-type::after{
      left: 54%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 70%;
    }
    md-tab-item:nth-child(2)::after{
      left: 65%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 70%;
    }
    md-tab-item:nth-child(3)::after{
      left: 65%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 68%;
    }
    md-tab-item:nth-child(4)::after{
      left: 67%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 66%;
    }
    md-tab-item:nth-child(5)::after{
      left: 68%;
    }
    md-tab-item:nth-child(6){
      padding-right: 17% !important;
    }
    md-tab-item:nth-child(6)::before{
      right: 56%;
    }
    md-tab-item:nth-child(6)::after{
      left: 56%;
    }
    md-tabs{
      h3.md-text-accent{
        font-size: 1.25em;
      }
    }
    p.pull-right.md-text-green,
    p.pull-right.md-text-dark-green{
      font-size: 12px;
      top: 26px;
    }
    .step3-form{
      height: auto;
    }
    .step4-form{
      height: auto;
      padding-right: 0;
    }
    .top-placement{
      position: relative;
      top: 2px;
      margin-bottom: 25px;
    }
    .funding-payee-block{
      margin-top: 0;
    }
    .step4-form{
      height: auto;
      padding-right: 12px;
    }
    #circular-timer{
      canvas{
        top: 0;
        width: 80%;
      }
      .textDiv_Seconds h4{
        top: 7.5em;
        left: 9.8em;
      }
      .textDiv_Seconds span.title{
        top: 4.9em;
        left: 7em;
      }
    }
    .step3_payee{
      margin-top: 0;
    }
    .md-text-green,
    .md-text-dark-green{
      margin-top: 14px !important;
    }
    .payee-dataTable{
      > div{
        margin-left: 0;
        width: 100%;
        height: 26%;
      }
      i.material-icons{
        top: 9.8%;
        left: 45%;
      }
      table tbody{
        overflow: auto;
        width: 100%;
        height: 200px;
      }
    }
    .payment-card-detail{
      top: -15px;
    }
    .step3_value_date{
      .md-datepicker-input{
        max-width:none;
      }
    }
    .custom-quote{
        height: 17em !important;
      .money-block{
        height: 6.5em !important;
      }
    }
    .data-table{
      padding-left: 30px;
    }
    .custom-quote{
      .money-block{
        height: 9.5em !important;
      }
    }
    .custom-quote.long-height{
      .money-block{
        height: 6.5em !important;
      }
    }
    .popup{
      left: 27%;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1023px){
  #spot-deals{
    md-tabs md-tabs-content-wrapper{
      margin-left: 1.5%;
      margin-right: 1.5%;
    }
    md-tab-item{
      //padding-left: 2%;
      padding-right: 17%;
    }
    md-tab-item:first-of-type::after{
      left: 58%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 69%;
    }
    md-tab-item:nth-child(2)::after{
      left: 69%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 69%;
    }
    md-tab-item:nth-child(3)::after{
      left: 69%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 66%;
    }
    md-tab-item:nth-child(4)::after{
      left: 71%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 64%;
    }
    md-tab-item:nth-child(5)::after{
      left: 73%;
    }
    md-tab-item:nth-child(6){
      padding-right: 17% !important;
    }
    md-tab-item:nth-child(6)::before{
      right: 53%;
    }
    md-tab-item:nth-child(6)::after{
      left: 53%;
    }
  }
}
//iPad Pro
@media only screen and (min-width: 1024px) and (max-width: 1279px){
  #spot-deals{
    .content.layout-column{
      padding: 4px;
    }
    md-tabs md-tabs-content-wrapper{
      margin-left: 1.7%;
      margin-right: 1%;
    }
    .data-table{
      padding-left: 62px;
      padding-right: 25px;
    }
    md-tab-item{
      padding-left: 20px !important;
      padding-right: 34px !important;
    }
    md-tab-item:nth-child(6){
      padding-right: 15% !important;
    }
    md-tab-item:first-of-type{
      padding-left: 9px !important;
    }
    md-tab-item:first-of-type:after{
      left: 55%;
    }
    md-tab-item:nth-child(2):before{
      right: 71%;
    }
    md-tab-item:nth-child(2):after{
      left: 66%;
    }
    md-tab-item:nth-child(3):before{
      right: 70%;
    }
    md-tab-item:nth-child(3):after{
      left: 66%;
    }
    md-tab-item:nth-child(4):before{
      right: 69%;
    }
    md-tab-item:nth-child(4):after{
      left: 65%;
    }
    md-tab-item:nth-child(5):before{
      right: 68%;
    }
    md-tab-item:nth-child(5):after{
      left: 65%;
    }
    md-tab-item:nth-child(6):before{
      right: 59%;
    }
    md-tab-item:nth-child(6):after{
      left: 59%;
    }
    .popup{
      width: 35%;
    }
    .custom-quote{
      width: 175px;
    }
    #circular-timer{
      canvas{
        width: 100%;
      }
      .textDiv_Seconds h4{
        left: 9em;
        top: 5.6em;
      }
      .textDiv_Seconds span.title{
        left: 6.5em;
        top: 3.7em;
      }
    }
    .payee-dataTable{
      > div{
        width: 66.5%;
      }
      table{
        th,td{
          font-size: 12px !important;
        }
        th input{
          width: 100px !important;
        }
      }
    }
    .data-table{
      padding-left: 10px;
      padding-right: 2px;
      button i.material-icons{
        top: 0;
        right: 0;
      }
    }
    .md-text-green.pull-right{
      top: 1.8em;
    }
    .custom-quote .rate-block p.left{
      margin-top: 2.5em;
    }
    .custom-quote .rate-block p.right{
      margin: 2px;
    }
    .advance-data-table{
      table{
        font-size: 11px;
        th,td{
          font-size: 11px;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 100px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 90px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 100px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 100px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 110px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1359px){
  #spot-deals{
    md-tabs md-tabs-content-wrapper{
      margin-left: 3%;
      margin-right: 0.5%;
    }
    md-tab-item:first-of-type::after{
      left: 54%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 63%;
    }
    md-tab-item:nth-child(2)::after{
      left: 63%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 63%;
    }
    md-tab-item:nth-child(3)::after{
      left: 63%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 63%;
    }
    md-tab-item:nth-child(4)::after{
      left: 63%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 62%;
    }
    md-tab-item:nth-child(5)::after{
      left: 62%;
    }
    md-tab-item:nth-child(6)::before{
      right: 50%;
    }
    md-tab-item:nth-child(6)::after{
      left: 52%;
      left: 52%;
    }
    .advance-data-table{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 90px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 135px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 145px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 110px;
        }
      }
    }
  }
}
@media screen\0{
  #spot-deals{
    md-tab-item:nth-child(6){
      padding-right: 37px !important;
    }
    md-tab-item:nth-child(6):after{
      display:none;
    }
    //md-tab-item:last-child:after{
    //  //display:none;
    //  right:130px;
    //}
    .step2-info-box{
      height: 20em !important;
    }
    .mdl-data-table{
      overflow: visible;
      position: relative;
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #spot-deals{
    md-tabs md-tabs-content-wrapper{
      margin-left: 3.7%;
      margin-right: 1%;
    }
    .data-table{
      padding-left: 54px;
    }
    md-tab-item{
      padding-left: 50px;
      padding-right: 50px;
    }
    md-tab-item:first-of-type{
      padding-left: 40px !important;
    }
    md-tab-item:first-of-type::after{
      left: 55%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 63%;
    }
    md-tab-item:nth-child(2)::after{
      left: 62.9%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 62%;
    }
    md-tab-item:nth-child(3)::after{
      left: 63%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 62%;
    }
    md-tab-item:nth-child(4)::after{
      left: 62%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 62%;
    }
    md-tab-item:nth-child(5)::after{
      left: 62%;
    }
    md-tab-item:nth-child(6){
      padding-right: 12px !important;
      width: auto !important;
    }
    md-tab-item:nth-child(6)::before{
      right: 47%;
    }
    md-tab-item:nth-child(6)::after{
      left: 47%;
    }
    .data-table{
      table tbody tr td:last-child{
        text-align: right;
        md-menu{
          button{
            padding-top: 0;
          }
        }
      }
    }
    #circular-timer{
      top: -8em;
      h4{
        top: 6em !important;
        left: 10.3em !important;
      }
      span.title{
        top: 3.9em !important;
        left: 7.4em !important;
      }
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #spot-deals{
    md-tabs md-tabs-content-wrapper{
      margin-left: 3.7%;
      margin-right: 1%;
    }
    .data-table{
      padding-left: 54px;
    }
    md-tab-item{
      padding-left: 50px;
      padding-right: 50px;
    }
    md-tab-item:first-of-type{
      padding-left: 40px !important;
    }
    md-tab-item:first-of-type::after{
      left: 55%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 62%;
    }
    md-tab-item:nth-child(2)::after{
      left: 63%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 62%;
    }
    md-tab-item:nth-child(3)::after{
      left: 63%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 62%;
    }
    md-tab-item:nth-child(4)::after{
      left: 62%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 62%;
    }
    md-tab-item:nth-child(5)::after{
      left: 62%;
    }
    md-tab-item:nth-child(6){
      padding-right: 12px !important;
      width: auto !important;
    }
    md-tab-item:nth-child(6)::before{
      right: 47%;
    }
    md-tab-item:nth-child(6)::after{
      left: 47%;
    }
    .data-table{
      table tbody tr td:last-child{
        text-align: right;
        md-menu{
          button{
            padding-top: 0;
          }
        }
      }
    }
    #circular-timer{
      top: -8em;
      h4{
        top: 7em !important;
        left: 11.1em !important;
      }
      span.title{
        top: 4.7em !important;
        left: 8em !important;
      }
    }
    .advance-data-table{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 170px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 100px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 170px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 145px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width:135px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #spot-deals{
    md-tabs md-tabs-content-wrapper{
      margin-left: 3.7%;
      margin-right: 1%;
    }
    .data-table{
      padding-left: 62px;
      padding-right: 25px;
    }
    md-tab-item:first-of-type{
      padding-left: 0;
    }
    md-tab-item:first-of-type::after{
      left: 53%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 60%;
    }
    md-tab-item:nth-child(2)::after{
      left: 59.5%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 60%;
    }
    md-tab-item:nth-child(3)::after{
      left: 60%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 60%;
    }
    md-tab-item:nth-child(4)::after{
      left: 59.1%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 59%;
    }
    md-tab-item:nth-child(5)::after{
      left: 59.5%;
    }
    md-tab-item:nth-child(6){
      padding-right: 8px !important;
    }
    md-tab-item:nth-child(6)::before{
      right: 54%;
    }
    md-tab-item:nth-child(6)::after{
      left: 54%;
    }
    #circular-timer{
      top: -8em;
      h4{
        top: 8em !important;
        left: 12.8em !important;
      }
      span.title{
        top: 5.5em !important;
        left: 9.3em !important;
      }
    }
    .advance-data-table{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 200px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 120px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 200px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 145px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 148px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1920px) {
  #spot-deals{
    .data-table{
      margin: auto 5.2em auto 5.8em;
    }
    .popup{
      left: 35%;
    }
    .advance-data-table{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 220px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 180px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 210px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 180px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 180px;
        }
      }
    }
    md-tabs md-tabs-content-wrapper{
      margin-left: 5.2%;
      margin-right: 4.8%;
    }
    md-tab-item:first-of-type::after{
      left: 52%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 58%;
    }
    md-tab-item:nth-child(2)::after{
      left: 58%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 58%;
    }
    md-tab-item:nth-child(3)::after{
      left: 58%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 58%;
    }
    md-tab-item:nth-child(4)::after{
      left: 58%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 58%;
    }
    md-tab-item:nth-child(5)::after{
      left: 58%;
    }
    md-tab-item:nth-child(6)::before{
      right: 61%;
    }
    md-tab-item:nth-child(6)::after{
      left: 61%;
    }
    .step2-info-box{
      min-height: 330px;
    }
    #circular-timer{
      top: -9em;
      .textDiv_Seconds{
        h4{
          top: 8em;
          font-size: 16px !important;
          left: 12.3em;
        }
        span.title{
          top: 6.5em;
          left: 11em;
        }
      }
    }
    .data-table-payees{
      tbody tr td:first-child{
        width: 30%;
      }
      tbody tr td:nth-child(2){
        width: 12%;
      }
      tbody tr td:nth-child(3){
        width: 12%;
      }
      tbody tr td:nth-child(4){
        width: 18%;
      }
      tbody tr td:nth-child(5){
        width: 15%;
      }
      tbody tr td:nth-child(6){
        width: 10%;
        text-align: right;
        button i.material-icons{
          top: 0;
        }
      }
    }
    .data-table-fundings{
      tbody tr td:first-child{
        width: 30%;
      }
      tbody tr td:nth-child(2){
        width: 12%;
      }
      tbody tr td:nth-child(3){
        width: 12%;
      }
      tbody tr td:nth-child(4){
        width: 18%;
      }
      tbody tr td:nth-child(5){
        width: 10%;
        text-align: right;
        button i.material-icons{
          top: 0;
        }
      }
    }
  }
}
@media only screen and (min-width : 2560px) {
  #spot-deals{
    md-tabs md-tabs-content-wrapper{
      margin-left: 5.9%;
      margin-right: 5.9%;
    }
    md-tab-item:first-of-type::after{
      left: 52%;
    }
    md-tab-item:nth-child(2){
      margin-left: -1px;
    }
    md-tab-item:nth-child(2)::before{
      right: 56%;
    }
    md-tab-item:nth-child(2)::after{
      left: 56%;
    }
    md-tab-item:nth-child(3){
      margin-left: -1px;
    }
    md-tab-item:nth-child(3)::before{
      right: 56%;
    }
    md-tab-item:nth-child(3)::after{
      left: 56%;
    }
    md-tab-item:nth-child(4){
      margin-left: -1px;
    }
    md-tab-item:nth-child(4)::before{
      right: 56%;
    }
    md-tab-item:nth-child(4)::after{
      left: 56%;
    }
    md-tab-item:nth-child(5){
      margin-left: -1px;
    }
    md-tab-item:nth-child(5)::before{
      right: 56%;
    }
    md-tab-item:nth-child(5)::after{
      left: 56%;
    }
    md-tab-item:nth-child(6)::before{
      right: 58%;
    }
    md-tab-item:nth-child(6)::after{
      left: 58%;
    }
    .advance-data-table{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 350px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 200px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 360px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 210px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 210px;
        }
      }
    }
  }
}
