<div id="draw_down" class="fullwidth page-layout doc-page simple">
  <div class="content" layout="column">
    <ms-form-wizard flex>
      <md-tabs md-no-select-click="true" md-dynamic-height md-selected="vm.selectedIndex" md-stretch-tabs="always">
        <md-tab ng-disabled="vm.selectedIndex != 0" id="tab_0">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="209.443px" height="191.991px" viewBox="0 0 209.443 191.991" enable-background="new 0 0 209.443 191.991"
                       xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M104.722,74.662c-11.568,0-20.942,9.55-20.942,21.334
						c0,11.778,9.374,21.329,20.942,21.329c11.568,0,20.947-9.551,20.947-21.329C125.668,84.211,116.29,74.662,104.722,74.662
						 M104.722,53.327c23.136,0,41.889,19.106,41.889,42.668c0,23.563-18.753,42.663-41.889,42.663
						c-23.131,0-41.89-19.1-41.89-42.663C62.832,72.433,81.591,53.327,104.722,53.327 M167.559,191.991H41.89l26.706-43.63
						c9.948,7.362,22.619,11.631,36.125,11.631c13.512,0,26.183-4.269,36.13-11.631L167.559,191.991 M209.443,31.999v127.994
						l-53.298-27.201c7.225-10.135,11.414-23.039,11.414-36.795c0-13.762-4.189-26.666-11.414-36.802L209.443,31.999 M41.89,0
						h125.669l-26.707,43.623c-9.947-7.361-22.618-11.625-36.13-11.625c-13.507,0-26.178,4.264-36.125,11.625L41.89,0 M0,31.999
						l53.305,27.195C46.08,69.33,41.89,82.233,41.89,95.996c0,13.756,4.189,26.661,11.415,36.795L0,159.992V31.999"/>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Draw Down</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular class="md-accent" md-diameter="35px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step1 </strong><span hide-xs>-</span> Select the deal you would like to draw down</h3>
            <div layout="row">
              <div flex="20" flex-offset="5" layout="column" class="margin-left-13">
                <md-input-container>
                  <label>Entry Date</label>
                  <input type="text" ng-model="vm.step1.entry_date" jq-date-picker min-date="today" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                </md-input-container>
              </div>
              <div flex="20" flex-offset="5" layout="column">
                <md-input-container>
                  <label>Value Date</label>
                  <input type="text" ng-model="vm.step1.value_date" ng-change="vm.selectValueDate()" jq-date-picker min-date="today" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                </md-input-container>
              </div>
              <div flex="20" flex-offset="5" layout="column">
                <md-input-container>
                  <label>Deal Based In</label>
                  <md-select ng-model="vm.step1.deal_based_in">



                    <md-option ng-value="drawDownInv.id" ng-repeat="drawDownInv in vm.drawDownInvs" ng-click="vm.selectDeal(drawDownInv)">{{drawDownInv.name}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <!-- Data Records -->
            <div class="data-table-records" ms-scroll>
              <table>
                <thead>
                <tr>
                  <th>Deal No</th>
                  <th>Type</th>
                  <th>Value Date</th>
                  <th>Outstanding Buy Amount</th>
                  <th>Rate</th>
                  <th>Outstanding Sell Amount</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="uniqueTransaction in vm.uniqueTransactions" ng-click="vm.toggleChildRows($event, uniqueTransaction)">
                  <td colspan="7">
                    <div class="title" layout="row">
                      <div flex="10">
                        <h4>{{uniqueTransaction.buy_currency_name | uppercase }} - {{uniqueTransaction.sell_currency_name | uppercase}}</h4>
                      </div>
                      <span flex></span>
                      <span flex="5">{{vm.countCurrencies(uniqueTransaction.buy_currency_name, uniqueTransaction.sell_currency_name)}}</span>
                    </div>
                    <div class="child-records hide" layout="row">
                      <table class="child_table">
                        <tbody ng-repeat="transaction in vm.transactions">

                        <tr ng-click="vm.selectChildRow($event)" data-obj = '{{transaction}}' data-id='{{transaction.trans_id}}' data-type="{{transaction.drawdown_type}}" data-buyamount="{{transaction.buy_amount}}"
                            data-exhchangerate="{{transaction.exchange_rate}}" data-marketrate="{{transaction.market_rate}}" data-sellamount = {{transaction.sell_amount}}
                            ng-if="uniqueTransaction.buy_currency_name === transaction.buy_currency_name && uniqueTransaction.sell_currency_name === transaction.sell_currency_name">
                          <td>
                            <span class="fa fa-check fa-lg"></span>
                            {{vm.dealNumber(transaction.deal_number )}}

                            <!--{{transaction.deal_number['#text'][1]}}-->
                            <!--{{transaction.deal_number['#text'][2]}}-->
                          </td>
                          <td> <span class="type {{ transaction.drawdown_type | lowercase}}">{{ transaction.drawdown_type | uppercase}}</span></td>
                          <td>{{vm.dealNumber(transaction.value_date )}}</td>

                          <td><div class="amount">{{ transaction.buy_amount | currency:"":2 }} <span class="currency {{transaction.buy_currency_name | lowercase}}">{{transaction.buy_currency_name | uppercase}}</span></div></td>
                          <td>{{ transaction.exchange_rate | currency:"":5 }}</td>
                          <td><div class="amount">{{ transaction.sell_amount | currency:"":2 }}<span class="currency {{transaction.sell_currency_name | lowercase}}">{{transaction.sell_currency_name | uppercase}}</span></div></td>
                          <td>
                            <md-button aria-label="button" class="md-icon-button" ng-click="vm.toggleExtraRows($event)"><i class="fa fa-expand" aria-hidden="true"></i></md-button>
                          </td>
                        </tr>
                        <tr class="extra child-hide">
                          <td colspan="3"></td>
                          <td><div class="amount">{{ transaction.buy_amount | currency:"":2 }} <span class="currency {{transaction.buy_currency_name | lowercase}}">{{transaction.buy_currency_name | uppercase}}</span></div></td>
                          <td>{{transaction.exchange_rate | currency:"":5}}</td>
                          <td><div class="amount">{{ transaction.sell_amount | currency:"":2 }}<span class="currency {{transaction.sell_currency_name | lowercase}}">{{transaction.sell_currency_name | uppercase}}</span></div></td>
                          <td>
                            <md-button aria-label="button" class="md-icon-button"><i class="fa fa-trash-o" aria-hidden="true"></i></md-button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /Data Records -->
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column"
                 class="next-button-container">
              <md-button type="submit" class="md-primary" ng-if="vm.selectedIndex === 0" ng-click="vm.step1Next()">Next</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 1" id="tab_1">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="19.417px" height="15.583px" viewBox="0 0 19.417 15.583" enable-background="new 0 0 19.417 15.583" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#AAAAAA" d="M18.834,2.547v11.002c0,0.443-0.157,0.823-0.473,1.141  c-0.314,0.317-0.692,0.476-1.132,0.476H2.448c-0.44,0-0.818-0.158-1.133-0.476s-0.473-0.697-0.473-1.141V2.547  c0-0.449,0.158-0.831,0.473-1.148C1.63,1.082,2.008,0.923,2.448,0.923h14.781c0.439,0,0.817,0.159,1.132,0.476  C18.677,1.716,18.834,2.098,18.834,2.547 M17.552,13.549V5.137c0-0.091-0.032-0.169-0.098-0.234c-0.064-0.065-0.14-0.096-0.225-0.09  H2.448c-0.086,0-0.16,0.029-0.226,0.09S2.125,5.041,2.125,5.137v8.412c0,0.086,0.032,0.161,0.098,0.227  c0.065,0.066,0.14,0.099,0.226,0.099h14.781c0.085,0,0.16-0.032,0.225-0.099C17.52,13.71,17.552,13.635,17.552,13.549 M16.263,6.428  v0.649c0,0.086-0.032,0.161-0.098,0.227c-0.064,0.065-0.14,0.099-0.225,0.099H6.308c-0.09,0-0.167-0.033-0.232-0.099  C6.011,7.238,5.98,7.163,5.985,7.077V6.428c0-0.086,0.03-0.161,0.09-0.227c0.061-0.065,0.138-0.098,0.232-0.098h9.633  c0.09,0,0.165,0.032,0.225,0.098C16.226,6.267,16.258,6.342,16.263,6.428 M16.263,9.018v0.65c0,0.085-0.032,0.16-0.098,0.227  c-0.064,0.064-0.14,0.096-0.225,0.09H6.308c-0.09,0-0.167-0.029-0.232-0.09C6.011,9.834,5.98,9.758,5.985,9.668v-0.65  c0-0.09,0.03-0.166,0.09-0.227C6.136,8.73,6.213,8.698,6.308,8.693h9.633c0.09,0,0.165,0.033,0.225,0.098  C16.226,8.857,16.258,8.933,16.263,9.018 M16.263,11.608v0.642c0,0.091-0.032,0.169-0.098,0.234  c-0.064,0.065-0.14,0.096-0.225,0.091H6.308c-0.09,0-0.167-0.03-0.232-0.091c-0.064-0.061-0.095-0.139-0.09-0.234v-0.642  c0-0.091,0.03-0.166,0.09-0.227c0.061-0.061,0.138-0.093,0.232-0.099h9.633c0.09,0,0.165,0.033,0.225,0.099  C16.226,11.447,16.258,11.523,16.263,11.608 M4.696,6.428v0.649c0,0.086-0.029,0.161-0.09,0.227S4.47,7.402,4.374,7.402H3.737  c-0.09,0-0.166-0.033-0.225-0.099C3.452,7.238,3.419,7.163,3.415,7.077V6.428c0-0.086,0.032-0.161,0.098-0.227  c0.064-0.065,0.139-0.098,0.225-0.098h0.637c0.09,0,0.168,0.032,0.232,0.098S4.701,6.342,4.696,6.428 M4.696,9.018v0.65  c0,0.085-0.029,0.16-0.09,0.227C4.546,9.959,4.47,9.99,4.374,9.984H3.737c-0.09,0-0.166-0.029-0.225-0.09  C3.452,9.834,3.419,9.758,3.415,9.668v-0.65c0-0.09,0.032-0.166,0.098-0.227C3.577,8.73,3.651,8.698,3.737,8.693h0.637  c0.09,0,0.168,0.033,0.232,0.098C4.671,8.857,4.701,8.933,4.696,9.018 M4.696,11.608v0.642c0,0.091-0.029,0.169-0.09,0.234  S4.47,12.58,4.374,12.575H3.737c-0.09,0-0.166-0.03-0.225-0.091c-0.061-0.061-0.094-0.139-0.098-0.234v-0.642  c0-0.091,0.032-0.166,0.098-0.227c0.064-0.061,0.139-0.093,0.225-0.099h0.637c0.09,0,0.168,0.033,0.232,0.099  S4.701,11.523,4.696,11.608"/>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Summary</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular class="md-accent" md-diameter="35px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step2 </strong><span hide-xs>-</span> Summary Details</h3>
            <div class="summary display-block" layout="column">
              <div flex="100">
                <h4>Pre Delivery</h4>
              </div>
              <div class="summary-table" flex="100" ms-scroll>
                <table>
                  <thead>
                  <tr>
                    <th>Deal Number</th>
                    <th>Rate</th>
                    <th>Value Date</th>
                    <th>Amount to pay</th>
                    <th>Received Amount</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="predelievery in vm.step2Records.predelievery">
                    <td>{{vm.dealNumber(predelievery.deal_number)}}</td>
                    <td>{{predelievery.exchange_rate | currency:"":5}}</td>
                    <td>{{predelievery.value_date | date: 'MM/dd/yyyy'}}</td>
                    <td><div class="amount">{{ predelievery.buy_amount | currency:"":2 }}<span class="currency {{predelievery.buy_currency_name | lowercase}}">{{predelievery.buy_currency_name | uppercase}}</span></div></td>
                    <td><div class="amount">{{ predelievery.sell_amount | currency:"":2 }}<span class="currency {{predelievery.sell_currency_name | lowercase}}">{{predelievery.sell_currency_name | uppercase}}</span></div></td>
                    <td>
                      <md-button aria-label="button" class="md-icon-button" ng-click="vm.removeSummaryRecordPredelievery($event, $index )"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></md-button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="summary display-block" layout="column">
              <div flex="100">
                <h4>Draw Down</h4>
              </div>
              <div class="summary-table" flex="100" ms-scroll>
                <table ms-scroll>
                  <thead>
                  <tr>
                    <th>Deal Number</th>
                    <th>Rate</th>
                    <th>Value Date</th>
                    <th>Amount to pay</th>
                    <th>Received Amount</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="drawdown in vm.step2Records.drawdown">
                    <td>{{vm.dealNumber(drawdown.deal_number)}}</td>
                    <td>{{drawdown.exchange_rate | currency:"":5}}</td>
                    <td>{{vm.date(drawdown.value_date) | date: 'MM/dd/yyyy'}}</td>
                    <td><div class="amount">{{ drawdown.buy_amount | currency:"":2 }}<span class="currency {{drawdown.buy_currency_name | lowercase}}">{{drawdown.buy_currency_name | uppercase}}</span></div></td>
                    <td><div class="amount">{{ drawdown.sell_amount | currency:"":2 }}<span class="currency {{drawdown.sell_currency_name | lowercase}}">{{drawdown.sell_currency_name | uppercase}}</span></div></td>
                    <td>
                      <md-button aria-label="button" class="md-icon-button" ng-click="vm.removeSummaryRecordDrawdown($event,  drawdown, $index)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></md-button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button type="submit" class="md-outline" ng-if="vm.selectedIndex === 1" ng-click="vm.step2Back()">Back</md-button>
              <md-button type="submit" class="md-primary" ng-if="vm.selectedIndex === 1" ng-click="vm.step2Next()">Confirm</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 2" id="tab_2">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="246.314px" height="195.005px" viewBox="0 0 246.314 195.005" enable-background="new 0 0 246.314 195.005"
                       xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M135.472,54.847h-24.629V30.472h24.629V54.847 M135.472,109.693
	h-24.629V85.318h24.629V109.693 M135.472,164.533h-24.629v-24.375h24.629V164.533 M246.314,73.125v-48.75
	C246.314,10.917,235.297,0,221.686,0H24.629C11.084,0,0.119,10.85,0.119,24.375v48.75c13.56,0,24.51,10.971,24.51,24.381
	c0,13.404-10.95,24.375-24.629,24.375v48.748c0,13.404,11.084,24.377,24.629,24.377h197.057c13.545,0,24.629-10.973,24.629-24.377
	V121.88c-13.545,0-24.629-10.971-24.629-24.375C221.686,84.095,232.77,73.125,246.314,73.125"/>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Beneficiary</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular class="md-accent" md-diameter="35px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step3 </strong><span hide-xs>-</span> Beneficiary Details</h3>
            <p class="fee-box">FEE : <strong>0.00 CAD</strong></p>
            <form ms-form-wizard-form novalidate class="beneficiary-form">
              <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
                <div flex="30" flex-gt-sm="30" flex-xs="100" flex-gt-xs="100" flex-offset="0" class="margin-top-2_2em">
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label>Payee</label>
                      <input type="text" ng-model="vm.step3.payee_.name" ng-click="vm.showPayeeTableFunc($event)"
                             ng-keydown="vm.stopInputing($event)">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label>Amount</label>
                      <input  type="text" name="amount" ng-model="vm.step3.amount" format="currency"
                              ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateBalance($event, vm.balance)"
                              ng-keyup="vm.LimitPayeeAmountInt($event)">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label>Payment reference</label>
                      <input type="text" name="reference" ng-keydown="vm.noSpecialCharactersFunction($event)"
                             ng-paste="vm.pasteLimit($event, 25)" ng-keypress="vm.limitLength($event, 25)"
                             ng-model="vm.step3.payment_reference">
                    </md-input-container>
                  </div>
                </div>
                <!-- /flex-row-end -->
                <div  flex="30" flex-md="30" flex-gt-sm="30" flex-offset-gt-sm="5" flex-xs="100"
                      flex-gt-xs="100" flex-offset-gt-xs="0" flex-offset="5">
                  <md-checkbox ng-init="vm.step3.additional_details = false" ng-click="collapseAll(data)"
                               class="md-secondary"
                               ng-model="vm.step3.additional_details">
                    Additional details
                    <span ng-class="{expandCollapse:true, active:data.expanded}"></span>
                  </md-checkbox>
                  <div ng-show="vm.step3.additional_details">
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                        <label style="left:0;">Value date</label>
                        <input type="text" jq-date-picker=""
                               ng-model="vm.step3.value_date" min-date="today" ng-keydown="vm.stopInputing($event)"
                               ng-blur="vm.preventFocusAgain($event)"
                               ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                        <label>Purpose of payment</label>
                        {{vm.step3.payment_purpose}}
                        <md-select ng-model="vm.step3.payment_purpose" >
                          <md-option ng-repeat="purpose_of_payment in vm.paymentPurposes | orderBy: 'name'"
                                     value="{{ purpose_of_payment.id }}" title="{{ purpose_of_payment.description }}"
                                     ng-required="vm.popMandate">
                            {{ purpose_of_payment.name }}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex>
                        <label>Internal reference</label>
                        <input type="text" name="reference"
                               ng-keydown="vm.noSpecialCharactersFunction($event)" ng-paste="vm.pasteLimit($event, 25)"
                               ng-keypress="vm.limitLength($event, 25)" ng-model="vm.step3.internal_payment_reference">
                      </md-input-container>
                    </div>
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex>
                        <label>Payee notification email address</label>
                        <input type="text" name="reference"
                               ng-keypress="vm.limitLength($event, 100)" ng-paste="vm.pasteLimit($event, 100)"
                               ng-model="vm.step3.payment_notification_email">
                      </md-input-container>
                    </div>
                  </div>
                  <!-- /.ng-class -->
                </div>
                <!-- /flex-row-end -->
                <div flex="30" flex-md="30" flex-gt-sm="30" flex-offset-gt-sm="5" flex-xs="100" flex-offset="5"
                     flex-gt-xs="100" flex-offset-gt-xs="0" class="payment-card-detail">
                  <ms-widget flippable="true">
                    <ms-widget-front class="padding-16 custom-quote long-height">
                      <div layout="row" layout-align="space-between none" class="rate-block">
                        <p class="left">
                          <strong>Rate</strong>
                          <span>{{vm.rate.exchange_rate}}</span>
                          <small><span>Inverse rate</span>{{ (1.0/vm.rate.exchange_rate) | currency:"":2}}</small>
                        </p>
                        <p class="right">
                          <span>{{vm.dealNumber(vm.beneficiary.recordnumber)}}  </span>
                        </p>
                      </div>
                      <div layout="column" layout-gt-xs="row" layout-gt-sm="column" layout-align="space-around stretch"
                           class="money-block">
                        <div flex flex-gt-xs="50" flex-gt-sm="100" flex-offset-gt-xs="0">
                          <span>Received amount</span>
                          <p>{{vm.beneficiary.buyCurrencyName}} {{ vm.fixedBuy | currency:'':2 }}</p>
                        </div>
                        <div flex flex-gt-xs="40" flex-offset-gt-xs="10" flex-offset-gt-sm="0" flex-gt-sm="100">
                          <span>Amount to pay</span>
                          <p>{{vm.beneficiary.sellCurrencyName}} {{vm.fixedSell | currency:'':2 }}</p>
                        </div>
                      </div>
                      <div layout="row" layout-align="space-between none" class="date-block">
                        <p class="left">
                          <span>Value date</span>
                          {{vm.step1.value_date | date: 'MM/dd/yyyy'}}
                        </p>
                      </div>
                    </ms-widget-front>
                  </ms-widget>
                </div>
                <!-- /flex-row-end -->
              </div>
            </form>
            <div layout="row" class="next-button-container payee-balance" layout-xs="column"
                 layout-align="center center">
              <div flex="30" flex-xs="100" class="balance">
                <h3>Balance:</h3> <span>{{ vm.balance  | currency:""}}</span>
              </div>
              <div flex="70" flex-xs="100">
                <!--<md-button aria-label="button" class="md-primary" ng-click="vm.nextStep()">Next</md-button>-->
                <!--<md-button ng-class="vm.parseFloating(vm.step3.amount) < vm.parseFloating(vm.balance.copy_amount) ? (vm.parseFloating(vm.step3.amount) == 0 ? 'md-secondary':'md-primary') :'md-secondary'" ng-hide="(vm.parseFloating(vm.step3.amount) >= vm.parseFloating(vm.balance.copy_amount) || vm.parseFloating(vm.step3.amount) == 0)? true:false" ng-click="vm.addPayee()" ng-disabled="vm.SendPayeesAndDisable">Add Payee</md-button>-->
                <!--<md-button ng-class="vm.parseFloating(vm.step3.amount) == vm.parseFloating(vm.balance.copy_amount) ? 'md-primary': (vm.step3.amount == null ? 'md-primary': (vm.parseFloating(vm.step3.amount) > vm.parseFloating(vm.balance.copy_amount) ? 'md-primary': 'md-secondary'))" ng-hide="vm.step3.amount == '' ?  true: vm.parseFloating(vm.step3.amount) == vm.parseFloating(vm.balance.copy_amount) ? false: (vm.step3.amount == null ? false: (vm.parseFloating(vm.step3.amount) > vm.parseFloating(vm.balance.copy_amount) ? false: true))" ng-click="vm.addPayeeTotal()" ng-disabled="vm.SendPayeesAndDisable">Next</md-button>-->
                <md-button class="md-primary"  ng-if="vm.verifyRecord(vm.step3.amount, vm.beneficiary.buy)"

                                       ng-click="vm.addPayee()">Add Payee
              </md-button>
                <md-button class="md-primary" ng-if="!vm.verifyRecord(vm.step3.amount, vm.beneficiary.buy)"
                           ng-click="vm.addPayeeTotal()">Next
                </md-button>
                <!--vm.step3.amount > 0 && vm.step3.amount < vm.quote_copy.amount-->

              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 3" id="tab_3">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="101.672px" height="193.615px" viewBox="0 0 101.672 193.615" enable-background="new 0 0 101.672 193.615"
                       xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M101.672,128.028c0,11.025-3.436,20.515-10.299,28.477
	c-6.873,7.962-15.828,12.881-26.885,14.762v18.881c0,1.02-0.316,1.855-0.936,2.502c-0.609,0.646-1.387,0.966-2.322,0.966h-14.02
	c-0.926,0-1.705-0.351-2.324-1.05s-0.955-1.503-1.008-2.418v-18.881c-4.594-0.641-9.02-1.771-13.254-3.385
	c-4.235-1.613-7.747-3.199-10.531-4.761c-2.786-1.561-5.351-3.312-7.673-5.244c-2.322-1.935-3.921-3.28-4.802-4.036
	c-0.884-0.752-1.493-1.398-1.86-1.934c-1.135-1.504-1.188-2.985-0.158-4.436L16.3,132.867c0.462-0.698,1.24-1.13,2.322-1.292
	c1.031-0.105,1.881,0.216,2.554,0.973l0.158,0.242c7.849,7.151,16.269,11.64,25.253,13.473c2.533,0.589,5.088,0.883,7.674,0.883
	c5.58,0,10.51-1.529,14.797-4.598c4.291-3.064,6.4-7.473,6.348-13.227c0-1.992-0.514-3.9-1.543-5.729
	c-1.031-1.829-2.197-3.337-3.49-4.519c-1.293-1.184-3.299-2.527-6.043-4.035c-2.732-1.505-5.033-2.66-6.895-3.469
	c-1.859-0.805-4.625-1.987-8.293-3.548c-2.678-1.13-4.803-2.019-6.348-2.665c-1.555-0.646-3.699-1.612-6.432-2.904
	c-2.744-1.288-4.877-2.393-6.432-3.307c-1.545-0.914-3.51-2.208-5.887-3.872c-2.375-1.667-4.234-3.201-5.58-4.599
	c-1.344-1.397-2.837-3.148-4.499-5.244c-1.649-2.097-2.857-4.193-3.636-6.291c-0.776-2.096-1.522-4.494-2.248-7.184
	c-0.716-2.685-1.008-5.507-0.853-8.471c0-9.895,3.385-18.607,10.153-26.138c6.768-7.525,15.596-12.339,26.497-14.441V3.468
	c0-0.972,0.334-1.775,1.008-2.422C45.559,0.4,46.338,0.053,47.211,0h14.02c0.936,0,1.713,0.321,2.322,0.967
	c0.619,0.646,0.936,1.476,0.936,2.501v19.039c3.975,0.432,7.797,1.235,11.467,2.417c3.668,1.189,6.684,2.397,9.059,3.632
	s4.572,2.581,6.59,4.036c2.018,1.45,3.354,2.501,4.025,3.148c0.674,0.641,1.188,1.155,1.557,1.529
	c1.188,1.293,1.365,2.664,0.535,4.115l-8.439,15.732c-0.516,1.131-1.293,1.719-2.322,1.777c-0.986,0.21-1.945-0.032-2.871-0.731
	c-0.209-0.215-0.691-0.673-1.469-1.371c-0.779-0.699-2.125-1.64-4.027-2.822c-1.912-1.183-3.949-2.339-6.127-3.468
	c-2.166-1.13-4.729-2.071-7.672-2.822c-2.943-0.757-5.906-1.157-8.9-1.215c-6.57,0-11.908,1.536-16.041,4.599
	c-4.129,3.069-6.232,7.073-6.273,12.024c0,1.881,0.307,3.604,0.926,5.16c0.619,1.561,1.629,3.069,3.027,4.519
	c1.387,1.451,2.752,2.639,4.098,3.548c1.346,0.914,3.279,2.045,5.813,3.389c2.533,1.346,4.625,2.313,6.273,2.906
	c1.66,0.588,4.076,1.587,7.283,2.986c3.67,1.397,6.465,2.527,8.367,3.389c1.912,0.861,4.551,2.123,7.902,3.789
	c3.363,1.665,5.971,3.199,7.83,4.598c1.861,1.399,4.004,3.201,6.434,5.408c2.428,2.202,4.256,4.492,5.496,6.857
	c1.24,2.364,2.322,5.107,3.26,8.229C101.209,120.98,101.672,124.371,101.672,128.028"/>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Funding</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular class="md-accent" md-diameter="35px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step4 </strong><span hide-xs>-</span> Funding Details</h3>
            <form class="beneficiary-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
                <div flex="40" flex-offset="0" flex-gt-sm="40" flex-xs="90" flex-gt-xs="100" flex-offset-gt-xs="0">
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label>Methods</label>
                      <md-select ng-model="vm.step4.method"
                                 ng-change="vm.PickAccount(vm.step4)">
                        <md-option ng-repeat="method in vm.methods | orderBy: 'name'" value="{{ method.id }}">
                          {{ method.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label>Amount</label>
                      <!--<input type="text" name="amount" ng-required="true" ng-model="vm.step4.amount" format="currency"-->
                      <!--ng-change="vm.UpdateFundingBalance()"-->
                      <!--ng-keypress="vm.protectAmount($event)"-->
                      <!--&gt;-->

                      <!--<input type="text" name="amount" ng-model="vm.step4.amount" format="currency" ng-required="true"-->
                      <!--ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateFundingBalance($event)"-->
                      <!--ng-keypress="vm.LimitFundingAmountTotal($event)" ng-keyup="vm.LimitFundingAmountTotal($event)"-->

                      <!--&gt;-->

                      <input type="text" name="amount" ng-model="vm.step4.amount" format="currency"
                             ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateFundingBalance($event)"
                             ng-keypress="vm.LimitFundingAmountTotal($event)"

                      >
                      <!--ng-keydown="vm.protectAmount($event)"-->
                      <!--ng-keydown="vm.protectAmount($event)"-->
                      <!--ng-keypress="vm.LimitFundingAmountTotal($event)"-->
                      <!--ng-keyup="vm.LimitFundingAmountInt($event)"-->
                      <!--&lt;!&ndash;ng-disabled="vm.step4.amount == null ? true: false">&#45;&#45;-->

                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex>
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label>Account picker</label>
                      <md-select ng-model="vm.step4.account_picker">
                        <md-option ng-repeat="account in vm.accounts" value="{{ account.id }}">
                          {{ account.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <!-- /flex-row-end -->
                <div flex="30" flex-offset="30" flex-gt-sm="30" flex-offset-gt-sm="30" flex-xs="90" flex-gt-xs="100"
                     flex-offset-gt-xs="0" flex-offset-xs="0" class="payment-card-detail funding-card">
                  <ms-widget flippable="true">
                    <ms-widget-front class="padding-16 custom-quote long-height">
                      <div layout="row" layout-align="space-between none" class="rate-block">
                        <p class="left">
                          <strong>Rate</strong>
                          <span>{{ vm.rate.exchange_rate | currency:"":5}}</span>
                          <small><span>Inverse rate</span>{{ (1.0/vm.rate.exchange_rate) | currency:"":2}}</small>
                        </p>
                        <p class="right">
                          <span>{{vm.beneficiary.recordnumber}}</span>
                        </p>
                      </div>
                      <div layout="column" layout-gt-xs="row" layout-gt-sm="column" layout-align="space-around stretch"
                           class="money-block">
                        <div flex flex-gt-xs="50" flex-gt-sm="100" flex-offset-gt-xs="0">
                          <span>Received amount</span>
                          <p>{{vm.beneficiary.buyCurrencyName}} {{ vm.fixedBuy | currency:'':2 }}</p>
                        </div>
                        <div flex flex-gt-xs="40" flex-offset-gt-xs="10" flex-offset-gt-sm="0" flex-gt-sm="100">
                          <span>Amount to pay</span>
                          <p>{{vm.beneficiary.sellCurrencyName}} {{ vm.fixedSell | currency:'':2 }}</p>
                        </div>
                      </div>
                      <div layout="row" layout-align="space-between none" class="date-block">
                        <p class="left">
                          <span>Value date</span>
                          {{vm.step1.value_date | date: 'MM/dd/yyyy'}}
                        </p>
                      </div>
                    </ms-widget-front>
                  </ms-widget>
                </div>
                <!-- /flex-row-end -->
              </div>
            </form>
            <div layout="row" layout-xs="column" layout-align="center center"
                 class="next-button-container funding-balance">
              <div flex="30" flex-xs="100" class="balance">
                <h3>Balance:</h3> <span>{{ vm.funding_balance | currency:""}}</span>
              </div>
              <div flex="70" flex-xs="100">
                <!--<md-button-->
                <!--ng-class="vm.parseFloating(vm.step4.amount) < vm.parseFloating(vm.funding_balance.copy_amount) ? (vm.parseFloating(vm.step4.amount) == 0 ? 'md-secondary':'md-primary') :'md-secondary'"-->
                <!--ng-hide="(vm.parseFloating(vm.step4.amount) >= vm.parseFloating(vm.funding_balance.copy_amount) || vm.parseFloating(vm.step4.amount) == 0)? true:false"-->
                <!--ng-click="vm.addFundingRecord(vm.step4)" ng-disabled="vm.SendFundingAndDisable">Add Funding-->
                <!--</md-button>-->
                <!--<md-button class="md-primary" ng-show="vm.customShow" ng-click="vm.addTotalFundingRecord(vm.step4)">-->
                <!--Next-->
                <!--</md-button>-->
                <!--<md-button class="md-primary" ng-click="vm.nextStep()">Next</md-button>-->
                <md-button class="md-primary"  ng-if="vm.verifyRecord(vm.step4.amount, vm.beneficiary.sell)"
                           ng-click="vm.addFundingRecord(vm.step4)">Add Funding
                </md-button>
                <md-button class="md-primary" ng-if="!vm.verifyRecord(vm.step4.amount, vm.beneficiary.sell)"
                           ng-click="vm.addTotalFundingRecord(vm.step4)">Next
                </md-button>
                <!--<md-button-->
                <!--ng-class="vm.parseFloating(vm.step4.amount) == vm.parseFloating(vm.funding_balance.copy_amount) ? 'md-primary': (vm.step4.amount == null ? 'md-primary': (vm.parseFloating(vm.step4.amount) > vm.parseFloating(vm.rate.sell_amount) ? 'md-primary' : 'md-secondary'))"-->
                <!--ng-hide="vm.step4.amount == '' ? true: vm.parseFloating(vm.step4.amount) == vm.parseFloating(vm.funding_balance.copy_amount) ? false: (vm.step4.amount == null ? false: (vm.parseFloating(vm.step4.amount) > vm.parseFloating(vm.funding_balance.copy_amount) ? false : true))"-->
                <!--ng-show="vm.customShow" ng-click="vm.addTotalFundingRecord(vm.step4)"-->
                <!--ng-disabled="vm.SendFundingAndDisable">Next-->
                <!--</md-button>-->
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 4" id="tab_4">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="172.305px" height="196.394px" viewBox="0 0 172.305 196.394" enable-background="new 0 0 172.305 196.394"
                       xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M154.27,178.602V54.004H55.094v53.404H37.06V54.004
	c0-9.82,8.075-17.791,18.034-17.791h99.176c9.959,0,18.035,7.971,18.035,17.791v124.598c0,9.82-8.076,17.791-18.035,17.791H55.094
	c-9.959,0-18.034-7.971-18.034-17.791v-17.801h18.034v17.801H154.27 M82.141,142.999H19.024C9.065,142.999,1,135.03,1,125.209
	V18.413C1,8.583,9.065,0.611,19.024,0.611h108.198v17.802H19.024v106.796h63.116v-17.801l36.07,26.695l-36.07,26.697V142.999"/>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Approval</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <md-tab-body>
              <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step5 </strong><span hide-xs>-</span> Approvals</h3>
              <div layout="row" ms-scroll class="payment-summary">
                <table>
                  <thead>
                  <tr>
                    <th>Deal Number</th>
                    <th>Rate</th>
                    <th>Value Date</th>
                    <th>Selling Amount</th>
                    <th>Buying Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>DEMO-DEAL-12345</td>
                    <td>3.5582</td>
                    <td>15/02/2017</td>
                    <td><div class="amount">4500.22 <span class="currency cad">CAD</span></div></td>
                    <td><div class="amount">4500.22 <span class="currency usd">USD</span></div></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div layout="column" class="payment-detail">
                <div flex="100" class="header">
                  <h3>Beneficiary Details</h3>
                </div>
                <div flex="100" ms-scroll class="responsive">
                  <table>
                    <tbody>
                    <!--{{vm.payees}}-->
                    <tr ng-repeat="payee in vm.payees">
                      <!--{{payee}}-->
                      <td>{{payee.name}} <span class="method bill-payment">{{payee.paymentmethod}}</span></td>
                      <td><div class="amount">{{payee.amount}} <span class="currency cad">{{payee.currency_name}}</span></div></td>
                      <td><strong>Fee:</strong> <span>{{payee.fee}}</span></td>
                      <td><strong>Total:</strong> <span>{{payee.total}}</span></td>
                      <td><strong>Rate:</strong> <span>{{payee.rate}}</span></td>
                      <td><strong>Reference:</strong>{{payee.internal_reference}}</td>
                      <td>{{payee.value_date}}</td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                      <td>Grand Total</td>
                      <td><div class="amount">{{vm.payeeAndFundingTotal('payee', 'amount')}}</div></td>
                      <td><div class="amount">{{vm.payeeAndFundingTotal('payee', 'fee')}}</div></td>
                      <td colspan="4"><div class="amount">{{vm.payeeAndFundingTotal('payee', 'amount')}}</div></td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div layout="column" class="payment-detail">
                <div flex="100" class="header">
                  <h3>Funding Details</h3>
                </div>
                <div flex="100" ms-scroll class="responsive last-td-far-left">
                  <table>
                    <tbody>
                    <tr ng-repeat="funding in vm.fundings">
                      <!--{{payee}}-->
                      {{ funding }}
                      <td>{{funding.name}} <span class="method bill-payment">{{funding.paymentmethod}}</span></td>
                      <td><div class="amount">{{funding.amount}} <span class="currency cad">{{funding.currency_name}}</span></div></td>
                      <td><strong>Fee:</strong> <span>{{funding.fee}}</span></td>
                      <td><strong>Total:</strong> <span>{{funding.total}}</span></td>
                      <td><strong>Rate:</strong> <span>{{funding.rate}}</span></td>
                      <td><strong>Reference:</strong>{{funding.internal_reference}}</td>
                      <td>{{payee.value_date}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan="5">Grand Total</td>
                      <td><div class="amount">{{vm.payeeAndFundingTotal('funding', 'amount')}}</div></td>
                      <td><div class="amount">{{vm.payeeAndFundingTotal('funding', 'fee')}}</div></td>
                      <td colspan="4"><div class="amount">{{vm.payeeAndFundingTotal('funding', 'amount')}}</div></td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div layout="row" layout-xs="column" layout-align="center center" class="next-button-container">
                <!--<md-button class="md-primary" ng-click="vm.nextStep()">Next</md-button>-->
                <!--{{vm.skipApprovalStep}}-->
                <md-button class="md-primary" ng-if="vm.selectedIndex === 4" ng-mouseover="vm.showPopOverFunc()"
                           ng-hide="vm.skipApprovalStep" ng-mouseleave="vm.showPopLeaveFunc()"
                           ng-click="vm.approveNow()">Approve <span>{{ vm.approvalCounter }} / {{ vm.approvalPolicy.approval_level }}</span>
                </md-button>
                <md-button class="md-outline" ng-if="vm.selectedIndex === 4" ng-click="vm.UpdateDeal()"
                           ng-show="vm.ApprovalNext || (vm.skipApprovalStep == true)">Next
                </md-button>
                <md-button class="md-primary md-secondary" ng-if="vm.selectedIndex === 4" ng-click="vm.ApprovalPrevious()"
                           ng-show="vm.approvalCounter <= 0 ">Previous
                </md-button>
                <div class="popup" ng-hide="vm.showPopOver">
                  <span>{{ vm.popover.title }}</span>
                  <table ms-responsive-table>
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="vm.Approvals != 0">
                      <td colspan="3">No approval records.</td>
                    </tr>
                    <tr ng-repeat="approval in vm.Approvals track by $index">
                      <td>{{ $index + 1 }}</td>
                      <td>{{ vm.toUpperCase(approval.user_name) }}</td>
                      <td>{{ approval.approval_date | date: 'MM/dd/yyyy h:mm:ss a'}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </md-tab-body>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 5" id="tab_5">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="258.229px" height="193.647px" viewBox="0 0 258.229 193.647" enable-background="new 0 0 258.229 193.647"
                       xml:space="preserve">
                    <polyline fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="82.156,153.211 20.535,92.515 0,112.741 82.156,193.678
	258.229,20.242 237.693,0 82.156,153.211 "/>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Confirmation</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 6 </strong><span hide-xs>-</span> Confirmation</h3>
            <div layout="row" ms-scroll class="payment-summary">
              <table>
                <thead>
                <tr>
                  <th>Deal Number</th>
                  <th>Rate</th>
                  <th>Value Date</th>
                  <th>Selling Amount</th>
                  <th>Buying Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>DEMO-DEAL-12345</td>
                  <td>3.5582</td>
                  <td>15/02/2017</td>
                  <td><div class="amount">4500.22 <span class="currency cad">CAD</span></div></td>
                  <td><div class="amount">4500.22 <span class="currency usd">USD</span></div></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div layout="column" class="payment-detail">
              <div flex="100" class="header">
                <h3>Beneficiary Details</h3>
              </div>
              <div flex="100" ms-scroll class="responsive">
                <table>
                  <tbody>
                  <tr>
                    <td>01 - Techmo Inc <span class="method bill-payment">Bill Payment</span></td>
                    <td><div class="amount">4500.22 <span class="currency cad">CAD</span></div></td>
                    <td><strong>Fee:</strong> <span>3.11256</span></td>
                    <td><strong>Total:</strong> <span>4503.33</span></td>
                    <td><strong>Rate:</strong> <span>1.30</span></td>
                    <td><strong>Reference:</strong> some ref</td>
                    <td>15/02/2017</td>
                  </tr>
                  <tr>
                    <td>02 - Techmo Inc <span class="method aba">ABA</span></td>
                    <td><div class="amount">4500.22 <span class="currency eur">EUR</span></div></td>
                    <td><strong>Fee:</strong> <span>3.11256</span></td>
                    <td><strong>Total:</strong> <span>4503.33</span></td>
                    <td><strong>Rate:</strong> <span>1.30</span></td>
                    <td><strong>Reference:</strong> some ref</td>
                    <td>15/02/2017</td>
                  </tr>
                  <tr>
                    <td>03 - Techmo Inc <span class="method cheque">Cheque</span></td>
                    <td><div class="amount">4500.22 <span class="currency usd">USD</span></div></td>
                    <td><strong>Fee:</strong> <span>3.11256</span></td>
                    <td><strong>Total:</strong> <span>4503.33</span></td>
                    <td><strong>Rate:</strong> <span>1.30</span></td>
                    <td><strong>Reference:</strong> some ref</td>
                    <td>15/02/2017</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td>Grand Total</td>
                    <td><div class="amount">15000.00</div></td>
                    <td><div class="amount">9.33768</div></td>
                    <td colspan="4"><div class="amount">15000.00</div></td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div layout="column" class="payment-detail">
              <div flex="100" class="header">
                <h3>Funding Details</h3>
              </div>
              <div flex="100" ms-scroll class="responsive last-td-far-left">
                <table>
                  <tbody>
                  <tr>
                    <td colspan="5">ACC10338525 <span class="method bill-payment">Bill Payment</span></td>
                    <td colspan="2"><div class="amount">15,000.00 <span class="currency cad">CAD</span></div></td>
                  </tr>
                  <tr>
                    <td colspan="5">ACC10338525 <span class="method cheque">Cheque</span></td>
                    <td colspan="2"><div class="amount">15,000.00</div> <span class="currency cad">CAD</span></td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="5">Grand Total</td>
                    <td colspan="2"><div class="amount">15,000.00</div></td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="center center" class="next-button-container">
              <md-button class="md-primary" ng-if="vm.selectedIndex === 5" ng-click="vm.doneFunc()">Done</md-button>
              <md-button class="md-outline button-with-icon" ng-if="vm.selectedIndex === 5">
                <a href="javascript:;" ng-click="vm.printDeal()"><i class="material-icons">print</i> Print</a>
              </md-button>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </ms-form-wizard>
  </div>
  <div class="modern-data-tables-summary" layout="column" layout-align="center stretch">
    <div flex="100" id="payees" ng-if="vm.payees.length > 0 && vm.selectedIndex < 3">
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Fee</th>
          <th>Reference</th>
          <th>Value Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="payee in vm.payees track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ payee.name | limitTo: 25 }} <span class="method {{ payee.type | lowercase | filter:'dashes' }}">{{ payee.type | uppercase }}</span></td>
          <td><div class="amount">{{ payee.amount | currency:"":2 }} <span class="currency {{ payee.currency_name | lowercase }}">{{ payee.currency_name | uppercase }}</span></div></td>
          <td><div class="amount">{{ payee.fee | currency:"":2 }}</div></td>
          <td>{{ payee.payment_reference }}</td>
          <td>{{ payee.value_date | date: 'MM/dd/yyyy'}}</td>
          <td>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="vm.editPayee(payee)">
                    <ion-icon></ion-icon>
                    <span md-menu-align-target=""><i class="material-icons">edit</i> Edit</span></md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.deletePayee(payee, $index)"><span md-menu-align-target=""><i class="material-icons">delete</i> Delete</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div flex="100" id="fundings" ng-if="vm.fundings.length > 0 && vm.selectedIndex < 4" >
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Fee</th>
          <th colspan="2">Value Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="funding in vm.fundings track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ funding.name | limitTo: 25 }} <span class="method {{ funding.method | lowercase | filter:'dashes' }}">{{ funding.method | uppercase }}</span></td>
          <td><div class="amount">{{ funding.amount | currency:"":2 }} <span class="currency {{ funding.currency_name | lowercase }}">{{ funding.currency_name | uppercase }}</span></div></td>
          <td><div class="amount">{{ funding.fee | currency:"":2 }}</div></td>
          <td colspan="2">{{ funding.value_date | date: 'MM/dd/yyyy'}}</td>
          <td>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="vm.editFunding(funding)">
                    <ion-icon></ion-icon>
                    <span md-menu-align-target=""><i class="material-icons">edit</i> Edit</span></md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.deleteFunding(funding, $index)"><span md-menu-align-target=""><i class="material-icons">delete</i> Delete</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
