#draw_down{
  .margin-left-13{
    margin-left: 13px;
  }
  md-tabs md-tabs-content-wrapper{
    @include show-box;
    margin: 10px 6px 6px 6px;
  }
  .next-button-container{
    margin-top: 1.5em;
  }
  .fee-box{
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 13px;
  }
  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  .child-hide{
    display: none;
  }
  .child-show{
    display: table-row;
  }
  button{
    i.fa-trash-o{
      color: #e61610;
    }
  }
  .data-table-records{
    width: 100%;
    height: 350px;
    table{
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;
      thead tr th{
        background-color: #ebebeb;
        border: 1px solid #d4d4d4;
        padding: 6px;
        color: #636060;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
      }
      thead tr th:nth-child(1){
        width: 10%
      }
      thead tr th:nth-child(2){
        width: 10%
      }
      thead tr th:nth-child(3){
        width: 10%
      }
      thead tr th:nth-child(4){
        width: 25%
      }
      thead tr th:nth-child(5){
        width: 10%
      }
      thead tr th:nth-child(6){
        width: 25%
      }
      thead tr th:nth-child(7){
        width: 10%
      }
      tbody tr td span.type{
        background-color: #EBEBEB;
        color: rgba(0, 0, 0, 0.87);
        padding: 4px;
        font-size: 12px;
        border-radius: 3px;
      }
      tbody tr td span.type.drawdown{
        background-color: #2196F3;
        color: #fff;
      }
      tbody tr td span.type.predelivery{
        background-color: #E91E63;
        color: #fff;
      }
    }
    table tbody tr td .title{
      padding: 3px 15px;
      cursor:pointer;
      background: #e4edfd;
      border: 1px solid #d3d8e1;
      font-weight: bold;
      h4{
        margin: 0;
        padding: 2px;
        font-weight: bold;
      }
      span:last-of-type{
        position: relative;
        top: 4px;
      }
    }
    table.child_table{
      tbody tr td{
        border-bottom: 1px solid #eee;
      }
      tbody tr td:nth-child(4),
      tbody tr td:nth-child(6){
        text-align: right;
      }
      tbody tr td .amount{
        margin-right: 40%;
        text-align: right;
      }
      tbody tr td{
        cursor: pointer;
      }
      tbody tr td button.md-icon-button{
        border-radius: 0;
        width: 40px;
        height: 30px;
        padding: 4px;
      }
      tbody tr td span.fa{
        position: relative;
        top: 0;
        right: 5px;
      }
      tbody tr td{
        padding: 2px;
        text-align: center;
      }
      tbody tr td:nth-child(1){
        width: 10%
      }
      tbody tr td:nth-child(2){
        width: 10%
      }
      tbody tr td:nth-child(3){
        width: 10%
      }
      tbody tr td:nth-child(4){
        width: 25%
      }
      tbody tr td:nth-child(5){
        width: 10%
      }
      tbody tr td:nth-child(6){
        width: 25%
      }
      tbody tr td:nth-child(7){
        width: 10%
      }
      tbody tr.selected td{
        background-color: rgba(114, 187, 83, 0.27);
      }
      tbody tr:not(.selected) td span.fa{
        display: none;
      }
      tbody tr.extra td{
        border-top: 2px solid #bbcce4;
        border-bottom: 2px solid #bbcce4;
       /* -webkit-box-shadow: 3px 4px 5px #bbcce4;
        -moz-box-shadow: 3px 4px 5px #bbcce4;
        box-shadow: 3px 4px 5px #bbcce4;*/
        background-color: rgba(229, 229, 229, 0.44);
      }
      tbody tr.extra td:first-child{
        border-left: 2px solid #bbcce4;
      }
      tbody tr.extra td:last-child{
        border-right: 2px solid #bbcce4;
      }
    }
  }
  .summary{
    padding: 0 14px;
    h4{
      font-weight: 500;
      font-size: 1.4em;
      padding: 6px 6px 6px 0;
      margin: 0;
    }
    .summary-table{
      background-color: #eff6eb;
      border: 1px solid #d1d8ce;
      padding: 12px;
      width: 100%;
      height: 250px;
      table{
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        thead tr th,
        tbody tr td{
          padding: 0 4px;
          margin: 0;
        }
        thead tr th{
          color: #888;
          font-style: italic;
        }
        tbody tr td{
          color: #444;
          font-weight: bold;
          border-bottom: 2px solid #727570;
        }
        thead tr th:nth-child(1),
        tbody tr td:nth-child(1){
          width: 15%;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 15%;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 15%;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 25%;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 25%;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 5%;
        }
      }
    }
  }
  .beneficiary-form{
    md-input-container{
      margin: 12px 0;
      .md-errors-spacer{
        display: none;
      }
    }
    md-checkbox{
      margin-bottom: 14px;
    }
  }
  .margin-top-2_2em{
    margin-top: 2.2em;
  }
  .beneficiary-form{
    min-height: 320px;
  }
  md-tabs,
  ms-form-wizard{
    background: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tabs-wrapper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tab-content{
    background: #fff;
    margin-top: 2%;
  }
  .icon-circle, .icon-circle-large, .icon-circle-small{
    position: relative;
    display: inline-block;
    margin: -1px;
    width: 45px;
    height: 45px;
    font-size:40px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align:center;
  }
  .icon-circle-large {
    width: 100px;
    height: 100px;
    font-size: 64px;
    padding: 16px;
  }
  .icon-circle-small {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
  .icon-circle-outline {
    border: 1px solid rgb(0, 161, 225);
    background: transparent;
    color: rgb(0, 161, 225);
  }
  .icon-circle-outline i {  }
  .item-icon-circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align:center;
    color:white;
  }
  .item-icon-circle i {
    font-size:60px;
  }
  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .md-tab{
    padding-top: 6px;
  }
  .md-tab:nth-child(1){
    padding-left: 8px;
    .ms-form-wizard-step-label{
      padding-left: 0;
    }
  }
  .md-tab:nth-child(6){
    width: 0;
    max-width: none !important;
    padding-right: 50px;
    .ms-form-wizard-step-label{
      padding-right: 0;
    }
  }
  .ms-form-wizard-step-label{
    color: #00C8F8;
    background: none;
    .ms-form-wizard-step-icon {
      display: block;
      .icon-circle{
        color: #00C8F8;
        border-color: #00C8F8;
        background: #fff;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#00C8F8;
          }

        }
      }
    }
    .ms-form-wizard-step-text{
      display: block;
      text-transform: none;
    }
  }
  md-tab-item{
    position: relative;
  }
  md-tab-item::after{
    content: '';
    display: block;
    position: absolute;
    top: 36%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 36%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item:first-of-type::before{
    content: '';
    display: none;
  }
  md-tab-item:last-of-type::after{
    display:none;
    content:'';
  }
  md-tab-item:not(.md-active){
    .ms-form-wizard-step-label{
      color: #B8B8B8 !important;
      .icon-circle{
        color: #B8B8B8 !important;
        border-color: #fff !important;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#AAAAAA;
          }
        }
      }
    }
  }
  md-tab-item:not(.md-active):after{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item:not(.md-active):before{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item.md-active{
    .icon-circle{
      background: transparent !important;
    }
  }
  md-tab-item.md-previous{
    .ms-form-wizard-step-label{
      color: #3D8AF7 !important;
      background: none;
      .ms-form-wizard-step-icon {
        .icon-circle{
          color: #fff;
          border-color: #3D8AF7 !important;
          background: #3D8AF7 !important;
          .icon-svg{
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
            top: 0;
            path,
            polyline{
              fill: #fff;
            }
          }
        }
      }
    }
    &:after{
      border-bottom: 3px solid #3D8AF7;
    }
    &:before{
      border-bottom: 3px solid #3D8AF7;
    }
    &:first-of-type::before{
      display:none;
      content:'';
    }
  }
  md-tabs{
    h3.md-text-accent{
      color: #555 !important;
      margin-left: 15px;
      font-size: 1.4em;
      padding-bottom: 1.2em;
      margin-right: 0.7em;
      margin-bottom: 5px;
      border-bottom: 2px solid #D8D8D8;
      strong{
        color: #606070 !important;
      }
    }
    md-input-container label{
      font-weight: bold !important;
    }
    md-input-container md-select,
    md-input-container input,
    md-input-container md-select md-option{
      font-weight: bold;
    }
    .payment-card-detail{
      position: relative;
      top: -17px;
    }
    .payment-card-detail.funding-card{
      position: relative;
      top: -17px;
    }
    .popup{
      position: absolute;
      top: -13em;
      left: 30%;
      background-color: #fff;
      color: #333;
      width: 30%;
      padding: 1em;
      -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
      -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
      span {
        display: block;
        font-weight: 700;
        width: 100%;
        text-align: center;
        color: #0C59CF;
        font-size: 1.1em;
      }
      table{
        margin-top: 5px;
        border-collapse: collapse;
        width: 100%;
        td,th{
          white-space: nowrap;
          border-bottom: 1px solid #f0f3f4;
          padding: 4px;
        }
      }
    }
    .data-table,
    .details-block{
      margin-top: 0;
      padding-top: 0;
    }
    .data-table table,
    .details-block table{
      width: 100%;
      thead{
        display: none;
      }
    }
    .details-block table{
      margin-top: 1em;
    }
    .details-block{
      margin-bottom: 1.5em;
    }
    .details-block table tfoot tr{
      background-color: #AAAAAA;
      border: 2px solid #E8E8E8;
    }
    .details-block table tfoot tr td{
      color: #fff !important;
      font-family: 'Roboto', sans-serif;
    }
    .details-block table tfoot tr td:nth-child(3){
      padding-left: 3%;
    }
    .details-block table tfoot tr td:nth-child(4){
      padding-left: 4%;
    }
    .details-block table.mdl-data-table tfoot tr:hover{
      background-color: #AAAAAA;
    }
    .details-block .funding-table tbody tr td:nth-child(2){
      text-align: right;
      padding-right: 3%;
    }
    .details-block .funding-table tfoot tr td:nth-child(2){
      text-align: right;
      padding-right: 5.6%;
    }
    .custom-quote{
      background-color: #F7F6F6;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
      height: 19em;
      .rate-block{
        background-color: #FBFAFA;
        padding: 0 16px 16px 16px;
        border-bottom: none;
        border-top: 1px solid rgba(215, 214, 214, .80);
        border-left: 1px solid rgba(215, 214, 214, .80);
        border-right: 1px solid rgba(215, 214, 214, .80);
        p.left{
          position: relative;
          margin-bottom: 5px;
          margin-top: 8px;
          padding-bottom: 3.5em;
          & > *{
            position: absolute;
            top: 0;
            left:0;
          }
          & > strong{
            font-weight: normal;
            font-size: 0.90em;
            color: #929292;
            font-style: italic;
          }
          & > span{
            top: 14px;
            font-size: 1.8em;
            margin-top: 5px;
          }
          & > small{
            font-style: italic;
            top: 30px;
            font-size: 11px;
            width: 110px;
            padding-top: 17px;
            span{
              padding-right: 4px;
            }
          }
        }
      }
      .money-block{
        padding: 10px 16px 0 16px;
        height: 9.5em;
        span{
          font-size: 0.90em;
          color: #929292;
          font-style: italic;
        }
        p{
          font-size: 1.8em;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        & > div:nth-child(1) > p{
          color: #00A4D3;
        }
        p:nth-child(2){
          color: #72BB53;
        }
      }
    }
    md-datepicker{
      position: relative;
    }
    .date-block{
      padding: 8px 8px 8px 16px;
      background-color: #FBFAFA;
      border-top: none;
      border-bottom: 1px solid rgba(215, 214, 214, .80);
      border-left: 1px solid rgba(215, 214, 214, .80);
      border-right: 1px solid rgba(215, 214, 214, .80);
      span{
        color: #959595;
        font-style: italic;
        font-weight: normal;
      }
      color: #636060;
      font-weight: bold;
    }
    md-datepicker .md-datepicker-input-container{
      width: 100%;
      margin-left: 0;
      .md-icon-button{
        display: none;
      }
    }
    md-datepicker > button{
      position: absolute;
      top: -18px;
      right: 8px;
    }
  }
  .content.layout-column{
    padding-bottom: 4px;
  }
  .details-table{
    width: 100%;
    min-height: 150px;
    table{
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;
    }
  }
  .details-block{
    md-table-container{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .heading-block{
      background-color: #EBEBEB;
      border-top: 1px solid #C7C7C7;
      -webkit-box-shadow:  0 4px 15px -2px grey;
      -moz-box-shadow:  0 4px 15px -2px grey;
      box-shadow: 0 4px 15px -2px grey;
      h3{
        font-size: 18px;
        padding: 2px;
        margin-left: 8px;
        font-weight: bold;
        color: #616060;
        font-family: 'Open Sans', 'Roboto', sans-serif;
      }
    }
  }
}
md-dialog.deal_draw_down{
  .responsive{
    table{
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        width: 160px;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 140px;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 120px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 140px;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 140px;
      }
    }
  }
}
@media screen and (max-width:766px){
  .md-text-accent .fee-tag{
    display:block;
  }
  .deal-draw-down-main .showcase-table table td {
    padding: 0px 10px 0px 30px;
  }
  .tags{
    display:table;
  }
  .wd250{
    width:250% !important;
  }
}
/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 359px)  {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px)  {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 411px)  {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 412px) and (max-width: 413px)  {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px)  {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px)  {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 104px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 108px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 70px;
    }
  }
}
//iPad Pro
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 20px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 56px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 88px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 67px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 93px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 70px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):after{
      left: 84px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 64px;
    }
    md-tab-item.md-tab:nth-child(5){
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(5):after{
      left: 85px;
    }
    md-tab-item.md-tab:nth-child(5):before{
      right: 65px;
    }
    md-tab-item.md-tab:nth-child(6){
      padding-left: 20px;
      padding-right: 100px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(6):before{
      right: 66px;
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1359px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 30px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 70px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 111px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 111px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 115px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):after{
      left: 106px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 106px;
    }
    md-tab-item.md-tab:nth-child(5){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(5):after{
      left: 108px;
    }
    md-tab-item.md-tab:nth-child(5):before{
      right: 108px;
    }
    md-tab-item.md-tab:nth-child(6){
      padding-left: 30px;
      padding-right: 70px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(6):before{
      right: 60px;
    }
  }
}
@media screen\0{
  #draw_down{
    //md-tab-item:last-child:after{
    //  display:none;
    //}
    md-tab-item.md-tab:nth-child(6):after{
      right: 125px;
    }
  }
}
@supports (-ms-ime-align:auto) {
  #draw_down{
    md-tab-item:last-child:after{
      display:none;
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 30px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 79px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 122px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 121px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 125px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 125px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 115px;
    }
    md-tab-item.md-tab:nth-child(5){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(5):after{
      left: 118px;
    }
    md-tab-item.md-tab:nth-child(5):before{
      right: 118px;
    }
    md-tab-item.md-tab:nth-child(6){
      padding-left: 30px;
      padding-right: 70px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(6):before{
      right: 80px;
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 30px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 83px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 123px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 123px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 129px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 129px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):after{
      left: 118px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 118px;
    }
    md-tab-item.md-tab:nth-child(5){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(5):after{
      left: 122px;
    }
    md-tab-item.md-tab:nth-child(5):before{
      right: 121px;
    }
    md-tab-item.md-tab:nth-child(6){
      padding-left: 30px;
      padding-right: 70px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(6):before{
      right: 86px;
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 30px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 100px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 142px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 142px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 146px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 147px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):after{
      left: 137px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 138px;
    }
    md-tab-item.md-tab:nth-child(5){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(5):after{
      left: 139px;
    }
    md-tab-item.md-tab:nth-child(5):before{
      right: 138px;
    }
    md-tab-item.md-tab:nth-child(6){
      padding-left: 30px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(6):before{
      right: 103px;
    }
  }
}
@media only screen and (min-width : 1920px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 55px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 107px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 55px;
      padding-right: 55px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 174px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 174px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 55px;
      padding-right: 55px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 178px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 178px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 55px;
      padding-right: 55px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):after{
      left: 168px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 168px;
    }
    md-tab-item.md-tab:nth-child(5){
      padding-left: 55px;
      padding-right: 55px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(5):after{
      left: 171px;
    }
    md-tab-item.md-tab:nth-child(5):before{
      right: 170px;
    }
    md-tab-item.md-tab:nth-child(6){
      padding-left: 55px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(6):before{
      right: 94px;
    }
  }
}
@media only screen and (min-width : 2560px) {
  #draw_down{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 70px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 147px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 70px;
      padding-right: 70px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 231px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 230px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 70px;
      padding-right: 70px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 235px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 237px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 70px;
      padding-right: 70px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):after{
      left: 224px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 224px;
    }
    md-tab-item.md-tab:nth-child(5){
      padding-left: 70px;
      padding-right: 70px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(5):after{
      left: 226px;
    }
    md-tab-item.md-tab:nth-child(5):before{
      right: 227px;
    }
    md-tab-item.md-tab:nth-child(6){
      padding-left: 70px;
      padding-right: 30px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(6):before{
      right: 136px;
    }
  }
}

