<div id="invoice" class="compact page-layout blank" layout="row" >
  <div class="invoice-container">

    <!-- INVOICE -->
    <div class="card">

      <div class="header">
        <div class="invoice-date">{{vm.invoice.date}}</div>

        <div layout="row" layout-align="space-between stretch">
          <div class="client">
            <div class="invoice-number" layout="row" layout-align="start center">
              <span class="title">INVOICE</span>
              <span class="number">{{vm.invoice.number}}</span>
            </div>

            <div class="due-date" layout="row" layout-align="start center">
              <span class="title">DUE DATE</span>
              <span class="date">{{vm.invoice.dueDate}}</span>
            </div>

          </div>

          <div class="issuer md-accent-bg" layout="row" layout-align="start center">
            <div class="logo" layout="row" layout-align="center center">
              <span>FX</span>
            </div>

            <div class="info">
              <div class="title">{{vm.invoice.from.title}}</div>
              <div ng-if="vm.invoice.from.phone" class="phone">{{vm.invoice.from.phone}}</div>
              <div ng-if="vm.invoice.from.email" class="email">{{vm.invoice.from.email}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <table class="simple invoice-table">
          <thead>
          <th>SERVICE</th>
          <th >UNIT</th>
          <th class="text-right">UNIT PRICE</th>
          <th class="text-right" >QUANTITY</th>
          <th class="text-right" >TOTAL</th>
          </thead>
          <tbody>
          <tr ng-repeat="service in vm.invoice.services">
            <td>
              <div class="title">
                {{service.title}}
              </div>
            </td>
            <td>
              {{service.unit}}
            </td>
            <td class="text-right">
              {{service.unitPrice | currency}}
            </td>
            <td class="text-right">
              {{service.quantity}}
            </td>
            <td class="text-right">
              {{service.total | currency}}
            </td>
          </tr>
          <!-- Double the invoice data for demo purposes -->
          <tr ng-repeat="service in vm.invoice.services">
            <td>
              <div class="title">
                {{service.title}}
              </div>
            </td>
            <td>
              {{service.unit}}
            </td>
            <td class="text-right">
              {{service.unitPrice | currency}}
            </td>
            <td class="text-right">
              {{service.quantity}}
            </td>
            <td class="text-right">
              {{service.total | currency}}
            </td>
          </tr>
          </tbody>
        </table>
        <table class="simple invoice-table-footer">
          <tbody>
          <tr class="subtotal">
            <td >SUBTOTAL</td>
            <td>{{vm.invoice.subtotal | currency}}</td>
          </tr>
          <tr class="tax">
            <td >TAX</td>
            <td>{{vm.invoice.tax | currency}}</td>
          </tr>
          <tr class="discount">
            <td >DISCOUNT</td>
            <td>-{{vm.invoice.discount | currency}}</td>
          </tr>
          <tr class="total">
            <td >TOTAL</td>
            <td>{{vm.invoice.total | currency}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- / INVOICE -->


  </div>
</div>
