<div layout="row" layout-gt-xs="row" layout-align="center center">
  <ms-widget class="h-300" layout="column" flex="100" flex-gt-xs="70"
             flex-gt-md="70">

    <!-- Front -->
    <ms-widget-front class="p-16 blue-bg white-fg" layout="column" layout-align="space-between stretch" flex>


      <div layout="row" layout-align="space-between start">
        <div><p style="font-size: 1.3em;"><b>Amount you will Receive:</b></p></div>
        <div><p style="font-size: 1.3em;">USD 10,000.00</p></div>
      </div>

      <div layout="row" layout-align="space-between start">
        <div><p style="font-size: 1.3em;"><b>Rate:</b></p></div>
        <div><p style="font-size: 1.3em;">1.1000</p></div>
      </div>

      <div layout="row" layout-align="space-between start">
        <div><p style="font-size: 1.3em;"><b>Amount you will Pay:</b></p></div>
        <div><p style="font-size: 1.3em;">CAD 11,000.00</p></div>
      </div>


      <!--<p style="color:#fff;font-size:1.4em;" flex><b style="text-align:left;"></b>-->
      <!--<n style="text-align: right;"></n>-->
      <!--</p>-->
      <!--<p style="color:#fff;font-size:1.4em;" flex><b>Rate:</b> 1.1000 <br>-->
      <!--<small>Inverse: 0.9000</small>-->
      <!--</p>-->
      <!--<p style="color:#fff;font-size:1.4em;" flex><b>Amount you will Pay:</b><br>CAD 11,000.00</p>-->


      <div class="background-image-center">
        <md-icon md-font-icon="icon-thumbs-up-down" class="s256 faint-text">
        </md-icon>
      </div>

      <md-progress-linear class="white-fg" md-mode="determinate"
                          value="{{vm.determinateValue}}"></md-progress-linear>


    </ms-widget-front>
    <!-- / Front -->

  </ms-widget>


  <input type="hidden" name="accept_deal" ng-model="vm.spot_deal_form.accept_deal">

</div>

<p class="text-center" style="text-align:center;font-size:2em;">This Deal expires in <b
  style="color:darkred">{{vm.expire_in}}</b>
  Seconds</p>
