<div layout="row" layout-align="start start" layout-sm="column" layout-xs="column"
     layout-align-xs="center stretch" layout-align-sm="center stretch">
  <div flex="50" flex-sm="100" flex-xs="100">
    <div layout="column" layout-align="start stretch" layout-align-sm="start stretch" layout-align-xs="start stretch">
      <div flex>
        <div layout="column" layout-align-sm="center stretch" layout-align-xs="center stretch">
          <md-input-container flex>
            <label>Payee</label>
            <md-select ng-model="vm.beneficary_.payee_">
              <md-option value="Internal Holding Account">Internal Holding Account</md-option>
              <md-option value="Techmo Inc.">Techmo Inc.</md-option>
              <md-option value="Dell Computers.">Dell Computers</md-option>
              <md-option value="Acme Corporation">Acme Corporation</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Amount</label>
            <input type="text" name="ammount"
                   value="1,000.00"
                   ng-model="vm.beneficary_.amount">
          </md-input-container>
          <md-input-container flex>
            <label>Payment Reference</label>
            <input type="text" name="referecne"
                   value="1,000.00"
                   ng-model="vm.beneficary_.payment_reference">
          </md-input-container>
          <md-input-container flex>
            <md-list-item class="custom_list_secondary">
              <md-switch
                ng-model="vm.beneficary_.show_additional_fields">
              </md-switch>
              <p class="md-secondary">Additional Details</p>
            </md-list-item>
          </md-input-container>
        </div>
      </div>
      <div flex>
        <div layout="column" ng-if="vm.beneficary_.show_additional_fields">
          <md-input-container flex>
            <label>Value Date</label>
            <md-datepicker ng-model="vm.beneficary_.value_date"  md-open-on-focus></md-datepicker>
          </md-input-container>
          <md-input-container flex>
            <label>Purpose Of Payment</label>
            <md-select ng-model="vm.beneficary_.purpose_of_payment">
              <md-option value="Internal Holding Account">Internal Holding Account</md-option>
              <md-option value="Techmo Inc.">Techmo Inc.</md-option>
              <md-option value="Dell Computers.">Dell Computers</md-option>
              <md-option value="Acme Corporation">Acme Corporation</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Internal Reference</label>
            <input type="text" name="referecne"
                   value=""
                   ng-model="vm.beneficary_.internal_payment_reference">
          </md-input-container>
          <md-input-container flex>
            <label>Payee Notification Email Address</label>
            <input type="text" name="referecne"
                   value=""
                   ng-model="vm.beneficary_.payment_notification_email"
                   ng-disabled="vm.step_3.no_notification">
          </md-input-container>
          <md-input-container flex>
            <md-list-item>
              <p>No Payee Notification</p>
              <md-checkbox class="md-secondary" ng-model="vm.beneficary_.no_notification"></md-checkbox>
            </md-list-item>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
  <div flex-sm-auto flex layout="column">

    <!-- WIDGET 3 -->
    <ms-widget flippable="true" layout="column" flex="100">

      <!-- Front -->
      <ms-widget-front class="p-16 blue-bg white-fg">
        <div class="pb-8" layout="row" layout-align="space-between center">
          <div class="h4 font-weight-500 secondary-text">Your Rate has been Confirmed
          </div>
        </div>
        <div layout="column" layout-align="start stretch">

          <div layout="row" layout-align="space-between start">
            <div><p style="font-size: 1.3em;"><b>Deal Number: </b></p></div>
            <div><p style="font-size: 1.3em;">Deal-23232</p></div>
          </div>

          <div layout="row" layout-align="space-between start">
            <div><p style="font-size: 1.3em;"><b>Receive Amount:</b></p></div>
            <div><p style="font-size: 1.3em;">USD 10,000.000</p></div>
          </div>

          <div layout="row" layout-align="space-between start">
            <div><p style="font-size: 1.3em;"><b>Rate: </b></p></div>
            <div><p style="font-size: 1.3em;">1.1000</p></div>
          </div>

          <div layout="row" layout-align="space-between start">
            <div><p style="font-size: 1.3em;"><b>Amount to Pay:</b></p></div>
            <div><p style="font-size: 1.3em;">CAD 11,0000.00</p></div>
          </div>

          <div layout="row" layout-align="space-between start">
            <div><p style="font-size: 1.3em;"><b>Entry Date:</b></p></div>
            <div><p style="font-size: 1.3em;">03/04/2016</p></div>
          </div>

          <div layout="row" layout-align="space-between start">
            <div><p style="font-size: 1.3em;"><b>Value Date:</b></p></div>
            <div><p style="font-size: 1.3em;">03/06/2016</p></div>
          </div>
        </div>


      </ms-widget-front>
      <!-- / Front -->
      <div class="background-image-center">
        <md-icon md-font-icon="icon-thumbs-up-down" class="s256 faint-text">
        </md-icon>
      </div>

    </ms-widget>
    <!-- / WIDGET 3 -->


    <div layout="row">
      <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions" ng-if="vm.beneficiaries.length > 0">
        <thead>
        <tr>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Payee</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Method</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Currency</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Amount</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Fee</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Value Date</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Reference</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Actions</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="beneficiary in vm.beneficiaries track by $index">
          <td>{{$index+1}}: {{ beneficiary.payee_ }}</td>
          <td>{{ beneficiary.method }}</td>
          <td>{{ beneficiary.currency }}</td>
          <td>{{ beneficiary.amount }}</td>
          <td>{{ beneficiary.fee }}</td>
          <td>{{ beneficiary.value_date }}</td>
          <td>{{ beneficiary.reference }}</td>
          <td>
            <md-button class="md-icon-button md-accent" aria-label="Edit">
              <md-tooltip md-direction="top">
                Edit
              </md-tooltip>
              <md-icon md-font-icon="icon-table-edit"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-warn" aria-label="Delete">
              <md-tooltip md-direction="top">
                Delete
              </md-tooltip>
              <md-icon md-font-icon="icon-trash"></md-icon>
            </md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
