<div layout="column">
  <md-input-container flex>
    <label>Currency You are Buying</label>
    <md-select ng-model="vm.step_1.currency_to_buy">
      <md-option ng-repeat="currency in vm.currencies" value="{{currency.value}}">
        {{currency.name}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container flex>
    <label>Currency You are Selling</label>
    <md-select ng-model="vm.step_1.currency_to_sell">
      <md-option ng-repeat="currency in vm.currencies" value="{{currency.value}}">
        {{currency.name}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container flex>
    <label>I want to: </label>
    <md-select ng-model="vm.step_1.i_want_to_buy">
      <md-option ng-repeat="buy in vm.currencies" value="{{buy.value}}">
        BUY: {{buy.name}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container flex>
    <input type="text" name="buy_amount"
           ng-model="vm.step_1.amount"
           placeholder="Amount"
           required>
    <div ng-messages="wizardStep1.buy_amount.$error"
         role="alert">
      <div ng-message="required">
        <span>Amount field is required.</span>
      </div>
    </div>
  </md-input-container>
  <md-input-container flex>
    <label>Value Date</label>
    <md-datepicker ng-model="vm.step_1.value_date"  md-open-on-focus></md-datepicker>
  </md-input-container>
</div>

