<md-tab ng-disabled="vm.selectedIndex != 0" id="tab_0">
  <md-tab-label>
    <span class="ms-form-wizard-step-label">
      <span class="ms-form-wizard-step-icon">
        <span class="icon-circle icon-circle-outline">
          <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="209.443px" height="191.991px" viewBox="0 0 209.443 191.991" enable-background="new 0 0 209.443 191.991"
               xml:space="preserve">
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M104.722,74.662c-11.568,0-20.942,9.55-20.942,21.334
    c0,11.778,9.374,21.329,20.942,21.329c11.568,0,20.947-9.551,20.947-21.329C125.668,84.211,116.29,74.662,104.722,74.662
     M104.722,53.327c23.136,0,41.889,19.106,41.889,42.668c0,23.563-18.753,42.663-41.889,42.663
    c-23.131,0-41.89-19.1-41.89-42.663C62.832,72.433,81.591,53.327,104.722,53.327 M167.559,191.991H41.89l26.706-43.63
    c9.948,7.362,22.619,11.631,36.125,11.631c13.512,0,26.183-4.269,36.13-11.631L167.559,191.991 M209.443,31.999v127.994
    l-53.298-27.201c7.225-10.135,11.414-23.039,11.414-36.795c0-13.762-4.189-26.666-11.414-36.802L209.443,31.999 M41.89,0
    h125.669l-26.707,43.623c-9.947-7.361-22.618-11.625-36.13-11.625c-13.507,0-26.178,4.264-36.125,11.625L41.89,0 M0,31.999
    l53.305,27.195C46.08,69.33,41.89,82.233,41.89,95.996c0,13.756,4.189,26.661,11.415,36.795L0,159.992V31.999"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </span>
      </span>
      <span class="ms-form-wizard-step-text">Book Forward</span>
    </span>
  </md-tab-label>
  <md-tab-body>
    <div class="progress-loader" ng-hide="vm.loader">
      <md-progress-circular class="md-accent" md-diameter="30px"></md-progress-circular>
    </div>
    <h3 class="md-text-accent" flex-gt-md="100"><strong>Step 1 </strong><span hide-xs>-</span> Please select currency and amount then click Get Quote</h3>
    <form action=""></form>
    <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
      <div layout="column" layout-align="space-around stretch" layout-xs="column" flex-offset="5">
        <div>
          <md-radio-group ng-model="vm.data.group1">

            <md-radio-button value="1" class="md-primary" style="margin-left:0px;">Fixed Dated Forward</md-radio-button>
            <md-radio-button value="2" class="md-primary">Option Dated Forward</md-radio-button>

          </md-radio-group>
        </div>
        <div layout="row">
          <div flex="35">
            <div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">
              <md-input-container>
                <label>Currency I want to buy</label>
                <md-select ng-model="vm.step1.currency_to_buy" ng-required="true"
                           ng-change="vm.fetchCurrencies(vm.step1, 'buy')" ng-disabled="vm.step1_disabled">
                  <md-option ng-repeat="currency in vm.paymentCurrencies | orderBy: 'currency_name'  track by currency.currency_id "
                             value="{{ currency.currency_id }}">

                    <strong> {{ currency.currency_name }}</strong> - {{ currency.currency_description }}</span>
                  </md-option>


                </md-select>
              </md-input-container>
            </div>
            <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">
              <md-input-container flex="25" flex-gt-xs="25" flex-sm="25" flex-offset="0" flex-offset-sm="0"
                                  flex-offset-xs="0">
                <label>I want to</label>
                <md-select ng-model="vm.step1.i_want_to" ng-required="true" style="font-size:12px"
                           ng-disabled="vm.step1_disabled">

                  <md-option ng-selected="vm.defaultSelected" value="buy">BUY ({{ vm.getCurrencyNames(vm.step1.currency_to_buy, 'buy') }})</md-option>
                  <md-option value="sell">SELL ({{ vm.getCurrencyNames(vm.step1.currency_to_sell) }})</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex="70" flex-gt-xs="90" flex-sm="30" flex-offset-xs="0" flex-offset="5">
                <label>Amount</label>
                <input type="text" autocomplete="off" ng-model="vm.step1.amount" ng-required="true" format="currency"
                       ng-keydown="vm.protectAmount($event)">
              </md-input-container>

            </div>

            <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;"
                 ng-show="vm.data.group1 === '2' ">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                <label style="left:0;">Value Date</label>
                <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today"
                       ng-keydown="vm.stopInputing($event)"
                       ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
              </md-input-container>
            </div>
          </div>
          <div flex="35" flex-offset="20">
            <div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">
              <md-input-container>
                <label>Currency I want to sell</label>
                <md-select ng-model="vm.step1.currency_to_sell" ng-required="true"
                           ng-change="vm.fetchCurrencies(vm.step1, 'sell')" ng-disabled="vm.step1_disabled">
                  <md-option ng-repeat="currency in vm.fundingCurrencies | orderBy: 'currency_name'  track by currency.currency_id "
                             value="{{ currency.currency_id }}" ng-selected="{{ currency.currency_id === '6'  }}">
                    <strong>{{ currency.currency_name}}</strong> - {{ currency.currency_description}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;"
                 ng-show="vm.data.group1 !== '2' ">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                <label style="left:0;">Value Date</label>
                <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today"
                       ng-keydown="vm.stopInputing($event)"
                       ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
              </md-input-container>
            </div>

            <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;"
                 ng-show="vm.data.group1 === '2' ">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                <label style="left:0;">Start Date</label>
                <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today"
                       ng-keydown="vm.stopInputing($event)"
                       ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
              </md-input-container>
            </div>
          </div>
        </div>
        <!--<div  layout="row" ng-if="vm.data.group1 == 2">-->
        <!--<div flex="35">-->
        <!--<div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">-->
        <!--<md-input-container>-->
        <!--<md-select ng-model="someModel" placeholder="Buying Currency">-->
        <!--<md-option>No Options</md-option>-->
        <!--</md-select>-->
        <!--</md-input-container>-->
        <!--</div>-->
        <!--<div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">-->
        <!--<md-input-container flex="25" flex-gt-xs="25" flex-sm="25" flex-offset="0" flex-offset-sm="0" flex-offset-xs="0">-->
        <!--<label>I want to</label>-->
        <!--<md-select ng-model="vm.step1.i_want_to" ng-required="true" style="font-size:12px" ng-disabled="vm.step1_disabled">-->
        <!--<md-option value="buy">BUY ({{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }})</md-option>-->
        <!--<md-option value="sell">SELL ({{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }})</md-option>-->
        <!--</md-select>-->
        <!--</md-input-container>-->
        <!--<md-input-container flex="70" flex-gt-xs="90" flex-sm="30" flex-offset-xs="0" flex-offset="5">-->
        <!--<label>Amount</label>-->
        <!--<input type="text" autocomplete="off" ng-model="vm.step1.amount" ng-required="true" format="currency" ng-keydown="vm.protectAmount($event)">-->
        <!--</md-input-container>-->

        <!--</div>-->
        <!--<div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">-->
        <!--<md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0">-->
        <!--<label style="left:0;">Value Date</label>-->
        <!--<input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">-->
        <!--</md-input-container>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div flex="35" flex-offset="20">-->
        <!--<div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">-->
        <!--<md-input-container>-->
        <!--<md-select ng-model="someModel" placeholder="Selling Currency">-->
        <!--<md-option>No Options</md-option>-->
        <!--</md-select>-->
        <!--</md-input-container>-->
        <!--</div>-->
        <!--<div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">-->
        <!--<md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0">-->
        <!--<label style="left:0;">Start Date</label>-->
        <!--<input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">-->
        <!--</md-input-container>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </form>
    <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
      <div flex="5">
        <md-button type="submit" class="md-primary" ng-if="vm.selectedIndex === 0" ng-click="vm.getQuote()"
                   ng-disabled="vm.disableQuote">Get Quote
      </div>
    </div>
  </md-tab-body>
</md-tab>
