<md-tab ng-disabled="vm.selectedIndex != 3" id="tab_3">
  <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="258.229px" height="193.647px" viewBox="0 0 258.229 193.647" enable-background="new 0 0 258.229 193.647"
	 xml:space="preserve">
<polyline fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="82.156,153.211 20.535,92.515 0,112.741 82.156,193.678
	258.229,20.242 237.693,0 82.156,153.211 "/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Confirmation</span>
            </span>
  </md-tab-label>
  <md-tab-body style="background:#333;">
    <div class="show-circle-loader" ng-hide="true" style="position: absolute; right: 10px;">
      <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
    </div>
    <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 4 </strong><span hide-xs>-</span> Confirmation Summary
      <span class="draw-down right">
              Drawdown
            </span>
    </h3>
    <div layout="row" layout-xs="column" layout-align="center center" class="step2-info-box">
      <div flex="90" flex-xs="100" flex-offset-xs="0" ng-hide="vm.hideQuoteScreen">
        <ms-widget flippable="true">
          <ms-widget-front class="padding-16 custom-quote">
            <div layout="row" layout-align="space-between none" class="rate-block">
              <div flex="30">
                <p class="key_value">
                  <strong>Deal Number</strong>
                  <span>{{vm.convertDealNumber(vm.deal.recordnumber)}}</span>
                </p>
              </div>
              <div flex="30">
                <p class="key_value">
                  <!--<strong>Type</strong>-->
                  <!--<span>Fixed Dated Forward</span>-->
                </p>
              </div>
              <div flex="30">
                <p class="key_value">
                  <strong>Value Date</strong>
                  <span>{{vm.step1.value_date}}</span>
                </p>
              </div>
            </div>
            <div layout="row" layout-align="space-around stretch" class="money-block">


              <div flex="30">
                <span>Amount to pay</span>
                <p>{{ vm.getCurrencyNames(vm.step1.currency_to_sell)}} {{ vm.temp_rate.sell_amount |
                  currency:"":2}}</p>
              </div>
              <div flex="30" class="key_value">
                <span>Rate</span>
                <p>{{vm.rate.exchange_rate}}</p>
              </div>
              <div flex="30">
                <span>Amount you will receive</span>

                <p>{{ vm.getCurrencyNames(vm.step1.currency_to_buy, 'buy') }} {{ vm.temp_rate.buy_amount |
                  currency:"":2}}</p>
              </div>
            </div>
          </ms-widget-front>
        </ms-widget>
      </div>
    </div>
    <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
      <md-button class="md-primary" ng-click="vm.doneFunc()" >Done</md-button>
      <md-button class="md-outline" >
        <a><i class="material-icons" ng-click="vm.printDeal()">print</i> Print</a>
      </md-button>
    </div>
  </md-tab-body>
</md-tab>
