<md-tab ng-disabled="vm.selectedIndex != 2" id="tab_2">
  <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="172.305px" height="196.394px" viewBox="0 0 172.305 196.394" enable-background="new 0 0 172.305 196.394"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M154.27,178.602V54.004H55.094v53.404H37.06V54.004
	c0-9.82,8.075-17.791,18.034-17.791h99.176c9.959,0,18.035,7.971,18.035,17.791v124.598c0,9.82-8.076,17.791-18.035,17.791H55.094
	c-9.959,0-18.034-7.971-18.034-17.791v-17.801h18.034v17.801H154.27 M82.141,142.999H19.024C9.065,142.999,1,135.03,1,125.209
	V18.413C1,8.583,9.065,0.611,19.024,0.611h108.198v17.802H19.024v106.796h63.116v-17.801l36.07,26.695l-36.07,26.697V142.999"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Approval</span>
            </span>
  </md-tab-label>
  <md-tab-body style="background:#333;">
    <div class="show-circle-loader" ng-hide="true" style="position: absolute; right: 10px;">
      <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
    </div>
    <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 3 </strong><span hide-xs>-</span> Approvals</h3>
    <div layout="row" layout-xs="column" layout-align="center center" class="step2-info-box">
      <div flex="90" flex-xs="100" flex-offset-xs="0" ng-hide="vm.hideQuoteScreen">
        <ms-widget flippable="true">
          <ms-widget-front class="padding-16 custom-quote">
            <div layout="row" layout-align="space-between none" class="rate-block">
              <div flex="30">
                <p class="key_value">
                  <strong>Deal Number</strong>
                  <span>Deal-23232</span>
                </p>
              </div>
              <div flex="30">
                <p class="key_value">
                  <strong>Type</strong>
                  <span>Fixed Dated Forward</span>
                </p>
              </div>
              <div flex="30">
                <p class="key_value">
                  <strong>Value Date</strong>
                  <span>12/12/2016</span>
                </p>
              </div>
            </div>
            <div layout="row" layout-align="space-around stretch" class="money-block">


              <div flex="30">
                <span>Amount to pay</span>
                <p class="green-color">CAD 11,000.00</p>
              </div>
              <div flex="30" class="key_value">
                <span>Rate</span>
                <p> 1.00</p>
              </div>
              <div flex="30">
                <span>Amount you will receive</span>
                <p class="blue-color"> USD 10,000.00</p>
              </div>
            </div>
          </ms-widget-front>
        </ms-widget>
      </div>
    </div>
    <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
      <md-button class="md-primary" ng-click="vm.moveForwardTab()" >Approve</md-button>
    </div>
  </md-tab-body>
</md-tab>
