<div id="deal_history" class="page-layout fullwidth">
  <!--Templates for ng-table -->
  <script type="text/ng-template" id="custom/pagination">
    <div layout="row" id="ng-table-options">
      <div flex="15">
        <p>Total Records: <strong>{{ params.total() }}</strong></p>
      </div>
      <div flex="40" class="pages">
        <p class="inline-block">Set page size to: </p>
        <md-button ng-class="params.count() === count ? 'active':''" ng-repeat="count in params.settings().counts" ng-click="params.count(count)" aria-label="icon">{{ count }}</md-button>
      </div>
      <div flex="45" class="pagination" layout-align="end center">
        <ul>
          <li ng-repeat="page in pages" ng-show="page.type === 'first'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'prev'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-hide="page.type === 'prev' || page.type === 'next'">
            <a href="javascript:void(0);" ng-class="{'active':page.current}" ng-click="params.page(page.number)">{{ page.number }}</a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'next'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'last'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </script>

  <md-card class="classic-design" ng-show="vm.edit_deal_hide">
    <div layout="column"  class="display-block" >
      <div flex="100" ng-show="vm.showDataTable">
        <h3>Loading...</h3>
        <md-progress-circular class="md-accent loader" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div layout="column" class="display-block"  ng-hide="vm.showDataTable" >
      <div flex="100" class="filter-btn-container">
        <div layout="row" ng-class="vm.enableFilter === true? 'background-shades': ''">
          <div flex="5">
            <md-button class="filter_button" ng-click="vm.toggleFilters()">
              <i class="material-icons">filter_list</i> Apply Filters
            </md-button>
          </div>
          <span flex></span>
        </div>
      </div>
      <div flex="100" ng-class="vm.enableFilter === true? 'background-shades filter-inputs show': 'filter-inputs hide'">
        <div class="table-responsive-test" style="margin-bottom:35px;">
          <table class="filters_table" ms-responsive-table>
            <thead>
            <tr>
              <th>
                <md-input-container>
                  <label>By Deal No</label>
                  <!--ng-keydown="vm.noSpecialCharactersFunction($event)"-->
                  <input type="text" ng-model="vm.filter.deal_number_value"  aria-label="By Deal No"  >

                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Type</label>
                  <!--ng-keydown="vm.noSpecialCharactersFunction($event)"-->
                  <input type="text" ng-model="vm.filter.type"  aria-label="By Type"  >

                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <!--<label>By Broker</label>-->
                  <label>By Booker</label>
                  <input type="text" ng-model="vm.filter.booker"  aria-label="By Broker" ng-change="vm.searchFilter(vm.filter.booker)" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th>
                <md-input-container class="jq-date">
                  <input type="text" ng-model="vm.filter.entry_date"  jq-u-i-date-range-picker picker-title="By Entry Date"  aria-label="By Entry Date" ng-change="vm.dateRangeFilter()">
                </md-input-container>
              </th>
              <th>
                <md-input-container class="jq-date">
                  <input type="text" ng-model="vm.filter.value_date"  jq-u-i-date-range-picker picker-title="By Value Date"  aria-label="By Value Date" ng-change="vm.dateRangeFilter()">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Buy Amount</label>
                  <input type="text" ng-model="vm.filter.buy_amount"  aria-label="By Buy Amount" ng-change="vm.searchFilter(vm.filter.buy_amount)" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Buy Currency</label>
                  <input type="text" ng-model="vm.filter.buy_currency"  aria-label="By Buy Amount" ng-change="vm.searchFilter(vm.filter.buy_currency)" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Buy Balance</label>
                  <input type="text" ng-model="vm.filter.buy_balance"  aria-label="By Buy Balance" ng-change="vm.searchFilter(vm.filter.buy_balance)" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Rate</label>
                  <input type="text" ng-model="vm.filter.rate"  aria-label="By Rate" ng-change="vm.searchFilter(vm.filter.rate)" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Sell Amount</label>
                  <input type="text" ng-model="vm.filter.sell_amount"  aria-label="By Sell Amount" ng-change="vm.searchFilter(vm.filter.sell_amount)" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Sell Currency</label>
                  <input type="text" ng-model="vm.filter.sell_currency"  aria-label="By Sell Currency" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label>By Sell Balance</label>
                  <input type="text" ng-model="vm.filter.sell_balance"  aria-label="By Sell Balance" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                </md-input-container>
              </th>
              <th></th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
      <div flex="100" ng-class="vm.enableFilter == true? 'reduce-top-margin':'add-top-margin'">
        <div >
          <table style="min-width: 1450px;" ng-table="vm.tableParams" ms-responsive-table class="responsive-table" template-pagination="custom/pagination">
            <tbody ms-scroll>
            <tr ng-repeat="row in $data | filter :  vm.filter.deal_number_value | filter : vm.filter.type track by $index  ">
              <td data-title="'Deal No'" sortable="'deal_number'">
                <span class="deal-status true deal-number">
                  <md-tooltip md-direction="top">Posted</md-tooltip>
                  <!--<i class="deal-number material-icons">done</i>-->
                </span>
                <span class="deal-status false" ng-if="row.is_posted == false">
                  <md-tooltip md-direction="top">Not Posted</md-tooltip>
                  <!--<i class="material-icons">priority_high</i>-->
                </span>

                <span class="deal-number" >{{ vm.dealNo(row.deal_number_value) }}</span>
              </td>
              <!--<td data-title="'Broker'" sortable="'booker'">-->
              <td data-title="'Entry Date'" sortable="'entry_date'">
                {{  vm.entryDate(row.entry_date)  | date: 'MM/dd/yyyy'}}
              </td>
              <td data-title="'Value Date'" sortable="'value_date'">
                {{ vm.valueDate(row.value_date)  | date: 'MM/dd/yyyy'}}
              </td>
              <td data-title="'Type'" sortable="'type'" class="type-td">
                <span style="position:relative; top:4px" class="type {{ row.type | lowercase | dashes  }}">{{vm.historyTypes(row.type)}}</span>
              </td>
              <td data-title="'Buy Currency'" sortable="'buy_cur_name'">
                <span class="currency {{ row.buy_cur_name | lowercase }}">{{ row.buy_cur_name | uppercase }}</span>
              </td>
              <td data-title="'Buy Amount'" sortable="'buy_amount'">
                {{ row.buy_amount | currency:'':2 }}
              </td>
              <td data-title="'Buy Balance'" sortable="'buy_balance'">
                {{ row.buy_balance | currency:'':2 }}
              </td>
              <td data-title="'Rate'" sortable="'exchange_rate'">
                {{ row.exchange_rate | currency:'':5 }}
              </td>
              <td data-title="'Sell Currency'" sortable="'sell_cur_name'">
                <span class="currency {{ row.sell_cur_name | lowercase }}">{{ row.sell_cur_name | uppercase}}</span>
              </td>
              <td data-title="'Sell Amount'" sortable="'sell_amount'">
                {{ row.sell_amount | currency:'':2 }}
              </td>
              <td data-title="'Sell balance'" sortable="'sell_balance'">
                {{ row.sell_balance | currency:'':2 }}
              </td>
              <td data-title="'Booker'" sortable="'booker'">
                {{ row.booker }}
              </td>
              <td  data-title="'Details'" class="details" >
                <md-button class="md-icon-button" ng-click="vm.editDeal(row)">
                  <md-tooltip md-direction="top">Incomplete | Edit</md-tooltip>
                  <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="20px" height="20.125px" viewBox="0 0 20 20.125" enable-background="new 0 0 20 20.125" xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <g>
                                <defs>
                                  <rect id="SVGID_1_" x="0.283" y="0.319" width="19.505" height="19.505"/>
                                </defs>
                                <clipPath id="SVGID_2_">
                                  <use xlink:href="#SVGID_1_"  overflow="visible"/>
                                </clipPath>
                                <g clip-path="url(#SVGID_2_)">
                                  <defs>
                                    <rect id="SVGID_3_" x="0.283" y="0.319" width="19.505" height="19.505"/>
                                  </defs>
                                  <clipPath id="SVGID_4_">
                                    <use xlink:href="#SVGID_3_"  overflow="visible"/>
                                  </clipPath>
                                  <g clip-path="url(#SVGID_4_)">
                                    <image overflow="visible" width="128" height="128" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIoAAACKCAYAAAB1h9JkAAAACXBIWXMAAEiWAABIlgEPLCkAAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACK5JREFUeNrs3WtsW+UZB/DnsZ1e
slEQN60ZVGJUGkKFUDurk2kdHUMTk2ipBEVAkl5EG6eq0LZ+AD5MqiqxT0wago05KW2aiksvIATd
ChuDVrs0Nq1T2iIESIypUQPbBwpoSZvEPs/ekxaWnviSOOf1ey7/v+Se43Ps45Pz/vxe6uNjFhFC
kEqJ4BAggIIACgIoiAcTm3inKZWJC8vjJHxbuA8Lf0BMj+XSyWe9skdLNh35Vr5QWMNEcRJarBZd
rfbzOLF1TE3fzKWb92s9IhNHPYlU5g01uR3vn/EM1c3mhsyTyS9N70i8I9uuSuoJheTyMg97lamu
82hX4pNaND0/ho+vU2/lo1ea3IFFmw59U715X2WWXRWQ2FkhlH+vKdW3shZQGD7GY9ez299+uumf
JpHMzs95Tc0un8ZuXybE++Kd2Xu09lGK5JeqysuFTUm+EP3g+LYlH3sAyQ+KrN4twq9QpDDIwjer
9/bP1LKFE8tU9SdeUFioP518UVcfRRxrf5pLt7yOCsYTSM4Jc7uz8JtSuXqh0bQqrHand/X4+93C
guGxT5CoxnBlsUJXndfh/oaWtWq2x9laXKhZ7gGUECHJdbf8qWTPZAtZ/Q3N63ViARSPI2Hiu8oh
qRUWQPE4kqNdyT9PecyjEQugmEZSmH2gGJII84rpINGNBVBMIxFeWgzJkXTyjWq3rQMLoHgLydmZ
ItGFBVA8hESEXEGiAwugeAhJf3fzX9x+zYpYOjIrAMUvSFiW60AyJSxMOxo3Hr4aUPyAJN3ypu59
KIPlipgVeRpQPIyErMidtUAyCQvTc45Vd6sm6HZAMZTG1Se+UQLJsI0kt23JW7XeJxtLfrg+pWY/
ckC4FVAMIYnVD71WBIn9qXxOCiMnTe3b8V03DwnTtosAsSwGFC8hOV8qS7mu7q/2ebCm9pGJ3nMs
uQlQvITk/7mhkC8cNIZFeIFDziCgmEcyrErmYTW1vIBFDYlVhSJ3Oxb3A4ppJFZkea6r5XER2WC/
l01jUSOcn6vJjy6qYEgApSZI5p49UBLJhdFNf3fLDoVlvUksic7sOjX5tWPxv0ajI3sApRZISH5Y
DsnX9btBLONIRJ5xlrsa8ax/93fL/gsoHkFiEkspJCyUnsp/+gFKjZGYwFIaibx4ybfPPTSVbQCK
ASRTwlKwdupHMnL/wS3L8oDiYSQVsYj8JP7gPxq8gARQDCMpj0U+vXTB2H+8gARQPIBkIpYI852q
JP+m7v5dkVk33cLUhcRODATMI/kqR9JJ+4z8A15pblCjeBCJzo6rYrJvJkgAJSRI5jWcfWAmSND0
BAVJR2YtMWlDgholOEi260SCGqUkkuE/qlkgQY1SEcmtQAIoQIKmx1tImlJ9N4lwIn+ufp99QrNf
kaBG0YTk3nv3ReOpzE4hPqEKtUdt/2P7dfyKJPRQdCH56PJre5lozYTFV8XmDK/yK5JQQ9GJhIRa
net4BpdhNY0ktH2UWiMRot5cV8tJV5Ew7Z03/2xrLZCEskbRgYS3UqQMkucXnhl40H0k52qGJHQ1
ii4k8cFMr5othWT13r2rCtMfMWXWeAVJqGoUzUja3Eainr/DK0hCAwVIAAVI0EeZeewfFIjNHQMS
1CjlkVhSOyQs/EJQkQQWyldImGmZu0j6dpZC8p3PT7UHFUkgoehFMuk3cUKBJHBQgoLk+s8GHvAS
kkBBCRKSarYJKB5EorLbdSREe7yKJBBQdCFJnM72lEJy/ZmBtmoKNN7Zt7okkjMDrV5F4nsoOpEI
y2q3kajmqsePSHwNBUjciX3FBPvq2oGEAiTuJJHq+y3Hoqdm5+ecjndk7wsUFCBxJ40b3r5O/eUb
1WxU3eYxy5bAQDGAZE9Q+ySxaOG7jn27oezjw45k8WBmhzCVQtIaxo6rb2sUnUgcZ8sDiV+h2EiE
xv4AJIBSEQk5LscNJIACJIBiHkn8k8z2okjsD+OqRdKRbS+BZHdQkHgSik4kJLS2KJIqP4wbR8Ky
swSStqAg8RwUE0jsE4SAxEdQTCGp5gShsCHxDBQgARQgARQPIxnMPFMUiX2ZCCDxFxStSIjWFUVS
5bVEwo7EGBQgARQgARSXkPDofiDxX2p2Psr3N/fNFab9JHybW0jsJE5ntqrtuook0ZltAxJDUEaG
6AlVeK4iOY+PN00icv5HFatGQiK9NOn3bqr/wheanilX45kV6lB3uInEzujQLBvCyGQk1f02DZAY
hsJMT01eKl+QFE7NZLtHuxJjTPSoEP1b3f1S3X4DJD6F8r2NhxepyYIifOZzlA8m1vctnBmW5t4I
1V3LVDc/19W8GUh8CkUK0TtKriO6xh0siTF1G66qMwwkHoESkVvKrncJC5D4vY8ik0ZWx50dUBNY
gMSDnVlH3ySjSmOlSSxA4gsoRLl0y+umsACJj6CYwgIkPoRSayyJjkwrkPgUSq2wjCNh2uX8e+0L
CAOJT6DoxlIOSbUXEAaUgGG5gKQXSAIExW0sE5BEgSRgUNzCAiQhgDJTLEASIijVYgGSEEKZLhYg
CTGUqWIBEkCpiIWifBhIAKUiFpWrgER/DFw+VJYmUtl09a7lffVPY8mtA0lQoNCNqjhv1LJlpucW
fjawBkh8CUVG7RLUHEuYHzs2P7k1l262UKw+hCISeYVZ2kiflmORCG0+8vvkIRSnj6H0dydfindk
VzFbdykrs1xqYvKqL3LSsiIvv9O95EMUY0D6KDYWNXkJhxvDYwRQEARQEEBBAAUBFARQEEBBAAVB
AAUBFARQEEBBAAUBFCTwceV8lMYN2WtiUWsRDqePIpyoKZREKvOrWIQeUS8cxdEPa9Nj2d9+KJ3F
6w5dpia/IMf3apCgQ2GZ+AMGw9bYSLbck6OzLhlSky9wGAOQi8u+ApRC5OELT3ifmFPHepZ9Xu7J
9qXFRSilZk/gSPsciV32ZR8iggOFYHiMAAoCKAigIL7M/wQYANgrRr2DJEZlAAAAAElFTkSuQmCC" transform="matrix(0.1524 0 0 0.1524 0.2832 0.3188)">
                                    </image>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </md-button>
                <md-button class="md-icon-button" ng-click="vm.viewDeal(row)">
                  <md-tooltip md-direction="top">Complete | View</md-tooltip>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="16.75px" height="20.125px" viewBox="0 0 16.75 20.125" enable-background="new 0 0 16.75 20.125" xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <g>
                                <defs>
                                  <rect id="SVGID_1_" x="-1.317" y="0.311" width="19.505" height="19.504"/>
                                </defs>
                                <clipPath id="SVGID_2_">
                                  <use xlink:href="#SVGID_1_"  overflow="visible"/>
                                </clipPath>
                                <g clip-path="url(#SVGID_2_)">
                                  <defs>
                                    <rect id="SVGID_3_" x="-1.317" y="0.311" width="19.505" height="19.504"/>
                                  </defs>
                                  <clipPath id="SVGID_4_">
                                    <use xlink:href="#SVGID_3_"  overflow="visible"/>
                                  </clipPath>
                                  <g clip-path="url(#SVGID_4_)">
                                    <image overflow="visible" width="128" height="128" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIoAAACKCAYAAAB1h9JkAAAACXBIWXMAAEiWAABIlgEPLCkAAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAADeVJREFUeNrsnQtwFEUax7+e3c2G
vAkgJOERIBCIvOQhDwFBEUWFJBtcEbLBeJaWxZ3neeeVR3YTlgB6haUlZdWVh4KwQe+ChMAdCCrH
IQgqPtADLkCQlwSRACHv3Z2dvu6Fuzp3e0mATXYm+/2rumaYWTK93b/9vq9ner4mlFJAoVqShE2A
QlBQCAoKQUGpUPpg/JEce25PRSYL2W4uK7HYrAF1gYLyUnnxutfC0qIobihmm2cQkhbVjYD0qsmW
tyDsQMm350dSQuYgA60XBfpGltWyMKxAqQGIJKxg99+YCIGlpkLLcgxmUS1bFgq/M1ktK+12u+r7
Qd9mBFIlVWeIcIYzCG7ZXcZsx/jrwkLgyW/lygSz3TyvtKjUFXagxBkizq8uWt0czqBk2yyt6ngK
MNstG+Nm2Z/O3lz0ZiO6HhR0ju8U6NR0ndz4UbY9PwFBQcHkCX1h/OjegU5PILK8K7NgbncEBQXT
p6TBPRP7BXJDwySi28MsSyqCgoJJ41LhwWkD2TCZCMbOkMYsyx6TLW8wgoKCMSN6QvaMDJAkIrIs
KRTo7kxr3mgEBQVDM7rDo5lDQacXdkUXidB/ZBbNm4qgoGBg/65gmT0CjBE60elYokhbM22WWQgK
Cvr0TID5j94BUZ0MgpAFIllHbci25lkQFBQkdY+D/DmjIC7GKDqtB0LXZNtyf4WgoKBrlyh4Yu4o
SOwcJTrNjAtZYbLmFiIoKIiPi2SWZSR07xYjPE8JsWcX5r1GhGNrBCWsFBMdAY8zWHqlxIs/QOlz
WQXzVpnNZh2CEuaKNOrB8sgdkJaaKP4AIY/Lg4zrH3z2WSOCEuYy6CWYkz0MMtJvC2BYINsYd3mL
2W6OQVDCXDqdBLMfHgIjhyYHsCxwr1s2fsxgSURQwlw8bJ15/yCYMCbgk+exDJZdOQWWJAQFBffd
HfjJM9MQhcCe2fZ5/RAUlPfJ80PT0kE4OCbQzyNLe0wFeUMQFBSMHpEC2Q+KnzwzJVEJdmUV5o1F
UFAwdHAPmJM5DPR60a0Umkgo3ZFlmz8tGNfSY3O3r7btOAo7PqkM8l9VAp2IJqD8PdNmMW8qdmxG
UDQkp0tmpV0vaWRu4x02dE4rLSq9hK5HpVyopB6dnbJxIsYoahUhG1RSE6pTyPcIikrV2ATr2HCV
wyKHsBpNjJMXypauPYgxikq1ffnaBraZ7b1bSmif9r6+AlRpdOoObV/uaMBRjwa0YanjHNuc0/J3
QNeDQlBQCAoKQUEhKCgEBdWxFdbD41m2vL46gHsAaE+gkAyEJLN9Pt8wCSh1sn9XEYAqhdAqSeHD
W+k4Neg+2li0ugZB6eDKKbCMVCTIYrtZDJKh/zvhndbxfyuNXJ0VlMqPEEp4rrWr52XZnW21/JNK
tNyj6Db9bcmaswhKB5HZbo5wyZELWF//hjnbXrf45wwMqvsYPPfpifJGts2yj0iwqMzu+AhjFI2K
v0nHfv2PuWVjBbMJrzKL0CvYl2BlAlXgQwbMdlOhZTiCojFlWudNzrJa9rOufJf9s287XHI6pfC1
yWZZM9M6PwVdjwZksua+KBFpKbMgLf4QEuIioW/vRIiLM0JsjBHioo0QE2sEj6xAXb2TlWZWXHCp
pgmOn7oETud1HwRLLIrJYy7pgaxCy+zyxY7dCIoaY5HnzZ3c0ca3mc957HqfS+oeC4P6d4X0Ad0C
vggukuKhcPKHy1BReQGOHKuG2vqA85JuIxR2mGy5C8qKS1YiKGoazfClYKIjy5kVGRXoMylJcd73
YnjSmpvy0zoC/fokesuMqQPhm4NVsHPvCaivF85tNFAgf86y5Q6/oj/73M6inTKCEup4ZNFjyTqP
/jMGiTA2SEzoBPdO6h/w/d2bimIlAiOHpcDQjCTYt/807N1/CpwujyDaJQs6e3oms7g6h2p4pU/N
B7N8GRjJoy/nWRRF50fc3gOeeXxcUCH5mdnQSzB5fCo8kz8WetwmXq6Iv0ieZc2146gnhKqRZR4D
jBH94qdPHQCZMzJAr2/7fDPxsZHeTEkZAwMCaTNZ8x5BUEIxurFZXoCry9P9TDy74lzTcBg/qle7
1odbl9kzb4e7J4hH45TQd7IL5o3AGKU9ISmcP565m5f9LAkzHjkPDQmcfKaNxbNlTWGgNDfL8PnX
Z3xPR4EklTF3mdHWK49cW+dxEdvNYk2ymVDFvmHJulNhZ1EoVV4R1f/eSWkwoH+XkNfv/ilp3tGR
QH1r3J5n2/r6HlniCQF/wUoX9oPKVwgpDjvXY7Llmdhmgu/xYRk94K47e6uijjxG4m5ImN2R0D+0
ZdKbqfapLCqjc30uauaBf9iAwhuB+fqXRMHkzOnpqqprp0gDc4MZooUREmTZaG2r66ZCKg8pon1D
t5pbWPtRc6DEe1KeAgoDfY9PmdgvwFv9oVVyjzi4XTA0Z+5ggdqWWulgrkfyy9zcvWsMDGduR626
Z1I/bx42H0VQj+dpBKUNlGmzpBNKB/kenza5P7Rfat4bF18ebtQIYaK+LASlLQJEQcPyTkjr10X1
db9zeE9BTEsHcfgRlKCDQjN9jw1K66qJundJjPLmuffrAEoyEZQgymzPZ0EIGed7nE8V0IrS0wR1
JUoWghJEyW7PJLg2Bfr/h5+9k+M1A8rg/iLrR8a1R4rysAFFIeDn5HunxHtvbGlFyUlxogeURB9f
k4ygBKuihPo1ZmysEbQkfuMtOsq/zgaiIChBsygU/FJ3B1gpS9WKEdTZI/huCMrNVpSS5NY0utoV
Fx0h+G4SWpSgWRRJYFEEja52RUUZWvXdEJSb9e+UNvoec7kVzYHilpVWfTcE5eZRqfI9Ulfn1Bwo
4hn7/t8NQblZUeoPSoMGQRHVWVEQlOAZFPBrzFoNglLX4G9RiA4tShA58bcoFy81agqSpia3dy6t
r/SyAUEJmucBcsz3WNWPddDQ4NIMKEe+vwiCd8Aur39pdTWCEiTV6H/Ywzc/D1soVByv1gwoFUd/
Eh3eooU3CDUDCn93l7XmFr9faeUFTdTf5fZA5alLAktJN2mh/hqbCknLfY+cOH3J6/tV73aOVXtT
afjIGaF3bUNQgqxrjfqzoY7M7Mwnn51Udb0VhdfxhD/2BD4uLSqtR1CCrGuN+oHv8f0HzsLlK82q
rfc3B89BtWCEJil0vVbaXnOz8AmBReCziJ7Ho8DOPd+rsr78lv2uT0+IxvtHLxvOrkNQ2khlix3f
so3D9/jBivNw8sxl1dV3174TwjvIbKBToKXkOpp8pZRS2cZGQM2+Q+X1mw+qygUdYvB++rnovXDy
RXlxyftaanNNglK+5L0zrOKv+x5vZKOfv278zjsUDbWqfqyF8m0Vgdzn77XW5prNZtCsp8vYxu9u
7fnqeijbcsg70giVLlQ3wNrSb9iITAjsmrLFa3chKO2krUUltTqPZxbbrfW7Z1FZDSXrD0BTc/vf
XzlbdQXeWvelMJ8bQ/cz55XOT2uxvTWdcen9Ze9WSArMBcFS4idYYPtWyZdw8WJDu9Xnu8M/wjul
XwtdH2F11AMp3rpihRNBCYE2LHVsYb/UhaJzPInwyne/gn8dPg9t+TiFr47+4c5jsHHrYe8NQGEA
ztraA/S9HGvuOAQlVMFtseOPlNAVwk50ylC29RCsdOyH4ycvBfW6HIp9X52B11fu825boTiFkO1a
hKXD5MIvX1zyawL0KbYrDEzO/VQPJe8f8AaZR48Ln7u0Wg2NLvjywFl4Y9U+ryUJ+KyJgqejwNKh
UpzzdOJZhZYKQr2rlwtfSj5x+rK3RBh03iwIg9O6Qd8+nSE6KvCMfj6CqqlthiMMsCNHL8Dpqhpo
hSfbSyXyPKGU3y/pKYLFVDj/gbLFa/YhKCGxLI7ds+zzR+tkhXfQmECf4wHn4SM/eQsXT3QTw2CJ
iYnwbvljAT5tsZ6VxiYX3EiIQ4GsjNA3/7K0qNSVucgylQUnO0WwUKps0wosHXIZls1Fa06XLykZ
C5TksX+ebs3/4WBcqWuGs+dqvZajksUz5y/Ue93MDUCyC6gytrx47VMcEn5g0yJHpaKDqWz3B5Eb
YrBwyzIeQQmR+KyxjUvWOhL0+nQ2NOV3QttyHcCDbJj+8MZix5SNS9Z94XuyBVhiOSxZVssEBCWE
4ol/y4odyw16Z38Wu/yWHdotuu9yE6oDAusJJeYR+rThfJh+vQ+3BAshsE3NsITN4pPMFfCx8au8
mBc+0U3Wu2Yy15RJvauUQmsX7ali8QcHotx1JWHHjd4847BcJ2b5LywPlC9x7EVQ1ADNslV8ou2q
awXML5rjZUNkMpWUZPBIV5ezJdTJrEUVkZQqN5Wquuh154KRlrw1sOQU5s7YsLjkUwRFbeC8XHqF
bXj5d3tcryVYFEo+UBssuJJ6iNRSzMJg4ZblLgQF1RIsMRwWk3X+RAQF1SIslCgf5BRYkhAUVMuW
RYInERRUy7BQ6IGgoFqCRWHD9D8hKCg/WDz6qHQA8iQh8IpOrwwoW7r2YKjrhfdRVKjNRW/y1wrf
VlOd0KKgEBQUgoJCUFAICgpBQSEoKBSCgkJQUAgKCkFBISgoBAWFoKBQCAoKQUEhKKh2V5vNcKt1
u7qb7flObOL2l8ftMgKRtAGKQqSTiixjr4VCJPiOAl0Pqn1ASQBo9s1Lj1KfeB8l3EI/3TIoPBUE
ofQv2BUq90asj24lbUdQYhTJADZFhia2m8tKLHaLqlTHSgnro2W3CBrFpkRhMItCUFAICgpBQWlS
/xFgAJwE/2Ra8l1OAAAAAElFTkSuQmCC" transform="matrix(0.1524 0 0 0.1524 -1.3174 0.3105)">
                                    </image>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </md-card>
  <div class="edit_deal_history" layout="column" ng-hide="vm.edit_deal_hide" class="display-block" >
    <div flex="100" layout="row">
      <div flex="10">
        <md-button class="md-default back-button" ng-click="vm.backToHistory()"><i class="material-icons">keyboard_arrow_left</i>Back</md-button>
      </div>
      <div flex="15">
        <h4>{{vm.deal_information.deal | uppercase}}</h4>
      </div>
      <span flex></span>
    </div>
    <div flex="100" class="header_bar" layout="row">
      <div flex="15" class="margin-left-2em">
        <span class="title">Type</span>
        <p>{{vm.deal_information.type | uppercase}}</p>
      </div>
      <div flex="15">
        <span class="title">Entry Date</span>
        <p>{{ vm.deal_information.entry_date | date:'MM/dd/yyyy'}}</p>
      </div>
      <div flex="15">
        <span class="title">Value Date</span>
        <p>{{ vm.deal_information.value_date | date:'MM/dd/yyyy'}}</p>
      </div>
      <div flex="15">
        <span class="title">Buy Amount</span>
        <p class="amount">{{ vm.deal_information.buy_currency | uppercase }} {{ vm.deal_information.buy_amount | currency:'':2 }}</p>
      </div>
      <div flex="10">
        <span class="title">Rate</span>
        <p class="amount">{{ vm.deal_information.rate | currency:'':5 }}</p>
      </div>
      <div flex="15">
        <span class="title">Sell Amount</span>
        <p class="amount">{{ vm.deal_information.sell_currency | uppercase}} {{ vm.deal_information.sell_amount | currency:'':2 }}</p>
      </div>
    </div>
    <md-tabs md-dynamic-height  md-no-select-click="true" md-stretch-tabs="auto">
      <md-tab ng-disabled="vm.selectedIndex != 0">
        <md-tab-label>Beneficiary</md-tab-label>
        <md-tab-body>
          <form class="md-inline-form beneficiary-form" novalidate>
            <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
              <div flex="30" flex-gt-sm="30" flex-xs="100" flex-gt-xs="100" flex-offset="0" class="margin-top-3_3em">
                <div layout="column" layout-gt-xs="row" flex class="display-block" >
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Payee</label>
                    <input type="text" ng-model="vm.step1.payee_" ng-click="vm.showPayeeTableFunc($event)"
                           ng-keydown="vm.stopInputing($event)">
                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" flex class="display-block" >
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Amount</label>
                    <input  type="text" name="amount" ng-model="vm.step1.amount" format="currency"
                            ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateBalance($event, vm.balance, vm.deal_information.buy_amount, vm.step1.amount, 'step1')"
                            ng-keyup="vm.LimitPayeeAmountInt($event)">
                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" flex class="display-block" >
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Payment reference</label>
                    <input type="text" name="reference" ng-keydown="vm.noSpecialCharactersFunction($event)"
                           ng-paste="vm.pasteLimit($event, 25)" ng-keypress="vm.limitLength($event, 25)"
                           ng-model="vm.step1.payment_reference">
                  </md-input-container>
                </div>
              </div>
              <!-- /flex-row-end -->
              <div  flex="30" flex-md="30" flex-gt-sm="30" flex-offset-gt-sm="5" flex-xs="100"
                    flex-gt-xs="100" flex-offset-gt-xs="0" flex-offset="5">
                <md-checkbox ng-init="vm.step1.additional_details = false" ng-click="collapseAll(data)"
                             class="md-secondary"
                             ng-model="vm.step1.additional_details">
                  Additional details
                  <span ng-class="{expandCollapse:true, active:data.expanded}"></span>
                </md-checkbox>
                <div ng-show="vm.step1.additional_details">
                  <div layout="column" layout-gt-xs="row" flex class="display-block" >
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label style="left:0;">Value date</label>
                      <input type="text" jq-date-picker=""
                             ng-model="vm.step1.value_date" min-date="today" ng-keydown="vm.stopInputing($event)"
                             ng-blur="vm.preventFocusAgain($event)"
                             ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex class="display-block" >
                    <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                      <label>Purpose of payment</label>
                      {{vm.step3.payment_purpose}}
                      <md-select ng-model="vm.step1.payment_purpose" >
                        <md-option ng-repeat="purpose_of_payment in vm.paymentPurposes | orderBy: 'name'"
                                   value="{{ purpose_of_payment.id }}" title="{{ purpose_of_payment.description }}"
                                   ng-required="vm.popMandate">
                          {{ purpose_of_payment.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex class="display-block" >
                    <md-input-container flex>
                      <label>Internal reference</label>
                      <input type="text" name="reference"
                             ng-keydown="vm.noSpecialCharactersFunction($event)" ng-paste="vm.pasteLimit($event, 25)"
                             ng-keypress="vm.limitLength($event, 25)" ng-model="vm.step1.internal_payment_reference">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" flex class="display-block" >
                    <md-input-container flex>
                      <label>Payee notification email address</label>
                      <input type="text" name="reference"
                             ng-keypress="vm.limitLength($event, 100)" ng-paste="vm.pasteLimit($event, 100)"
                             ng-model="vm.step1.payment_notification_email">
                    </md-input-container>
                  </div>
                </div>
                <!-- /.ng-class -->
              </div>
              <!-- /flex-row-end -->
              <div flex="30" flex-md="30" flex-gt-sm="30" flex-offset-gt-sm="5" flex-xs="100" flex-offset="5"
                   flex-gt-xs="100" flex-offset-gt-xs="0" class="payment-card-detail">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 custom-quote long-height">
                    <div layout="row" layout-align="space-between none" class="rate-block">
                      <p class="left">
                        <strong>Rate</strong>
                        <span>{{ vm.deal_information.rate | currency:'':5}}</span>
                        <small><span>Inverse rate</span>{{ (1.0/vm.deal_information.rate) | currency:"":2}}</small>
                      </p>
                      <p class="right">
                        <span>{{vm.deal_information.deal | uppercase}}</span>
                      </p>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-gt-sm="column" layout-align="space-around stretch"
                         class="money-block display-block"  >
                      <div flex flex-gt-xs="50" flex-gt-sm="100" flex-offset-gt-xs="0">
                        <span>Received amount</span>
                        <p> {{ vm.deal_information.buy_currency | uppercase }} {{ vm.deal_information.buy_amounnt | currency:'':2 }}</p>
                      </div>
                      <div flex flex-gt-xs="40" flex-offset-gt-xs="10" flex-offset-gt-sm="0" flex-gt-sm="100">
                        <span>Amount to pay</span>
                        <p>{{ vm.deal_information.sell_currency | uppercase }} {{ vm.deal_information.sell_amounnt | currency:'':2 }}</p>
                      </div>
                    </div>
                    <div layout="row" layout-align="space-between none" class="date-block">
                      <p class="left">
                        <span>Value date</span>
                        {{ vm.deal_information.value_date | date: 'MM/dd/yyyy'}}
                      </p>
                    </div>
                  </ms-widget-front>
                </ms-widget>
              </div>
              <!-- /flex-row-end -->
            </div>
          </form>
          <div layout="row" class="next-button-container payee-balance" layout-xs="column"
               layout-align="center center">
            <div flex="30" flex-xs="100" class="balance">
              <h3>Balance:</h3> <span>{{ vm.balance || 0 | currency:""}}</span>
            </div>
            <div flex="70" flex-xs="100">
              <md-button class="md-primary"  ng-if="vm.verifyRecord(vm.step1.amount, vm.deal_information.sell_amounnt)" ng-click="vm.addPayee()">
                Add Payee
              </md-button>
              <md-button class="md-primary" ng-if="!vm.verifyRecord(vm.step1.amount, vm.deal_information.sell_amounnt)" ng-click="vm.addPayeeTotal()">
                Next
              </md-button>

            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab ng-disabled="vm.selectedIndex != 1">
        <md-tab-label>Funding</md-tab-label>
        <md-tab-body>
          <form class="beneficiary-form" novalidate>
            <div layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
              <div flex="40" flex-offset="0" flex-gt-sm="40" flex-xs="90" flex-gt-xs="100" flex-offset-gt-xs="0">
                <div layout="column"  class="display-block" layout-gt-xs="row" flex class="display-block" >
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Methods</label>
                    <md-select ng-model="vm.step2.method"
                               ng-change="vm.PickAccount(vm.step2)">
                      <md-option ng-repeat="method in vm.methods | orderBy: 'name'" value="{{ method.id }}">
                        {{ method.name }}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" flex class="display-block">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Amount</label>
                    <!--<input type="text" name="amount" ng-required="true" ng-model="vm.step4.amount" format="currency"-->
                    <!--ng-change="vm.UpdateFundingBalance()"-->
                    <!--ng-keypress="vm.protectAmount($event)"-->
                    <!--&gt;-->

                    <!--<input type="text" name="amount" ng-model="vm.step4.amount" format="currency" ng-required="true"-->
                    <!--ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateFundingBalance($event)"-->
                    <!--ng-keypress="vm.LimitFundingAmountTotal($event)" ng-keyup="vm.LimitFundingAmountTotal($event)"-->

                    <!--&gt;-->

                    <input type="text" name="amount" ng-model="vm.step2.amount" format="currency"
                           ng-keydown="vm.protectAmount($event)" ng-change="vm.UpdateBalance($event, vm.balance, vm.deal_information.sell_amounnt, vm.step2.amount, 'step2' )"
                           ng-keypress="vm.LimitFundingAmountTotal($event)">
                    <!--ng-keydown="vm.protectAmount($event)"-->
                    <!--ng-keydown="vm.protectAmount($event)"-->
                    <!--ng-keypress="vm.LimitFundingAmountTotal($event)"-->
                    <!--ng-keyup="vm.LimitFundingAmountInt($event)"-->
                    <!--&lt;!&ndash;ng-disabled="vm.step4.amount == null ? true: false">&#45;&#45;-->

                  </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row" flex class="display-block">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Account picker</label>
                    <md-select ng-model="vm.step2.account_picker">
                      <md-option ng-repeat="account in vm.accounts" value="{{ account.id }}">
                        {{ account.name }}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <!-- /flex-row-end -->
              <div flex="30" flex-offset="30" flex-gt-sm="30" flex-offset-gt-sm="30" flex-xs="90" flex-gt-xs="100"
                   flex-offset-gt-xs="0" flex-offset-xs="0" class="payment-card-detail funding-card">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 custom-quote long-height">
                    <div layout="row" layout-align="space-between none" class="rate-block">
                      <p class="left">
                        <strong>Rate</strong>
                        <span>{{ vm.deal_information.rate | currency:'':5}}</span>
                        <small><span>Inverse rate</span>{{ (1.0/vm.deal_information.rate) | currency:"":2}}</small>
                      </p>
                      <p class="right">
                        <span>{{vm.deal_information.deal | uppercase}}</span>
                      </p>
                    </div>
                    <div layout="column" class="display-block" layout-gt-xs="row" layout-gt-sm="column" layout-align="space-around stretch"
                         class="money-block">
                      <div flex flex-gt-xs="50" flex-gt-sm="100" flex-offset-gt-xs="0">
                        <span>Received amount</span>
                        <p>{{ vm.deal_information.buy_currency | uppercase }} {{ vm.deal_information.buy_amounnt | currency:'':2 }}</p>
                      </div>
                      <div flex flex-gt-xs="40" flex-offset-gt-xs="10" flex-offset-gt-sm="0" flex-gt-sm="100">
                        <span>Amount to pay</span>
                        <p>{{ vm.deal_information.sell_currency | uppercase }} {{ vm.deal_information.sell_amounnt | currency:'':2 }}</p>
                      </div>
                    </div>
                    <div layout="row" layout-align="space-between none" class="date-block">
                      <p class="left">
                        <span>Value date</span>
                        {{ vm.deal_information.value_date | date: 'MM/dd/yyyy'}}
                      </p>
                    </div>
                  </ms-widget-front>
                </ms-widget>
              </div>
              <!-- /flex-row-end -->
            </div>
          </form>
          <div layout="row" layout-xs="column" layout-align="center center"
               class="next-button-container funding-balance">
            <div flex="30" flex-xs="100" class="balance">
              <h3>Balance:</h3> <span>{{ vm.balance | currency:""}}</span>
            </div>
            <div flex="70" flex-xs="100">
              <!--<md-button class="md-primary" ng-click="vm.previousStep()">Back</md-button>-->
              <!--<md-button-->
              <!--ng-class="vm.parseFloating(vm.step4.amount) < vm.parseFloating(vm.funding_balance.copy_amount) ? (vm.parseFloating(vm.step4.amount) == 0 ? 'md-secondary':'md-primary') :'md-secondary'"-->
              <!--ng-hide="(vm.parseFloating(vm.step4.amount) >= vm.parseFloating(vm.funding_balance.copy_amount) || vm.parseFloating(vm.step4.amount) == 0)? true:false"-->
              <!--ng-click="vm.addFundingRecord(vm.step4)" ng-disabled="vm.SendFundingAndDisable">Add Funding-->
              <!--</md-button>-->
              <!--<md-button class="md-primary" ng-show="vm.customShow" ng-click="vm.addTotalFundingRecord(vm.step4)">-->
              <!--Next-->
              <!--</md-button>-->
              <!--<md-button class="md-primary" ng-click="vm.nextStep()">Next</md-button>-->
              <md-button class="md-primary"  ng-if="vm.verifyRecord(vm.step2.amount, vm.deal_information.sell_amount)"
                         ng-click="vm.addFundingRecord(vm.step2)">Add Funding
              </md-button>
              <md-button class="md-primary" ng-if="!vm.verifyRecord(vm.step2.amount, vm.deal_information.sell_amount)"
                         ng-click="vm.addTotalFundingRecord(vm.step2)">Next
              </md-button>
              <!--<md-button-->
              <!--ng-class="vm.parseFloating(vm.step4.amount) == vm.parseFloating(vm.funding_balance.copy_amount) ? 'md-primary': (vm.step4.amount == null ? 'md-primary': (vm.parseFloating(vm.step4.amount) > vm.parseFloating(vm.rate.sell_amount) ? 'md-primary' : 'md-secondary'))"-->
              <!--ng-hide="vm.step4.amount == '' ? true: vm.parseFloating(vm.step4.amount) == vm.parseFloating(vm.funding_balance.copy_amount) ? false: (vm.step4.amount == null ? false: (vm.parseFloating(vm.step4.amount) > vm.parseFloating(vm.funding_balance.copy_amount) ? false : true))"-->
              <!--ng-show="vm.customShow" ng-click="vm.addTotalFundingRecord(vm.step4)"-->
              <!--ng-disabled="vm.SendFundingAndDisable">Next-->
              <!--</md-button>-->
            </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
  <div class="modern-data-tables-summary" class="display-block" layout="column" layout-align="center stretch" ng-hide="vm.edit_deal_hide">
    <div flex="100" id="payees" ng-if="vm.payees.length > 0 && vm.selectedIndex === 0">
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Fee</th>
          <th>Reference</th>
          <th>Value Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="payee in vm.payees track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ payee.name | limitTo: 25 }} <span class="method {{ payee.type | lowercase | filter:'dashes' }}">{{ payee.type | uppercase }}</span></td>
          <td><div class="amount">{{ payee.amount | currency:"":2 }} <span class="currency {{ payee.currency_name | lowercase }}">{{ payee.currency_name | uppercase }}</span></div></td>
          <td><div class="amount">{{ payee.fee | currency:"":2 }}</div></td>
          <td>{{ payee.payment_reference }}</td>
          <td>{{ payee.value_date | date: 'MM/dd/yyyy'}}</td>
          <td>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="vm.editPayee(payee)">
                    <ion-icon></ion-icon>
                    <span md-menu-align-target=""><i class="material-icons">edit</i> Edit</span></md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.deletePayee(payee, $index)"><span md-menu-align-target=""><i class="material-icons">delete</i> Delete</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div flex="100" id="fundings" ng-if="vm.fundings.length > 0 && vm.selectedIndex === 1" >
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Fee</th>
          <th colspan="2">Value Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="funding in vm.fundings track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ funding.name | limitTo: 25 }} <span class="method {{ funding.method | lowercase | filter:'dashes' }}">{{ funding.method | uppercase }}</span></td>
          <td><div class="amount">{{ funding.amount | currency:"":2 }} <span class="currency {{ funding.currency_name | lowercase }}">{{ funding.currency_name | uppercase }}</span></div></td>
          <td><div class="amount">{{ funding.fee | currency:"":2 }}</div></td>
          <td colspan="2">{{ funding.value_date | date: 'MM/dd/yyyy'}}</td>
          <td>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <i class="material-icons">more_vert</i>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="vm.editFunding(funding)">
                    <ion-icon></ion-icon>
                    <span md-menu-align-target=""><i class="material-icons">edit</i> Edit</span></md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.deleteFunding(funding, $index)"><span md-menu-align-target=""><i class="material-icons">delete</i> Delete</span>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

