#deal_history{
  .loading-bar{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    min-height: 50px;
    h3{
      margin: 0;
      font-family: 'Roboto', sans-serif;
      padding: 1em;
      font-size: 16px;
      font-weight: normal;
    }
  }
  ms-form-wizard{
    min-height: 750px;
    height:auto !important;
    height: 750px;
    padding: 0;
  }
  .white-bg.md-whiteframe-4dp{
    position: relative;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    .dt-loading h3{
      margin-left: 1em;
    }
  }
  h3.header{
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    font-size: 16px;
    font-weight: normal;
  }
  md-card.data-table-card{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    md-card-content{
      padding: 0;
    }
    .filter-btn-container{
      max-height: 50px;
    }
    .filter-inputs{
      max-height: 60px;
    }
    .show{
      display: block;
    }
    .hide{
      display: none;
    }
    .reduce-top-margin{
      margin-top: 0;
    }
    .add-top-margin{
      margin-top: 50px;
    }
    table{
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      thead tr th{
        font-weight: 500;
        color: #8A8A8A;
        text-align: center;
        vertical-align: bottom;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0,0,0,.12);
        cursor: pointer;
        i.material-icons{
          font-size: 12px;
          position: relative;
          top: 2px;
          color: #8A8A8A;
        }
      }
      thead tr th:last-child{
        span.sort-indicator{
          //top: -10px;
          //top: 10px;
          position: relative;
        }
      }
      tbody{
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      tbody, thead{
        display: block;
        width: 100%;
      }
      tbody tr td{
        text-align: center;
        color: #595959;
        word-wrap: break-word;
        height: 60px;
      }
      tbody tr:nth-child(odd) td {
        background-color: rgb(245,245,245);
        .custom-icon-btn{
          background-color: #F5F5F5 !important;
        }
      }
      tbody tr:hover td{
        background-color: rgb(245,245,245);
      }
      thead tr th,
      tbody tr td{
        padding: 16px 6px;
        display: inline-block;
        text-align: center;
      }
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(9),
      tbody tr td:nth-child(9){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(10),
      tbody tr td:nth-child(10){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(11),
      tbody tr td:nth-child(11){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(12),
      tbody tr td:nth-child(12){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(13),
      tbody tr td:nth-child(13){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 130px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:last-child{
        height: 51px !important;
        .ng-table-header{
          margin-top: 9px !important;
        }
      }
      tbody tr td span.type{
        top: -7px;
        position: relative;
        font-size: 13px;
        font-weight: 500;
        border: 2px dashed #666;
        padding: 2px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-transform: uppercase;
        display: inline-block;
        min-width: 50px;
      }
      tbody tr td span.type.odf{
        color: #29c291;
        border-color: #29c291;
      }
      tbody tr td span.type.fdf{
        color: #9A4DFA;
        border-color: #9A4DFA;
      }
      tbody tr td span.type.spot{
        color: #1D81A7;
        border-color: #1D81A7;
      }
      tbody tr td span.type.fixed-dated-forward{
        color: #9A4DFA;
        border-color: #9A4DFA;
      }
      tbody tr td span.type.same-day{
        color: rgb(221,44,0);
        border-color: rgb(221,44,0);
      }
      tbody tr td span.type.tomorrow{
        color: rgb(46,98,177);
        border-color: rgb(46,98,177);
      }
      tbody tr td span.type.option-dated-forward{
        color: #E4572E;
        border-color: #E4572E;
      }
      tbody tr td span.deal-status{
        position: relative;
        top: 6px;
        left: 0;
      }
      tbody tr td span.deal-status.true{
        i.material-icons{
          color: #86af0b;
        }
      }
      tbody tr td span.deal-status.false{
        i.material-icons{
          color: #E00D0D;
        }
      }
      tbody tr td span.icon-circle{
        cursor: pointer;
        svg{
          display: inline-block;
          width: 24px;
          height: 24px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#AAAAAA;
          }
        }
      }
    }
    table+.ng-scope.ng-isolate-scope{
      max-width: 122em;
    }
    table.filters_table{
      margin-top: 0;
      thead tr{
        width: 100%;
      }
      thead th{
        height: 60px !important;
        background: none;
        border: none;
        md-input-container{
          margin: 0.5em 0 0 0;
          padding: 0;
          width: 100%;
          .md-errors-spacer{
            display: none;
          }
          label{
            text-align: left;
          }
          button{
            min-width: 100% !important;
            width: 100% !important;
            font-size: 13px;
          }
        }
        md-input-container.jq-date button.comiseo-daterangepicker-triggerbutton{
          display: inline-block;
          position: relative;
          cursor: pointer;
          line-height: 36px;
          vertical-align: middle;
          -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
          border-radius: 2px;
          box-sizing: border-box;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          outline: none;
          border: 0;
          padding: 0;
          background: transparent;
          color: currentColor;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
          font-style: inherit;
          font-variant: inherit;
          font-family: inherit;
          text-decoration: none;
          overflow: hidden;
          max-width: 100%;
          box-sizing: border-box;
        }
      }
    }
    .background-shades{
      max-width: 122em;
      min-height: 50px;
      background-color: rgba(158,158,158,0.2);
    }
    .btn-group{
      float: left !important;
      button{
        max-width: 100%;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        cursor: pointer;
        min-height: 30px;
        min-width: 30px;
        line-height: 36px;
        vertical-align: middle;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        border-radius: 2px;
        user-select: none;
        outline: none;
        border: 0;
        padding: 0 10px;
        margin:0 4px;
        background: transparent;
        color: currentColor;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        font-style: inherit;
        font-variant: inherit;
        font-family: inherit;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
        transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
      }
      button.active{
        background-color: #8A8A8A;
        text-decoration: none;
        color: #fff;
      }
      button:hover,
      button:not(.active):hover{
        background-color: rgba(0, 0, 0, 0.05);
        text-decoration: none;
        color: #444;
      }
    }
    .ng-table-pager{
      margin-top: 2.5em;
    }
    .date-range{
      margin-top: 1em;
      md-input-container{
        margin: 0;
        padding: 0;
        .md-errors-spacer{
          display: none;
        }
      }
    }
    .pagination{
      overflow: hidden;
      float: right;
      padding: 0 6px;
    }
    .pagination .responsive{
      width: 80px;
      background-color: #fff;
      overflow: hidden;
      height: 30px;
      position: relative;
      display: inline-block;
      .move-me{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .pagination li {
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      vertical-align: top;
      height: 30px;
      white-space:nowrap;
    }
    .pagination li.next{
      float: right;
    }
    .pagination li.previous{
      float: left;
    }
    .pagination li a {
      color: #444;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px;
      text-decoration: none;
    }
    .pagination li a i{
      position: relative;
      top: 6px;
    }
    .pagination li:not(.active):not(.disabled) a:hover{
      background-color: rgba(0, 0, 0, 0.05);
      color: #444;
    }
    .pagination li.active a {
      color: #fff;
    }
    .pagination li.active {
      background-color: #8A8A8A;
    }
    .pagination li.disabled a {
      cursor: default;
      color: #999;
    }
    .pagination li i {
      font-size: 2rem;
    }
    .pagination li.pages ul li {
      display: inline-block;
      float: none;
    }
    .search_input{
      margin: 0;
      padding: 0;
      width: 100%;
      .md-errors-spacer{
        display: none;
      }
    }
    .filter_button{
      float: left;
      min-width: 40px;
      i.material-icons{
        position: relative;
        top: 8px;
      }
    }
    .switches{
      margin-top: 1em;
      md-switch{
        display: inline-block;
        margin: 0;
        font-size: 12px;
      }
      md-switch.md-checked.blue{
        .md-bar{
          background-color: rgba(12, 89, 207, 0.5);
        }
        .md-thumb{
          background-color: #0C59CF;
        }
      }
      md-switch.md-checked.light-blue{
        .md-bar{
          background-color: rgba(33, 150, 243, 0.5);
        }
        .md-thumb{
          background-color: #2196F3;
        }
      }
      md-switch.md-checked.bright-green{
        .md-bar{
          background-color: rgba(19, 242, 32, 0.5);
        }
        .md-thumb{
          background-color: #13F220;
        }
      }
      md-switch.md-checked.orange{
        .md-bar{
          background-color: rgba(255, 168, 52, 0.5);
        }
        .md-thumb{
          background-color: #FFA834;
        }
      }
    }
  }
  .edit_deal_history{
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    border-radius: 2px;
    margin: 8px;
    @include show-box;
    button{
      background-color: rgba(158,158,158,0.2);
      margin: 9px;
      i.material-icons{
        position: relative;
        top: 7px;
      }

    }
    button.back-button{
      span,i.material-icons{
        color: #2196F3;
      }
    }
    h4{
      margin: 18px 0;
      font-weight: 500;
      text-transform: uppercase;
      color: #333;
    }
    .header_bar{
      background-color: rgb(238,238,238);
      padding: 8px 10px;
      span.title{
        color: rgba(0,0,0,0.54);
        font-style: italic;
        font-size: 12px;
      }
      p{
        margin: 0;
        padding-top: 4px;
        font-size: 13px;
        font-weight: bold;
        color: #111;
      }
    }
    md-tabs{
      margin-top: 1.5em;
    }
    .beneficiary-form{
      md-input-container{
        margin: 12px 0;
        .md-errors-spacer{
          display: none;
        }
      }
      md-checkbox{
        margin-bottom: 14px;
      }
    }
    .margin-top-3_3em{
      margin-top: 3.3em;
    }
    .beneficiary-form{
      min-height: 320px;
    }
    .payment-card-detail{
      position: relative;
      top: -17px;
    }
    .payment-card-detail.funding-card{
      position: relative;
      top: -17px;
    }
    .custom-quote{
      background-color: #F7F6F6;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
      height: 19em;
      .rate-block{
        background-color: #FBFAFA;
        padding: 0 16px 16px 16px;
        border-bottom: none;
        border-top: 1px solid rgba(215, 214, 214, .80);
        border-left: 1px solid rgba(215, 214, 214, .80);
        border-right: 1px solid rgba(215, 214, 214, .80);
        p.left{
          position: relative;
          margin-bottom: 5px;
          margin-top: 8px;
          padding-bottom: 3.5em;
          & > *{
            position: absolute;
            top: 0;
            left:0;
          }
          & > strong{
            font-weight: normal;
            font-size: 0.90em;
            color: #929292;
            font-style: italic;
          }
          & > span{
            top: 14px;
            font-size: 1.8em;
            margin-top: 5px;
          }
          & > small{
            font-style: italic;
            top: 30px;
            font-size: 11px;
            width: 110px;
            padding-top: 17px;
            span{
              padding-right: 4px;
            }
          }
        }
      }
      .money-block{
        padding: 10px 16px 0 16px;
        height: 9.5em;
        span{
          font-size: 0.90em;
          color: #929292;
          font-style: italic;
        }
        p{
          font-size: 1.8em;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        & > div:nth-child(1) > p{
          color: #00A4D3;
        }
        p:nth-child(2){
          color: #72BB53;
        }
      }
    }
    .date-block{
      padding: 8px 8px 8px 16px;
      background-color: #FBFAFA;
      border-top: none;
      border-bottom: 1px solid rgba(215, 214, 214, .80);
      border-left: 1px solid rgba(215, 214, 214, .80);
      border-right: 1px solid rgba(215, 214, 214, .80);
      span{
        color: #959595;
        font-style: italic;
        font-weight: normal;
      }
      color: #636060;
      font-weight: bold;
    }
  }
}

/*---------------------------------------- CSS Added by Shahzaib:25/5/2017 --------------------------------------*/
.value_date_bit_down{
  margin-top:20px;
}
.amount_to_pay_bit_down{
  margin-top:15px;
}
.recieved_amount_margin{
  margin-bottom:20px;
}
.deal_number_and_rate_background{
  background-color: #FBFAFA;
}
.payee_column{
  position:relative;top:25px
}
.addition_information_column{
  position:relative;bottom:14px
}
.amount_picker_alignment{
  position:relative;
  bottom:20px;
}
.deal_widget{
  margin-left:80px;
}
.deal-number
{
  position: relative;
  bottom:12px
}
.details{
  width:120px;
  position: relative;
  top:0px;
}
.ng-table-header{
  .details
{
  position: relative;
  //top:0px;
}

//.details_little_bit_down{
// span {
//   position: relative;
//   top: 1px;
// }
}

//td[date-title=Details]{
//  position: relative;
//  top: 10px;
//}
