<md-dialog aria-label="Modern Popup Table" id="modern-popup-table" class="deal_draw_down">
  <md-dialog-content>
    <div layout="row" layout-align="space-between start" class="header">
      <div flex>
        <h3 class="md-text-accent">Payee Picker</h3>
      </div>
      <span flex></span>
      <md-button class="md-icon-button filter-button" ng-click="toggleFilter()">
        <i class="material-icons">filter_list</i>
      </md-button>
      <md-button class="md-icon-button close-button" ng-click="closeDialog()">
        <i class="material-icons">close</i>
      </md-button>
      <div class="progress-loader" ng-hide="dialogLoader">
        <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div class="responsive">
      <table>
        <thead>
        <tr>
          <th>Routing/Account Name</th>
          <th>Payee/Payor</th>
          <th>Bank Name</th>
          <th>Payment Method</th>
          <th>Country</th>
        </tr>
        <tr class="filters" ng-hide="showFilter">
          <th>
            <md-input-container>
              <label>Routing/Account Name</label>
              <input type="text" ng-model="filter.routing">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Payee/Payor</label>
              <input type="text" ng-model="filter.payee">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Bank Name</label>
              <input type="text" ng-model="filter.bank">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Payment Method</label>
              <input type="text" ng-model="filter.method">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Country</label>
              <input type="text" ng-model="filter.country">
            </md-input-container>
          </th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="payee in vm.payeesList" ng-click="vm.selectPayee(payee)">
          <td>{{ vm.convertInternalRef(payee.internal_reference) }}</td>
          <td>{{ payee.name }}</td>
          <td>{{ payee.beneficiarybank_name }}</td>
          <td>{{ payee.type }}</td>
          <td>{{ payee.currency_name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </md-dialog-content>
</md-dialog>
