//custom styling
$theme-default-font-size: 16px;
$theme-font-family: 'Roboto', sans-serif;
$table-border-color: rgba(0,0,0,.12);
$theme-default-background-color: #039BE5;
$theme-default-color: #222;


//colors
$light-gray-1:#8A8A8A;
$light-gray-2:#ddd;
$dark-gray-1:#444;

/* Global Mixins */
@mixin show-box{
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
@mixin responsive-table{
  table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    thead, tbody{
      display: block;
      width: 100%;
    }
  }
}
@mixin breakpoint($point) {
  @if $point == xlarge {
    @media (min-width: 75em) { @content ; }
  }
  @else if $point == desktop {
    @media (min-width: 62em) and (max-width: 74.938em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 48em) and (max-width: 61.938em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 36em) and (max-width: 47.938em)  { @content ; }
  }
  @else if $point == mobile {
    @media (max-width: 35.938em)  { @content ; }

  }
}
@mixin breakpoints($min, $max){
  @if not $min{
    @media only screen and (min-width: $max) { @content ; }
  }
  @else {
    @media only screen and  (min-width: $min) and (max-width: $max) { @content ; }
  }
}
@mixin border-radius($size){
  -webkit-border-radius:$size;
  -moz-border-radius:$size;
  border-radius:$size;
}

/* Modern Data Tables */
md-card.modern-data-tables{
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: $theme-font-family;
  .loader-block{
    @include show-box;
    background-color: #fff;
  }
  h3{
    padding: 0.9em;
    margin: 0;
  }
  .loader{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .loading-bar{
    @include show-box;
    background-color: #fff;
  }
  button.filter-toggle{
    i.material-icons{
      position: relative;
      top: 7px;
    }
  }
  .button-group{
    margin-top: 5px;
    button{
      font-size: 12px;
      padding: 0;
      margin: 0;
      width: 1%;
      min-width: 35px;
    }
    button.active{
      background-color: rgb(158, 158, 158);
      color: rgb(250,250,250);
    }
    button.button-flat{
      border-radius: 0;
    }
    button:hover{
      color: #000;
    }
  }
  .filters-bar{
    background-color: #fff;
    @include show-box;
  }
  .filters-fields{
    margin: 6px 6px 0 0;
    padding-top: 6px;
    background-color: #fff;
    @include show-box;
    md-input-container{
      margin: 1em 6px;
      padding: 2px;
      .md-errors-spacer{
        display: none;
      }
    }
    button.md-raised{
      width: 0;
      padding: 4px;
      min-width: 60px;
      height: 35px;
    }
  }
  .records-info{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 14px;
  }
  .table-box{
    background-color: #fff;
    @include show-box;
    margin: 6px 0 0 0;
  }
  .responsive{
    width: 100%;
    .ng-table-counts.btn-group{
      float: left !important;
      margin-bottom: 6px;
      margin-left: 6px;
      button{
        max-width: 100%;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        cursor: pointer;
        min-height: 30px;
        min-width: 30px;
        line-height: 36px;
        vertical-align: middle;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        border-radius: 2px;
        user-select: none;
        outline: none;
        border: 0;
        padding: 0 10px;
        margin:0 4px;
        background: transparent;
        color: currentColor;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        font-style: inherit;
        font-variant: inherit;
        font-family: inherit;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
        transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
      }
      button.active{
        background-color: #8A8A8A;
        text-decoration: none;
        color: #fff;
      }
      button:hover,
      button:not(.active):hover{
        background-color: rgba(0, 0, 0, 0.16);
        text-decoration: none;
        color: #444;
      }
    }
    .pagination{
      overflow: hidden;
      float: right;
      padding: 0 6px;
    }

    .pagination li {
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      vertical-align: top;
      height: 30px;
      white-space:nowrap;
    }
    .pagination li.next{
      float: right;
    }
    .pagination li.previous{
      float: left;
    }
    .pagination li a {
      color: #444;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px;
      text-decoration: none;
    }
    .pagination li a i{
      position: relative;
      top: 6px;
    }
    .pagination li:not(.active):not(.disabled) a:hover{
      background-color: rgba(0, 0, 0, 0.16);
      color: #444;
    }
    .pagination li.active a {
      color: #fff;
    }
    .pagination li.active {
      background-color: #8A8A8A;
    }
    .pagination li.disabled a {
      cursor: default;
      color: #999;
    }
    .pagination li i {
      font-size: 2rem;
    }
    .pagination li.pages ul li {
      display: inline-block;
      float: none;
    }
  }
  .responsive table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    td, th{
      margin: 0;
      vertical-align: top;
      padding: 10px;
      min-width: 100px;
      text-align: left;
      text-shadow: none !important;
    }
    td .amount{
      margin-right: 80%;
      text-align: right;
    }
  }
  .responsive table tbody{
    display: block;
    @include breakpoint(xlarge) {
      height: 300px;
    }
    @include breakpoint(desktop) {
      height: 350px;
    }
    @include breakpoint(laptop) {
      height: 300px;
    }
  }
  /*
  Table Primary Colors
  */
  .responsive table.primary{
    th{
      background-color: rgba(3, 169, 244, 0.88);
      color: #fff;
      cursor: pointer;
    }
    tr:not(:last-child) td{
      border-bottom: 1px solid #eee;
    }
  }
}
md-card.classic-design{
  h3{
    padding: 0.9em;
    margin: 0;
  }
  .loader{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .filter_button{
    float: left;
    min-width: 40px;
    i.material-icons{
      position: relative;
      top: 8px;
    }
  }
  .background-shades{
    max-width: 180em;
    min-height: 50px;
    //background-color: rgba(158,158,158,0.2);
  }
  .filter-inputs{
    max-height: 60px;
  }
  .show{
    display: block;
  }
  .hide{
    display: none;
  }
  table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table.filters_table{
    thead{
      display: block;
    }
    margin-top: 50px;
    thead tr{
      width: 100%;
    }
    thead th{
      height: 60px !important;
      background: none;
      border: none;
      md-input-container{
        margin: 0.5em 0 0 0;
        padding: 0;
        width: 100%;
        .md-errors-spacer{
          display: none;
        }
        label{
          text-align: left;
        }
        button{
          min-width: 100% !important;
          width: 100% !important;
          font-size: 13px;
        }
      }
      md-input-container.jq-date button.comiseo-daterangepicker-triggerbutton{
        display: inline-block;
        position: relative;
        cursor: pointer;
        line-height: 36px;
        vertical-align: middle;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        border-radius: 2px;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        border: 0;
        padding: 0;
        background: transparent;
        color: currentColor;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        font-style: inherit;
        font-variant: inherit;
        font-family: inherit;
        text-decoration: none;
        overflow: hidden;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }
  table+.ng-scope.ng-isolate-scope{
    max-width: 122em;
  }
  .reduce-top-margin{
    margin-top: 0;
    margin-bottom: 1em;
  }
  .add-top-margin{
    margin-top: 50px;
  }
  table.responsive-table{
    thead, tbody{
      display: block;
      width: 100%;
    }
  }
  .btn-group{
    float: left !important;
    button{
      max-width: 100%;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      cursor: pointer;
      min-height: 30px;
      min-width: 30px;
      line-height: 36px;
      vertical-align: middle;
      -webkit-box-align: center;
      align-items: center;
      text-align: center;
      border-radius: 2px;
      user-select: none;
      outline: none;
      border: 0;
      padding: 0 10px;
      margin:0 4px;
      background: transparent;
      color: currentColor;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2rem;
      font-style: inherit;
      font-variant: inherit;
      font-family: inherit;
      text-decoration: none;
      overflow: hidden;
      -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
      transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    }
    button.active{
      background-color: #8A8A8A;
      text-decoration: none;
      color: #fff;
    }
    button:hover,
    button:not(.active):hover{
      background-color: rgba(0, 0, 0, 0.05);
      text-decoration: none;
      color: #444;
    }
  }
  .ng-table-pager{
    margin-top: 2.5em;
  }
  .date-range{
    margin-top: 1em;
    md-input-container{
      margin: 0;
      padding: 0;
      .md-errors-spacer{
        display: none;
      }
    }
  }
  .pagination{
    overflow: hidden;
    float: right;
    padding: 0 6px;
  }
  .pagination .responsive{
    width: 80px;
    background-color: #fff;
    overflow: hidden;
    height: 30px;
    position: relative;
    display: inline-block;
    .move-me{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
    white-space:nowrap;
  }
  .pagination li.next{
    float: right;
  }
  .pagination li.previous{
    float: left;
  }
  .pagination li a {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
  }
  .pagination li a i{
    position: relative;
    top: 6px;
  }
  .pagination li:not(.active):not(.disabled) a:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color: #444;
  }
  .pagination li.active a {
    color: #fff;
  }
  .pagination li.active {
    background-color: #8A8A8A;
  }
  .pagination li.disabled a {
    cursor: default;
    color: #999;
  }
  .pagination li i {
    font-size: 2rem;
  }
  .pagination li.pages ul li {
    display: inline-block;
    float: none;
  }
  .search_input{
    margin: 0;
    padding: 0;
    width: 100%;
    .md-errors-spacer{
      display: none;
    }
  }
  .filter_button{
    float: left;
    min-width: 40px;
    i.material-icons{
      position: relative;
      top: 8px;
    }
  }
  table.responsive-table{
    thead tr th{
      font-weight: 500;
      color: #8A8A8A;
      text-align: center;
      vertical-align: bottom;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0,0,0,.12);
      cursor: pointer;
      i.material-icons{
        font-size: 12px;
        position: relative;
        top: 2px;
        color: #8A8A8A;
      }
    }
    thead tr th:last-child{
      span.sort-indicator{
        //top: -10px;
        position: relative;
      }
    }
    tbody tr td{
      text-align: center;
      color: #595959;
      word-wrap: break-word;
      height: 60px;
    }
    tbody tr:nth-child(odd) td {
      background-color: rgb(245,245,245);
      .custom-icon-btn{
        background-color: #F5F5F5 !important;
      }
    }
    tbody tr:hover td{
      background-color: rgb(245,245,245);
    }
    thead tr th,
    tbody tr td{
      padding: 16px 6px;
      display: inline-block;
      text-align: center;
    }
    tbody tr td span.type{
      top: -7px;
      position: relative;
      font-size: 13px;
      font-weight: 500;
      border: 2px dashed #666;
      padding: 2px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-transform: uppercase;
      display: inline-block;
      min-width: 50px;
    }
    tbody tr td span.type.odf{
      color: #29c291;
      border-color: #29c291;
    }
    tbody tr td span.type.fdf{
      color: #9A4DFA;
      border-color: #9A4DFA;
    }
    tbody tr td span.type.spot{
      color: #1D81A7;
      border-color: #1D81A7;
    }
    tbody tr td span.type.fixed-dated-forward{
      color: #9A4DFA;
      border-color: #9A4DFA;
    }
    tbody tr td span.type.same-day{
      color: rgb(221,44,0);
      border-color: rgb(221,44,0);
    }
    tbody tr td span.type.tomorrow{
      color: rgb(46,98,177);
      border-color: rgb(46,98,177);
    }
    tbody tr td span.type.option-dated-forward{
      color: #E4572E;
      border-color: #E4572E;
    }
    tbody tr td span.deal-status{
      position: relative;
      top: 6px;
      left: 0;
    }
    tbody tr td span.deal-status.true{
      i.material-icons{
        color: #86af0b;
      }
    }
    tbody tr td span.deal-status.false{
      i.material-icons{
        color: #E00D0D;
      }
    }
    td span.currency{
      marg-left: 0;
    }
  }
}
md-dialog#modern-popup-table{
  overflow: hidden !important;
  .progress-loader{
    top: 6px !important;
    right: 110px !important;
  }
  .header{
    background-color: rgba(0,0,0,0.54);
    h3{
      margin: 0;
      padding: 10px;
      color: #fff;
      font-weight: bold;
    }
    button{
      i.material-icons{
        color: #fff;
      }
    }
  }
  .responsive{
    @include responsive-table;
    table{
      tbody{
        height: 250px;
      }
      th,td{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.14);
      }
      td{
        background-color: #fff;
        border-bottom: 1px solid rgb(224,224,224);
        cursor: pointer;
      }
      tr:hover td{
        background-color: rgb(238,238,238);
      }
      tr.filters{
        th{
          padding: 0 10px;
        }
        md-input-container{
          margin: 0;
          padding: 0;
          .md-errors-spacer{
            display: none;
          }
          input,label{
            padding: 0;
          }
        }
      }
    }
  }
}
.modern-data-tables-summary{
  padding: 4px 28px 28px 28px;
  &>div{
    @include show-box;
    @include responsive-table;
    table{
      tbody{
        max-height: 200px;
      }
      th,td{
        padding: 4px;
        background-color: #ebebeb;
      }
      td{
        background-color: #fff;
        border-bottom: 1px solid rgb(224,224,224);
      }
      tr:last-child td{
        border-bottom: none;
      }
      tbody tr td .amount{
        margin-right: 40%;
        text-align: right;
      }
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        text-align: center;
        width: 50px;
        @include breakpoints(false, 2560px){
          width: 80px;
        }
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 400px;
        @include breakpoints(false, 2560px){
          width: 500px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        text-align: center;
        width: 200px;
        @include breakpoints(false, 2560px){
          width: 250px;
        }
      }
      tbody tr td:nth-child(3){
        text-align: right;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        text-align: center;
        width: 200px;
        @include breakpoints(false, 2560px){
          width: 250px;
        }
      }
      tbody tr td:nth-child(4){
        text-align: right;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 420px;
        @include breakpoints(false, 2560px){
          width: 520px;
        }
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 200px;
        @include breakpoints(false, 2560px){
          width: 300px;
        }
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        width: 155px;
        text-align: center;
      }
    }
  }
  #fundings{
    table{
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 450px;
        @include breakpoints(false, 2560px){
          width: 550px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 240px;
        @include breakpoints(false, 2560px){
          width: 280px;
        }
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 240px !important;
        @include breakpoints(false, 2560px){
          width: 280px !important;
        }
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 444px;
        @include breakpoints(false, 2560px){
          width: 470px;
        }
      }
    }
  }
}
.progress-loader{
  position: absolute;
  top: 20px;
  right: 10px;
}
.position-relative{
  position: relative !important;
}
.erase-selection{
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  i.material-icons{
    font-size: 18px;
  }
}
button.full-width-button{
  width: 90% !important;
}
.first-page-button,
.last-page-button{
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
}
.first-page-button:hover,
.last-page-button:hover{
  background-color: rgba(0, 0, 0, 0.16);
  color: #444;
}
table span.currency{
  background-color: #EBEBEB;
  color: #8F8198;
  padding: 3px;
  font-size: 10px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
table span.currency.cad{border-bottom: 3px solid #E61610;}
table span.currency.usd{border-bottom: 3px solid #72BB53;}
table span.currency.gbp{border-bottom: 3px solid #ffbf00;}
table span.currency.eur{border-bottom: 3px solid #00AAA0;}
table span.currency.aud{border-bottom: 3px solid #a52a2a;}
table span.currency.jpy{border-bottom: 3px solid #008000;}
table span.currency.mxn{border-bottom: 3px solid #915c83;}
table span.currency.aed{border-bottom: 3px solid #33689E;}
table span.currency.ars{border-bottom: 3px solid #E8B835;}
table span.currency.chf{border-bottom: 3px solid #E4572E;}
table span.currency.bbd{border-bottom: 3px solid #2C4251;}
table span.currency.hkd{border-bottom: 3px solid #D16666;}
table span.currency.inr{border-bottom: 3px solid #C5B358;}
table span.currency.sek{border-bottom: 3px solid #2E3761;}
table span.method{
  color: #fff;
  background-color: #444;
  padding: 3px;
  font-size: 10px;
  margin-left: 5px;
  position: relative;
  top: -1px;
  @include border-radius(3px);
}
table span.method.bill-payment{background-color: #FFA834;}
table span.method.wire{background-color: #9A4DFA;}
table span.method.aba{background-color: #d9534f;}
table span.method.draft{background-color: #009acd;}
table span.method.accounts{background-color: #008b8b;}
table span.method.swift{background-color: #72BB53;}
table span.method.cheque{background-color: #51CDFF;}
table span.method.eft{background-color: #2CA58D;}
table span.method.pre-authorized-debit{background-color: #03A9F4;}
button.md-outline{
  background-color: #fff;
  border: 0.14em solid #207ADC;
  color: #207ADC;
  font-weight: bold;
}
button.md-outline:hover{
  background-color: #fff;
  border: 0.14em solid #207ADC;
}
button.md-disable{
  background-color: #D6D6D6;
  color: #ABAAAA;
}
button.button-with-icon{
  i.material-icons{
    position: relative;
    top: 7px;
    color: #fff !important;
  }
}
.payment-summary{
  min-height: 50px;
  background-color: #EFF6EB;
  border: 1px solid rgba(215, 214, 214, 0.8);
  margin: 16px;
  padding: 8px;
  @include responsive-table;
  table{
    thead, tbody{
      display: table-header-group !important;
    }
    th,td{
      padding: 8px;
    }
    th{
      font-size: 12px;
      font-style: italic;
      color: rgba(0,0,0,0.38);
      font-weight: 500;
    }
    td{
      font-size: 14px;
      font-weight: bold;
      color: #333;
      font-style: normal;
      padding-top: 0;
    }
  }
}
.payment-detail{
  margin-bottom: 1em;
  .header{
    background-color: #EBEBEB;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    h3{
      font-size: 18px;
      padding: 2px;
      margin-left: 1em;
      font-weight: 500;
      color: #333;
    }
  }
  .responsive{
    @include responsive-table;
    table{
      thead, tbody{
        display: table-header-group !important;
      }
      td{
        padding: 10px;
        border-bottom: 1px solid rgb(224,224,224);
      }
      tfoot td{
        border-bottom: none;
        background-color: rgba(0, 0, 0, 0.14);
        color: rgba(0,0,0,0.54);
        font-weight: 600;
      }
    }
  }
  .last-td-far-left{
    table tr td:last-child{
      text-align: right;
      .amount{
        display: inline-block;
      }
    }
  }
}
.button-with-icon{
  a,a:hover{
    text-decoration: none;
    color: #0C59CF !important;
  }
  i.material-icons{
    position: relative;
    top: 7px;
    color: #0C59CF !important;
  }
}
.margin-left-2em{
  margin-left: 2em;
}
.next-button-container{
  h3{
    display: inline-block;
    padding-left: 1em;
  }
  .balance{
    span{
      font-size: 14px;
      font-weight: bold;
    }
  }
  background: #EBEBEB;
  border-top: 1px solid #DCDCDC;
  button.md-primary{
    background: #0C59CF !important;
    color: #fff;
  }
  input.md-primary{
    background: #0C59CF !important;
    color: #fff;
  }
  button.md-secondary{
    background: #606060 !important;
    color: #fff;
  }
}
button.print-button{
  background-color: #fff;
  a,i{
    text-decoration: none;
    color: rgb(12, 89, 207);
  }
  i.material-icons{
    position: relative;
    top: 6px;
  }
}
.margin-1em{
  margin: 1em;
}
.required-field{
  label, label:after {
    color: rgb(213, 0, 0) !important;
  }
  input {
    border-bottom-color: rgb(213, 0, 0) !important;
  }
  .md-select-value {
    color: rgb(213, 0, 0) !important;
    border-bottom-color: rgb(213, 0, 0) !important;
    span:after {
      color: rgb(213, 0, 0) !important;
    }
  }
}
#ng-table-options{
  p{
    padding-left: 1em;
    font-size: 14px;
  }
  p.inline-block{
    font-weight: bold;
    display: inline-block;
  }
  .pages{
    button{
      font-size: 11px !important;
      margin: 4px 6px;
      padding: 0;
      width: 0;
      min-width: 36px;
    }
    button.active{
      background-color: rgb(189,189,189);
      color: rgba(0,0,0,0.87);
    }
  }
  .pagination{
    ul{
      float: right;
      margin: 10px 0 0 0;
      @include breakpoint(tablet){
        padding-bottom: 2em;
      }
      a.active{
        background-color: rgb(189,189,189);
        color: rgba(0,0,0,0.87);
      }
      a{
        font-size: 11px !important;
        i.fa{
          top: 3px !important;
          font-size: 14px !important;
        }
      }
    }
  }
}
//Dealing History
//codepen for horizontal table
// https://codepen.io/sambible/pen/yOqKaN
#deal_history{
  md-card.classic-design{
    .apply_filters{
      position: relative;
      bottom: 35px;
    }
    table{
      @include breakpoints(1590px, 1919px){
        font-size: 12px;
        tbody, thead{
          overflow-x: scroll !important;
        }
      }
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 170px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 120px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 115px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 115px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 115px;
        }
        @include breakpoints(false, 2560px){
          width: 130px;
        }
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 115px;
        }
        @include breakpoints(false, 2560px){
          width: 150px;
        }
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 130px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 130px;
        }
        @include breakpoints(false, 2560px){
          width: 110px;
        }
      }
      thead tr th:nth-child(9),
      tbody tr td:nth-child(9){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 110px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(10),
      tbody tr td:nth-child(10){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 130px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(11),
      tbody tr td:nth-child(11){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 130px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(12),
      tbody tr td:nth-child(12){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 110px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 110px;
        }
        @include breakpoints(false, 1920px){
          width: 130px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
      thead tr th:nth-child(13),
      tbody tr td:nth-child(13){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 110px;
        }
        @include breakpoints(1360px, 1439px){
          width: 130px;
        }
        @include breakpoints(1440px, 1589px){
          width: 110px;
        }
        @include breakpoints(1590px, 1919px){
          width: 130px;
        }
        @include breakpoints(false, 1920px){
          width: 152px;
        }
        @include breakpoints(false, 2560px){
          width: 200px;
        }
      }
    }
  }
}

@media screen and (min-width: 1360px) and (max-width: 1439px)
              and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
  #deal_history{
    md-card.classic-design{
      table{
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 70px;
        }

        thead tr th:nth-child(12),
        tbody tr th:nth-child(12){
          width: 60px;
        }
        //thead tr th:nth-child(9),
        //tbody tr th:nth-child(9){
        //  width: 50px
        //}
      }
    }
  }
}

@media screen and (min-width: 1590px) and (max-width: 1919px)
              and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
  #deal_history{
    md-card.classic-design{
       table{
         thead tr th:nth-child(4),
         tbody tr td:nth-child(4){
           width: 80px;
         }

         thead tr th:nth-child(11),
         tbody tr td:nth-child(11){
           width: 105px;
         }
       }
    }
  }
}

@media screen and (min-width: 1920px) and (max-width: 2559px)
              and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
  #deal_history{
    md-card.classic-design{
      table{
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 60px;
        }
      }
    }
  }
}


//progress bar
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
//Make a payment
.modern-data-table-and-options{
  @include show-box;
  background-color: #fff;
  color: #111;
  margin: 6px 30px;
  .responsive{
    @include responsive-table;
    table{
      tbody{
        max-height: 200px;
      }
      th{
        text-align: center;
      }
      th,td{
        padding: 4px;
        background-color: #ebebeb;
      }
      td{
        background-color: #fff;
        border-bottom: 1px solid rgb(224,224,224);
        text-align: left;
      }
      tr:last-child td{
        border-bottom: none !important;
      }
      tbody tr td .amount{
        margin-right: 33%;
        text-align: right;
      }
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        width: 50px;
      }
      tbody tr td:nth-child(1),
      thead tr th:nth-child(2),
      tbody tr td:nth-child(3),
      tbody tr td:nth-child(6),
      tbody tr td:nth-child(7){
        text-align: center;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 300px;
        text-align: left;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 150px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 280px;
      }
      tbody tr td:nth-child(4){
        text-align: right;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 150px;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 400px;
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        width: 170px;
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        width: 120px;
        text-align: center;
      }
      tbody tr td button.md-icon-button{
        margin: 0;
        padding: 0;
        padding: 0;
        i.material-icons{
          top: 5px !important;
          right: 0 !important;
        }
      }
    }
  }
  .options{
    margin-top: 3em;
    background: #EBEBEB;
    border-top: 1px solid #DCDCDC;
  }
}

md-card.data-table-card{
  table.data-table-design{
    font-family: $theme-font-family;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    thead tr th{
      font-weight: 500;
      color: $light-gray-1;
      text-align: center;
      vertical-align: bottom;
      text-transform: uppercase;
      border-bottom: 1px solid $table-border-color;
      cursor: pointer;
      i.material-icons{
        font-size: 12px;
        position: relative;
        top: 2px;
        color: $light-gray-1;
      }
    }
    thead tr th:last-child{
      span.sort-indicator{
        top: -10px;
        position: relative;
      }
    }
    tbody{
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    tbody tr td{
      text-align: center;
      color: #595959;
      word-wrap: break-word;
    }
    tbody tr:nth-child(odd) td {
      background-color: rgb(245,245,245);
      .custom-icon-btn{
        background-color: #F5F5F5 !important;
      }
    }
    tbody tr:hover td{
      background-color: rgb(245,245,245);
    }
    thead tr th,
    tbody tr td{
      padding: 16px 6px;
      display: inline-block;
      text-align: center;
      margin-right: -4px;
    }
  }
}
md-card.modern-data-table{
  height: 100%;
  font-family: $theme-font-family;
  .circle-loader{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  h3{
    padding-left: 1em;
  }
  button{
    i.material-icons{
      position: relative;
      top: 6px;
      right: 2px;
    }
  }
  table{
    width: 100%;
    border-collapse: collapse;
    td, th{
      padding: 8px 10px;
      md-checkbox{
        margin: 0;
      }
      md-input-container{
        padding: 0;
        margin: 0;
        .md-errors-spacer{
          display: none;
        }
        input{
          font-size: 12px;
        }
      }
    }
    th{
      background-color: $light-gray-2;
      color: $dark-gray-1;
    }
    thead tr:first-child th{
      background-color: rgb(224,224,224);
    }
  }
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    table.responsive{
      display: block;
      thead, tbody, th, td, tr{
        display: block;
      }
      thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      td{
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }
      td:before{
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
    }
  }
}
.md-success{
    background-color: #1c5911;
    color:#fff;
  }
  md-dialog,
  md-tab md-tab-body{
    position: relative;
  }
  .show-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #3C4252;
    md-progress-circular{
      left: 45%;
      top: 45%;
    }
  }
  //Different colors for md-toast messages
  .md-toast.success .md-toast-content{
    background-color: #4CAF50;
    color: #fff;
  }
  .md-toast.error .md-toast-content{
    background-color: #F44336;
    color: #fff;
  }
  .md-toast.info .md-toast-content{
    background-color: #2196F3;
    color: #fff;
  }
  md-radio-button {
    box-sizing: border-box;
    display: inline-block !important;
    margin-bottom: 16px;
    white-space: nowrap;
    margin-left: 26px;
    cursor: pointer;
    position: relative;
    top: -6px;
  }
.dataTables_info{
  margin-left: 10px;
  margin-bottom: 7px;
  color: #080808;
}
.groupX {
  font-size: 16px;
  margin: 20px 0;
  padding: 3px 15px 3px 15px;
  color: rgb(49, 46, 46);
  background-color: rgba(224, 224, 224, 0.96);
  text-transform: none;
  font-weight: 400;
  min-width:100px;
}
.md-button.left {
  border-radius: 10px 0 0 10px;
}
.md-button.middle {
  border-radius: 0;
  border-left: 1px solid rgba(230, 230, 230, 0.96);
  border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
  border-radius: 0 10px 10px 0;
}
.md-button.md-small {
  min-width: 30% !important;
  width:90%;
}
.md-button.md-small span{
  font-size:0.8em;
}
.page-layout.simple.fullwidth > .header, .page-layout.simple.inner-sidenav > .header {
  height: 120px !important;
  min-height: 120px !important;
}
.comiseo-daterangepicker-presets{
  ul li a,
  ul li a:hover{
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: 400;
    color: #444;
  }
  ul li a:hover{
    border: 1px solid #C5C5C5;
    background: #F6F6F6;
  }
  ul li.ui-menu-item{
    padding: 0;
    width: 100%;
  }
  .ui-menu .ui-menu-item-wrapper{
    padding: 2px .4em;
  }
}
  .scroller {
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
  }
  .md-toast-done .md-toast-content{
    background: #004f75 !important;
  }
  .md-toast-error .md-toast-content{
    background: rgb(193, 30, 23) !important;
  }
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

/*--------- Manage Accounts ----------*/

#cancel_and_save_btns{
  background-color: lightgrey;
}

#timezone{
  position:relative;
  top:10px;
}

.next-button-container{
  background: #EBEBEB;
  border-top: 1px solid #DCDCDC;
  button.md-primary{
    background: #0C59CF !important;
    color: #fff;
  }
  button.md-secondary{
    background: #606060 !important;
    color: #fff;
  }
}

/*-------------------------------- Edit Section CSS in Dealing History -----------------------------*/

#edit_section{
  margin-left:15px;
  margin-right:15px;
}

.tabs_height{
  //height:500px;
  width:1000px;
}

.columns{
  background: #EBEBEB;
  color:darkgrey;
  //border-top: 1px solid #DCDCDC;
  border-top: 1px solid #6b6b6b;
  //border-bottom: 1px solid 	#DCDCDC;
  border-bottom: 1px solid 	#6b6b6b;
  line-height:15px;
  //border:solid grey;
}

.column_name{
  font-style: italic;
  margin-top:10px;
}

.columns_values{
  margin-top:13px;
  color:black;
  font-weight: bold;
  margin-bottom:10px;
  font-size:16px;
}

.deal_history_form_tab{
  margin-top:25px;
}

.deal_history_form_margin{
  padding: 24px 0 0 0;
}

.deal_no{
  font-weight:bolder;
  font-size:15px;
  margin-left:15px;
}

.deal_number{
  font-weight:bold;
}

.smallHeading{
  color: #9294a6;
  margin-bottom: 3px;
  font-style: italic;
}

.value-container{
  color: #484444;
  font-weight: 500;
  font-size: 14px;
}

.bold_value{
  font-weight:bolder;
}

.value_position_from_label{
  margin-left:10px;
}

.large_field_values{
  font-size:20px;
  font-family:"Times New Roman"
}

.green_color{
  color:limegreen;
}

.sky_blue_color{
   color:deepskyblue;
}

.deal_number_and_rate_margin{
  margin-top:20px;
  margin-bottom:25px;
}

.black_color{
  color:black;
}

.deal_reciept_border{
  background: #EBEBEB;
  border: 1px solid #DCDCDC;
  padding-right:10px;
  padding-top:10px;
  width:60px;
  height:276px;
  button.md-primary{
    background: #0C59CF !important;
    color: #fff;
  }
  button.md-secondary{
    background: #606060 !important;
    color: #fff;
  }
}

.deal_reciept_border_v2{
  background: #EBEBEB;
  padding-right:10px;
}



.btn_outline{
  background-color: #fff;
  border: 0.14em solid #207ADC ;
  color: #207ADC ;
  font-weight: bold;
}

.beneficiary_right_hand_fields_margin{
  margin-right:5px
}

.card_dimensions{

}

.checkbox_margin{
  margin-top:15px;
}

.deal_history_form_left_hand_fields{
  margin-top:10px;
}

.custom-quote{
  background-color: #F7F6F6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  height: 17em;
  .rate-block{
    background-color: #FBFAFA;
    padding: 0 16px 16px 16px;
    border-bottom: none;
    border-top: 1px solid rgba(215, 214, 214, .80);
    border-left: 1px solid rgba(215, 214, 214, .80);
    border-right: 1px solid rgba(215, 214, 214, .80);
    p.left{
      position: relative;
      margin-bottom: 5px;
      margin-top: 8px;
      padding-bottom: 3.5em;
      & > *{
        position: absolute;
        top: 0;
        left:0;
      }
      & > strong{
        font-weight: normal;
        font-size: 0.90em;
        color: #929292;
        font-style: italic;
      }
      & > span{
        top: 14px;
        font-size: 1.8em;
        margin-top: 5px;
      }
      & > small{
        font-style: italic;
        top: 30px;
        font-size: 11px;
        width: 110px;
        padding-top: 17px;
        span{
          padding-right: 4px;
        }
      }
    }
  }
  .money-block{
    padding: 10px 16px 0 16px;
    height: 9.5em;
    span{
      font-size: 0.90em;
      color: #929292;
      font-style: italic;
    }
    p{
      font-size: 1.8em;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    & > div:nth-child(1) > p{
      color: #00A4D3;
    }
    p:nth-child(2){
      color: #72BB53;
    }
  }
}

.value_date{
  margin-top:10px;
}

.value_date_style{
  display: inline;
  font-weight:bolder;
  margin-top:50px;
  margin-left:4px;
}

.little-bit-down{
  margin-top: 25px;
}

.funding_widget_height{
  height:300px;
}

.timer_position{
  position:relative;
  top:20px;
}
//.ie10 .example
//{
//  /* IE10-only styles go here */
//}

//.ie10 div[flex] { display: block; }
//.ie10 .all { display: block;  }
//.ie11 .all { display: block;  }
//button.md-outline{
//  background-color: #fff;
//  border: 0.14em solid #207ADC ;
//  color: #207ADC ;
//  font-weight: bold;
//}

/*--------------------------------------------------------------------------------------------------*/

.ie10 div[flex] { display: block; }
ie11 .all { display: block;  }
.display-block{
  display: block;
}

//.margin-top-bottom-6px > div >div{
//  display: block; --
//}
