<div id="manage_users" class="page-layout fullwidth">
  <md-card class="classic-design" ng-show="vm.hideTabs">
    <div layout="column">
      <div flex="100" ng-show="vm.showDataTable">
        <h3>Loading...</h3>
        <md-progress-circular class="md-accent loader" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div layout="column" ng-hide="vm.showDataTable">
      <div flex="100" class="filter-btn-container">
        <div layout="row" ng-class="vm.enableFilter == true? 'background-shades': ''">
          <div flex="5">
            <md-button class="filter_button" aria-label="button" ng-click="vm.toggleFilters()">
              <i class="material-icons">filter_list</i> Apply Filters
            </md-button>
          </div>
          <span flex></span>
          <div flex="10">
            <md-button class="md-primary button-with-icon" aria-label="button">
              <i class="material-icons">add</i>Add New
            </md-button>
          </div>
        </div>
      </div>
      <div flex="100" ng-class="vm.enableFilter == true? 'background-shades filter-inputs show': 'filter-inputs hide'">
        <table class="filters_table">
          <thead>
          <tr>
            <th>
              <md-input-container>
                <label>By User Name</label>
                <input type="text" ng-model="vm.filter.user_name"  aria-label="By User Name" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Full level</label>
                <input type="text" ng-model="vm.filter.full_level"  aria-label="By Full level" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Is Active</label>
                <input type="text" ng-model="vm.filter.is_active"  aria-label="By Is Active" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Created Date</label>
                <input type="text" ng-model="vm.filter.created_date"  aria-label="By Created Date" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Permissions</label>
                <input type="text" ng-model="vm.filter.permissions"  aria-label="By Permissions" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th></th>
          </tr>
          </thead>
        </table>
      </div>
      <div flex="100" ng-class="vm.enableFilter == true? 'reduce-top-margin':'add-top-margin'">
        <table ng-table="vm.tableParams" class="responsive-table">
          <tbody ms-scroll>
          <tr ng-repeat="row in $data track by $index">
            <td data-title="'Username'" sortable="'user_name'">
              {{ row.user_name }}
            </td>
            <td data-title="'Full Name'" sortable="'full_name'">
              {{ row.full_name }}
            </td>
            <td data-title="'Is Active'" sortable="'status'">
              <span class="active {{ row.status | lowercase }}">{{ row.status === 'true' ? 'Yes':'No' }}</span>
            </td>
            <td data-title="'Created Date'" sortable="'created_on'">
              {{ row.created_on  | date: 'MM/dd/yyyy' }}
            </td>
            <td data-title="'Permissions'" sortable="'updated_on'">
              {{ row.updated_on  | date: 'MM/dd/yyyy' }}
            </td>
            <td data-title="">
              <md-menu md-position-mode="target-right target" class="md-menu-design">
                <md-button aria-label="Open demo menu" class="md-raised" aria-label="button" ng-click="$mdOpenMenu($event)">
                  <i class="fa fa-caret-down" aria-hidden="true"></i>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button aria-label="button">
                      <span md-menu-align-target="">
                        Edit
                      </span>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="">
                      <span md-menu-align-target="" aria-label="button">
                        Delete
                      </span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-card>
  <div ng-hide="vm.hideTabs" class="tabs-group">
    <div class="progress-loader" ng-hide="vm.loader">
      <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
    </div>
    <md-tabs md-dynamic-height  md-no-select-click="true" md-stretch-tabs="auto" >
      <md-tab>
        <md-tab-label>Basic Information</md-tab-label>
        <md-tab-body>
          <form class="md-inline-form basic_information_form form_dimensions" novalidate>
            <div layout="row">
              <div flex="10">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/b1/bb/ec/b1bbec499a0d66e5403480e8cda1bcbe.png"
                     alt="placeholder">
              </div>
              <div flex="40" flex-offset="5">
                <div layout="column">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Entity</label>
                    <md-select ng-model="vm.step1.entity">
                      <md-option value="1"></md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout="column" class="fullname_and_email">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Full Name</label>
                    <input type="text" ng-model="vm.step1.full_name">
                  </md-input-container>
                </div>
              </div>
              <div flex="40" flex-offset="5">
                <div layout="column">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Username</label>
                    <input type="text" ng-model="vm.step1.username">
                  </md-input-container>
                </div>
                <div layout="column" class="fullname_and_email">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Email Address</label>
                    <input type="text" ng-model="vm.step1.email">
                  </md-input-container>
                </div>
              </div>
            </div>
            <div layout="row" class="timezone_passwordPolicy">
              <div flex="55">
                <div layout="column">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Time Zone</label>
                    <md-select ng-model="vm.step1.time_zone">
                      <md-option value="1">1</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <div flex="40" flex-offset="5">
                <div layout="column">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Password Policy</label>
                    <md-select ng-model="vm.step1.password_policy">
                      <md-option value="1">1</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
            </div>
            <div layout="row" class="active_checkbox_password_confirmPassword">
              <div flex="10">
                <div layout="column">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="clear-margin">
                    <md-checkbox ng-model="vm.step1.active" aria-label="active">
                      Active
                    </md-checkbox>
                  </md-input-container>
                </div>
              </div>
              <div  flex="40" flex-offset="5" ng-show="vm.step1.active">
                <div layout="column">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Password</label>
                    <!--<input type="text" ng-model="vm.step1.password">-->
                    <input type="password" ng-model="vm.step1.password">
                  </md-input-container>
                </div>
              </div>

              <div  flex="40" flex-offset="5" ng-show="vm.step1.active">

                <div layout="column">
                  <md-input-container flex="100" flex-gt-xs="100" flex-offset="0">
                    <label>Confirm Password</label>
                    <!--<input type="text" ng-model="vm.step1.confirm_password">-->
                    <input type="password" ng-model="vm.step1.confirm_password">
                  </md-input-container>
                </div>
              </div>
            </div>
          </form>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Permissions</md-tab-label>
        <md-tab-body>
          <form class="md-inline-form permissions_form" novalidate>
            <div layout="column" class="display-block">
              <div flex="100" class="margin-top-bottom-6px">
                <md-checkbox md-no-ink aria-label="checkbox">All</md-checkbox>
              </div>
              <div flex="95" flex-offset="5" layout="row" class="margin-top-bottom-6px">
                <div flex="30" flex-offset="0">
                  <div layout="column" class="display-block">
                    <div flex="100">
                      <md-checkbox md-no-ink aria-label="checkbox">Administration</md-checkbox>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column">
                        <md-checkbox md-no-ink aria-label="checkbox">Manage Users</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column">
                        <md-checkbox md-no-ink aria-label="checkbox">Add Users</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column">
                        <md-checkbox md-no-ink aria-label="checkbox">Approval Policies</md-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div flex="30" flex-offset="5">
                  <div layout="column" class="display-block">
                    <div flex="100">
                      <md-checkbox md-no-ink aria-label="checkbox">Account</md-checkbox>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column">
                        <md-checkbox md-no-ink aria-label="checkbox">Account Statement</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column">
                        <md-checkbox md-no-ink aria-label="checkbox">Account Balance</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column">
                        <md-checkbox md-no-ink aria-label="checkbox">Account Transfers</md-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div flex="30" flex-offset="5">
                  <div layout="column" class="display-block">
                    <div flex="100">
                      <md-checkbox md-no-ink aria-label="checkbox">Beneficiary</md-checkbox>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Add a Draft Beneficiary</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Add a Beneficiary</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">View Existing Beneficiary</md-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div flex="95" flex-offset="5" layout="row" class="margin-top-bottom-6px">
                <div flex="30" flex-offset="0">
                  <div layout="column" class="display-block">
                    <div flex="100">
                      <md-checkbox md-no-ink aria-label="checkbox">Payments</md-checkbox>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Payment Tracker</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block ">
                        <md-checkbox md-no-ink aria-label="checkbox">Payment History</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">File Transfer Facility</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Pay From Your Account</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Make a Payment</md-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div flex="30" flex-offset="5">
                  <div layout="column" class="display-block">
                    <div flex="100">
                      <md-checkbox md-no-ink aria-label="checkbox">Forex Dealing</md-checkbox>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Book a Forward Deal</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Book a Spot Deal</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Place an Order</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Deal DrawDown</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">Dealing History</md-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div flex="30" flex-offset="5">
                  <div layout="column" class="display-block">
                    <div flex="100">
                      <md-checkbox md-no-ink aria-label="checkbox">Company Info</md-checkbox>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">General Info</md-checkbox>
                      </div>
                    </div>
                    <div flex="95" flex-offset="5">
                      <div layout="column" class="display-block">
                        <md-checkbox md-no-ink aria-label="checkbox">My Contacts</md-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    <div layout="row" layout-align="center center" class="next-button-container">
      <md-button class="md-outline" aria-label="button" ng-click="vm.backToApprovals($event)">Cancel</md-button>
      <md-button class="md-primary" aria-label="button" ng-click="vm.saveApprovalPolicy($event)">Save</md-button>
    </div>
  </div>
</div>
