#approval_policy{
  md-card.classic-design{
    table{
      @include breakpoints(1590px, 1919px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints(1440px, 1589px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints(1360px, 1439px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints(1280px, 1359px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      @include breakpoints(1024px, 1279px){
        thead, tbody{
          //height: 170px !important;
        }
      }
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        width: 150px;
        @include breakpoints(false,1360px){
          width: 350px;
        }
        @include breakpoints(false, 1590px){
          width: 430px;
        }
        @include breakpoints(false, 1920px){
          width: 550px;
        }
        @include breakpoints(false, 2560px){
          width: 800px;
        }
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 150px;
        @include breakpoints(false,1360px){
          width: 350px;
        }
        @include breakpoints(false, 1590px){
          width: 430px;
        }
        @include breakpoints(false, 1920px){
          width: 550px;
        }
        @include breakpoints(false, 2560px){
          width: 800px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 150px;
        @include breakpoints(false,1360px){
          width: 400px;
        }
        @include breakpoints(false, 1590px){
          width: 470px;
        }
        @include breakpoints(false, 1920px){
          width: 550px;
        }
        @include breakpoints(false, 2560px){
          width: 700px;
        }
      }
    }
    .md-menu-design{
      button.md-button{
        margin: 0;
        position: relative;
        @include breakpoint(xlarge){
          top: -5px;
        }
        @include breakpoint(desktop){
          top: -5px;
        }
        @include breakpoint(laptop){
          top: -10px;
        }
        @include breakpoint(tablet){
          top: -10px;
        }
        @include breakpoint(mobile){
          top: -10px;
        }
      }
    }
  }
  .tabs-group{
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    border-radius: 2px;
    margin: 8px;
    @include show-box;
  }
  md-tabs{
    form.md-inline-form{
      margin: 1em;
      md-input-container{
        .md-errors-spacer{
          display: none;
        }
      }
      button.margin-1em{
        margin: 1em;
      }
      .user_table{
        @include responsive-table;
        button.trash-icon{
          margin: 0;
          i.fa{
            color: red;
            font-size: 18px;
            font-weight: normal;
          }
        }
        table{
          font-size: 13px;
          tbody, thead{
            display: table-header-group !important;
          }
          th,td{
            padding: 6px;
            background-color: rgba(0, 0, 0, 0.14);
          }
          td{
            background-color: #fff;
            border-bottom: 1px solid rgb(224,224,224);
          }
          tr:last-child td{
            border-bottom: none;
          }
          tr:hover td{
            background-color: rgb(238,238,238);
          }
          td:last-child{
            text-align: center;
          }
        }
      }
    }
  }
}

//@media (min-width : 1590px) {
//  md-card.classic-design {
//    table {
//      table + .ng-scope.ng-isolate-scope {
//        max-width: 57em;
//      }
//      thead tr th:nth-child(1),
//      tbody tr td:nth-child(1) {
//        width: 150px;
//      }
//      thead tr th:nth-child(2),
//      tbody tr td:nth-child(2) {
//        width: 170px;
//      }
//      thead tr th:nth-child(3),
//      tbody tr td:nth-child(3) {
//        width: 300px;
//      }
//    }
//  }
//}

#manage-users{
  //.form_dimensions{
  //  min-height: 250px;
  //}
}

@media all and (-ms-high-contrast: none) , (-ms-high-contrast: active){
  .form_dimensions{
    min-height: 250px;
  }

  .fullname_and_email{
    margin-top: 30px;
  }

  .timezone_passwordPolicy{
    margin-top: 25px;
    margin-bottom:20px;
  }

  .active_checkbox_password_confirmPassword{
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .md-inline-form permissions_form ng-pristine ng-valid > *{
    margin-bottom: 25px;
  }

  .checkbox_margins{
    margin-bottom: 50px;
  }
}
