<!-- Deal Dialog -->
<md-dialog aria-label="TRACKER INFORMATION" id="deal_dialog">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">TRACKER INFORMATION</h3>
        </div>
        <span flex></span>
        <!-- <div class="show-circle-loader" ng-hide="singlePayeeLoader" style="position: absolute; right: 7%; top: 4%;">
          <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
        </div> -->
        <!-- <md-button class="md-icon-button custom-primary" ng-click="closeDialog()">
          <i class="material-icons">done</i>
        </md-button>
        <md-button class="md-icon-button custom-secondary" ng-click="closeDialog()">
          <i class="material-icons">replay</i>
        </md-button> -->
        <md-button class="md-icon-button custom-third" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
      <form name="wizardStep1" class="md-inline-form dialog-form" ms-form-wizard-form novalidate>
        <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row" class="payee-holder">
          <div flex="30" flex-offset="0" flex-xs="100" flex-gt-xs="30" class="status_block">
            <h4>STATUS</h4>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-checkbox ng-checked="deal.is_post">Posted</md-checkbox>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-checkbox ng-checked="deal.is_paid">Paid</md-checkbox>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-checkbox ng-checked="deal.is_settled">Sent</md-checkbox>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-checkbox ng-checked="deal.is_finished">Finish</md-checkbox>
            </div>
          </div>
          <!-- /flex-row-end -->
          <div flex="65" flex-offset="5" flex-xs="100" flex-gt-xs="65" flex-offset-gt-xs="5" class="deal_block">
            <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="value_date_input">
                  <label style="left:0;">Value date</label>
                  <input type="text" ng-model="deal.value_date" placeholder="Value date" ng-readonly="true">
                </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" flex>
              <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="value_date_input">
                <label style="left:0;">Payee Name</label>
                <input type="text" ng-model="deal.payee_" placeholder="Payee Name" ng-readonly="true">
              </md-input-container>
            </div>
          </div>
          <!-- /flex-row-end -->
        </div>
        <!-- /layout-row -->
      </form>
    </ms-form-wizard>
  </md-dialog-content>
</md-dialog>
