<div id="payment_tracker" class=" fullwidth">
  <!--Templates for ng-table -->
  <script type="text/ng-template" id="custom/pagination">
    <div layout="row" layout-md="column" id="ng-table-options">
      <div flex="15" flex-md="100">
        <p>Total Records: <strong>{{ params.total() }}</strong></p>
      </div>
      <div flex="40" flex-md="100" class="pages">
        <p class="inline-block">Set page size to: </p>
        <md-button ng-class="params.count() === count ? 'active':''" ng-repeat="count in params.settings().counts" ng-click="params.count(count)" aria-label="icon">{{ count }}</md-button>
      </div>
      <div flex="45" flex-md="100" class="pagination" layout-align="end center">
        <ul>
          <li ng-repeat="page in pages" ng-show="page.type === 'first'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'prev'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-hide="page.type === 'prev' || page.type === 'next'">
            <a href="javascript:void(0);" ng-class="{'active':page.current}" ng-click="params.page(page.number)">{{ page.number }}</a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'next'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'last'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </script>
  <md-card class="classic-design">
    <div layout="column">

      <div flex="100" ng-show="vm.showDataTable">
        <h3>Loading...</h3>
        <md-progress-circular class="md-accent loader" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div layout="column" ng-hide="vm.showDataTable">
      <div flex="100" class="filter-btn-container">
        <div layout="row" ng-class="vm.enableFilter == true? 'background-shades': ''">
          <div flex="5">
            <md-button class="filter_button" ng-click="vm.toggleFilters()">
              <i class="material-icons">filter_list</i> Apply Filters
            </md-button>
          </div>
          <span flex></span>
        </div>
      </div>
      <div class="filters" flex="100" ng-class="vm.enableFilter == true? 'background-shades filter-inputs show': 'filter-inputs hide'">
        <table class="filters_table">
          <thead>
          <tr>
            <th>
              <md-input-container class="jq-date">
                <input type="text" ng-model="vm.filter.date_range"  jq-u-i-date-range-picker data-picker-title="By Date"  aria-label="By Date" ng-change="vm.dateRangeFilter()">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Deal No</label>
                <input type="text" ng-model="vm.filter.deal_no"  aria-label="Deal No" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Amount</label>
                <input type="text" ng-model="vm.filter.amount" aria-label="Amount" ng-change="vm.searchAmount(vm.filter.amount, 'sell_amount')" ng-keydown="vm.protectAmount($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Currency</label>
                <input type="text" ng-model="vm.filter.currency" aria-label="Currency"  only-alphabates=""  ng-change="vm.searchCurrency(vm.filter.currency, 'sell_currency')" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <md-input-container>
                <label>By Payee</label>
                <input type="text" ng-model="vm.filter.payee" aria-label="Payee" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
              </md-input-container>
            </th>
            <th>
              <div class="switches">
                <md-switch class="blue" ng-model="vm.filter.posted" aria-label="Posted" ng-change="vm.statusFilter()">
                  Posted
                </md-switch>
                <md-switch class="light-blue" ng-model="vm.filter.paid" aria-label="Paid" ng-change="vm.statusFilter()">
                  Paid
                </md-switch>
                <md-switch class="orange" ng-model="vm.filter.sent" aria-label="Sent" ng-change="vm.statusFilter()">
                  Sent
                </md-switch>
                <md-switch class="bright-green" ng-model="vm.filter.finished" aria-label="Finished" ng-change="vm.statusFilter()">
                  Finished
                </md-switch>
              </div>
            </th>
          </tr>
          </thead>
        </table>
      </div>
      <div flex="100" ng-class="vm.enableFilter == true? 'reduce-top-margin':'add-top-margin'" >
        <!--<table data-ng-table="vm.tableParams" class="responsive-table" template-pagination="custom/pagination">-->
        <table data-ng-table="vm.tableParams" class="responsive-table" template-pagination="custom/pagination" style="margin-top: 50px !important; ">

          <tbody ms-scroll>
          <tr ng-repeat="row in $data track by $index">
            <td data-title="'Value Date'" sortable="'post_on'">
              {{ row.post_on | date: 'MM/dd/yyyy' }}
            </td>
            <td data-title="'Deal No'" sortable="'deal_number'">
              {{ row.deal_number }}
            </td>
            <td data-title="'Amount'" sortable="'sell_amount'">
              {{ row.sell_amount | currency:'':2 }}
            </td>
            <td data-title="'Currency'" sortable="'sell_currency'">
              <span class="currency {{ row.sell_currency | lowercase }}">{{ row.sell_currency }}</span>
            </td>
            <td data-title="'Payee Name'" sortable="'beneficiary_name'">
              {{ row.beneficiary_name }}
            </td>
            <td data-title="'Status'" filter="vm.statusDef">
              <div class="status">
                <span ng-class="row.is_post === 'true' ? 'posted':''">
                  <md-tooltip ng-show="row.is_post" md-direction="top">{{ row.post_on | date: 'MM/dd/yyyy' }}</md-tooltip>
                  Posted
                </span>
                <span ng-class="row.is_paid === 'true' ? 'paid':''">
                  <md-tooltip ng-show="row.is_paid" md-direction="top">{{ row.paid_on | date: 'MM/dd/yyyy' }}</md-tooltip>
                  Paid
                </span>
                <span ng-class="row.is_settled === 'true' ? 'sent':''">
                  <md-tooltip ng-show="row.is_settled" md-direction="top">{{ row.settled_on | date: 'MM/dd/yyyy' }}</md-tooltip>
                  Sent
                </span>
                <span ng-class="row.is_finished === 'true' ? 'finished':''">
                  <md-tooltip ng-show="row.is_finished" md-direction="top">{{ row.finished_on | date: 'MM/dd/yyyy' }}</md-tooltip>
                  Finished
                </span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-card>
</div>

