#payment_tracker{
  md-card.classic-design{
    table{
      @include breakpoints(1024px, 1279px){
        tr td{
          height: 80px;
        }
      }
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        @include breakpoints(1024px, 1279px){
          width: 110px;
        }
        @include breakpoints(1280px, 1359px){
          width: 120px;
        }
        @include breakpoints(1360px, 1439px){
          width: 120px;
        }
        @include breakpoints(1440px, 1589px){
          width: 120px;
        }
        @include breakpoints(1590px, 1919px){
          width: 150px;
        }
        @include breakpoints(false, 1920px){
          width: 200px;
        }
        @include breakpoints(false, 2560px){
          width: 280px;
        }
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        @include breakpoints(1024px, 1279px){
          width: 150px;
        }
        @include breakpoints(1280px, 1359px){
          width: 150px;
        }
        @include breakpoints(1360px, 1439px){
          width: 150px;
        }
        @include breakpoints(1440px, 1589px){
          width: 150px;
        }
        @include breakpoints(1590px, 1919px){
          width: 150px;
        }
        @include breakpoints(false, 1920px){
          width: 200px;
        }
        @include breakpoints(false, 2560px){
          width: 280px;
        }
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        @include breakpoints(1024px, 1279px){
          width: 100px;
        }
        @include breakpoints(1280px, 1359px){
          width: 120px;
        }
        @include breakpoints(1360px, 1439px){
          width: 120px;
        }
        @include breakpoints(1440px, 1589px){
          width: 120px;
        }
        @include breakpoints(1590px, 1919px){
          width: 150px;
        }
        @include breakpoints(false, 1920px){
          width: 200px;
        }
        @include breakpoints(false, 2560px){
          width: 280px;
        }
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        @include breakpoints(1024px, 1279px){
          width: 100px;
        }
        @include breakpoints(1280px, 1359px){
          width: 120px;
        }
        @include breakpoints(1360px, 1439px){
          width: 120px;
        }
        @include breakpoints(1440px, 1589px){
          width: 120px;
        }
        @include breakpoints(1590px, 1919px){
          width: 150px;
        }
        @include breakpoints(false, 1920px){
          width: 200px;
        }
        @include breakpoints(false, 2560px){
          width: 280px;
        }
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        @include breakpoints(1024px, 1279px){
          width: 130px;
        }
        @include breakpoints(1280px, 1359px){
          width: 200px;
        }
        @include breakpoints(1360px, 1439px){
          width: 200px;
        }
        @include breakpoints(1440px, 1589px){
          width: 300px;
        }
        @include breakpoints(1590px, 1919px){
          width: 300px;
        }
        @include breakpoints(false, 1920px){
          width: 400px;
        }
        @include breakpoints(false, 2560px){
          width: 280px;
        }
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        @include breakpoints(1024px, 1279px){
          width: 162px;
        }
        @include breakpoints(1280px, 1359px){
          width: 290px;
        }
        @include breakpoints(1360px, 1439px){
          width: 395px;
        }
        @include breakpoints(1440px, 1589px){
          width: 362px;
        }
        @include breakpoints(1590px, 1919px){
          width: 440px;
        }
        @include breakpoints(false, 1920px){
          width: 460px;
        }
        @include breakpoints(false, 2560px){
          width: 900px;
        }
      }
      thead tr th:nth-child(6){
        span.sort-indicator{
          top: 0;
        }
      }
      tr td .status{
        span{
          display: inline-block;
          font-size: 11px;
          padding: 4px 8px;
          border: 1px dotted rgba(0,0,0,.30);
          border-radius: 5px;
          text-transform: uppercase;
          text-align: center;
          min-width: 60px;
          margin: 0 4px 0 0;
        }
        span.posted{background-color: #0C59CF;color: #fff;}
        span.paid{background-color: #2196F3;color: #fff;}
        span.finished{background-color: #13F220;color: #fff;}
        span.sent{background-color: #FFA834;color: #fff;}
      }
      tr th .switches{
        margin-top: 1em;
        md-switch{
          display: inline-block;
          margin: 0;
          font-size: 12px;
        }
        md-switch.md-checked.blue{
          .md-bar{
            background-color: rgba(12, 89, 207, 0.5);
          }
          .md-thumb{
            background-color: #0C59CF;
          }
        }
        md-switch.md-checked.light-blue{
          .md-bar{
            background-color: rgba(33, 150, 243, 0.5);
          }
          .md-thumb{
            background-color: #2196F3;
          }
        }
        md-switch.md-checked.bright-green{
          .md-bar{
            background-color: rgba(19, 242, 32, 0.5);
          }
          .md-thumb{
            background-color: #13F220;
          }
        }
        md-switch.md-checked.orange{
          .md-bar{
            background-color: rgba(255, 168, 52, 0.5);
          }
          .md-thumb{
            background-color: #FFA834;
          }
        }
      }
    }
  }
  .loading-bar{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    min-height: 50px;
    h3{
      margin: 0;
      font-family: 'Roboto', sans-serif;
      padding: 1em;
      font-size: 16px;
      font-weight: normal;
    }
  }
  ms-form-wizard{
    min-height: 750px;
    height:auto !important;
    height: 750px;
    padding: 0;
  }
  .white-bg.md-whiteframe-4dp{
    position: relative;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    .dt-loading h3{
      margin-left: 1em;
    }
  }
  h3.header{
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    font-size: 16px;
    font-weight: normal;
  }
  md-card.data-table-card{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    md-card-content{
      padding: 0;
    }
    .filter-btn-container{
      max-height: 50px;

    }
    .filter-inputs{
      max-height: 60px;
    }
    .show{
      display: block;
    }
    .hide{
      display: none;
    }
    .reduce-top-margin{
      margin-top: 0;
    }
    .add-top-margin{
      margin-top: 50px;
    }
    table{
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      margin-top: 50px !important;
      thead tr th{
        font-weight: 500;
        color: #8A8A8A;
        text-align: center;
        vertical-align: bottom;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0,0,0,.12);
        cursor: pointer;
        i.material-icons{
          font-size: 12px;
          position: relative;
          top: 2px;
          color: #8A8A8A;
        }
      }
      thead tr th:last-child{
        span.sort-indicator{
          top: -10px;
          position: relative;
        }
      }
      tbody{
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      tbody, thead{
        display: block;
        width: 100%;
      }
      tbody tr td{
        text-align: center;
        color: #595959;
        word-wrap: break-word;
      }
      tbody tr:nth-child(odd) td {
        background-color: rgb(245,245,245);
        .custom-icon-btn{
          background-color: #F5F5F5 !important;
        }
      }
      tbody tr:hover td{
        background-color: rgb(245,245,245);
      }
      thead tr th,
      tbody tr td{
        padding: 16px 6px;
        display: inline-block;
        text-align: center;
        margin-right: -4px;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 210px;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 210px;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 210px;
      }
      tbody tr td:nth-child(3){
        text-align: right;
        padding-right: 5.5em;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 430px;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 510px;
      }
      thead tr th:nth-child(5){
        height: 43px;
      }
      tbody tr td:nth-child(5){
        height: 41px;
      }
      tbody tr td{
        height: 53px !important;
      }
      tbody tr td span.currency.cad{border-bottom: 3px solid #E61610;}
      tbody tr td span.currency.usd{border-bottom: 3px solid #72BB53;}
      tbody tr td span.currency.eur{border-bottom: 3px solid #00AAA0;}
      tbody tr td span.currency.gbp{border-bottom: 3px solid #ffbf00;}
      tbody tr td span.currency.jpy{border-bottom: 3px solid #008000;}
      tbody tr td span.currency.mxn{border-bottom: 3px solid #915c83;}
      tbody tr td span.currency.aud{border-bottom: 3px solid #a52a2a;}
      tbody tr td .status{
        span{
          display: inline-block;
          font-size: 11px;
          padding: 4px 8px;
          border: 1px dotted rgba(0,0,0,.30);
          border-radius: 5px;
          text-transform: uppercase;
          text-align: center;
          min-width: 60px;
          margin: 0 4px 0 0;
        }
        span.posted{background-color: #0C59CF; color: #fff;}
        span.paid{background-color: #2196F3; color: #fff;}
        span.finished{background-color: #13F220; color: #fff;}
        span.sent{background-color: #FFA834; color: #fff;}
      }
    }
    table+.ng-scope.ng-isolate-scope{
      max-width: 122em;
    }
    table.filters_table{
      margin-top: 50px;
      thead tr{
        width: 100%;
      }
      thead th{
        height: 60px !important;
        background: none;
        border: none;
        md-input-container{
          margin: 0.5em 0 0 0;
          padding: 0;
          width: 100%;
          .md-errors-spacer{
            display: none;
          }
          label{
            text-align: left;
          }
          button{
            min-width: 100% !important;
            width: 100% !important;
            font-size: 13px;
          }
        }
        md-input-container.jq-date button.comiseo-daterangepicker-triggerbutton{
          display: inline-block;
          position: relative;
          cursor: pointer;
          line-height: 36px;
          vertical-align: middle;
          -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
          border-radius: 2px;
          box-sizing: border-box;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          outline: none;
          border: 0;
          padding: 0;
          background: transparent;
          color: currentColor;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
          font-style: inherit;
          font-variant: inherit;
          font-family: inherit;
          text-decoration: none;
          overflow: hidden;
          /*-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
          transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);*/
          max-width: 100%;
          box-sizing: border-box;
        }
      }
      thead tr th:last-child{
        width: 500px;
      }
    }
    .background-shades{
      max-width: 122em;
      min-height: 50px;
      //background-color: rgba(158,158,158,0.2);
    }
    .btn-group{
      float: left !important;
      button{
        max-width: 100%;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        cursor: pointer;
        min-height: 30px;
        min-width: 30px;
        line-height: 36px;
        vertical-align: middle;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        border-radius: 2px;
        user-select: none;
        outline: none;
        border: 0;
        padding: 0 10px;
        margin:0 4px;
        background: transparent;
        color: currentColor;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        font-style: inherit;
        font-variant: inherit;
        font-family: inherit;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
        transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
      }
      button.active{
        background-color: #8A8A8A;
        text-decoration: none;
        color: #fff;
      }
      button:hover,
      button:not(.active):hover{
        background-color: rgba(0, 0, 0, 0.05);
        text-decoration: none;
        color: #444;
      }
    }
    .ng-table-pager{
      margin-top: 2.5em;
    }
    .date-range{
      margin-top: 1em;
      md-input-container{
        margin: 0;
        padding: 0;
        .md-errors-spacer{
          display: none;
        }
      }
    }
    .pagination{
      overflow: hidden;
      //float: right;
      padding: 0 6px;
      position: relative;
      /* border: 1px solid black; */
      width: 400px;
      left: 450px;
    }
    .pagination .responsive{
      width: 80px;
      background-color: #fff;
      overflow: hidden;
      height: 30px;
      position: relative;
      display: inline-block;
      .move-me{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .pagination li {
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      vertical-align: top;
      height: 30px;
      white-space:nowrap;
    }
    .pagination li.next{
      float: right;
    }
    .pagination li.previous{
      float: left;
    }
    .pagination li a {
      color: #444;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px;
      text-decoration: none;
    }
    .pagination li a i{
      position: relative;
      top: 6px;
    }
    .pagination li:not(.active):not(.disabled) a:hover{
      background-color: rgba(0, 0, 0, 0.05);
      color: #444;
    }
    .pagination li.active a {
      color: #fff;
    }
    .pagination li.active {
      background-color: #8A8A8A;
    }
    .pagination li.disabled a {
      cursor: default;
      color: #999;
    }
    .pagination li i {
      font-size: 2rem;
    }
    .pagination li.pages ul li {
      display: inline-block;
      float: none;
    }
    .search_input{
      margin: 0;
      padding: 0;
      width: 100%;
      .md-errors-spacer{
        display: none;
      }
    }
    .filter_button{
      float: left;
      min-width: 40px;
      i.material-icons{
        position: relative;
        top: 8px;
      }
    }
    .switches{
      margin-top: 1em;
      md-switch{
        display: inline-block;
        margin: 0;
        font-size: 12px;
      }
      md-switch.md-checked.blue{
        .md-bar{
          background-color: rgba(12, 89, 207, 0.5);
        }
        .md-thumb{
          background-color: #0C59CF;
        }
      }
      md-switch.md-checked.light-blue{
        .md-bar{
          background-color: rgba(33, 150, 243, 0.5);
        }
        .md-thumb{
          background-color: #2196F3;
        }
      }
      md-switch.md-checked.bright-green{
        .md-bar{
          background-color: rgba(19, 242, 32, 0.5);
        }
        .md-thumb{
          background-color: #13F220;
        }
      }
      md-switch.md-checked.orange{
        .md-bar{
          background-color: rgba(255, 168, 52, 0.5);
        }
        .md-thumb{
          background-color: #FFA834;
        }
      }
    }
  }
}
#deal_dialog{
  width: 540px;
  .md-icon-button.custom-primary{
    background-color: #1464F6;
    color: #fff;
    border-radius: 0;
  }
  .md-icon-button.custom-secondary{
    background-color: #31DBD9;
    color: #fff;
    border-radius: 0;
  }
  .md-icon-button.custom-third{
    background-color: #F7F6F6;
    color: #AAAAAA;
    border-radius: 0;
  }
}
.dialog-form{
    margin-top: 0;
    padding: 16px 16px;
    .status_block h4{
      margin: 0;
      font-weight: bold;
    }
    .status_block md-checkbox{
      margin: 6px 0;
    }
    .status_block{
      margin-top: -1.1em;
    }
    .deal_block{
      margin-top: 10px;
    }
}


.ng-table-pager{
  .ng-table-counts{
    position: relative;
    left:280px
  }
}
//@media screen\0, screen and (min-width: 1366px) and (max-width: 1439px){
//@media all  and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//@media screen  and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//  #payment_tracker{
//    .filters{
//      margin-top: 30px;
//      margin-bottom: 30px;
//    }
//    md-card.classic-design{
//      //min-height: 900px;
//
//      table{
//        .filters_table{
//          margin-top: 10px;
//        }
//        thead tr th:nth-child(5),
//        tbody tr td:nth-child(5){
//          width:120px;
//        }
//      }
//    }
//  }
//}

@media screen and (-ms-high-contrast: none) , (-ms-high-contrast: active) and (min-width: 1366px){ //IE specific styling
  #payment_tracker{
    md-card.classic-design{
      min-height: 900px;

      table{
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width:220px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width:350px;
        }
      }
    }
  }
}

@media screen and (min-width: 1590px) and (max-width: 1919px)
              and (-ms-high-contrast: none) , (-ms-high-contrast: active) { //IE specific styling

  #payment_tracker{

    md-card.classic-design{
      table{
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 260px;
        }

        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 450px;
        }
      }
    }

  }

}

@media screen and (min-width: 1920px) and (max-width: 2559px)
              and (-ms-high-contrast: none), (-ms-high-contrast: active){
  #payment_tracker{

    .md-card.classic-design{
      table{
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 400px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 600px;
        }
      }
    }
  }
}
