<div id="account_statement" class="page-layout simple fullwidth">
  <!--Templates for ng-table -->
  <script type="text/ng-template" id="custom/pagination">
    <div layout="row" id="ng-table-options" layout-md="column">
      <div flex="10" flex-md="100">
        <p>Total Records: <strong>{{ params.total() }}</strong></p>
      </div>
      <div flex="40" class="pages" flex-md="100">
        <p class="inline-block">Set page size to: </p>
        <md-button ng-class="params.count() === count ? 'active':''" ng-repeat="count in params.settings().counts" ng-click="params.count(count)" aria-label="icon">{{ count }}</md-button>
      </div>
      <div flex="50" class="pagination" layout-align="end center" flex-md="100" layout-align-md="start center">
        <ul>
          <li ng-repeat="page in pages" ng-show="page.type === 'first'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'prev'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-hide="page.type === 'prev' || page.type === 'next'">
            <a href="javascript:void(0);" ng-class="{'active':page.current}" ng-click="params.page(page.number)">{{ page.number }}</a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'next'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'last'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </script>

  <!-- CONTENT -->
  <div class="content">
    <div class="form-wrapper md-whiteframe-1dp" flex="100">
      <div class="show-circle-loader" ng-hide="vm.showAccountLoader" style="position: absolute; right: -5px; top: 0;">
        <md-progress-circular  class="md-accent" md-diameter="25px"></md-progress-circular>
      </div>
      <form name="accountStatement" class="md-inline-form" novalidate>
        <div layout="column" layout-gt-xs="row" flex>
          <md-input-container flex="15" class="entity_input">
            <input type="text" ng-model="vm.account.entity" placeholder="Entity" required readonly>
          </md-input-container>
          <md-input-container flex="45" class="entity_account">
            <input type="text" ng-model="vm.account.account" placeholder="Account" required ng-click="vm.showTableFunc($event)">
          </md-input-container>
          <md-input-container flex="20" class="entity_date_from">
            <label style="left:0;">Date From</label>
            <input type="text" jq-date-picker aria-label="Date From" ng-model="vm.account.date_from" name="date_from" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
          </md-input-container>
          <md-input-container flex="20" class="entity_date_to">
            <label style="left:0;">Date To</label>
            <input type="text" jq-date-picker aria-label="Date To" ng-model="vm.account.date_to" name="date_to" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
          <md-button class="md-primary" ng-click="vm.searchRecords(vm.account)">Search</md-button>
        </div>
      </form>
      <div class="account-data-table" ng-hide="vm.showTable">
        <div class="show-circle-loader" ng-hide="vm.AccountListLoader" style="position: absolute; right: 10px;">
          <md-progress-circular  class="md-accent" md-diameter="20px"></md-progress-circular>
        </div>
        <i class="material-icons" ng-click="vm.hideTableFunc($event)">close</i>
        <table class="simple records-filter" ms-responsive-tabl>
          <thead>
          <tr>
            <th>
              <md-input-container class="title_input">
                <input type="text" placeholder="Account Title" ng-model="vm.search.title">
              </md-input-container>
            </th>
            <th>
              <md-input-container class="currency_input">
                <label>Currency</label>
                <md-select ng-model="vm.search.currency" aria-label="Currency">
                  <md-option ng-value="vm.toLowerCase(currency.currency_name)" ng-repeat="currency in vm.currencies">{{ currency.currency_name }}</md-option>
                </md-select>
              </md-input-container>
            </th>
            <th>
              <md-input-container class="available_balance_input">
                <input type="text" placeholder="Opening Balance" ng-model="vm.search.available_balance">
              </md-input-container>
            </th>
            <th>
              <md-input-container class="closing_balance_input">
                <input type="text" placeholder="Closing Balance" ng-model="vm.search.closing_balance">
              </md-input-container>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="account in vm.accounts | filter: vm.search.title | filter: vm.search.currency | filter: vm.search.available_balance | filter: vm.search.closing_balance" ng-click="vm.selectAccount(account, $event)">
            <td>{{ account.accountandcurrency }}</td>
            <td>{{ vm.toUpperCase(account.currency_name) }}</td>
            <td>{{ account.available_amount | currency:""}}</td>
            <td>{{ account.balance_act | currency:"" }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="entity-statement md-whiteframe-1dp" flex="100" ng-hide="vm.showEntitiesTable || vm.entityStatements.length <= 0">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <!--<span class="md-headline">Entity Statements</span>-->
            <span class="md-headline">Statement Details</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content style="min-height:750px" class="entity-statement-section-height">
          <div layout="column">
            <div flex="100" hide-gt-xs ng-class="vm.enableFilter == true? 'background-shades filter-inputs': 'filter-inputs'">
              <table class="filters_table">
                <thead>
                <tr>
                  <th>
                    <md-input-container class="jq-date">

                      <input type="text" id="date_picker" ng-model="vm.filter.date_range" jq-u-i-date-range-picker picker-title="By Date" aria-label="By Date" ng-change="vm.dateRangeFilter()">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Source No</label>
                      <input type="text" ng-model="vm.filter.source_no"  aria-label="Source No" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Withdrawal</label>
                      <input type="text" ng-model="vm.filter.withdrawal" aria-label="Withdrawal" ng-change="vm.filterAll()" ng-keydown="vm.protectAmount($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Deposit</label>
                      <input type="text" ng-model="vm.filter.deposit" aria-label="Deposit" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Balance</label>
                      <input type="text" ng-model="vm.filter.balance" aria-label="Balance" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Deal Number</label>
                      <input type="text" ng-model="vm.filter.deal_number" aria-label="Deal Number" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Narration</label>
                      <input type="text" ng-model="vm.filter.narration" aria-label="Narration" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                </tr>
                </thead>
              </table>
            </div>
            <div flex="100" hide-gt-xs class="filter-btn-container">
              <div layout="row" ng-class="vm.enableFilter == true? 'background-shades': ''">
                <div flex="5">
                  <md-button class="filter_button" ng-click="vm.toggleFilters()">
                    <i class="material-icons">filter_list</i> Apply Filters
                  </md-button>
                </div>
                <span flex></span>
                <div flex="15" ng-hide="true">
                  <md-input-container class="search_input">
                    <label>Search</label>
                    <input type="text" ng-model="vm.filter.global_search" ng-keydown="vm.noSpecialCharactersFunction($event)" ng-change="vm.searchFilterFunction()">
                  </md-input-container>
                </div>
              </div>
            </div>
            <div flex="100" hide-xs class="filter-btn-container">
              <div layout="row" ng-class="vm.enableFilter == true? 'background-shades': ''">
                <div flex="5">
                  <md-button class="filter_button" ng-click="vm.toggleFilters()">
                    <i class="material-icons">filter_list</i> Apply Filters
                  </md-button>
                </div>
                <span flex></span>
                <div flex="60">
                  <md-input-container class="opening_balance_input">

                    <label>Opening Balance</label>
                    <input type="text" ng-model="vm.entitySearch.min_value" format="currency" ng-readonly="true">
                  </md-input-container><br/><br/>
                  <!--<md-input-container class="opening_balance_input">-->

                    <!--<label>Closing Balance</label>-->
                    <!--<input type="text" ng-model="vm.entitySearch.max_value" format="currency" ng-readonly="true">-->
                  <!--</md-input-container>-->
                </div>
                <div flex="15" ng-hide="true">
                  <md-input-container class="search_input">
                    <label>Search</label>
                    <input type="text" ng-model="vm.filter.global_search" ng-keydown="vm.noSpecialCharactersFunction($event)" id="datepick" ng-change="vm.searchFilterFunction()">
                  </md-input-container>
                </div>
              </div>
            </div>
            <div flex="100" ng-class="vm.enableFilter === true? 'background-shades filter-inputs show': 'filter-inputs hide'">
              <table class="filters_table">
                <thead>
                <tr>
                  <th>
                    <md-input-container class="jq-date">
                      <input type="text" ng-model="vm.filter.date_range" jq-u-i-date-range-picker data-picker-title="By Date" aria-label="By Date" ng-change="vm.dateRangeFilter()">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Source No</label>
                      <input type="text" ng-model="vm.filter.source_no"  aria-label="Source No" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Withdrawal</label>
                      <input type="text" ng-model="vm.filter.withdrawal" aria-label="Withdrawal" ng-change="vm.filterAll()" ng-keydown="vm.protectAmount($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Deposit</label>
                      <input type="text" ng-model="vm.filter.deposit" aria-label="Deposit" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Balance</label>
                      <input type="text" ng-model="vm.filter.balance" aria-label="Balance" ng-change="vm.filterAll()" only-numbers="">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Deal Number</label>
                      <input type="text" ng-model="vm.filter.deal_number" aria-label="Deal Number" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                  <th>
                    <md-input-container>
                      <label>By Narration</label>
                      <input type="text" ng-model="vm.filter.narration" aria-label="Narration" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                    </md-input-container>
                  </th>
                </tr>
                </thead>
              </table>
            </div>
            <div flex="100" ng-class="vm.enableFilter == true? 'reduce-top-margin':'add-top-margin'">
              <table ng-table="vm.tableParams" template-pagination="custom/pagination" >
                <tbody  style="overflow: hidden !important; height: auto; !important">
                <tr ng-repeat="row in $data | filter :  vm.filter.narration">
                  <td ng-if="row.message" colspan="7">
                    {{ row.message }}
                  </td>
                  <td data-title="'Date'" sortable="'trans_date'">
                    {{ row.trans_date | date: 'MM/dd/yyyy' }}
                  </td>
                  <td data-title="'Source No'" sortable="'source_no'">
                    {{ row.source_no }}
                  </td>
                  <td data-title="'Withdrawal'" sortable="'withdrawal'">
                    {{ row.withdrawal | currency:'':2 }}
                  </td>
                  <td data-title="'Deposit'" sortable="'deposit'">
                    {{ row.deposit | currency:'':2 }}
                  </td>
                  <td data-title="'Balance'" sortable="'balance'">
                    {{ row.balance | currency:'':2 }}
                  </td>
                  <td data-title="'Deal Number'" sortable="'deal_number'">
                    <a href="javascript:;" ng-click="vm.openDealWindow(row)">{{ row.deal_number }}</a>
                  </td>
                  <td data-title="'Narration'" sortable="'narration'">
                    {{ row.narration }}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div flex="100">
              <div layout="row">
                <span flex></span>
                <div flex="70">
                  <td data-title="">
                    <!--<md-button ng-hide="row.hide_print" class="md-primary custom-icon-btn" aria-label="button" ng-click="vm.printRow()"><i class="fa fa-print print-button-position" aria-hidden="true"></i></md-button>-->
                  </td>
                  <div class="print-button-position">
                    <md-button ng-hide="row.hide_print" class="md-primary custom-icon-btn" aria-label="button" ng-click="vm.printRow()"><i class="fa fa-print" aria-hidden="true"></i></md-button>
                    <md-button class="md-default md-raised csv-export" ng-if="vm.tableParams.data.length > 0" type="button" csv-column-order="vm.order" ng-csv="vm.exportEntitiesDateFilter" csv-header="vm.entityHeader" filename="AccountStatement.csv">CSV</md-button>
                    <md-input-container class="closing_balance_input">
                      <label>Closing Balance</label>
                      <input type="text" ng-model="vm.entitySearch.max_value" format="currency" ng-readonly="true">
                    </md-input-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <!-- / CONTENT -->
</div>
