<md-dialog aria-label="Edit Payee" id="single_payment_dialog">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">Deal Information</h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
      <form name="wizardStep1" class="md-inline-form single-payee-form" ms-form-wizard-form novalidate>
        <div flex="100">
          <table >
            <thead>
            <tr>DATE</tr>
            <tr>Source No</tr>
            <tr>Withdrawal</tr>
            <tr>Deposit</tr>
            <tr>Balance</tr>
            <tr>Deal Number</tr>
            <tr>Narration</tr>
            </thead>
            <tbody>
            <tr >
              <td data-title="'Date'" sortable="'trans_date'">
                {{ row.trans_date | date: 'MM/dd/yyyy' }}
              </td>
              <td data-title="'Source No'" sortable="'source_no'">
                {{ row.source_no }}
              </td>
              <td data-title="'Withdrawal'" sortable="'withdrawal'">
                {{ row.withdrawal | currency:'':2 }}
              </td>
              <td data-title="'Deposit'" sortable="'deposit'">
                {{ row.deposit | currency:'':2 }}
              </td>
              <td data-title="'Balance'" sortable="'balance'">
                {{ row.balance | currency:'':2 }}
              </td>
              <td data-title="'Deal Number'" sortable="'deal_number'">
                <a>{{ row.deal_number }}</a>
              </td>
              <td data-title="'Narration'" sortable="'narration'">
                {{ row.narration }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
    </ms-form-wizard>
  </md-dialog-content>

</md-dialog>
