#account_statement{
  .show-circle-loader{
    z-index: 20 !important;
    background-color: #3C4252 !important;
    position: absolute !important;
    right: 10px !important;
    md-progress-circular{
      position: absolute !important;
      top: 10px !important;
      right: 20px !important;
    }
  }
  .form-wrapper{
    position: relative;
  }
  position: relative;
  display: block;
  md-datepicker{
    position: relative;
  }
  md-datepicker .md-datepicker-input-container{
    width: 100%;
    margin-left: 0;
    .md-icon-button{
      display: none;
    }
  }
  md-datepicker > button{
    position: absolute;
    top: -18px;
    right: 8px;
  }
  button.md-primary{
    width: 160px;
  }
  .account-data-table{
    top: 39%;
    left: 15.8%;
    width: 44%;
    height: 250px;
    background-color: #fff;
    z-index: 2;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    i.material-icons{
      position: absolute;
      left: auto;
      right: 0;
      background-color: #666;
      color: #fff;
      cursor: pointer;
      z-index: 3;
    }
    table.records-filter{
      .md-select-value > span{
        margin-bottom : -9px;
      }
    }
    table{
      table-layout: fixed;
      border-collapse: collapse;
      th{
        padding: 10px 0px;
        text-align: left;
        font-size: 12px;
        word-break: break-all;
      }
      td{
        padding: 0.75em 1.5em;
        text-align: left;
        font-size: 12px;
        word-break: break-all;
      }
      tbody tr:nth-child(2n-1){
        background-color: #f5f5f5;
        transition: all .125s ease-in-out;
      }
      tbody tr:hover{
        background-color: rgba(3,155,229, .3);
        cursor: pointer;
      }
      tbody{
        height: 201px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      tbody, thead{
        display: block;
        width: 100%;
      }
      thead tr th md-input-container{
        margin: 0;
        padding: 0;
        width: 100%;
        .md-errors-spacer{
          display: none;
        }
      }
      thead tr th{
        height: 45px;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 30%;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 20%;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 25%;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 25%;
      }
    }
  }
  .entity-statement{
    margin-top: 1em;
    md-card{
      border-radius: 0;
      margin: 0;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      box-shadow:none;
      md-card-content{
        padding: 1em;
      }
      md-card-title{
        background-color: rgb(3,155,229);
        padding: 12px 16px;
        .md-headline{
          font-size: 18px;
          color: #fff;
        }
      }
      .filter-btn-container{
        max-height: 50px;
      }
      .background-shades{
        max-width: 122em;
        min-height: 50px;
        //background-color: rgba(158,158,158,0.2);
      }
      .reduce-top-margin{
        margin-top: 0;
      }
      .add-top-margin{
        margin-top: 50px;
      }
      //.top-margin{
      //  margin-top: 50px;
      //}
      table{
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        border-collapse: collapse;
        table-layout: fixed;
        margin-top: 50px;
        thead tr th{
          font-weight: 500;
          color: #8A8A8A;
          text-align: center;
          vertical-align: bottom;
          border: 1px solid rgba(0, 0, 0, 0.04);
          background-color: rgba(0, 0, 0, 0.02);
          text-transform: uppercase;
          i.material-icons{
            font-size: 12px;
            position: relative;
            top: 2px;
            color: #8A8A8A;
          }
        }
        tbody tr td{
          text-align: center;
          color: #444;
          word-wrap: break-word;
          height: 50px;
        }
        tbody tr:hover td{
          background-color: rgba(0, 0, 0, 0.05);
        }
        thead tr th,
        tbody tr td{
          cursor: pointer;
          padding: 10px 6px;
          display: inline-block;
          text-align: center;
          overflow: hidden;
        }
        tbody tr td span.currency{
          background-color: #EBEBEB;
          color: #8F8198;
          padding: 2px;
          font-size: 10px;
          position: relative;
          top: -1px;
        }
        tbody tr td span.currency.cad{border-bottom: 3px solid #E61610;}
        tbody tr td span.currency.usd{border-bottom: 3px solid #72BB53;}
        tbody tr td span.currency.eur{border-bottom: 3px solid #00AAA0;}
        tbody tr td span.currency.gbp{border-bottom: 3px solid #ffbf00;}
        tbody tr td span.currency.jpy{border-bottom: 3px solid #008000;}
        tbody tr td span.currency.mxn{border-bottom: 3px solid #915c83;}
        tbody tr td span.currency.aud{border-bottom: 3px solid #a52a2a;}

        tbody tr td span.method{
          font-size: 10px;
          color: #fff;
          padding: 5px;
          border-radius: 3px;
          position: relative;
          top: -2px;
          background-color: #666;
        }
        tbody tr td span.method.swift{background-color: #72BB53;}
        tbody tr td span.method.eft{background-color: #51CDFF;}
        tbody tr td span.method.aba{background-color: #9A4DFA;}
        tbody tr td span.method.draft{background-color: #E61610;}
        tbody tr td span.method.cheque{background-color: #FF7043;}
        tbody tr td span.method.iban{background-color: #00AAA0;}
        tbody tr td span.method.internal.transfer{background-color: #FFA834;}
        tbody tr td span.method.pre-authorized.debit{background-color: #0b3e6f;}
        tbody{
          height: 400px;
          overflow-y: auto;
          overflow-x: hidden;
        }
        tbody, thead{
          display: block;
          width: 100%;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 120px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 150px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 120px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 120px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 160px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 242px;
        }
        thead tr.ng-table-filters th:nth-child(1){
          height: 52px;
        }
        tbody tr td .custom-icon-btn{
          width: 32px;
          height: 28px;
          border-radius: 5px !important;
          background-color: #fff !important;
          margin: 0 !important;
          padding: 0 !important;
          border: 1px solid #538DF8 !important;
          i{
            color: #0C59CF;
            font-size: 20px;
          }
        }
      }
      table.filters_table{
        .comiseo-daterangepicker-triggerbutton{
          font-size: 13px !important;
        }
        margin-top: 50px;
        thead tr{
          width: 100%;
        }
        thead th{
          height: 60px !important;
          background: none;
          border: none;
          md-input-container{
            margin: 0.5em 0 0 0;
            padding: 0;
            width: 100%;
            .md-errors-spacer{
              display: none;
            }
            label{
              text-align: left;
            }
            button{
              min-width: 100% !important;
              width: 100% !important;
              font-size: 13px;
            }
          }
          md-input-container.jq-date button.comiseo-daterangepicker-triggerbutton{
            display: inline-block;
            position: relative;
            cursor: pointer;
            line-height: 36px;
            vertical-align: middle;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            text-align: center;
            border-radius: 2px;
            box-sizing: border-box;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            outline: none;
            border: 0;
            padding: 0;
            background: transparent;
            color: currentColor;
            white-space: nowrap;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            font-style: inherit;
            font-variant: inherit;
            font-family: inherit;
            text-decoration: none;
            overflow: hidden;
            max-width: 100%;
            box-sizing: border-box;
          }
        }
      }
      .btn-group{
        float: left !important;
        button{
          max-width: 100%;
          box-sizing: border-box;
          display: inline-block;
          position: relative;
          cursor: pointer;
          min-height: 30px;
          min-width: 30px;
          line-height: 36px;
          vertical-align: middle;
          -webkit-box-align: center;
          align-items: center;
          text-align: center;
          border-radius: 2px;
          user-select: none;
          outline: none;
          border: 0;
          padding: 0 10px;
          margin:0 4px;
          background: transparent;
          color: currentColor;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.2rem;
          font-style: inherit;
          font-variant: inherit;
          font-family: inherit;
          text-decoration: none;
          overflow: hidden;
          -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
          transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
        }
        button.active{
          background-color: #8A8A8A;
          text-decoration: none;
          color: #fff;
        }
        button:hover,
        button:not(.active):hover{
          background-color: rgba(0, 0, 0, 0.05);
          text-decoration: none;
          color: #444;
        }
      }
      .ng-table-pager{
        margin-top: 2.5em;
      }
      .pagination{
        overflow: hidden;
        float: right;
        padding: 0 6px;
      }
      .pagination .responsive{
        width: 80px;
        background-color: #fff;
        overflow: hidden;
        height: 30px;
        position: relative;
        display: inline-block;
        .move-me{
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .pagination li {
        display: inline-block;
        border-radius: 2px;
        text-align: center;
        vertical-align: top;
        height: 30px;
        white-space:nowrap;
      }
      .pagination li.next{
        float: right;
      }
      .pagination li.previous{
        float: left;
      }
      .pagination li a {
        color: #444;
        display: inline-block;
        font-size: 1.2rem;
        padding: 0 10px;
        line-height: 30px;
        text-decoration: none;
      }
      .pagination li a i{
        position: relative;
        top: 6px;
      }
      .pagination li:not(.active):not(.disabled) a:hover{
        background-color: rgba(0, 0, 0, 0.05);
        color: #444;
      }
      .pagination li.active a {
        color: #fff;
      }
      .pagination li.active {
        background-color: #8A8A8A;
      }
      .pagination li.disabled a {
        cursor: default;
        color: #999;
      }
      .pagination li i {
        font-size: 2rem;
      }
      .pagination li.pages ul li {
        display: inline-block;
        float: none;
      }


      .search_input{
        margin: 0;
        padding: 0;
        width: 100%;
        .md-errors-spacer{
          display: none;
        }
      }
      .filter_button{
        float: left;
        min-width: 40px;
        i.material-icons{
          position: relative;
          top: 8px;
        }
      }
      .date-range{
        margin-top: 1em;
        md-input-container{
          margin: 0;
          padding: 0;
          .md-errors-spacer{
            display: none;
          }
        }
      }
      .csv-export{
        margin:0 1em 0 0;
        padding:0;
      }
      .opening_balance_input,
      .closing_balance_input{
        margin: 0;
        padding: 0;
        .md-errors-spacer{
          display: none;
        }
      }
      .opening_balance_input{
        width: 170px;
      }
    }
  }
}
@media only screen and (min-width : 375px) and (max-width: 667px) {
  #account_statement{
    .account-data-table{
      top: 36%;
      right: 0.5%;
      width: 99%;
      height: 200px;
      overflow: hidden;
      i.material-icons{
        position: absolute;
        left: 42%;
        top: -7px;
        cursor: pointer;
      }
      table{
        width: 100%;
        tr td,
        tr th{
          padding: 8px;
          width: 1%;
          font-size: 12px;
        }
        tbody{
          height: 142px;
        }
      }
    }
    .entity_table_container{
      width: 100%;
      .closing_balance_input{
        top: 7%;
        bottom: auto;
        left: 18% !important;
      }
      .opening_balance_input{
        left: 4.1em;
      }
      table{
        margin-left: 0;
        margin-right: 0;
      }
      .dataTables_wrapper{
        margin-top: 8em;
      }
      .top{
        .dataTables_filter{
          float: left;
        }
      }
    }
  }
}
@media only screen and (min-width : 768px) and (max-width: 959px) {
  #account_statement{
    .account-data-table{
      top: 19%;
      right: 3.5%;
      width: 93%;
      height: 200px;
      overflow: hidden;
      i.material-icons{
        position: absolute;
        left: 42%;
        top: -7px;
        cursor: pointer;
      }
      table{
        width: 100%;
        tr td,
        tr th{
          padding: 8px;
          width: 1%;
          font-size: 12px;
        }
        tbody{
          height: 142px;
        }
      }
    }
    .entity_table_container{
      width: 100%;
      .closing_balance_input{
        left: 21% !important;
      }
      table{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
@media only screen and (min-width : 960px) and (max-width: 1023px) {
  #account_statement{
    .account-data-table{
      top: 19%;
      right: 3.5%;
      width: 93%;
      height: 200px;
      overflow: hidden;
      i.material-icons{
        position: absolute;
        left: 42%;
        top: -7px;
        cursor: pointer;
      }
      table{
        width: 100%;
        tr td,
        tr th{
          padding: 8px;
          width: 1%;
          font-size: 12px;
        }
        tbody{
          height: 142px;
        }
      }
    }
    .entity_table_container{
      width: 100%;
      .closing_balance_input{
        left: 21% !important;
      }
      table{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
@media screen\0{
  #account_statement{
    .filter-inputs{
      margin-top: 50px;
      min-height: 60px !important;
    }
  }
}
@media only screen and (min-width : 1024px) and (max-width: 1279px) {
  #account_statement{
    .account-data-table{
      top: 19%;
      right: 33%;
      width: 60%;
      height: 200px;
      overflow: hidden;
      i.material-icons{
        position: absolute;
        left: 42%;
        top: -7px;
        cursor: pointer;
      }
      table{
        width: 100%;
        tr td,
        tr th{
          padding: 8px;
          width: 1%;
          font-size: 12px;
        }
        tbody{
          height: 142px;
        }
      }
    }
    .entity_table_container{
      width: 100%;
      .closing_balance_input{
        left: 19% !important;
      }
      table{
        margin-left: 0;
        margin-right: 0;
      }
      .opening_balance_input{
        left: 38% !important;
        top: 25px !important;
        width: 110px;
        label{
          font-size: 13px;
        }
      }
      .closing_balance_input{
        left: 54% !important;
        bottom: 6em !important;
        width: 110px;
      }
      .dataTables_wrapper .bottom{
        margin-top: 3.8em;
        border: none;
      }
      .print-btn-bottom{
        bottom: 5.5em;
      }
    }
    .entity-statement{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 110px !important;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 140px !important;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 120px !important;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px !important;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 120px !important;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 140px !important;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 200px !important;
        }
      }
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1359px) {
  #account_statement{
    .account-data-table{
      top: 19%;
      right: 40%;
      width: 50%;
      height: 200px;
      overflow: hidden;
      i.material-icons{
        position: absolute;
        left: 42%;
        top: -7px;
        cursor: pointer;
      }
      table{
        width: 100%;
        tr td,
        tr th{
          padding: 8px;
          width: 1%;
          font-size: 12px;
        }
        tbody{
          height: 142px;
        }
      }
    }
    .entity_table_container{
      width: 100%;
      table{
        margin-left: 0;
        margin-right: 0;
      }
      .opening_balance_input{
        left: 46% !important;
        top: 25px !important;
        width: 110px;
        label{
          font-size: 13px;
        }
      }
      .closing_balance_input{
        left: 47% !important;
        bottom: 2em !important;
        width: 110px;
      }
      .print-btn-bottom{
        bottom: 1.8em !important;
      }
    }
    .entity-statement{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 110px !important;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 140px !important;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 120px !important;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px !important;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 120px !important;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 140px !important;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 200px !important;
        }
      }
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #account_statement{
    md-datepicker .md-datepicker-input-container{
      width: 100%;
    }
    .entity_table_container{
      width: 100%;
      table{
        margin-left: 0;
        margin-right: 0;
      }
      .opening_balance_input{
        left: 46% !important;
        top: 25px !important;
        width: 120px;
      }
      .closing_balance_input{
        left: 47% !important;
        bottom: 2em !important;
        width: 120px;
      }
      .print-btn-bottom{
        bottom: 1.8em !important;
      }
    }
    .entity-statement{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 110px !important;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 140px !important;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 120px !important;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px !important;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 120px !important;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 140px !important;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 280px !important;
        }
      }
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #account_statement{
    md-datepicker .md-datepicker-input-container{
      width: 100%;
    }
    .entity-statement{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 120px !important;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 140px !important;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 120px !important;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px !important;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 120px !important;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 140px !important;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 345px !important;
        }
      }
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #account_statement{
    md-datepicker .md-datepicker-input-container{
      width: 100%;
    }
    .entity_table_container{
      width: 100%;
      table{
        margin-left: 0;
        margin-right: 0;
      }
      .opening_balance_input{
        left: 44% !important;
        top: 25px !important;
      }
      .closing_balance_input{
        left: 44% !important;
        bottom: 2em !important;
        width: 145px;
      }
      .print-btn-bottom{
        bottom: 1.8em !important;
      }
      .dataTables_filter label{
        padding-right: 3.5em;
      }
    }
    .entity-statement{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 130px !important;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 160px !important;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 130px !important;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 130px !important;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 130px !important;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 160px !important;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 420px !important;
        }
      }
    }
  }
}
@media only screen and (min-width : 1920px) {
  #account_statement{
    md-datepicker{
      position: relative;
    }
    md-datepicker .md-datepicker-input-container{
      width: 100%;
      margin-left: 0;
      .md-icon-button{
        display: none;
      }
    }
    md-datepicker > button{
      position: absolute;
      top: -18px;
      right: 8px;
    }
    .entity_table_container{
      width: 100%;
      table{
        margin-left: 0;
        margin-right: 0;
      }
      .opening_balance_input{
        left: 44% !important;
        top: 25px !important;
        width: 180px;
      }
      .closing_balance_input{
        left: 44% !important;
        bottom: 2em !important;
        width: 180px;
      }
      .print-btn-bottom{
        bottom: 1.8em !important;
      }
      .dataTables_filter label{
        padding-right: 11.4em;
      }
    }
    .entity-statement{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 150px !important;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 200px !important;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 160px !important;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 160px !important;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 160px !important;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 200px !important;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 555px !important;
        }
      }
    }
  }
}
@media only screen and (min-width : 2560px) {
  #account_statement{
    md-datepicker{
      position: relative;
    }
    md-datepicker .md-datepicker-input-container{
      width: 100%;
      margin-left: 0;
      .md-icon-button{
        display: none;
      }
    }
    md-datepicker > button{
      position: absolute;
      top: -18px;
      right: 8px;
    }
    .account-data-table{
      top: 39%;
      right: 40%;
      width: 50%;
      height: 400px;
      overflow: hidden;
      i.material-icons{
        position: absolute;
        left: 42%;
        top: -7px;
        cursor: pointer;
      }
      table{
        width: 100%;
        tr td,
        tr th{
          padding: 8px;
          width: 1%;
          font-size: 12px;
        }
        tbody{
          height: 340px;
        }
      }
    }
    .entity_table_container{
      width: 100%;
      table{
        margin-left: 0;
        margin-right: 0;
      }
      .opening_balance_input{
        left: 44% !important;
        top: 25px !important;
        width: 250px;
      }
      .closing_balance_input{
        left: 44% !important;
        bottom: 2em !important;
        width: 250px;
      }
      .print-btn-bottom{
        bottom: 1.8em !important;
      }
      .dataTables_filter label{
        padding-right: 24.8em;
      }
    }
    .entity-statement{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 150px !important;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 200px !important;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 160px !important;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 160px !important;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 160px !important;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 200px !important;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 555px !important;
        }
      }
    }
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .entity-statement-section-height{
    min-height:690px;
  }
  /* IE10+ CSS styles go here */
  .print-button-position{
    margin-top:560px;
    //position:relative;
    //top:20px;
  }
}
.inline-print-button-container{
  display:inline
}
