<div id="payment_history" class="page-layout simple fullwidth doc-page" layout="column" style="margin-right: 1%;padding: 11px;">

  <div class="content" layout="column">
    <div layout="row" class="loading-bar" ng-show="vm.showDataTable">
      <div flex="100">
        <h3 class="header" ng-hide="vm.circleLoader">Loading</h3>
        <div class="show-circle-loader" ng-hide="vm.circleLoader" style="position: absolute; top: 10px; right: 20px">
          <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
        </div>
      </div>
    </div>
    <ms-form-wizard flex ng-hide="vm.showDataTable">
      <div class="white-bg md-whiteframe-4dp">
        <md-card md-theme="default" class="data-table-card">
          <div class="show-circle-loader" ng-show="vm.printLoader" style="position: absolute; top: 10px; right: 20px">
            <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
          </div>
          <md-card-content layout="row" layout-align="space-between">
            <div layout="column">
              <div flex="100" style="max-height: 50px" ng-class="vm.enableFilter == true? 'background-shades': ''">
                <div layout="row">
                  <div flex="5">
                    <md-button class="filter_button" ng-click="vm.toggleFilters()">
                      <i class="material-icons">filter_list</i> Apply Filters
                    </md-button>
                  </div>
                  <span flex></span>
                  <div flex="15" ng-hide="true">
                    <md-input-container class="search_input">
                      <label>Search</label>
                      <input type="text" ng-model="vm.filter.global_search" ng-change="vm.searchFilterFunction()">
                    </md-input-container>
                  </div>
                </div>
              </div>
              <div flex="100" style="max-height: 60px" ng-show="vm.enableFilter" ng-class="vm.enableFilter == true? 'background-shades': ''">
                <table class="filters_table">
                  <thead>
                  <tr>
                    <th>
                      <md-input-container>
                        <label>By Payee Name</label>
                        <input type="text" ng-model="vm.filter.payee"  aria-label="Payee Name" ng-change="vm.filterAll()">
                      </md-input-container>
                    </th>
                    <th>
                      <md-input-container>
                        <label>By Deal No</label>
                        <input type="text" ng-model="vm.filter.deal_number" aria-label="Deal No" ng-change="vm.filterAll()" ng-keydown="vm.noSpecialCharactersFunction($event)">
                      </md-input-container>
                    </th>
                    <th>
                      <md-input-container class="jq-date">
                        <input type="text" ng-model="vm.filter.date_range" jq-u-i-date-range-picker picker-title="By Date" aria-label="By Date" ng-change="vm.dateRangeFilter()">
                      </md-input-container>
                    </th>
                    <th>
                      <md-input-container>
                        <label>By Method</label>
                        <input type="text" ng-model="vm.filter.payment_method"  aria-label="Method" ng-change="vm.filterAll()" ng-keydown="vm.onlyWords($event)">
                      </md-input-container>
                    </th>
                    <th>
                      <md-input-container>
                        <label>By Buy Amount</label>
                        <input type="text" ng-model="vm.filter.buy_amount" aria-label="Buy Amount" ng-change="vm.filterAll()" ng-keydown="vm.protectAmount($event)">
                      </md-input-container>
                    </th>
                    <th>
                      <md-input-container style="width:150px">
                        <label>By Exchange Rate</label>
                        <input type="text" ng-model="vm.filter.exchange_rate" aria-label="Exchange Rate"  ng-change="vm.searchExchange(vm.filter.exchange_rate)" ng-keydown="vm.protectAmount($event)">
                      </md-input-container>
                    </th>
                    <th>
                      <md-input-container>
                        <label>By Sell Amount</label>
                        <input type="text" ng-model="vm.filter.sell_amount" aria-label="Sell Amount" ng-change="vm.filterAll()" ng-keydown="vm.protectAmount($event)">
                      </md-input-container>
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div flex="100" ng-class="vm.enableFilter == true? 'reduce-top-margin':'add-top-margin'">
                <div class="responsive">
                  <table ng-table="vm.tableParams">

                    <tr ng-repeat="row in $data">
                      <td data-title="'Payee Name'" sortable="'beneficiary_name'">
                        {{ row.beneficiary_name }}
                      </td>
                      <td data-title="'Deal No'" sortable="'dealnumber'">
                        {{ row.dealnumber }}
                      </td>
                      <td data-title="'Value Date'" sortable="'value_date'">
                        {{ row.value_date | date: 'MM/dd/yyyy'}}
                      </td>
                      <td data-title="'Method'" sortable="'name'">
                        <span class="method {{ vm.toLowerCase(row.method_name) }}">{{ row.method_name }}</span>
                      </td>
                      <td data-title="'Buy Amount'" sortable="'amount'">
                        <div class="amount">{{ row.amount | currency:'':2 }} <span class="currency {{ vm.toLowerCase(row.currencyname) }}">{{ row.currencyname }}</span></div>
                      </td>
                      <td data-title="'Exchange Rate'">
                        {{ row.exchange_rate | dropDigits | currency:'':2 }}
                      </td>
                      <td data-title="'Sell Amount'" sortable="'sell_amount'">
                        <div class="amount"> {{ row.sell_amount | currency:'':2 }} <span class="currency {{ vm.toLowerCase(row.sell_currency) }}">{{ row.sell_currency }}</span> </div>
                      </td>
                      <td data-title="">
                        <md-button ng-hide="row.hide_print" class="md-icon-button md-primary custom-icon-btn" aria-label="button" ng-click="vm.printRow(row)"><i class="fa fa-print" aria-hidden="true"></i></md-button>
                      </td>
                    </tr>
                  </table>

                  <div class="" style="position: relative;top: -44px; bottom: 0px; left: 0px; width:25%">
                    <div>
                      <total-record class="total_records_13 total_records_15" records = 'vm.histories'></total-record>
                    </div>
                    <!--<div class="first_page">-->
                      <!--<span><button ng-click="vm.moveFirstToLast('first')">First Page</button></span>-->
                    <!--</div>-->
                    <!--<div class="last_page">-->
                      <!--<span><button ng-click="vm.moveFirstToLast('last')">Last Page</button></span>-->
                    <!--</div>-->
                  </div>

                </div>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </ms-form-wizard>
  </div>
</div>
