#payment_history{
  .loading-bar{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    min-height: 50px;
    h3{
      margin: 0;
      font-family: 'Roboto', sans-serif;
      padding: 1em;
      font-size: 16px;
      font-weight: normal;
    }
  }
  ms-form-wizard{
    min-height: 650px;
    height:auto !important;
    height: 650px;
    padding: 0;
  }
  .white-bg.md-whiteframe-4dp{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    .dt-loading h3{
      margin-left: 1em;
    }
    position: relative;
  }

  h3.header{
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    font-size: 16px;
    font-weight: normal;
  }
  md-card.data-table-card{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    md-card-content{
      padding: 0;
    }
    .reduce-top-margin{
      margin-top: 0;
    }
    .add-top-margin{
      margin-top: 50px;
    }
    table{
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      //background-color: #fff;
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;
      thead tr th{
        font-weight: 500;
        color: #8A8A8A;
        text-align: center;
        vertical-align: bottom;
        background-color: #fff;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0,0,0,.12);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        i.material-icons{
          font-size: 12px;
          position: relative;
          top: 2px;
          color: #8A8A8A;
        }
      }
      tbody tr td{
        text-align: center;
        color: #444;
        word-wrap: break-word;
      }
      tbody tr:hover td{
        background-color: rgb(245,245,245);
        .custom-icon-btn{
          background-color: #F5F5F5 !important;
        }
      }
      tbody tr:nth-child(odd) td {
        background-color: rgb(245,245,245);
        .custom-icon-btn{
          background-color: #F5F5F5 !important;
        }
      }
      thead tr th,
      tbody tr td{
        cursor: pointer;
        padding: 16px 6px;
        display: inline-block;
        text-align: center;
        margin-right: -4px;
      }
      tbody tr td span.currency{
        background-color: #EBEBEB;
        color: #8F8198;
        padding: 2px;
        font-size: 10px;
        position: relative;
        top: -1px;
      }
      tbody tr td span.currency.cad{border-bottom: 3px solid #E61610;}
      tbody tr td span.currency.usd{border-bottom: 3px solid #72BB53;}
      tbody tr td span.currency.eur{border-bottom: 3px solid #00AAA0;}
      tbody tr td span.currency.gbp{border-bottom: 3px solid #ffbf00;}
      tbody tr td span.currency.jpy{border-bottom: 3px solid #008000;}
      tbody tr td span.currency.mxn{border-bottom: 3px solid #915c83;}
      tbody tr td span.currency.aud{border-bottom: 3px solid #a52a2a;}

      tbody tr td span.method{
        font-size: 12px;
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        position: relative;
        top: -2px;
        background-color: #666;
      }
      tbody tr td span.method.swift{background-color: #72BB53;}
      tbody tr td span.method.eft{background-color: #51CDFF;}
      tbody tr td span.method.aba{background-color: #9A4DFA;}
      tbody tr td span.method.draft{background-color: #E61610;}
      tbody tr td span.method.cheque{background-color: #FF7043;}
      tbody tr td span.method.iban{background-color: #00AAA0;}
      tbody tr td span.method.internal.transfer{background-color: #FFA834;}
      tbody tr td span.method.pre-authorized.debit{background-color: #0b3e6f;}
      tbody{
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      tbody, thead{
        display: block;
        width: 100%;
      }
      thead tr th:first-child,
      tbody tr td:first-child{
        width: 350px;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 160px;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 160px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 160px;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 200px;
      }
      tbody tr td:nth-child(5) .amount{
        float: right;
        padding-right: 3em;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 200px;
      }
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7){
        width: 200px;
      }
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8){
        width: 153px;
      }
      tbody tr td:last-child{
        height: 53px !important;
      }
      tbody tr td .custom-icon-btn{
        position: relative;
        top: -9px;
        width: 32px;
        min-height: 25px;
        background-color: #fff !important;
        margin: 0 !important;
        padding: 0 !important;
        i{
          color: #0C59CF;
          font-size: 16px;
        }
      }
    }
    table+.ng-scope.ng-isolate-scope{
      max-width: 122em;
    }
    table.filters_table{
      thead th{
        height: 50px !important;
        border: none;
        background: none;
        md-input-container{
          margin: 0;
          padding: 0;
          width: 100%;
          .md-errors-spacer{
            display: none;
          }
          label{
            text-align: left;
          }
          button{
            min-width: 100% !important;
            width: 100% !important;
            font-size: 13px;
          }
        }
        md-input-container.jq-date button.comiseo-daterangepicker-triggerbutton{
          display: inline-block;
          position: relative;
          cursor: pointer;
          line-height: 36px;
          vertical-align: middle;
          -webkit-box-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
          border-radius: 2px;
          box-sizing: border-box;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          outline: none;
          border: 0;
          padding: 0;
          background: transparent;
          color: currentColor;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
          font-style: inherit;
          font-variant: inherit;
          font-family: inherit;
          text-decoration: none;
          overflow: hidden;
          -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
          transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
          max-width: 100%;
          box-sizing: border-box;
        }
      }
      thead tr th:last-child{
        width: 147px;
      }
    }
    .background-shades{
      max-width: 122em;
      min-height: 50px;
      background-color: rgb(245,245,245);
      /*table thead tr th{
        background-color: rgba(158,158,158,0.2);
      }*/
    }
    .btn-group{
      float: left !important;
      button{
        max-width: 100%;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        cursor: pointer;
        min-height: 30px;
        min-width: 30px;
        line-height: 36px;
        vertical-align: middle;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        border-radius: 2px;
        user-select: none;
        outline: none;
        border: 0;
        padding: 0 10px;
        margin:0 4px;
        background: transparent;
        color: currentColor;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        font-style: inherit;
        font-variant: inherit;
        font-family: inherit;
        text-decoration: none;
        overflow: hidden;
        -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
        transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
      }
      button.active{
        background-color: #8A8A8A;
        text-decoration: none;
        color: #fff;
      }
      button:hover,
      button:not(.active):hover{
        background-color: rgba(0, 0, 0, 0.05);
        text-decoration: none;
        color: #444;
      }
    }
    .ng-table-pager{
      margin-top: 2.5em;
    }
    .pagination{
      overflow: hidden;
      //float: right;
      padding: 0 6px;
      margin-left: 900px;
    }
    .pagination .responsive{
      width: 80px;
      background-color: #fff;
      overflow: hidden;
      height: 30px;
      position: relative;
      display: inline-block;
      .move-me{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .pagination li {
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      vertical-align: top;
      height: 30px;
      white-space:nowrap;
    }
    .pagination li.next{
      float: right;
    }
    .pagination li.previous{
      float: left;
    }
    .pagination li a {
      color: #444;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px;
      text-decoration: none;
    }
    .pagination li a i{
      position: relative;
      top: 6px;
    }
    .pagination li:not(.active):not(.disabled) a:hover{
      background-color: rgba(0, 0, 0, 0.05);
      color: #444;
    }
    .pagination li.active a {
      color: #fff;
    }
    .pagination li.active {
      background-color: #8A8A8A;
    }
    .pagination li.disabled a {
      cursor: default;
      color: #999;
    }
    .pagination li i {
      font-size: 2rem;
    }
    .pagination li.pages ul li {
      display: inline-block;
      float: none;
    }
    .search_input{
      margin: 0;
      padding: 0;
      width: 100%;
      .md-errors-spacer{
        display: none;
      }
    }
    .filter_button{
      float: left;
      min-width: 40px;
      i.material-icons{
        position: relative;
        top: 8px;
      }
    }
    .date-range{
      margin-top: 1em;
      md-input-container{
        margin: 0;
        padding: 0;
        .md-errors-spacer{
          display: none;
        }
      }
    }
  }
}
//mobile devices
@media only screen and (min-width : 320px) and (max-width: 359px){
  #payment_history{
    .content.layout-column{
      padding: 6px;
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  #payment_history{
    .content.layout-column{
      padding: 6px;
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 411px)  {
  #payment_history{
    .content.layout-column{
      padding: 6px;
    }
  }
}
@media only screen and (min-width: 412px) and (max-width: 413px) {
  #payment_history{
    .content.layout-column{
      padding: 6px;
    }
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px)  {
  #payment_history{
    .content.layout-column{
      padding: 6px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px)  {
  #payment_history{
    .content.layout-column{
      padding: 6px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1023px){
  #payment_history{
    .content.layout-column{
      padding: 6px;
    }
  }
}
//desktop devices
@media screen\0{
  #payment_history{
    .filter-inputs{
      margin-top: 50px;
      min-height: 60px !important;
    }
  }
}
@supports (-ms-ime-align:auto) {
  #payment_history{
  }
}
@media only screen and (min-width : 1024px) and (max-width: 1279px) {
  #payment_history{
    .content.layout-column{
      padding: 0;
    }
    ms-form-wizard{
      min-height: 550px;
      height:auto !important;
      height: 550px;
    }
    md-card.data-table-card{
      table{
        font-size: 11px;
        thead tr th .jq-date{
          font-size: 11px !important;
          button{
            font-size: 11px !important;
          }
        }
        tbody{
          height: 300px;
        }
        tbody tr td span.method{
          font-size: 10px;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 95px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 90px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 95px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 90px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 110px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 4px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 110px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 110px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 50px;
        }
        thead tr th:nth-child(8){
          height: 38px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 57em;
      }
      .background-shades{
        max-width: 57em;
      }
      table.filters_table{
        thead tr th:last-child{
          width: 73px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1359px) {
  #payment_history{
    ms-form-wizard{
      min-height: 550px;
      height:auto !important;
      height: 550px;
    }
    md-card.data-table-card{
      table{
        font-size: 12px;
        tbody{
          height: 350px;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 130px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 110px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 110px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 110px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 140px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 4px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 140px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 140px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 72px;
        }
        thead tr th:nth-child(8){
          height: 38px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 73em;
      }
      .background-shades{
        max-width: 73em;
      }
      table.filters_table{
        thead tr th:last-child{
          width: 108px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #payment_history{
    ms-form-wizard{
      min-height: 600px;
      height:auto !important;
      height: 600px;
    }
    md-card.data-table-card{
      .pagination{
        overflow: hidden;
        //float: right;
        padding: 0 6px;
        margin-left: 680px;
      }
      .total_records_13{
        position: relative;
        //bottom: 50px;
        top: 11px;
      }
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 150px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 130px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 160px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 135px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 4px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 135px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 125px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 90px;
        }
        thead tr th:nth-child(8){
          height: 60px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 79em;
      }
      .background-shades{
        max-width: 79em;
      }
      table.filters_table{
        thead th{
          md-input-container{
            button{
              font-size: 11px;
            }
          }
        }
        thead tr th:last-child{
          width: 82px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #payment_history{
    ms-form-wizard{
      min-height: 640px;
      height:auto !important;
      height: 640px;
    }
    md-card.data-table-card{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 120px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 110px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 150px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 150px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 4px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 150px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 150px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 110px;
        }
        thead tr th:nth-child(8){
          height: 40px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 85em;
      }
      .background-shades{
        max-width: 85em;
      }
      table.filters_table{
        thead th{
          md-input-container{
            button{
              font-size: 11px;
            }
          }
        }
        thead tr th:last-child{
          width: 102px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #payment_history{
    ms-form-wizard{
      min-height: 640px;
      height:auto !important;
      height: 640px;
    }
    md-card.data-table-card{
      .total_records_15{
        position: relative;
        top: 15px;
      }
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 160px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 150px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 210px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 150px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 160px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 4px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 160px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 160px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 90px;
        }
        thead tr th:nth-child(8){
          //height: 40px;
          width: 40px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 97em;
      }
      .background-shades{
        max-width: 97em;
      }
      table.filters_table{
        thead th{
          md-input-container{
            button{
              font-size: 12px;
            }
          }
        }
        thead tr th:last-child{
          width: 100px;
        }
      }
    }
  }
}
@media only screen and (min-width : 1920px) {
  #payment_history{
    md-card.data-table-card{
      table{
        font-size: 15px;
        .date-range{
          md-input-container:first-child{
            margin-bottom: 1em;
          }
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 300px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 210px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 210px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 210px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 210px;
        }
      }
      table.filters_table{
        thead th{
          md-input-container{
            button{
              font-size: 12px;
            }
          }
        }
      }
      .search_input{
        input,label{
          font-size: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width : 2560px) {
  #payment_history{
    ms-form-wizard{
      min-height: 650px;
      height:auto !important;
      height: 650px;
      padding: 0;
    }
    md-card.data-table-card{
      table{
        font-size: 15px;
        tbody{
          height: 400px;
        }
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 350px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 270px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 270px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 270px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 300px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 6em;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 300px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 300px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 125px;
        }
        thead tr th:nth-child(8){
          height: 44px;
        }
      }
      table.filters_table{
        thead tr th:last-child{
          width: 120px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 170em;
      }
      .background-shades{
        max-width: 170em;
      }
      .search_input{
        input,label{
          font-size: 15px;
        }
      }
    }
  }
}
.ng-table-pager{
  .ng-table-counts{
    position: relative;
    left:250px
  }
}

.first_page{
  display: inline;
  margin-left: 20px;
}

.last_page{
  display: inline;
  position: relative;
  left: 15px;
}

@media screen\0, screen and (min-width: 1590px){
  #payment_history{
    ms-form-wizard{
      min-height: 640px;
      height:auto !important;
      height: 640px;
    }
    md-card.data-table-card{
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 160px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 150px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 210px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 150px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 160px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 4px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 160px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 160px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 90px;
        }
        thead tr th:nth-child(8){
          //height: 40px;
          width: 40px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 97em;
      }
      .background-shades{
        max-width: 97em;
      }
      table.filters_table{
        thead th{
          md-input-container{
            button{
              font-size: 12px;
            }
          }
        }
        thead tr th:last-child{
          width: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 1366px) and (max-width: 1439px) //IE Specific Styling
              and (-ms-high-contrast: none) , (-ms-high-contrast: active){

  #payment_history{
    ms-form-wizard{
      min-height: 600px;
      height:auto !important;
      height: 600px;
    }
    md-card.data-table-card{
      .total_records_13{
        position: relative;
        top: 10px;
        //bottom: 10px;
      }
      table{
        thead tr th:first-child,
        tbody tr td:first-child{
          width: 130px;
        }
        thead tr th:nth-child(2),
        tbody tr td:nth-child(2){
          width: 130px;
        }
        thead tr th:nth-child(3),
        tbody tr td:nth-child(3){
          width: 160px;
        }
        thead tr th:nth-child(4),
        tbody tr td:nth-child(4){
          width: 120px;
        }
        thead tr th:nth-child(5),
        tbody tr td:nth-child(5){
          width: 135px;
        }
        tbody tr td:nth-child(5) .amount{
          float: right;
          padding-right: 4px;
        }
        thead tr th:nth-child(6),
        tbody tr td:nth-child(6){
          width: 135px;
        }
        thead tr th:nth-child(7),
        tbody tr td:nth-child(7){
          width: 125px;
        }
        thead tr th:nth-child(8),
        tbody tr td:nth-child(8){
          width: 90px;
        }
        thead tr th:nth-child(8){
          height: 40px;
        }
      }
      table+.ng-scope.ng-isolate-scope{
        max-width: 79em;
      }
      .background-shades{
        max-width: 79em;
      }
      table.filters_table{
        thead th{
          md-input-container{
            button{
              font-size: 11px;
            }
          }
        }
        thead tr th:last-child{
          width: 82px;
        }
      }
    }
  }
}

@media screen and (min-width: 1590px) and (max-width: 1919px) and (-ms-high-contrast: none)
              and (-ms-high-contrast: active){

  #payment_history{

  }

}

