#book_forward_deal{
  .content.layout-column,
  .data-table.layout-column{
    display: block;
  }
  .reference input{
    text-transform: uppercase;
  }
  .next-button-container{
    position: relative;
    z-index: 1;
  }
  .border{
    border:1px solid black !important;
  }
  .order_details{
    margin-top:30px;
  }
  md-input-container{
    .md-errors-spacer{
      display: none;
    }
  }
  .value-pair-container{
    padding-left: 36px;
  }
  .value-pair-container .value-pair-head.smallHeading{
    color: #9294a6;
    margin-bottom: 3px;
    font-style: italic;
  }
  .value-pair-container .value-pair-body{
    color: #484444;
    font-weight: 500;
    font-size: 14px;
  }
  .currency_details{
    margin: 10px 15px 50px;
    padding: 13px 20px;
    background: #f8f7f7;
  }
  .value-pair-container .value-pair-body.currency_main_heading{
    font-size: 23px;
    font-weight: normal;
    word-spacing: 4px;
  }
  .nopadding{
    padding:0px !important;
  }
  .currency-green{
    color:#72bb53 !important;
  }
  .noMgBottom{
    margin-bottom:0px;
  }
  .buyingCurrencyDD .md-select-value .md-select-icon{
    margin-left:-33px;
  }
  //icon styles
  md-tabs md-tabs-content-wrapper{
    @include show-box;
    margin: 10px 6px 6px 6px;
  }
  md-tabs md-tabs-wrapper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tab-content{
    background: #fff;
    margin-top: 2%;
  }
  md-tabs-canvas md-pagination-wrapper{
    width: 100% !important;
  }
  .icon-circle, .icon-circle-large, .icon-circle-small{
    position: relative;
    display: inline-block;
    margin: -1px;
    width: 45px;
    height: 45px;
    font-size:40px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align:center;
  }
  .icon-circle-large {
    width: 100px;
    height: 100px;
    font-size: 64px;
    padding: 16px;
  }
  .icon-circle-small {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
  .icon-circle-outline {
    border: 1px solid rgb(0, 161, 225);
    background: transparent;
    color: rgb(0, 161, 225);
  }
  .icon-circle-outline i {  }
  .item-icon-circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align:center;
    color:white;
  }
  .item-icon-circle i {
    font-size:60px;
  }
  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .md-tab{
    padding-top: 6px;
  }
  .ms-form-wizard-step-label{
    color: #00C8F8;
    background: none;
    .ms-form-wizard-step-icon {
      display: block;
      .icon-circle{
        color: #00C8F8;
        border-color: #00C8F8;
        background: #fff;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#00C8F8;
          }

        }
      }
    }
    .ms-form-wizard-step-text{
      display: block;
      text-transform: none;
    }
  }
  md-tab-item{
    position: relative;
  }
  md-tab-item::after{
    content: '';
    display: block;
    position: absolute;
    top: 38%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 38%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item:first-of-type::before{
    content: '';
    display: none;
  }
  md-tab-item:last-of-type::after{
    display:none;
    content:'';
  }
  md-tab-item:not(.md-active){
    .ms-form-wizard-step-label{
      color: #B8B8B8 !important;
      .icon-circle{
        color: #B8B8B8 !important;
        border-color: #fff !important;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#AAAAAA;
          }
        }
      }
    }
  }
  md-tab-item:not(.md-active):after{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item:not(.md-active):before{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item.md-active{
    .icon-circle{
      background: transparent !important;
    }
  }
  md-tab-item.md-previous{
    .ms-form-wizard-step-label{
      color: #3D8AF7 !important;
      background: none;
      .ms-form-wizard-step-icon {
        .icon-circle{
          color: #fff;
          border-color: #3D8AF7 !important;
          background: #3D8AF7 !important;
          .icon-svg{
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
            top: 0;
            path,
            polyline{
              fill: #fff;
            }
          }
        }
      }
    }
    &:after{
      border-bottom: 3px solid #3D8AF7;
    }
    &:before{
      border-bottom: 3px solid #3D8AF7;
    }
    &:first-of-type::before{
      display:none;
      content:'';
    }
  }
  md-tabs {
    h3.md-text-accent {
      color: #555 !important;
      margin-left: 15px;
      font-size: 1.4em;
      padding-bottom: 1.2em;
      margin-right: 0.7em;
      margin-bottom: 5px;
      border-bottom: 2px solid #D8D8D8;
      strong {
        color: #606070 !important;
      }
    }
    md-input-container label {
      font-weight: bold !important;
    }
    md-input-container md-select,
    md-input-container input,
    md-input-container md-select md-option {
      font-weight: bold;
    }
    .next-button-container {
      background: #EBEBEB;
      border-top: 1px solid #DCDCDC;
      button.md-primary {
        background: #0C59CF !important;
        color: #fff;
      }
      button.md-secondary {
        background: #606060 !important;
        color: #fff;
      }
    }
    md-datepicker {
      position: relative;
    }
    md-datepicker .md-datepicker-input-container {
      width: 100%;
      margin-left: 0;
      .md-icon-button {
        display: none;
      }
    }
    md-datepicker > button {
      position: absolute;
      top: -18px;
      right: 8px;
    }
  }
  md-radio-button.md-primary .md-container .md-off {
    border-color:#2196f3;
  }
  md-radio-button.md-primary .md-container .md-on{
    background-color:#2196f3;
  }
  .show-loader{
    z-index: 100;
  }
  .next-button-container{
    position: relative;
    z-index: 1;
  }
  .content.layout-column,
  .data-table.layout-column{
    display: block;
  }
  form#step1-form{
    padding: 24px 0 0 0;
  }
  button{
    font-size: 12px;
  }
  button.md-outline{
    background-color: #fff;
    border: 0.14em solid #207ADC;
    color: #207ADC;
    font-weight: bold;
  }
  button.md-disable{
    background-color: #D6D6D6;
    color: #ABAAAA;
  }
  //progress bar
  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
  }
  .progress-striped .progress-bar,
  .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
  .progress.active .progress-bar,
  .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
  }
  .progress-bar-success {
    background-color: #5cb85c;
  }
  .progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-info {
    background-color: #5bc0de;
  }
  .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-warning {
    background-color: #f0ad4e;
  }
  .progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .progress-bar-danger {
    background-color: #d9534f;
  }
  .progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  }
  .step1_value_date,
  .step3_value_date{
    cursor: pointer;
  }
  #linear-timer-box{
    width: 90%;
  }
  tbody.empty-row{
    td{
      border-bottom: 1px solid #E8E8E8;
    }
  }
  .md-button a{
    text-decoration: none;
    i.material-icons{
      color: #0C59CF;
    }
    color: #0C59CF;
  }
  .popup{
    position: absolute;
    top: -13em;
    left: 30%;
    background-color: #fff;
    color: #333;
    width: 30%;
    padding: 1em;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    span {
      display: block;
      font-weight: 700;
      width: 100%;
      text-align: center;
      color: #0C59CF;
      font-size: 1.1em;
    }
    table{
      margin-top: 5px;
      border-collapse: collapse;
      width: 100%;
      td,th{
        white-space: nowrap;
        border-bottom: 1px solid #f0f3f4;
        padding: 4px;
      }
    }
  }
  md-tabs md-tabs-content-wrapper{
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    margin: 10px 6px 6px 6px;
  }
  md-tabs,
  ms-form-wizard{
    background: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tabs-wrapper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tab-content{
    background: #fff;
    margin-top: 2%;
  }
  .icon-circle, .icon-circle-large, .icon-circle-small{
    position: relative;
    display: inline-block;
    margin: -1px;
    width: 45px;
    height: 45px;
    font-size:40px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align:center;
  }
  .icon-circle-large {
    width: 100px;
    height: 100px;
    font-size: 64px;
    padding: 16px;
  }
  .icon-circle-small {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
  .icon-circle-outline {
    border: 1px solid rgb(0, 161, 225);
    background: transparent;
    color: rgb(0, 161, 225);
  }
  .icon-circle-outline i {  }
  .item-icon-circle {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align:center;
    color:white;
  }
  .item-icon-circle i {
    font-size:60px;
  }
  .bg-circle-alt {
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .md-tab{
    padding-top: 6px;
  }
  .md-tab:nth-child(1){
    padding-left: 8px;
    .ms-form-wizard-step-label{
      padding-left: 0;
    }
  }
  .md-tab:nth-child(6){
    width: 0;
    max-width: none !important;
    padding-right: 50px;
    .ms-form-wizard-step-label{
      padding-right: 0;
    }
  }
  .ms-form-wizard-step-label{
    color: #00C8F8;
    background: none;
    .ms-form-wizard-step-icon {
      display: block;
      .icon-circle{
        color: #00C8F8;
        border-color: #00C8F8;
        background: #fff;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#00C8F8;
          }

        }
      }
    }
    .ms-form-wizard-step-text{
      display: block;
      text-transform: none;
    }
  }
  md-tab-item{
    position: relative;
  }
  md-tab-item::after{
    content: '';
    display: block;
    position: absolute;
    top: 36%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 36%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item:first-of-type::before{
    content: '';
    display: none;
  }
  md-tab-item:last-of-type::after{
    display:none;
    content:'';
  }
  md-tab-item:not(.md-active){
    .ms-form-wizard-step-label{
      color: #B8B8B8 !important;
      .icon-circle{
        color: #B8B8B8 !important;
        border-color: #fff !important;
        .icon-svg{
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline{
            fill:#AAAAAA;
          }
        }
      }
    }
  }
  md-tab-item:not(.md-active):after{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item:not(.md-active):before{
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item.md-active{
    .icon-circle{
      background: transparent !important;
    }
  }
  md-tab-item.md-previous{
    .ms-form-wizard-step-label{
      color: #3D8AF7 !important;
      background: none;
      .ms-form-wizard-step-icon {
        .icon-circle{
          color: #fff;
          border-color: #3D8AF7 !important;
          background: #3D8AF7 !important;
          .icon-svg{
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
            top: 0;
            path,
            polyline{
              fill: #fff;
            }
          }
        }
      }
    }
    &:after{
      border-bottom: 3px solid #3D8AF7;
    }
    &:before{
      border-bottom: 3px solid #3D8AF7;
    }
    &:first-of-type::before{
      display:none;
      content:'';
    }
  }
  md-tabs{
    h3.md-text-accent{
      color: #555 !important;
      margin-left: 15px;
      font-size: 1.4em;
      padding-bottom: 1.2em;
      margin-right: 0.7em;
      margin-bottom: 5px;
      border-bottom: 2px solid #D8D8D8;
      strong{
        color: #606070 !important;
      }
    }
    md-input-container label{
      font-weight: bold !important;
    }
    md-input-container md-select,
    md-input-container input,
    md-input-container md-select md-option{
      font-weight: bold;
    }
    .next-button-container{
      background: #EBEBEB;
      border-top: 1px solid #DCDCDC;
      button.md-primary{
        background: #0C59CF !important;
        color: #fff;
      }
      input.md-primary{
        background: #0C59CF !important;
        color: #fff;
      }
      button.md-secondary{
        background: #606060 !important;
        color: #fff;
      }
    }
    md-datepicker{
      position: relative;
    }
    md-datepicker .md-datepicker-input-container{
      width: 100%;
      margin-left: 0;
      .md-icon-button{
        display: none;
      }
    }
    md-datepicker > button{
      position: absolute;
      top: -18px;
      right: 8px;
    }
  }
  .ms-form-wizard-form{
    padding-bottom: 0;
  }
  .custom-quote.long-height{
    height: 21em;
    .money-block{
      height: 10.5em;
    }
  }
  .custom-quote{
    background-color: #F7F6F6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    height: 17em;
    .rate-block{
      background-color: #FBFAFA;
      padding: 0 16px 16px 16px;
      border-bottom: none;
      border-top: 1px solid rgba(215, 214, 214, .80);
      border-left: 1px solid rgba(215, 214, 214, .80);
      border-right: 1px solid rgba(215, 214, 214, .80);
      p.left{
        position: relative;
        margin-bottom: 5px;
        margin-top: 8px;
        padding-bottom: 3.5em;
        & > *{
          position: absolute;
          top: 0;
          left:0;
        }
        & > strong{
          font-weight: normal;
          font-size: 0.90em;
          color: #929292;
          font-style: italic;
        }
        & > span{
          top: 14px;
          font-size: 1.8em;
          margin-top: 5px;
        }
        & > small{
          font-style: italic;
          top: 30px;
          font-size: 11px;
          width: 110px;
          padding-top: 17px;
          span{
            padding-right: 4px;
          }
        }
      }
    }
    .money-block{
      padding: 10px 16px 0 16px;
      height: 9.5em;
      span{
        font-size: 0.90em;
        color: #929292;
        font-style: italic;
      }
      p{
        font-size: 1.8em;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      & > div:nth-child(1) > p{
        color: #00A4D3;
      }
      p:nth-child(2){
        color: #72BB53;
      }
    }
  }
  .top-placement{
    position: absolute;
    top: -12px;
  }
  .payment-card-detail{
    position: relative;
    top: -36px;
  }
  .payment-card-detail.funding-card{
    position: relative;
    top: -44px;
  }
  .funding-payee-block{
    //margin-top: 3%;
  }
  .dataContent:not(.activeContent){
    display: none;
  }
  .date-block{
    padding: 8px 8px 8px 16px;
    background-color: #FBFAFA;
    border-top: none;
    border-bottom: 1px solid rgba(215, 214, 214, .80);
    border-left: 1px solid rgba(215, 214, 214, .80);
    border-right: 1px solid rgba(215, 214, 214, .80);
    span{
      color: #959595;
      font-style: italic;
      font-weight: normal;
    }
    color: #636060;
    font-weight: bold;
  }
  .next-button-container{
    .left{
      float: left;
      padding-left: 20px;
      margin-top: -10px;
    }
    .balance *{
      display: inline-block;
      padding: 2px;
      color: #3D97F2;
      font-size: 20px;
    }
    .balance{
      h3{
        font-weight: bold;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }
  .md-text-green.pull-right{
    color: #13F22D;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
    margin-top: 21px;
  }
  .md-text-dark-green.pull-right{
    color: #8AC059;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    font-size: 13px;
    font-style: italic;
    margin-top: 21px;
  }
  .data-table{
    padding: 10px 28px 10px 28px;
  }
  .data-table table.mdl-data-table,
  .details-block table.mdl-data-table{
    border-collapse: collapse;
  }
  .data-table table.mdl-data-table tr th,
  .data-table table.mdl-data-table tr th,
  .details-block table.mdl-data-table tr td,
  .details-block table.mdl-data-table tr td{
    padding: 8px 8px 8px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.117647);
    font-size: 13px;
    color: #333;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    border: none;
  }
  .details-block table.mdl-data-table tr:not(:last-child){
    -webkit-box-shadow:  0 2px 1px -1px grey;
    -moz-box-shadow: 0 2px 1px -1px grey;
    box-shadow: 0 2px 1px -1px grey;
  }
  .details-block table.mdl-data-table tr td,
  .details-block table.mdl-data-table tr td{
    padding: 10px 4px 10px 4px;
    white-space: nowrap;
  }
  .data-table table.mdl-data-table tr:first-child th,
  .data-table table.mdl-data-table tr:first-child td,
  .details-block table.mdl-data-table tr:first-child th,
  .details-block table.mdl-data-table tr:first-child td{
    border:none;
  }
  .data-table table.mdl-data-table tr th:first-child,
  .data-table table.mdl-data-table tr td:first-child,
  .details-block table.mdl-data-table tr th:first-child,
  .details-block table.mdl-data-table tr td:first-child{
    padding-left: 8px;
  }
  .data-table table.mdl-data-table td span.method,
  .data-table table.mdl-data-table th span.method,
  .details-block table.mdl-data-table td span.method,
  .details-block table.mdl-data-table th span.method{
    font-size: 10px;
    color: #fff;
    background-color: #555;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    top: -2px;
  }
  .data-table table.mdl-data-table td span.method.bill,
  .data-table table.mdl-data-table th span.method.bill,
  .details-block table.mdl-data-table td span.method.bill,
  .details-block table.mdl-data-table th span.method.bill{
    background-color: #FFA834;
  }
  .data-table table.mdl-data-table td span.method.wire,
  .data-table table.mdl-data-table th span.method.wire,
  .details-block table.mdl-data-table td span.method.wire,
  .details-block table.mdl-data-table th span.method.wire{
    background-color: #9A4DFA;
  }
  .data-table table.mdl-data-table td span.method.aba,
  .data-table table.mdl-data-table th span.method.aba,
  .details-block table.mdl-data-table td span.method.aba,
  .details-block table.mdl-data-table th span.method.aba{
    background-color: #d9534f;
  }
  .data-table table.mdl-data-table td span.method.draft,
  .data-table table.mdl-data-table th span.method.draft,
  .details-block table.mdl-data-table td span.method.draft,
  .details-block table.mdl-data-table th span.method.draft{
    background-color: #009acd;
  }
  .data-table table.mdl-data-table td span.method.accounts,
  .data-table table.mdl-data-table th span.method.accounts,
  .details-block table.mdl-data-table td span.method.accounts,
  .details-block table.mdl-data-table th span.method.accounts{
    background-color: #008b8b;
  }
  .data-table table.mdl-data-table td span.method.swift,
  .data-table table.mdl-data-table th span.method.swift,
  .details-block table.mdl-data-table td span.method.swift,
  .details-block table.mdl-data-table th span.method.swift{
    background-color: #72BB53;
  }
  .data-table table.mdl-data-table td span.currency,
  .data-table table.mdl-data-table th span.currency,
  .details-block table.mdl-data-table td span.currency,
  .details-block table.mdl-data-table th span.currency{
    background-color: #EBEBEB;
    color: #8F8198;
    padding: 2px;
    font-size: 10px;
    position: relative;
    top: -3px;
  }
  .data-table table.mdl-data-table td span.currency.cad,
  .data-table table.mdl-data-table th span.currency.cad,
  .details-block table.mdl-data-table td span.currency.cad,
  .details-block table.mdl-data-table th span.currency.cad{
    border-bottom: 3px solid #20b2aa;
  }
  .data-table table.mdl-data-table td span.currency.usd,
  .data-table table.mdl-data-table th span.currency.usd,
  .details-block table.mdl-data-table td span.currency.usd,
  .details-block table.mdl-data-table th span.currency.usd{
    border-bottom: 3px solid #72BB53;
  }
  .data-table table.mdl-data-table td span.currency.gbp,
  .data-table table.mdl-data-table th span.currency.gbp,
  .details-block table.mdl-data-table td span.currency.gbp,
  .details-block table.mdl-data-table th span.currency.gbp{
    border-bottom: 3px solid #FF6849;
  }
  .data-table table.mdl-data-table td span.currency.aud,
  .data-table table.mdl-data-table th span.currency.aud,
  .details-block table.mdl-data-table td span.currency.aud,
  .details-block table.mdl-data-table th span.currency.aud{
    border-bottom: 3px solid #8b3a3a;
  }
  .data-table table.mdl-data-table md-menu md-menu-content md-menu-item md-button:hover,
  .details-block table.mdl-data-table md-menu md-menu-content md-menu-item md-button:hover{
    background-color: #2196F3 !important;
    color: #fff !important;
  }
  .data-table table.mdl-data-table md-menu md-menu-content md-menu-item md-button i.material-icons,
  .details-block table.mdl-data-table md-menu md-menu-content md-menu-item md-button i.material-icons{
    position: relative;
    top: 5px;
  }
  .details-block table.mdl-data-table td a.print-btn{
    color: #1464F6;
    cursor: pointer;
    i.fa{
      font-size: 20px;
    }
  }
  .payment-detail{
    background-color: #EFF6EB;
    border: 1px solid rgba(215, 214, 214, .80);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 16px;
    padding: 8px;
    p{
      padding-left: 8px;
      padding-right: 8px;
      display: block;
      font-size: 12px;
      font-style: italic;
      color: #9B9B9A;
      span{
        display: block;
        font-size: 14px;
        padding-top: 6px;
        font-weight: bold;
        color: #333;
        font-style: normal;
      }
    }
  }
  .content{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .data-table,
  .details-block{
    margin-top: 0;
    padding-top: 0;
    padding-left: 22px;
    padding-right: 22px;
  }
  .data-table table,
  .details-block table{
    width: 100%;
    thead{
      display: none;
    }
  }
  .details-block table{
    margin-top: 1em;
  }
  .details-block{
    margin-bottom: 1.5em;
  }
  .details-block table tfoot tr{
    background-color: #AAAAAA;
    border: 2px solid #E8E8E8;
  }
  .details-block table tfoot tr td{
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
  }
  .details-block table tfoot tr td:nth-child(3){
    padding-left: 3%;
  }
  .details-block table tfoot tr td:nth-child(4){
    padding-left: 4%;
  }
  .details-block table.mdl-data-table tfoot tr:hover{
    background-color: #AAAAAA;
  }
  .details-block .funding-table tbody tr td:nth-child(2){
    text-align: right;
    padding-right: 3%;
  }
  .details-block .funding-table tfoot tr td:nth-child(2){
    text-align: right;
    padding-right: 5.6%;
  }
  .clickable-btn{
    float:right;
    width: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    .md-icon-button i.material-icons{
      top: 1px;
    }
  }
  .details-block{
    md-table-container{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .heading-block{
      background-color: #EBEBEB;
      border-top: 1px solid #C7C7C7;
      -webkit-box-shadow:  0 4px 15px -2px grey;
      -moz-box-shadow:  0 4px 15px -2px grey;
      box-shadow: 0 4px 15px -2px grey;
      h3{
        font-size: 18px;
        padding: 2px;
        margin-left: 8px;
        font-weight: bold;
        color: #616060;
        font-family: 'Open Sans', 'Roboto', sans-serif;
      }
    }
  }
  .details-block{
    padding-left:0;
    padding-right:0;
  }
  button i.material-icons{
    position: relative;
    top: 7px;
    right: 5px;
  }
  #circular-timer{
    position: relative;
    top: -7em;
    svg{
      path{
        stroke: #FFA834;
      }
    }
  }
  #circular-timer canvas{
    display: inline-block;
    position: absolute;
    top: -20px;
    //bottom: 20px;
    left: 17%;
    width: 75%;
  }
  #circular-timer .textDiv_Seconds{
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    h4{
      font-size: 13px !important;
      line-height: 0 !important;
      position: relative;
      top: 6em;
      left: 10.3em;
      color: #FF6849;
    }
    span.title{
      font-size: 18px !important;
      line-height: 0 !important;
      font-weight: bolder;
      position: relative;
      top: 4.1em;
      left: 7.5em;
      color: #606060;
    }
    span:not(.title){
      display: none;
    }
  }
  form{
    position: relative;
  }
  .step3-form{
    height: 310px;
  }
  .step4-form{
    height: 285px;
    padding-right: 12px;
  }
  .little-bit-down{
    margin-top: 10px;
  }

  //payee data table styles
  .payee-holder{
    position: relative;
  }
  .advance-data-table{
    width: 69%;
    height: 72%;
    margin-top: 5.10em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    table{
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }
    i.material-icons{
      position: absolute;
      right: 0;
      color: #90A4AE;
      cursor: pointer;
      z-index: 3;
      background-color: #666;
      color: #fff;
    }
    th,td{
      padding: 0.55em 6px 6px 6px;
      text-align: left;
      font-size: 12px;
      word-wrap: break-word;
    }
    th{
      padding: 1.75em 6px 6px 6px;
      color: #333;
    }
    tbody:hover{
      background-color: #fff;
    }
    tbody tr:nth-child(2n-1){
      background-color: #f5f5f5;
      transition: all .125s ease-in-out;
    }
    tbody tr:hover{
      background-color: rgba(3,155,229, .3);
      cursor: pointer;
    }
    tbody{
      height: 164px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    tbody, thead{
      display: block;
      width: 100%;
    }
    thead tr th:first-child,
    tbody tr td:first-child{
      width: 140px;
    }
    thead tr th:nth-child(2),
    tbody tr td:nth-child(2){
      width: 105px;
    }
    thead tr th:nth-child(3),
    tbody tr td:nth-child(3){
      width: 140px;
    }
    thead tr th:nth-child(4),
    tbody tr td:nth-child(4){
      width: 145px;
    }
    thead tr th:nth-child(5),
    tbody tr td:nth-child(5){
      width: 140px;
    }
    thead tr th md-input-container{
      margin: 0;
      height: 32px;
      width: 100%;
      color: #222;
      input{
        color: #222;
        background-color: #fff;
        width: 100% !important;
      }
      md-select{
        width: 100% !important;
      }
      label{
        color: #222;
        top: -22px;
      }
    }
  }
  .payee_input{
    margin-bottom: 0;
  }
  .amount_input{
    margin-top: 12px;
    z-index:2;
  }
  .payment_input{
    margin-bottom: -5px;
    margin-top: -5px;
  }
  .custom-quote .rate-block p.key_value strong,
  .custom-quote .money-block p.key_value strong{
    font-weight: normal;
    font-size: 0.90em;
    color: #929292;
    font-style: italic;
  }
  .custom-quote .rate-block p.key_value span,
  .custom-quote .money-block p.key_value span,
  .key_value p{
    font-size: 14px !important;
    margin-top: 5px;
    display: block;
    font-weight: 500;
    color:black !important;
  }

  md-tabs h3.md-text-accent .draw-down.right{
    background-color: #f7f6f6;
    font-size: 13px;
    color: #1158c1;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 500;
  }

}
.green-color{
  color: #72BB53 !important;
}
.blue-color
{
  color: #00A4D3 !important;
}
.right{
  float:right !important;
}
/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 359px)  {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px)  {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 411px)  {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 412px) and (max-width: 413px)  {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 414px) and (max-width: 767px)  {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px)  {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 101px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 105px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 65px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 50px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 104px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 50px;
      padding-right: 50px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 108px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 50px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 70px;
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: -90%;

      left: 40%;
      width: 75%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 13px !important;
        top: 4.5em;
        left: 15.1em;
      }
      span.title{
        font-size: 15px !important;
        top: 3.5em;
        left: 13em;
      }
    }
  }
}
//iPad Pro
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 60px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 60px;
      padding-right: 60px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 120px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 115px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 60px;
      padding-right: 60px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 126px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 120px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 60px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 70px;
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: -90%;

      left: 40%;
      width: 75%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 8px !important;
        top: 5.5em;
        left: 19.1em;
      }
      span.title{
        font-size: 7px !important;
        top: 5.5em;
        left: 22.5em;
      }
    }
  }
}
@media only screen and (min-width : 1280px) and (max-width: 1359px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 105px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 105px;
      padding-right: 105px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 165px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 156px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 105px;
      padding-right: 105px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 171px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 161px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 105px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 66px;
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: -90%;

      left: 40%;
      width: 75%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 13px !important;
        top: 4.5em;
        left: 15.1em;
      }
      span.title{
        font-size: 15px !important;
        top: 3.5em;
        left: 13em;
      }
    }
  }
}
@media screen\0{
  #book_forward_deal{
    //md-tab-item:last-child:after{
    //  display:none;
    //}
    md-tab-item.md-tab:nth-child(4):after{
      right: 120px;
    }
  }
}
@supports (-ms-ime-align:auto) {
  #book_forward_deal{
    md-tab-item:last-child:after{
      display:none;
    }
  }
}
@media only screen and (min-width : 1360px) and (max-width: 1439px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 115px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 65px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 115px;
      padding-right: 115px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 174px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 170px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 115px;
      padding-right: 115px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 180px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 177px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 115px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 74px;
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: -90%;
      left: 40%;
      width: 75%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 13px !important;
        top: 5.5em;
        left: 16.5em;
      }
      span.title{
        font-size: 15px !important;
        top: 4.5em;
        left: 14.5em;
      }
    }
  }
}
@media only screen and (min-width : 1440px) and (max-width: 1589px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 120px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 68px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 120px;
      padding-right: 120px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 182px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 182px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 120px;
      padding-right: 120px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 188px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 188px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 120px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 82px;
    }
  }
}
@media only screen and (min-width : 1590px) and (max-width: 1919px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 130px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 79px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 130px;
      padding-right: 130px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 205px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 204px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 130px;
      padding-right: 130px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 209px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 209px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 130px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 93px;
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: -90%;

      left: 40%;
      width: 75%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 13px !important;
        top: 7.5em;
        left: 20.5em;
      }
      span.title{
        font-size: 15px !important;
        top: 6.2em;
        left: 18em;
      }
    }

  }

}
@media only screen and (min-width : 1920px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 200px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 70px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 200px;
      padding-right: 200px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 262px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 262px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 200px;
      padding-right: 200px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 267px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 267px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 200px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 81px;
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: -128%;
      left: 38%;
      width: 55%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;

        top: 5.2em;
        left: 20em;
      }
      span.title{
        font-size: 15px !important;
        top: 5.2em;
        left: 21.5em;

      }
    }

    //#circular-timer canvas{
    //  display: inline-block;
    //  position: absolute;
    //  top: 10%;
    //  left: 40%;
    //  width: 75%;
    //}
    //#circular-timer .textDiv_Seconds{
    //  h4{
    //    font-size: 16px !important;
    //    top: 8.5em;
    //    left: 16em;
    //  }
    //  span.title{
    //    font-size: 15px !important;
    //    top: 8.2em;
    //    left: 17.1em;
    //  }
    //}
  }
}

@media only screen and (min-width : 2560px) {
  #book_forward_deal{
    md-tab-item.md-tab:nth-child(1){
      padding-left: 0;
      padding-right: 270px;
    }
    md-tab-item.md-tab:nth-child(1):after{
      left: 96px;
    }
    md-tab-item.md-tab:nth-child(2){
      padding-left: 270px;
      padding-right: 270px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 360px;
    }
    md-tab-item.md-tab:nth-child(2):before{
      right: 360px;
    }
    md-tab-item.md-tab:nth-child(3){
      padding-left: 270px;
      padding-right: 270px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(3):after{
      left: 364px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right: 364px;
    }
    md-tab-item.md-tab:nth-child(4){
      padding-left: 270px;
      padding-right: 0;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(4):before{
      right: 108px;
    }
    #circular-timer canvas{
      display: inline-block;
      position: absolute;
      top: -90%;

      left: 28%;
      width: 30%;
    }
    #circular-timer .textDiv_Seconds{
      h4{
        font-size: 16px !important;
        top: 5.2em;
        left: 20.5em;
      }
      span.title{
        font-size: 15px !important;
        top: 5.2em;
        left: 22.5em;
      }
    }

  }
}

@media only screen and (min-wdth : 1600px) {
  .textDiv_Seconds{
    top: 133px;left: 0px;width: 379px;position: relative;top:  20px;
  }
}
