<div id="book_forward_deal" class="place_an_order page-layout simple fullwidth doc-page" layout="column" style="margin-right: 1%;padding: 11px;">
  <div class="content" layout="column">
    <ms-form-wizard flex>
      <div class="show-circle-loader" ng-hide="vm.circleLoader" style="position: absolute; right: 10px;">
        <md-progress-circular class="md-accent" md-diameter="40px"></md-progress-circular>
      </div>
      <md-tabs md-no-select-click="true" md-dynamic-height md-selected="vm.selectedIndex" md-stretch-tabs="always">
        <!--STEP 1 BEGIN-->
        <div ng-include="'app/main/forexdealing/book_forward_deal/steps/step1.html'"></div>
        <!--STEP 1 END-->

        <!--STEP 2 BEGIN-->
        <div ng-include="'app/main/forexdealing/book_forward_deal/steps/step2.html'"></div>
        <!--STEP 2 END-->

        <!--STEP 3 BEGIN-->
        <div ng-include="'app/main/forexdealing/book_forward_deal/steps/step3.html'"></div>
        <!--STEP 3 END-->

        <!--STEP 4 BEGIN-->
        <div ng-include="'app/main/forexdealing/book_forward_deal/steps/step4.html'"></div>
        <!--STEP 4 END-->
      </md-tabs>
    </ms-form-wizard>
  </div>
  <!-- /.content -->
  <!-- /.data-table -->
</div>
