<div id="place_an_order" class="place_an_order page-layout simple fullwidth doc-page" layout="column" style="margin-right: 1%;padding: 11px;">
  <div class="content" layout="column">
    <ms-form-wizard flex>
      <md-tabs md-no-select-click="true" md-dynamic-height md-selected="vm.selectedIndex" md-stretch-tabs="always">
        <md-tab ng-disabled="vm.selectedIndex != 0" id="tab_0">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="209.443px" height="191.991px" viewBox="0 0 209.443 191.991" enable-background="new 0 0 209.443 191.991"
                       xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M104.722,74.662c-11.568,0-20.942,9.55-20.942,21.334
						c0,11.778,9.374,21.329,20.942,21.329c11.568,0,20.947-9.551,20.947-21.329C125.668,84.211,116.29,74.662,104.722,74.662
						 M104.722,53.327c23.136,0,41.889,19.106,41.889,42.668c0,23.563-18.753,42.663-41.889,42.663
						c-23.131,0-41.89-19.1-41.89-42.663C62.832,72.433,81.591,53.327,104.722,53.327 M167.559,191.991H41.89l26.706-43.63
						c9.948,7.362,22.619,11.631,36.125,11.631c13.512,0,26.183-4.269,36.13-11.631L167.559,191.991 M209.443,31.999v127.994
						l-53.298-27.201c7.225-10.135,11.414-23.039,11.414-36.795c0-13.762-4.189-26.666-11.414-36.802L209.443,31.999 M41.89,0
						h125.669l-26.707,43.623c-9.947-7.361-22.618-11.625-36.13-11.625c-13.507,0-26.178,4.264-36.125,11.625L41.89,0 M0,31.999
						l53.305,27.195C46.08,69.33,41.89,82.233,41.89,95.996c0,13.756,4.189,26.661,11.415,36.795L0,159.992V31.999"/>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Place an order</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 1 </strong><span hide-xs>-</span> Please select the buying, selling currency and the amount</h3>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div layout="row" layout-align="space-around stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row">
                <div flex="50" flex-offset="0" flex-xs="100" flex-gt-xs="45">
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Order Basis</label>
                      <md-select ng-model="vm.step1.order_basis" required  ng-disabled="vm.step1_disabled" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.order_basis == null ? 'required-field':'') ">
                        <md-option ng-repeat="order in vm.orderBasis | orderBy:'value'" value="{{ order.value }}" ng-click="vm.selectOrderBasis(order)">
                          {{ order.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Deal Type</label>
                      <md-select ng-model="vm.step1.deal_type" required   ng-disabled="vm.step1_disabled" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.deal_type == null ? 'required-field':'') " >
                        <md-option ng-repeat="deal in vm.dealTypes | orderBy:'value'" value="{{ deal.value }}" ng-click="vm.selectType(deal)">
                          {{ deal.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row"layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0">
                      <label>Buying currency</label>
                      <md-select ng-model="vm.step1.buy_currency" required ng-change="vm.fetchPaymentCurrencies(vm.step1)" ng-disabled="vm.step1_disabled"  ng-class=" vm.step1Invalid == false ? '' : (vm.step1.buy_currency == null ? 'required-field':'') ">
                        <md-option ng-repeat="currency in vm.buying_currency | orderBy:'value'" value="{{ currency.value }}" ng-click="vm.selectCurrencies('BUY', currency)">
                          <strong>{{ currency.name }}</strong>
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.sell_currency == null ? 'required-field':'') ">
                      <label>Selling currency</label>
                      <md-select ng-model="vm.step1.sell_currency" required ng-disabled="vm.step1_disabled" >
                        <md-option ng-repeat="currency in vm.selling_currency | orderBy:'value'" value="{{ currency.value }}" ng-click="vm.selectCurrencies('CAD', currency)">
                          <strong>{{ currency.name  }}</strong>
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="25" flex-gt-xs="25" flex-sm="25" flex-offset="0" flex-offset-sm="0" flex-offset-xs="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.sell_currency == null ? 'required-field':'') ">
                      <label>I want to</label>
                      <md-select ng-model="vm.step1.i_want_to" ng-required="true" style="font-size:12px" ng-disabled="vm.step1_disabled" >
                        <md-option value="buy">BUY ({{ vm.step1.buy_currency | uppercase }})</md-option>
                        <md-option value="sell">SELL ({{ vm.step1.sell_currency | uppercase }})</md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container flex="50" flex-gt-xs="90" flex-sm="30" flex-offset-xs="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.amount == null ? 'required-field':'') ">
                      <label>Amount</label>
                      <input type="text" autocomplete="off" ng-model="vm.step1.amount" ng-required="true" format="currency" valid-Number ng-disabled="vm.step1_disabled" >
                    </md-input-container>
                    <md-input-container flex="25" flex-gt-xs="90" flex-sm="30" flex-offset-xs="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.target_rate == null ? 'required-field':'') ">
                      <label>Target Rate</label>
                      <input type="text" autocomplete="off" ng-model="vm.step1.target_rate" ng-required="true" format="currency" valid-Number ng-disabled="vm.step1_disabled" >
                    </md-input-container>
                  </div>
                </div>
                <div flex="50" flex-offset="0" flex-xs="100" flex-gt-xs="45">
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.entry_date == null ? 'required-field':'') ">
                    <label>Entry Date</label>
                    <input type="text" jq-date-picker ng-model="vm.step1.entry_date" ng-required="true" min-date="today" ng-keydown="vm.stopInput($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/" ng-disabled="vm.step1_disabled">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.value_date == null ? 'required-field':'') ">
                      <label>Value Date</label>
                      <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/" ng-disabled="vm.step1_disabled">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column" ng-if="vm.hideStartDateField">
                    <md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.start_date == null ? 'required-field':'') ">
                      <label>Start Date</label>
                      <input type="text" jq-date-picker ng-model="vm.step1.start_date" ng-required="true" min-date="today" ng-keydown="vm.stopInput($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/" ng-disabled="vm.step1_disabled">
                    </md-input-container>
                  </div>
                  <div layout="column" layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.expiry_type == null ? 'required-field':'') ">
                      <label>Expiry Type</label>
                      <md-select ng-model="vm.step1.expiry_type" required ng-disabled="vm.step1_disabled">
                        <md-option ng-repeat="type in vm.types | orderBy:'value'" value="{{ type.value }}" ng-click="vm.selectExpiryType(type)">
                          <strong>{{ type.name}}</strong>
                        </md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div ng-model="vm.step1.hideExpiryDate" layout="column" layout-gt-xs="row" layout-xs="column" ng-hide="vm.hideExpiryDate">
                  <!--<div layout="column" layout-gt-xs="row" layout-xs="column" ng-disabled="vm.checkExpiryType">-->
                    <md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0" ng-class=" vm.step1Invalid == false ? '' : (vm.step1.expiry_date == null ? 'required-field':'') " ng-hide="vm.step1.expiry_type == 'Good till Cancel'">
                      <label>Expiry Date</label>
                      <input type="text" jq-date-picker ng-model="vm.step1.expiry_date"  ng-required="true" min-date="today" ng-keydown="vm.stopInput($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/" ng-disabled="vm.disabledExpiryDate">
                    </md-input-container>
                  </div>
                </div>
              </div>
            </form>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button class="md-primary" ng-click="vm.step1Submit()">Next</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 1" id="tab_1">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="172.305px" height="196.394px" viewBox="0 0 172.305 196.394" enable-background="new 0 0 172.305 196.394"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M154.27,178.602V54.004H55.094v53.404H37.06V54.004
	c0-9.82,8.075-17.791,18.034-17.791h99.176c9.959,0,18.035,7.971,18.035,17.791v124.598c0,9.82-8.076,17.791-18.035,17.791H55.094
	c-9.959,0-18.034-7.971-18.034-17.791v-17.801h18.034v17.801H154.27 M82.141,142.999H19.024C9.065,142.999,1,135.03,1,125.209
	V18.413C1,8.583,9.065,0.611,19.024,0.611h108.198v17.802H19.024v106.796h63.116v-17.801l36.07,26.695l-36.07,26.697V142.999"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Approve</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2 </strong><span hide-xs>-</span> Please confirm your order details:</h3>
            <!--ORDER OVERVIEW SECTION BEGIN-->
            <div layout="row" class="currency_details">
              <div flex="25" flex-xs="100" class="value-pair-container ">
                <div class="value-pair-head smallHeading">
                  Deal
                </div>
                <div class="value-pair-body">
                  {{vm.orderNumber(vm.dealRecord.recordnumber)}}
                </div>
              </div>
            </div>
            <div layout="row" class="order_details" layout-xs="column">

              <div flex="25" flex-xs="100" class="value-pair-container ">
                <div class="value-pair-head smallHeading">
                  Entry Date
                </div>
                <div class="value-pair-body">
                  {{vm.step1.entry_date}}
                </div>
              </div>
              <div flex="25" flex-xs="100" class="value-pair-container ">
                <div class="value-pair-head smallHeading">
                  Value Date
                </div>
                <div class="value-pair-body">
                  {{vm.step1.value_date}}
                </div>
              </div>
              <!--<div flex="25" flex-xs="100" flex-offset-xs="0"  class="value-pair-container " style="border-color:blue;" >-->
                <!--<div class="value-pair-head smallHeading">-->
                  <!--Order Type-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="value-pair-body" ng-bind="vm.step1.orderType">&ndash;&gt;-->
                <!--<span class="value-pair-body">Market Watch</span>-->
              <!--</div>-->
              <div flex="50" class="nopadding value-pair-container">
                <div class="value-pair-head smallHeading">
                  Order Basis
                </div>
                <div class="value-pair-body" ng-bind="vm.step1.order_basis">

                </div>
              </div>
              <div flex="25" flex-xs="100" flex-offset-xs="0" class="value-pair-container " style="border-color:blue;" >
                <div class="value-pair-head smallHeading">
                  Deal Type
                </div>
                <!--<div class="value-pair-body" ng-bind="vm.step1.orderType">-->
                <span ng-bind="vm.step1.deal_type" class="value-pair-body"></span>
              </div>

              <div flex="25" flex-xs="100" flex-offset-xs="0" class="value-pair-container " style="border-color:blue;" >
                <div class="value-pair-head smallHeading">
                  Target Rate
                </div>
                <div class="value-pair-body" ng-bind="vm.step1.target_rate">

                </div>
                <!--<span>{{ '' | currency:'':2}}</span>-->
              </div>

            </div>
           <!--ORDER OVERVIEW SECTION END-->
            <!--CURRENCY DETAILS SECTION BEGIN-->
            <div class="currency_details">
              <!--<div layout="column"  flex="100">-->
                <div layout="row" layout-xs="column">
                  <div flex="50" flex-xs="100" class="nopadding value-pair-container">
                    <div class="value-pair-head smallHeading">
                      Buying currency
                    </div>
                    <!--<div style="font-weight:bold"   class="value-pair-body currency_main_heading"  ng-bind="vm.step1.buy_currency + ' '+ '-'+' '+vm.fetchBuyFullCurrency('AUD')">-->
                    <div style="font-weight:bold"   class="value-pair-body currency_main_heading"  ng-bind="vm.fetchBuyFullCurrency(vm.step1.buy_currency)">

                    </div>
                  </div>
                  <div flex="50" flex-xs="100" flex-offset-xs="0"  class="nopadding value-pair-container">
                    <div class="value-pair-head smallHeading">
                      Selling currency
                    </div>
                    <!--<div style="font-weight:bold"   class="value-pair-body currency_main_heading"  ng-bind="vm.step1.sell_currency.toUpperCase()">-->
                    <div style="font-weight:bold"   class="value-pair-body currency_main_heading"  ng-bind="vm.fetchSellFullCurrency(vm.step1.sell_currency)">

                    </div>
                  </div>
                </div>
              <!--</div>-->
              <br />
              <div layout="column" class="MgTop15">
                <div layout="row">
                  <div flex="50" class="nopadding value-pair-container">
                    <div class="value-pair-head smallHeading">
                      Order Amount
                    </div>
                    <div class="value-pair-body"   ng-bind="vm.step1.amount">

                    </div>
                  </div>

                  <!--<div flex="50" class="nopadding value-pair-container">-->
                    <!--<div class="value-pair-head smallHeading">-->
                      <!--Order Basis-->
                    <!--</div>-->
                    <!--<div class="value-pair-body" ng-bind="vm.step1.order_basis">-->

                    <!--</div>-->
                  <!--</div>-->

                </div>
              </div>

              <!--CURRENCY DETAILS SECTION END-->
              <!-- Funding Summary -->
            </div>

            <div layout="row" style="position:relative;bottom:40px" class="order_details value-pair-container" layout-xs="column">

              <div flex="50" ng-if="vm.step1.start_date">
                <div flex class="nopadding value-pair-container">
                  <div class="value-pair-head smallHeading">
                    Start Date
                  </div>
                  <div class="value-pair-body" ng-bind="vm.step1.start_date">

                  </div>
                </div>
              </div>

              <div flex="50" >
                <div flex class="nopadding value-pair-container expiry_date-little_bit_to_left">
                  <div class="value-pair-head smallHeading">
                    Expiry Date
                  </div>
                  <div class="value-pair-body" ng-bind="vm.step1.expiry_date"   >

                  </div>
                </div>
              </div>

            </div>
            <div layout="row" layout-xs="column" layout-align="center center" class="next-button-container">
              <md-button ng-if="vm.selectedIndex === 1" class="md-primary"  ng-mouseover="vm.showPopOverFunc()"
                         ng-hide="vm.skipApprovalStep" ng-mouseleave="vm.showPopLeaveFunc()"
                         ng-click="vm.approveNow()">Approve <span>{{ vm.approvalCounter }} / {{ vm.approvalPolicy.approval_level }}</span>
              </md-button>
              <md-button class="md-outline" ng-if="vm.selectedIndex === 1 && vm.ApprovalNext" ng-click="vm.finalizeDeal()">Next</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
        <md-tab ng-disabled="vm.selectedIndex != 2" id="tab_2">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="258.229px" height="193.647px" viewBox="0 0 258.229 193.647" enable-background="new 0 0 258.229 193.647"
                       xml:space="preserve">
                    <polyline fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="82.156,153.211 20.535,92.515 0,112.741 82.156,193.678
	258.229,20.242 237.693,0 82.156,153.211 "/>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Confirmation</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2 </strong><span hide-xs>-</span> Please confirm your order details:</h3>
            <!--ORDER OVERVIEW SECTION BEGIN-->
            <div layout="row" class="order_details" layout-xs="column">
              <div flex="20" flex-xs="100" class="value-pair-container ">
                <div class="value-pair-head smallHeading">
                  Date
                </div>
                <div class="value-pair-body">
                  01/19/2017
                </div>
              </div>
              <div flex="20" flex-xs="100" flex-offset-xs="0"  class="value-pair-container " style="border-color:blue;" >
                <div class="value-pair-head smallHeading">
                  Order Type
                </div>
                <!--<div class="value-pair-body" ng-bind="vm.step1.orderType">-->
                <span class="value-pair-body">Market Watch</span>
              </div>

              <div flex="20" flex-xs="100" flex-offset-xs="0" class="value-pair-container " style="border-color:blue;" >
                <div class="value-pair-head smallHeading">
                  Deal Type
                </div>
                <!--<div class="value-pair-body" ng-bind="vm.step1.orderType">-->
                <span ng-bind="vm.step1.deal_type" class="value-pair-body"></span>
              </div>

              <div flex="20" flex-xs="100" flex-offset-xs="0" class="value-pair-container " style="border-color:blue;" >
                <div class="value-pair-head smallHeading">
                  Target Rate
                </div>
                <div class="value-pair-body" ng-bind="vm.step1.target_rate">

                </div>
                <!--<span>{{ '' | currency:'':2}}</span>-->
              </div>

            </div>
            <!--ORDER OVERVIEW SECTION END-->
            <!--CURRENCY DETAILS SECTION BEGIN-->
            <div class="currency_details">
              <div layout="column"  flex="100">
                <div layout="row" layout-xs="column">
                  <div flex="20" flex-xs="100" class="nopadding value-pair-container">
                    <div class="value-pair-head smallHeading">
                      Buying currency
                    </div>
                    <div style="font-weight:bold"   class="value-pair-body currency_main_heading"  ng-bind="vm.step1.buy_currency.toUpperCase()">

                    </div>
                  </div>
                  <div flex="20" flex-xs="100" flex-offset-xs="0"  class="nopadding value-pair-container">
                    <div class="value-pair-head smallHeading">
                      Selling currency
                    </div>
                    <div style="font-weight:bold"   class="value-pair-body currency_main_heading"  ng-bind="vm.step1.sell_currency.toUpperCase()">

                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div layout="column" class="MgTop15">
                <div layout="row">
                  <div flex="20" class="nopadding value-pair-container">
                    <div class="value-pair-head smallHeading">
                      Order Amount
                    </div>
                    <div class="value-pair-body"   ng-bind="vm.step1.amount">

                    </div>
                  </div>

                  <div flex="20" class="nopadding value-pair-container">
                    <div class="value-pair-head smallHeading">
                      Order Basis
                    </div>
                    <div class="value-pair-body" ng-bind="vm.step1.order_basis">

                    </div>
                  </div>
                </div>
              </div>
              <!--CURRENCY DETAILS SECTION END-->
              <!-- Funding Summary -->
            </div>

            <div layout="row" style="position:relative;bottom:40px" class="order_details value-pair-container" layout-xs="column">

              <div flex="20">
                <div flex class="nopadding value-pair-container">
                  <div class="value-pair-head smallHeading">
                    Start Date
                  </div>
                  <div class="value-pair-body" ng-bind="vm.step1.start_date">

                  </div>
                </div>
              </div>

              <div flex="20">
                <div flex class="nopadding value-pair-container">
                  <div class="value-pair-head smallHeading">
                    Expiry Date
                  </div>
                  <div class="value-pair-body" ng-bind="vm.step1.expiry_date">

                  </div>
                </div>
              </div>

            </div>

            <div layout="row" layout-xs="column" layout-align="center center" class="next-button-container">
              <!--<md-button class="md-primary" ng-if="vm.selectedIndex === 1" ng-click="vm.doneFunc()">Confirm</md-button>-->

              <md-button class="md-primary" ng-if="vm.selectedIndex === 2" ng-click="vm.doneFunc()">Done</md-button>
              <md-button class="md-outline print-button" ng-if="vm.selectedIndex === 2">
                <a href="javascript:;" ng-click="vm.printDeal()"><i class="material-icons">print</i> Print</a>
              </md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!-- /.md-tab -->
      </md-tabs>
    </ms-form-wizard>
  </div>
  <!-- /.content -->
</div>
