#place_an_order {
  .content.layout-column,
  .data-table.layout-column {
    display: block;
  }
  .reference input {
    text-transform: uppercase;
  }
  .next-button-container {
    position: relative;
    z-index: 1;
  }
  .border {
    border: 1px solid black !important;
  }
  .order_details {
    margin-top: 30px;
  }
  md-input-container {
    .md-errors-spacer {
      display: none;
    }
  }
  .value-pair-container {
    padding-left: 36px;
  }
  .value-pair-container .value-pair-head.smallHeading {
    color: #9294a6;
    margin-bottom: 3px;
    font-style: italic;
  }
  .value-pair-container .value-pair-body {
    color: #484444;
    font-weight: 500;
    font-size: 14px;
  }
  .currency_details {
    margin: 10px 15px 50px;
    padding: 13px 20px;
    background: #f8f7f7;
  }
  .value-pair-container .value-pair-body.currency_main_heading {
    font-size: 23px;
    font-weight: normal;
    word-spacing: 4px;
  }
  .nopadding {
    padding: 0px !important;
  }
  .currency-green {
    color: #72bb53 !important;
  }
  .noMgBottom {
    margin-bottom: 0px;
  }
  .buyingCurrencyDD .md-select-value .md-select-icon {
    margin-left: -33px;
  }
  //icon styles
  md-tabs md-tabs-content-wrapper {
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25), 1px 1px 10px rgba(0, 0, 0, 0.22);
    margin: 10px 6px 6px 6px;
  }
  md-tabs md-tabs-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  md-tabs md-tab-content {
    background: #fff;
    margin-top: 2%;
  }
  md-tabs-canvas md-pagination-wrapper {
    width: 100% !important;
  }
  .icon-circle, .icon-circle-large, .icon-circle-small {
    position: relative;
    display: inline-block;
    margin: -1px;
    width: 45px;
    height: 45px;
    font-size: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align: center;
  }
  .icon-circle-large {
    width: 100px;
    height: 100px;
    font-size: 64px;
    padding: 16px;
  }
  .icon-circle-small {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }
  .icon-circle-outline {
    border: 1px solid rgb(0, 161, 225);
    background: transparent;
    color: rgb(0, 161, 225);
  }
  .icon-circle-outline i {
  }
  .item-icon-circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
  }
  .item-icon-circle i {
    font-size: 60px;
  }
  .bg-circle-alt {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .md-tab {
    padding-top: 6px;
  }
  .ms-form-wizard-step-label {
    color: #00C8F8;
    background: none;
    .ms-form-wizard-step-icon {
      display: block;
      .icon-circle {
        color: #00C8F8;
        border-color: #00C8F8;
        background: #fff;
        .icon-svg {
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline {
            fill: #00C8F8;
          }

        }
      }
    }
    .ms-form-wizard-step-text {
      display: block;
      text-transform: none;
    }
  }
  md-tab-item {
    position: relative;
  }
  md-tab-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 38%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 38%;
    border-bottom: 3px solid #00C8F8;
    z-index: 12;
  }
  md-tab-item:first-of-type::before {
    content: '';
    display: none;
  }
  md-tab-item:last-of-type::after {
    display: none;
    content: '';
  }
  md-tab-item:not(.md-active) {
    .ms-form-wizard-step-label {
      color: #B8B8B8 !important;
      .icon-circle {
        color: #B8B8B8 !important;
        border-color: #fff !important;
        .icon-svg {
          display: inline-block;
          width: 28px;
          height: 28px;
          position: relative;
          top: 0;
          path,
          polyline {
            fill: #AAAAAA;
          }
        }
      }
    }
  }
  md-tab-item:not(.md-active):after {
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item:not(.md-active):before {
    border-bottom: 3px solid #B8B8B8;
  }
  md-tab-item.md-active {
    .icon-circle {
      background: transparent !important;
    }
  }
  md-tab-item.md-previous {
    .ms-form-wizard-step-label {
      color: #3D8AF7 !important;
      background: none;
      .ms-form-wizard-step-icon {
        .icon-circle {
          color: #fff;
          border-color: #3D8AF7 !important;
          background: #3D8AF7 !important;
          .icon-svg {
            display: inline-block;
            width: 28px;
            height: 28px;
            position: relative;
            top: 0;
            path,
            polyline {
              fill: #fff;
            }
          }
        }
      }
    }
    &:after {
      border-bottom: 3px solid #3D8AF7;
    }
    &:before {
      border-bottom: 3px solid #3D8AF7;
    }
    &:first-of-type::before {
      display: none;
      content: '';
    }
  }
  md-tabs {
    h3.md-text-accent {
      color: #555 !important;
      margin-left: 15px;
      font-size: 1.4em;
      padding-bottom: 1.2em;
      margin-right: 0.7em;
      margin-bottom: 5px;
      border-bottom: 2px solid #D8D8D8;
      strong {
        color: #606070 !important;
      }
    }
    md-input-container label {
      font-weight: bold !important;
    }
    md-input-container md-select,
    md-input-container input,
    md-input-container md-select md-option {
      font-weight: bold;
    }
    .next-button-container {
      background: #EBEBEB;
      border-top: 1px solid #DCDCDC;
      button.md-primary {
        background: #0C59CF !important;
        color: #fff;
      }
      button.md-secondary {
        background: #606060 !important;
        color: #fff;
      }
    }
    md-datepicker {
      position: relative;
    }
    md-datepicker .md-datepicker-input-container {
      width: 100%;
      margin-left: 0;
      .md-icon-button {
        display: none;
      }
    }
    md-datepicker > button {
      position: absolute;
      top: -18px;
      right: 8px;
    }
  }
}

/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  #spot-deals {
    md-tabs md-tabs-content-wrapper {
      margin-left: 4%;
      margin-right: 4%;
    }
    .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper,
    .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas {
      height: 80px;
    }
    .data-table {
      padding-left: 20px;
      padding-right: 20px;
    }
    md-tab-item {
      padding-left: 35%;
      padding-right: 65%;
      padding-top: 17px !important;
    }
    md-tab-item:before,
    md-tab-item:after {
      top: 47%;
    }
    md-tab-item:first-of-type {
      padding-left: 35% !important;
    }
    md-tab-item:first-of-type::before {
      display: block;
      right: 60%;
    }
    md-tab-item:first-of-type::after {
      left: 64%;
    }
    md-tab-item:nth-child(2) {
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(2)::before {
      right: 62%;
    }
    md-tab-item:nth-child(2)::after {
      left: 62%;
    }
    md-tab-item:nth-child(3) {
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(3)::before {
      right: 62%;
    }
    md-tab-item:nth-child(3)::after {
      left: 63%;
    }
    md-tab-item:nth-child(4) {
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(4)::before {
      right: 60%;
    }
    md-tab-item:nth-child(4)::after {
      left: 65%;
    }
    md-tab-item:nth-child(5) {
      margin-left: -1px;
      padding-left: 53.984px !important;
      padding-right: 128.828px !important;
    }
    md-tab-item:nth-child(5)::before {
      right: 59%;
    }
    md-tab-item:nth-child(5)::after {
      left: 66%;
    }
    md-tab-item:nth-child(6) {
      padding-right: 65% !important;
      padding-left: 35.984px !important;
      padding-right: 148.828px !important;
    }
    md-tab-item:nth-child(6)::before {
      right: 62%;
    }
    md-tab-item:nth-child(6)::after {
      left: 62%;
      display: block;
    }
    md-tabs {
      h3.md-text-accent {
        font-size: 1.25em;
      }
    }
    p.pull-right.md-text-green,
    p.pull-right.md-text-dark-green {
      font-size: 12px;
      top: 26px;
    }
    .step3-form {
      height: auto;
    }
    .step4-form {
      height: auto;
      padding-right: 0;
    }
    .top-placement {
      position: relative;
      top: 2px;
      margin-bottom: 25px;
    }
    md-datepicker {

    }
    .funding-payee-block {
      margin-top: 0;
    }
    .step4-form {
      height: auto;
      padding-right: 12px;
    }
    .step1_amount {
      margin-bottom: 0;
      z-index: 2;
    }
    .step1_value_date {
      margin-top: 5px;
      margin-bottom: 0;
    }
    .step2-info-box {
      min-height: 300px;
    }
    .payment-detail {
      min-height: 265px;
    }
    .popup {
      width: 100%;
      top: 70%;
      left: 0;
    }
    h3.md-text-accent {
      text-align: center;
      strong {
        display: block;
      }
    }
    .payee-holder,
    .step3_payee {
      margin-top: 0;
    }
    .balance.left {
      display: block;
      text-align: center;
    }
    .next-button-container {
      .balance {
        h3 {
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2) {
        text-align: center;
      }
    }
    .payee-balance {
      height: 90px;
    }
    .funding-balance {
      height: 90px;
      h3 {
        margin-top: 0;
      }
    }
    .payee-dataTable {
      overflow: visible;
      i.material-icons {
        top: 7%;
        left: 42%;
      }
      > div {
        margin-top: 3.8em;
        margin-left: 0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table thead th input {
        width: 92px;
      }
      table thead th md-select {
        margin-left: 5px;
        width: 92px;
        height: 25px;
        md-select-value {
          border: none;
          span {
            font-family: sans-serif;
            font-size: 14px;
          }
        }
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tr {
        border: 1px solid #ccc;
      }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table thead th input {
        width: 94px !important;
      }
    }
    .payment-card-detail {
      top: -20px;
    }
    .payment-detail {
      > div {
        display: inline-block;
      }
    }
    .payment-detail {
      > div {
        p {
          margin-bottom: 0;
        }
      }
    }
    .data-table {
      padding-left: 24px;
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 150px;
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tbody tr {
        border-bottom: 1px solid #0C59CF;
        position: relative;
      }
      table tbody tr:last-of-type {
        border-bottom: none;
      }
      table tbody td {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
        position: relative;
        padding: 8px;
        font-family: 'Roboto', 'Open Sans', sans-serif;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 150px;
      }
      table tbody tr td:last-of-type {
        position: absolute;
        top: 0;
        right: 0;
        border: none !important;
        padding: 0;
        button {
          padding: 0 0 8px 0;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  #spot-deals {
    md-tab-item:first-of-type:before {
      right: 61%;
    }
    md-tab-item:first-of-type:after {
      left: 59%;
    }
    md-tab-item:nth-child(2) {
      padding-left: 74.984px !important;
      padding-right: 147.828px !important;
    }
    md-tab-item:nth-child(2):before {
      right: 60%;
    }
    md-tab-item:nth-child(2):after {
      left: 61%;
    }
    md-tab-item:nth-child(3) {
      padding-left: 72.984px !important;
      padding-right: 148.828px !important;
    }
    md-tab-item:nth-child(3):before {
      right: 60.2%;
    }
    md-tab-item:nth-child(3):after {
      left: 60%;
    }
    md-tab-item:nth-child(4) {
      padding-left: 67.984px !important;
      padding-right: 153.828px !important;
    }
    md-tab-item:nth-child(4):before {
      right: 61%;
    }
    md-tab-item:nth-child(4):after {
      left: 59%;
    }
    md-tab-item:nth-child(5) {
      padding-left: 66.984px !important;
      padding-right: 154.828px !important;
    }
    md-tab-item:nth-child(5):before {
      right: 61%;
    }
    md-tab-item:nth-child(5):after {
      left: 60%;
    }
    md-tab-item:nth-child(6) {
      padding-left: 21.984px !important;
      padding-right: 162.828px !important;
    }
    md-tab-item:nth-child(6):before {
      right: 70%;
    }
    md-tab-item:nth-child(6):after {
      left: 55%;
    }
    .payee-dataTable {
      i.material-icons {
        top: 6%;
      }
      table thead tr th input {
        width: 125px;
      }
      table thead tr th md-select {
        margin-left: 5px;
        height: 25px;
        width: 125px;
        md-select-value {
          border-bottom: none;
          span {
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
            padding-left: 1px;
          }
        }
      }
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tr {
        border: 1px solid #ccc;
      }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
    }
    .payment-detail {
      > div {
        p {
          margin-bottom: 0;
        }
      }
    }
    .data-table {
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 150px;
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tbody tr {
        border-bottom: 1px solid #0C59CF;
        position: relative;
      }
      table tbody tr:last-of-type {
        border-bottom: none;
      }
      table tbody td {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
        position: relative;
        padding: 8px;
        font-family: 'Roboto', 'Open Sans', sans-serif;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 150px;
      }
      table tbody tr td:last-of-type {
        position: absolute;
        top: 0;
        right: 0;
        border: none !important;
        padding: 0;
        button {
          padding: 0 0 8px 0;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 411px) {

  #spot-deals {
    //background: yellow;
    md-tabs md-tabs-content-wrapper {
      margin-left: 2%;
      margin-right: 2%;
    }
    .data-table {
      padding-left: 26px;
      padding-right: 26px;
    }
    md-tab-item:first-of-type {
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:first-of-type:before {
      right: 59%;
      display: block;
      content: '';
    }
    md-tab-item:first-of-type:after {
      left: 60%;
    }
    md-tab-item:nth-child(2) {
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(3) {
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(4) {
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(5) {
      padding-left: 88px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(6) {
      padding-left: 66px !important;
      padding-right: 170px !important;
    }
    md-tab-item:nth-child(2):before {
      right: 56%;
    }
    md-tab-item:nth-child(2):after {
      left: 62.5%;
    }
    md-tab-item:nth-child(3):before {
      right: 56.5%;
    }
    md-tab-item:nth-child(3):after {
      left: 62.5%;
    }
    md-tab-item:nth-child(4):before {
      right: 55%;
    }
    md-tab-item:nth-child(4):after {
      left: 63.7%;
    }
    md-tab-item:nth-child(5):before {
      right: 54%;
    }
    md-tab-item:nth-child(5):after {
      left: 65%;
    }
    md-tab-item:nth-child(6):before {
      right: 57.7%;
    }
    md-tab-item:nth-child(6):after {
      left: 61.5%;
      display: block;
      content: '';
    }
    h3.md-text-accent {
      text-align: center;
      strong {
        display: block;
      }
    }
    .step1_amount {
      margin-bottom: 0;
    }
    .step1_value_date {
      margin-top: 5px;
      margin-bottom: 0;
    }
    .payee-holder,
    .step3_payee {
      margin-top: 0;
    }
    .balance.left {
      display: block;
      text-align: center;
    }
    .next-button-container {
      .balance {
        h3 {
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2) {
        text-align: center;
      }
    }
    .payee-balance {
      height: 90px;
      h3 {
        margin-top: 10px !important;
      }
    }
    .funding-balance {
      height: 90px;
      h3 {
        margin-top: 10px !important;
      }
    }
    .payee-dataTable {
      i.material-icons {
        top: 7%;
        left: 42%;
      }
      > div {
        margin-top: 3.8em;
        margin-left: 0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tr {
        border: 1px solid #ccc;
      }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table thead th input {
        width: 120px;
      }
      table thead th md-select {
        width: 141px;
        margin-left: 5px;
        height: 25px;
        md-select-value {
          border: none;
          span {
            font-family: sans-serif;
            font-size: 14px;
          }
        }
      }
    }
    .popup {
      top: 73%;
      left: 0;
      width: 100%;
    }
    .payment-card-detail {
      top: -20px;
    }
    .payment-detail {
      > div {
        display: inline-block;
      }
    }
    .step3-form {
      height: auto;
    }
    .step4-form {
      height: 510px;
    }
    .step4_method_input {
      margin-top: 0;
    }
    .little-bit-down {
      margin-top: 0;
      margin-left: 0;
      .top-placement {
        position: relative;
        top: 0;
      }
    }
  }
}

@media only screen and (min-width: 412px) and (max-width: 413px) {
  #spot-deals {
    //background: yellow;
    md-tabs md-tabs-content-wrapper {
      margin-left: 2%;
      margin-right: 2%;
    }
    .data-table {
      padding-left: 26px;
      padding-right: 26px;
    }
    md-tab-item:first-of-type {
      padding-left: 106px !important;
      padding-right: 168px !important;
    }
    md-tab-item:first-of-type:before {
      right: 58%;
      display: block;
      content: '';
    }
    md-tab-item:first-of-type:after {
      left: 58%;
    }
    md-tab-item:nth-child(2) {
      padding-left: 96px !important;
      padding-right: 178px !important;
    }
    md-tab-item:nth-child(3) {
      padding-left: 93px !important;
      padding-right: 181px !important;
    }
    md-tab-item:nth-child(4) {
      padding-left: 93px !important;
      padding-right: 181px !important;
    }
    md-tab-item:nth-child(5) {
      padding-left: 93px !important;
      padding-right: 181px !important;
    }
    md-tab-item:nth-child(6) {
      padding-left: 86px !important;
      padding-right: 182px !important;
    }
    md-tab-item:nth-child(2):before {
      right: 59%;
    }
    md-tab-item:nth-child(2):after {
      left: 56.8%;
    }
    md-tab-item:nth-child(3):before {
      right: 60.2%;
    }
    md-tab-item:nth-child(3):after {
      left: 56.2%;
    }
    md-tab-item:nth-child(4):before {
      right: 59%;
    }
    md-tab-item:nth-child(4):after {
      left: 57.1%;
    }
    md-tab-item:nth-child(5):before {
      right: 58%;
    }
    md-tab-item:nth-child(5):after {
      left: 58%;
    }
    md-tab-item:nth-child(6):before {
      right: 54.7%;
    }
    md-tab-item:nth-child(6):after {
      left: 61.5%;
      display: block;
      content: '';
    }
    h3.md-text-accent {
      text-align: center;
      strong {
        display: block;
      }
    }
    .step1_amount {
      margin-bottom: 0;
    }
    .step1_value_date {
      margin-top: 5px;
      margin-bottom: 0;
    }
    .payee-holder,
    .step3_payee {
      margin-top: 0;
    }
    .balance.left {
      display: block;
      text-align: center;
    }
    .next-button-container {
      .balance {
        h3 {
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2) {
        text-align: center;
      }
    }
    .payee-balance {
      height: 90px;
      h3 {
        margin-top: 10px !important;
      }
    }
    .funding-balance {
      height: 90px;
      h3 {
        margin-top: 10px !important;
      }
    }
    .payee-dataTable {
      i.material-icons {
        top: 7%;
        left: 42%;
      }
      > div {
        margin-top: 3.8em;
        margin-left: 0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tr {
        border: 1px solid #ccc;
      }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table thead th md-select {
        margin-left: 5px;
        width: 141px;
        height: 25px;
        md-select-value {
          border-bottom: none;
          span {
            font-family: sans-serif;
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }
    .payment-card-detail {
      top: -20px;
    }
    .payment-detail {
      > div {
        display: inline-block;
      }
    }
    .step3-form {
      height: auto;
    }
    .step4-form {
      height: 510px;
    }
    .step4_method_input {
      margin-top: 0;
    }
    .little-bit-down {
      margin-top: 0;
      margin-left: 0;
      .top-placement {
        position: relative;
        top: 0;
      }
    }
    .payment-detail {
      > div {
        p {
          margin-bottom: 0;
        }
      }
    }
    .data-table {
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tbody tr {
        border-bottom: 1px solid #0C59CF;
        position: relative;
      }
      table tbody tr:last-of-type {
        border-bottom: none;
      }
      table tbody td {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
        position: relative;
        padding: 8px;
        font-family: 'Roboto', 'Open Sans', sans-serif;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 280px;
      }
      table tbody tr td:last-of-type {
        position: absolute;
        top: 0;
        right: 0;
        border: none !important;
        padding: 0;
        button {
          padding: 0 0 8px 0;
          margin: 0;
        }
      }
    }
    .popup {
      left: 0;
      width: 100%;
      top: 71%;
    }
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {

  #spot-deals {
    //background: yellow;
    md-tabs md-tabs-content-wrapper {
      margin-left: 2%;
      margin-right: 2%;
    }
    .data-table {
      padding-left: 26px;
      padding-right: 26px;
    }
    md-tab-item:first-of-type {
      padding-left: 100px !important;
      padding-right: 176px !important;
    }
    md-tab-item:first-of-type:before {
      right: 60%;
      display: block;
      content: '';
    }
    md-tab-item:first-of-type:after {
      left: 55%;
    }
    md-tab-item:nth-child(2) {
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(3) {
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(4) {
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(5) {
      padding-left: 95px !important;
      padding-right: 149px !important;
    }
    md-tab-item:nth-child(6) {
      padding-left: 66px !important;
      padding-right: 170px !important;
    }
    md-tab-item:nth-child(2):before {
      right: 55%;
    }
    md-tab-item:nth-child(2):after {
      left: 63.5%;
    }
    md-tab-item:nth-child(3):before {
      right: 54.5%;
    }
    md-tab-item:nth-child(3):after {
      left: 63.5%;
    }
    md-tab-item:nth-child(4):before {
      right: 53.1%;
    }
    md-tab-item:nth-child(4):after {
      left: 64.7%;
    }
    md-tab-item:nth-child(5):before {
      right: 52%;
    }
    md-tab-item:nth-child(5):after {
      left: 66%;
    }
    md-tab-item:nth-child(6):before {
      right: 57.7%;
    }
    md-tab-item:nth-child(6):after {
      left: 61.5%;
      content: '';
      display: block;
    }
    .step3-form {
      height: auto;
    }
    .little-bit-down {
      margin-left: 0;
      .top-placement {
        top: 0;
        position: relative;
      }
    }
    h3.md-text-accent {
      text-align: center;
      strong {
        display: block;
      }
    }
    .step1_amount {
      margin-bottom: 0;
    }
    .step1_value_date {
      margin-top: 5px;
      margin-bottom: 0;
    }
    .payee-holder,
    .step3_payee {
      margin-top: 0;
    }
    .balance.left {
      display: block;
      text-align: center;
    }
    .next-button-container {
      .balance {
        h3 {
          margin-top: 40px;
          margin-bottom: 0;
        }
      }
      div:nth-child(2) {
        text-align: center;
      }
    }
    .payee-balance {
      height: 90px;
      h3 {
        margin-top: 10px !important;
      }
    }
    .funding-balance {
      height: 90px;
      h3 {
        margin-top: 10px !important;
      }
    }
    .payee-dataTable {
      i.material-icons {
        top: 6%;
        left: 42%;
      }
      > div {
        margin-top: 3.8em;
        margin-left: 0;
        width: 100%;
        z-index: 99;
        height: 290px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        height: 290px;
        overflow: auto;
      }
      table, thead, tbody, th, td, tr {
        display: block;
      }
      table tr {
        border: 1px solid #ccc;
      }
      table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
      }
      table thead {
        display: inline-block;
      }
      table thead tr {
        display: table-cell;
        width: 1%;
      }
      table tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 200px;
      }
      table select {
        margin-left: 5px !important;
        width: 142px !important;
        height: 14px !important;
      }
      table thead th input {
        width: 140px;
      }
      table thead th md-select {
        margin-left: 5px;
        height: 25px;
        width: 142px;
        md-select-value {
          border: none;
          span {
            font-family: sans-serif;
            font-size: 14px;
          }
        }
      }
    }
    .funding-payee-block,
    .step4_method_input {
      margin-top: 0;
    }
    .step4-form {
      height: 500px;
    }
    .payment-card-detail {
      top: -10px;
    }
    .payment-detail {
      > div {
        display: inline-block;
      }
    }
    .data-table {
      table {
        width: 100%;
        td {
          width: 100%;
        }
      }
    }
    .popup {
      left: 0;
      width: 100%;
      top: 72%;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 25px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 150px;
      padding-right: 150px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 83px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 80px;
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      //padding-right: 30px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 100px;
      padding-right: 100px;
      margin-left: -1px; /*To resolve 3 dots issue in I.E*/
    }
    md-tab-item.md-tab:first-child:after {
      left: 90px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 100px;
    }
    md-tab-item.mad-tab:nth-child(3) {
      padding-left: 50px;
    }
  }
}

//iPad Pro
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 40px;
    }

    md-tab-item.md-tab:nth-child(2) {
      padding-left: 100px;
      padding-right: 100px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 102px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 185px;
    }
    md-tab-item.md-tab:nth-child(2):after {
      left: 185px;
    }
    md-tab-item.md-tab:nth-child(3) {
      padding-left: 35px;
      padding-right: 0;
    }
    md-tab-item.md-tab:nth-child(3):before {
      right: 100px;
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1359px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 100px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 250px;
      padding-right: 250px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 80px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 305px;
    }
    md-tab-item.md-tab:nth-child(2):after {
      left: 315px;
    }
    md-tab-item.md-tab:nth-child(3) {
      padding-left: 50px;
    }
  }
}

@media screen\0{
  #place_an_order {
    //background-color: deepskyblue;
    md-tab-item.md-tab:nth-child(3):after{
      display:none;
    }
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1439px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 40px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 290px;
      padding-right: 290px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 92px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 365px;
    }
    md-tab-item.md-tab:nth-child(2):after{
      left: 365px;
    }
    md-tab-item.md-tab:nth-child(3):before{
      right:113px;
    }
    //md-tab-item.md-tab:nth-child(3){
    //  padding-right:20px;
    //}
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1589px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 80px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 250px;
      padding-right: 250px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 100px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 330px;
    }
    md-tab-item.md-tab:nth-child(2):after {
      left: 330px;
    }
    md-tab-item.md-tab:nth-child(3) {
      padding-left: 90px;
    }
    md-tab-item.md-tab:nth-child(3):before {
      right: 120px;
    }
  }
}

@media only screen and (min-width: 1590px) and (max-width: 1919px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 150px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 250px;
      padding-right: 300px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 110px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 390px;
    }
    md-tab-item.md-tab:nth-child(2):after {
      left: 340px;
    }
    md-tab-item.md-tab:nth-child(3) {
      padding-left: 70px;
    }
  }
}

@media only screen and (min-width: 1920px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 300px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 95px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 300px;
      padding-right: 300px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 377px;
    }
    md-tab-item.md-tab:nth-child(2):after {
      left: 377px;
    }
    md-tab-item.md-tab:nth-child(3) {
      padding-left: 300px;
      padding-right: 0;
    }
    md-tab-item.md-tab:nth-child(3):before {
      right: 91px;
    }
  }
}

@media only screen and (min-width: 2560px) {
  #place_an_order {
    md-tab-item.md-tab:first-child {
      padding-left: 0;
      padding-right: 475px;
    }
    md-tab-item.md-tab:nth-child(2) {
      padding-left: 475px;
      padding-right: 475px;
      margin-left: -1px;
    }
    md-tab-item.md-tab:first-child:after {
      left: 115px;
    }
    md-tab-item.md-tab:nth-child(2):before {
      right: 570px;
    }
    md-tab-item.md-tab:nth-child(2):after {
      left: 570px;
    }
    md-tab-item.md-tab:nth-child(3):before {
      right: 110px;
    }
  }
}

/*------------------------------------- Code added 5_6_2017------------------------------------*/
.order_basis_little_bit_to_right{
  position: relative;
  left: 18px;
}

.expiry_date-little_bit_to_left{
  position: relative;
  right: 18px;
}
