<div id="account-balance" class="page-layout fullwidth">
  <!--Templates for ng-table -->
  <script type="text/ng-template" id="custom/pagination">
    <div layout="row" layout-md="column" id="ng-table-options">
      <div flex="15" flex-md="100">
        <p>Total Records: <strong>{{ params.total() }}</strong></p>
      </div>
      <div flex="45" flex-md="100" class="pages">
        <p class="inline-block">Set page size to: </p>
        <md-button ng-class="params.count() === count ? 'active':''" ng-repeat="count in params.settings().counts" ng-click="params.count(count)" aria-label="icon">{{ count }}</md-button>
      </div>
      <div flex="40" flex-md="100" class="pagination" layout-align="end center">
        <ul>
          <li ng-repeat="page in pages" ng-show="page.type === 'first'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'prev'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-hide="page.type === 'prev' || page.type === 'next'">
            <a href="javascript:void(0);" ng-class="{'active':page.current}" ng-click="params.page(page.number)">{{ page.number }}</a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'next'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li ng-repeat="page in pages" ng-show="page.type === 'last'">
            <a href="javascript:void(0);" ng-click="params.page(page.number)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </script>

  <md-card class="modern-data-tables">
    <div layout="column">
      <div flex="100" ng-hide="vm.loader" class="loading-bar">
        <h3>Loading...</h3>
        <md-progress-circular class="md-accent loader" md-diameter="30px"></md-progress-circular>
      </div>
      <div ng-show="vm.loader">
        <div layout="row" class="filters-bar">
          <div flex="10">
            <md-button class="filter-toggle" ng-click="vm.toggleFilters()">
              <i class="material-icons">filter_list</i> Filters
            </md-button>
          </div>
          <span flex></span>
        </div>
        <div flex layout="row">
          <div  class="table-responsive-test filters-bar" ng-hide="vm.hideFilters" style="margin-bottom:35px;">
            <table class="filters_table" ms-responsive-table>
              <thead>
              <tr>
                <th>
                  <md-input-container>
                    <label>Account Title</label>
                    <!--ng-keydown="vm.noSpecialCharactersFunction($event)"-->
                    <input type="text" ng-model="vm.filter.account_title"  aria-label="Account Title" ng-change="vm.searchFilter()" style=" width:390px" >

                  </md-input-container>
                </th>
                <th>
                  <md-input-container>
                    <label>Available Balance</label>
                    <!--ng-keydown="vm.noSpecialCharactersFunction($event)"-->
                    <input type="text" ng-model="vm.filter.account_balance"  aria-label="Available Balanc"   style="width:390px" >

                  </md-input-container>
                </th>
                <th>
                  <md-input-container>
                    <!--<label>By Broker</label>-->
                    <label>Closing Balance</label>
                    <input type="text" ng-model="vm.filter.closingbalance"  style="width:390px" aria-label="Closing Balance" ng-change="vm.searchFilter(vm.filter.booker)" ng-keydown="vm.noSpecialCharactersFunction($event)">
                  </md-input-container>
                </th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
        <div layout="row">


          <div flex="100" class="table-box">
            <div class="responsive">
              <table class="primary" data-ng-table="vm.tableParams" template-pagination="custom/pagination">
                <tbody ms-scroll>
                <tr ng-repeat="row in $data | filter : {accountandcurrency : vm.filter.account_title, available_amount : vm.filter.account_balance,  balance_act : vm.filter.closingbalance } ">
                  <td ng-if="row.message" colspan="3">
                    {{ row.message }}
                  </td>
                  <td data-title="'Account Title'" sortable="'accountandcurrency'">
                    <a href="javascript:void(0)" ng-click="vm.openStatement(row, $event)">{{ row.accountandcurrency }}</a>
                  </td>
                  <td data-title="'Available Balance'" sortable="'available_amount'">
                    <div class="amount">{{ row.available_amount | currency:'':2 }}</div>
                  </td>
                  <td data-title="'Closing Balance'" sortable="'balance_act'">
                    <div class="amount">{{ row.balance_act | currency:'':2 }}</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card>
</div>
