#manage_users{
  md-card.classic-design{
    table{
      thead tr th:nth-child(1),
      tbody tr td:nth-child(1){
        width: 200px;
      }
      thead tr th:nth-child(2),
      tbody tr td:nth-child(2){
        width: 200px;
      }
      thead tr th:nth-child(3),
      tbody tr td:nth-child(3){
        width: 200px;
      }
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4){
        width: 200px;
      }
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5){
        width: 700px;
      }
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6){
        width: 160px;
      }
      tbody tr td span.active{
        padding: 8px 10px;
        font-size: 10px;
        font-weight: bold;
        color: #fff;
      }
      tbody tr td span.active.true{
        background-color: #31DBD9;
      }
      tbody tr td span.active.false{
        background-color: #FF8A84;
      }
    }
    .ng-table-counts{
      margin-bottom: 1em;
    }
    .md-menu-design{
      button.md-button{
        margin: 0;
        position: relative;
        @include breakpoint(xlarge){
          top: -5px;
        }
        @include breakpoint(desktop){
          top: -5px;
        }
        @include breakpoint(laptop){
          top: -10px;
        }
        @include breakpoint(tablet){
          top: -10px;
        }
        @include breakpoint(mobile){
          top: -10px;
        }
      }
    }
  }
  .tabs-group{
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    border-radius: 2px;
    margin: 8px;
    @include show-box;
  }
  md-tabs{
    form.md-inline-form{
      margin: 1em;
      md-input-container{
        .md-errors-spacer{
          display: none;
        }
      }
      button.margin-1em{
        margin: 1em;
      }
      .user_table{
        @include responsive-table;
        button.trash-icon{
          margin: 0;
          i.fa{
            color: red;
            font-size: 18px;
            font-weight: normal;
          }
        }
        table{
          font-size: 13px;
          tbody, thead{
            display: table-header-group !important;
          }
          th,td{
            padding: 6px;
            background-color: rgba(0, 0, 0, 0.14);
          }
          td{
            background-color: #fff;
            border-bottom: 1px solid rgb(224,224,224);
          }
          tr:last-child td{
            border-bottom: none;
          }
          tr:hover td{
            background-color: rgb(238,238,238);
          }
          td:last-child{
            text-align: center;
          }
        }
      }
    }
    form.basic_information_form{
      md-input-container.clear-margin{
        margin-top: 0;
      }
    }
    form.permissions_form{
      md-checkbox{
        margin: 6px 4px;
      }
      .margin-top-bottom-6px{
        margin: 6px 0;
      }
    }
  }
}
