<div id="manage_user" class="place_an_order page-layout simple fullwidth doc-page" layout="column" style="margin-right: 1%;padding: 11px;">
  <div class="content" layout="column">
    <ms-form-wizard flex>
      <md-tabs md-no-select-click="true" md-dynamic-height md-selected="vm.selectedIndex" md-stretch-tabs="always">
        <!--STEP 1 BEGIN-->
        <md-tab ng-disabled="vm.selectedIndex != 0" id="tab_0">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="209.443px" height="191.991px" viewBox="0 0 209.443 191.991" enable-background="new 0 0 209.443 191.991"
                       xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <g>
                            <g>
                              <path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M104.722,74.662c-11.568,0-20.942,9.55-20.942,21.334
						c0,11.778,9.374,21.329,20.942,21.329c11.568,0,20.947-9.551,20.947-21.329C125.668,84.211,116.29,74.662,104.722,74.662
						 M104.722,53.327c23.136,0,41.889,19.106,41.889,42.668c0,23.563-18.753,42.663-41.889,42.663
						c-23.131,0-41.89-19.1-41.89-42.663C62.832,72.433,81.591,53.327,104.722,53.327 M167.559,191.991H41.89l26.706-43.63
						c9.948,7.362,22.619,11.631,36.125,11.631c13.512,0,26.183-4.269,36.13-11.631L167.559,191.991 M209.443,31.999v127.994
						l-53.298-27.201c7.225-10.135,11.414-23.039,11.414-36.795c0-13.762-4.189-26.666-11.414-36.802L209.443,31.999 M41.89,0
						h125.669l-26.707,43.623c-9.947-7.361-22.618-11.625-36.13-11.625c-13.507,0-26.178,4.264-36.125,11.625L41.89,0 M0,31.999
						l53.305,27.195C46.08,69.33,41.89,82.233,41.89,95.996c0,13.756,4.189,26.661,11.415,36.795L0,159.992V31.999"/>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Book Forward</span>
            </span>
          </md-tab-label>
          <md-tab-body style="background:#333;">
            <div class="show-circle-loader" ng-hide="vm.circleLoader" style="position: absolute; right: 10px;">
              <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100"><strong>Step 1 </strong><span hide-xs>-</span> Please select the Currency and the Amount then click Get Quote</h3>
            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
              <div layout="column" layout-align="space-around stretch" layout-xs="column"  flex-offset="5">
                <div >
                  <md-radio-group ng-model="vm.data.group1">

                    <md-radio-button value="1" class="md-primary" style="margin-left:0px;">Fixed Dated Forward </md-radio-button>
                    <md-radio-button value="2" class="md-primary">Option Dated Forward</md-radio-button>

                  </md-radio-group>
                </div>
                <div  layout="row" >
                  <div flex="35">
                    <div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">
                      <md-input-container>
                        <md-select ng-model="someModel" placeholder="Buying Currency">
                          <md-option>No Options</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">
                      <md-input-container flex="25" flex-gt-xs="25" flex-sm="25" flex-offset="0" flex-offset-sm="0" flex-offset-xs="0">
                        <label>I want to</label>
                        <md-select ng-model="vm.step1.i_want_to" ng-required="true" style="font-size:12px" ng-disabled="vm.step1_disabled">
                          <md-option value="buy">BUY ({{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }})</md-option>
                          <md-option value="sell">SELL ({{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }})</md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container flex="70" flex-gt-xs="90" flex-sm="30" flex-offset-xs="0" flex-offset="5">
                        <label>Amount</label>
                        <input type="text" autocomplete="off" ng-model="vm.step1.amount" ng-required="true" format="currency" ng-keydown="vm.protectAmount($event)">
                      </md-input-container>

                    </div>

                    <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;" ng-show="vm.data.group1 === '2' ">
                      <md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label style="left:0;">Value Date</label>
                        <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                      </md-input-container>
                    </div>
                  </div>
                  <div flex="35" flex-offset="20">
                    <div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">
                      <md-input-container>
                        <md-select ng-model="someModel" placeholder="Selling Currency">
                          <md-option>No Options</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;" ng-show="vm.data.group1 !== '2' ">
                      <md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label style="left:0;">Value Date</label>
                        <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                      </md-input-container>
                    </div>

                    <div flex layout="row" class=" input-field-wrapper" style="max-height:65px;" ng-show="vm.data.group1 === '2' ">
                      <md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0">
                        <label style="left:0;">Start Date</label>
                        <input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                      </md-input-container>
                    </div>
                  </div>
                </div>
                <!--<div  layout="row" ng-if="vm.data.group1 == 2">-->
                <!--<div flex="35">-->
                <!--<div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">-->
                <!--<md-input-container>-->
                <!--<md-select ng-model="someModel" placeholder="Buying Currency">-->
                <!--<md-option>No Options</md-option>-->
                <!--</md-select>-->
                <!--</md-input-container>-->
                <!--</div>-->
                <!--<div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">-->
                <!--<md-input-container flex="25" flex-gt-xs="25" flex-sm="25" flex-offset="0" flex-offset-sm="0" flex-offset-xs="0">-->
                <!--<label>I want to</label>-->
                <!--<md-select ng-model="vm.step1.i_want_to" ng-required="true" style="font-size:12px" ng-disabled="vm.step1_disabled">-->
                <!--<md-option value="buy">BUY ({{ vm.getFundingCurrencyName(vm.step1.currency_to_buy) }})</md-option>-->
                <!--<md-option value="sell">SELL ({{ vm.getPaymentCurrencyName(vm.step1.currency_to_sell) }})</md-option>-->
                <!--</md-select>-->
                <!--</md-input-container>-->
                <!--<md-input-container flex="70" flex-gt-xs="90" flex-sm="30" flex-offset-xs="0" flex-offset="5">-->
                <!--<label>Amount</label>-->
                <!--<input type="text" autocomplete="off" ng-model="vm.step1.amount" ng-required="true" format="currency" ng-keydown="vm.protectAmount($event)">-->
                <!--</md-input-container>-->

                <!--</div>-->
                <!--<div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">-->
                <!--<md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0">-->
                <!--<label style="left:0;">Value Date</label>-->
                <!--<input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">-->
                <!--</md-input-container>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div flex="35" flex-offset="20">-->
                <!--<div flex layout="column" class=" input-field-wrapper" style="max-height:65px;">-->
                <!--<md-input-container>-->
                <!--<md-select ng-model="someModel" placeholder="Selling Currency">-->
                <!--<md-option>No Options</md-option>-->
                <!--</md-select>-->
                <!--</md-input-container>-->
                <!--</div>-->
                <!--<div flex layout="row" class=" input-field-wrapper" style="max-height:65px;">-->
                <!--<md-input-container flex="100"  flex-gt-xs="100" flex-xs="100" flex-offset="0">-->
                <!--<label style="left:0;">Start Date</label>-->
                <!--<input type="text" jq-date-picker ng-model="vm.step1.value_date" ng-required="true" min-date="today" ng-keydown="vm.stopInputing($event)" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">-->
                <!--</md-input-container>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
              </div>
            </form>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <div flex="5">
                <md-button class="md-primary" ng-click="vm.moveForwardTab()">Get Quote</md-button>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <!--STEP 2 BEGIN-->
        <md-tab ng-disabled="vm.selectedIndex != 1" id="tab_1">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="273.518px" height="191.991px" viewBox="0 0 273.518 191.991" enable-background="new 0 0 273.518 191.991"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M175.823,193.787h58.617l39.078-77.496V0.044H156.284v116.247
	h58.617L175.823,193.787 M19.525,193.787h58.616l39.063-77.496V0.044H0v116.247h58.604L19.525,193.787"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Quote</span>
            </span>
          </md-tab-label>
          <md-tab-body style="background:#333;">
            <div class="show-circle-loader" ng-hide="true" style="position: absolute; right: 10px;">
              <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2 </strong><span hide-xs>-</span> Review the Rate and click Accept to book the Deal</h3>
            <div layout="row" layout-xs="column" layout-align="center center" class="step2-info-box">
              <div flex="25" flex-xs="100" flex-gt-xs="50" flex-gt-sm="25" flex-offset-xs="0" ng-hide="vm.hideQuoteScreen">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 custom-quote" style="border-bottom:1px solid rgba(215, 214, 214, 0.8);">
                    <div layout="row" layout-align="space-between none" class="rate-block"  >
                      <p class="key_value">
                        <strong>Rate</strong>
                        <span>1.100</span>
                      </p>
                      <p class="key_value">
                        <strong>Type</strong>
                        <span>Fixed Dated Forward</span>
                      </p>
                    </div>
                    <div layout="column" layout-align="space-around stretch" class="money-block">
                      <div flex>
                        <span>Amount you will receive</span>
                        <p> USD 10,000.00</p>
                      </div>
                      <div flex>
                        <span>Amount you will pay</span>
                        <p>CAD 11,000.00</p>
                      </div>
                    </div>
                  </ms-widget-front>
                </ms-widget>
              </div>

              <div flex="30" flex-offset="5" flex-gt-xs="40" flex-gt-sm="30" id="circular-timer-box" hide-xs ng-hide="vm.hideQuoteScreen"></div>
              <div id="linear-timer-box" hide-gt-xs ng-hide="vm.hideQuoteScreen">
                <div class="progress">
                  <div class="progress-bar" style="width: {{ vm.percent_duration + '%' }}" role="progressbar" aria-valuenow="{{ vm.expires_in }}" aria-valuemin="0" aria-valuemax="60">
                    <span class="sr-only">{{ vm.expires_in }} Seconds</span> {{ vm.expires_in }} Seconds
                  </div>
                </div>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button class="md-primary" ng-click="vm.moveForwardTab()">Accept</md-button>
              <md-button class="md-primary md-secondary" >Decline</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!--STEP 3 BEGIN-->
        <md-tab ng-disabled="vm.selectedIndex != 2" id="tab_2">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="172.305px" height="196.394px" viewBox="0 0 172.305 196.394" enable-background="new 0 0 172.305 196.394"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M154.27,178.602V54.004H55.094v53.404H37.06V54.004
	c0-9.82,8.075-17.791,18.034-17.791h99.176c9.959,0,18.035,7.971,18.035,17.791v124.598c0,9.82-8.076,17.791-18.035,17.791H55.094
	c-9.959,0-18.034-7.971-18.034-17.791v-17.801h18.034v17.801H154.27 M82.141,142.999H19.024C9.065,142.999,1,135.03,1,125.209
	V18.413C1,8.583,9.065,0.611,19.024,0.611h108.198v17.802H19.024v106.796h63.116v-17.801l36.07,26.695l-36.07,26.697V142.999"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Approval</span>
            </span>
          </md-tab-label>
          <md-tab-body style="background:#333;">
            <div class="show-circle-loader" ng-hide="true" style="position: absolute; right: 10px;">
              <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 3 </strong><span hide-xs>-</span> Approvals</h3>
            <div layout="row" layout-xs="column" layout-align="center center" class="step2-info-box">
              <div flex="90" flex-xs="100" flex-offset-xs="0" ng-hide="vm.hideQuoteScreen">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 custom-quote">
                    <div layout="row" layout-align="space-between none" class="rate-block">
                      <div flex="30">
                        <p class="key_value">
                          <strong>Deal Number</strong>
                          <span>Deal-23232</span>
                        </p>
                      </div>
                      <div flex="30">
                        <p class="key_value">
                          <strong>Type</strong>
                          <span>Fixed Dated Forward</span>
                        </p>
                      </div>
                      <div flex="30">
                        <p class="key_value">
                          <strong>Value Date</strong>
                          <span>12/12/2016</span>
                        </p>
                      </div>
                    </div>
                    <div layout="row" layout-align="space-around stretch" class="money-block">


                      <div flex="30">
                        <span>Amount to pay</span>
                        <p class="green-color">CAD 11,000.00</p>
                      </div>
                      <div flex="30" class="key_value">
                        <span>Rate</span>
                        <p> 1.00</p>
                      </div>
                      <div flex="30">
                        <span>Amount you will receive</span>
                        <p class="blue-color"> USD 10,000.00</p>
                      </div>
                    </div>
                  </ms-widget-front>
                </ms-widget>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button class="md-primary" ng-click="vm.moveForwardTab()" >Approve</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <!--STEP 4 BEGIN-->
        <md-tab ng-disabled="vm.selectedIndex != 3" id="tab_3">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="258.229px" height="193.647px" viewBox="0 0 258.229 193.647" enable-background="new 0 0 258.229 193.647"
	 xml:space="preserve">
<polyline fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="82.156,153.211 20.535,92.515 0,112.741 82.156,193.678
	258.229,20.242 237.693,0 82.156,153.211 "/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Confirmation</span>
            </span>
          </md-tab-label>
          <md-tab-body style="background:#333;">
            <div class="show-circle-loader" ng-hide="true" style="position: absolute; right: 10px;">
              <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 4 </strong><span hide-xs>-</span> Confirmation Summary
              <span class="draw-down right">
              Drawdown
            </span>
            </h3>
            <div layout="row" layout-xs="column" layout-align="center center" class="step2-info-box">
              <div flex="90" flex-xs="100" flex-offset-xs="0" ng-hide="vm.hideQuoteScreen">
                <ms-widget flippable="true">
                  <ms-widget-front class="padding-16 custom-quote">
                    <div layout="row" layout-align="space-between none" class="rate-block">
                      <div flex="30">
                        <p class="key_value">
                          <strong>Deal Number</strong>
                          <span>Deal-23232</span>
                        </p>
                      </div>
                      <div flex="30">
                        <p class="key_value">
                          <strong>Type</strong>
                          <span>Fixed Dated Forward</span>
                        </p>
                      </div>
                      <div flex="30">
                        <p class="key_value">
                          <strong>Value Date</strong>
                          <span>12/12/2016</span>
                        </p>
                      </div>
                    </div>
                    <div layout="row" layout-align="space-around stretch" class="money-block">


                      <div flex="30">
                        <span>Amount to pay</span>
                        <p class="green-color">CAD 11,000.00</p>
                      </div>
                      <div flex="30" class="key_value">
                        <span>Rate</span>
                        <p> 1.00</p>
                      </div>
                      <div flex="30">
                        <span>Amount you will receive</span>
                        <p class="blue-color"> USD 10,000.00</p>
                      </div>
                    </div>
                  </ms-widget-front>
                </ms-widget>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button class="md-primary" >Approve</md-button>
              <md-button class="md-outline" >
                <a><i class="material-icons">print</i> Print</a>
              </md-button>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </ms-form-wizard>
  </div>
  <!-- /.content -->
  <!-- /.data-table -->
</div>
