<div id="mail" class="page-layout carded left-sidenav md-accent-bg"  style="color:black !important;" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- CONTENT CARD -->
        <div class="content-card outlook" layout="column" flex ng-include="'app/main/mail/views/outlook/outlook-view.html'"></div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

</div>
