<div ng-if="vm.currentStep.length > 0" class="no-thread-selected" layout="column" layout-align="center center" flex>
  <md-icon md-font-icon="icon-checkbox-marked-circle" class="s120 grey-400-fg"></md-icon>
  <span class="hint-text">All Steps Completed</span>
</div>

<div ng-if="!vm.currentStep.length > 0">
  <div class="thread-header" layout="row" layout-align="space-between center">
    <div>
      <div class="subject" flex>{{vm.currentStep.description}}</div>
    </div>
  </div>

  <div class="thread-content">
    <div class="info" layout="row" layout-align="space-between start">
      <div flex="50" flex-xs="100" ng-if="vm.currentStep.id === 1"
           ng-include="'app/main/mail/views/outlook/steps/step1.html'">
      </div>

      <div flex="100" flex-xs="100" ng-if="vm.currentStep.id === 2"
           ng-include="'app/main/mail/views/outlook/steps/step2.html'">
      </div>

      <div flex="100" flex-xs="100" ng-if="vm.currentStep.id === 3"
           ng-include="'app/main/mail/views/outlook/steps/step3.html'">
      </div>

      <div flex="100" flex-xs="100" ng-if="vm.currentStep.id === 4"
           ng-include="'app/main/mail/views/outlook/steps/step4.html'">
      </div>

      <div flex="100" flex-xs="100" ng-if="vm.currentStep.id === 5"
           ng-include="'app/main/mail/views/outlook/steps/step5.html'">
      </div>

    </div>
    <div layout="row" layout-align="end end">
      <md-button class="md-raised md-accent" ng-if="vm.currentStep.id == 1" ng-click="vm.nextStep(vm.currentStep);">Get
        Quote
      </md-button>
      <md-button class="md-raised green-bg white-fg" ng-if="vm.currentStep.id == 2"
                 ng-click="vm.nextStep(vm.currentStep);">
        ACCEPT
      </md-button>
      <md-button class="md-raised md-warn" ng-if="vm.currentStep.id == 2" ng-click="vm.previousStep(vm.currentStep);">
        DECLINE
      </md-button>


      <md-button class="md-raised md-accent" ng-if="vm.currentStep.id == 3"
                 ng-click="vm.addBeneficiary(vm.beneficary_);">
        Add Payee
      </md-button>

      <md-button class="md-raised md-accent" ng-if="vm.currentStep.id == 4" ng-click="vm.add_funds(vm.funding_);">
        Add Payee
      </md-button>


      <md-button class="md-raised green-bg white-fg" ng-if="vm.currentStep.id == 3 || vm.currentStep.id == 4"
                 ng-click="vm.nextStep(vm.currentStep);">
        Continue
      </md-button>

      <md-button class="md-raised green-bg white-fg" ng-if="vm.currentStep.id == 5"
                 ng-click="vm.finish(vm.currentStep);">
        CONFIRM
      </md-button>

      <md-button class="md-raised m-warn" ng-if="vm.currentStep.id == 5" ng-click="vm.cancel(vm.currentStep);">
        Cancel
      </md-button>


    </div>
  </div>

</div>
