<!-- TOOLBAR -->
<div class="toolbar " layout="row" layout-align="space-between center">
  <div layout="row" layout-align="start center">
    <!-- ACTION BUTTONS -->
    <div class="action-buttons " layout="row" layout-align="start start">
      <h2>Book A Spot</h2>
    </div>
    <!-- / ACTION BUTTONS -->
  </div>
</div>
<!-- / TOOLBAR -->

<!-- CONTENT WRAPPER -->
<div class="content-wrapper" layout="row" layout-xs="column" flex>

  <!-- THREAD LIST -->
  <div class="content thread-list" flex="30" flex-xs="100">
    <div class="thread {{thread.status}}"
         ng-repeat="step in vm.steps"
         ng-class="{'current-thread': vm.currentStep === step, 'selected': vm.isSelectedStep(step)}">


      <div layout="row" layout-align="start center">
        <div class="info" flex layout="column">
          <div class="name" layout="row" layout-align="start center">
            <div class="avatar"
                 ng-class="{'blue-grey-bg':vm.isStepComplete(step),'green-bg':step.id === vm.currentStep.id,'blue-bg':step.id != vm.currentStep.id && !vm.isStepComplete(step)}">
              {{step.id}}
            </div>
            <span class="text-truncate">{{step.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / THREAD LIST -->

  <!-- THREAD DETAIL -->
  <div class="content thread-detail"
       ng-include="'app/main/mail/views/outlook/detail/detail.html'" layout="column" flex="70" flex-xs="100" ms-scroll>
  </div>
  <!-- / THREAD DETAIL -->

</div>
<!-- / CONTENT WRAPPER -->
