<md-dialog aria-label="Modern Popup Table" id="modern-popup-table" class="make_a_payment">
  <md-dialog-content>
    <div layout="row" layout-align="space-between start" class="header">
      <div flex>
        <h3 class="md-text-accent">Account Picker</h3>
      </div>
      <span flex></span>
      <md-button class="md-icon-button filter-button" ng-click="toggleFilter()">
        <i class="material-icons">filter_list</i>
      </md-button>
      <md-button class="md-icon-button close-button" ng-click="closeDialog()">
        <i class="material-icons">close</i>
      </md-button>
      <div class="progress-loader" ng-hide="dialogLoader">
        <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
      </div>
    </div>
    <div class="responsive">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Account Number</th>
          <th>Method</th>
          <th>Currency</th>
          <th>Country</th>
        </tr>
        <tr class="filters" ng-hide="showFilter">
          <th>
            <md-input-container>
              <label>Name</label>
              <input type="text" ng-model="filter.name">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Account Number</label>
              <input type="text" ng-model="filter.account_number">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Method</label>
              <input type="text" ng-model="filter.method">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Currency</label>
              <input type="text" ng-model="filter.currency">
            </md-input-container>
          </th>
          <th>
            <md-input-container>
              <label>Country</label>
              <input type="text" ng-model="filter.country">
            </md-input-container>
          </th>
        </tr>
        </thead>
        <tbody ms-scroll>
        <tr ng-repeat="account in vm.accounts" ng-click="selectAccount(account)">
          <td>{{  vm.convertName(account.name) }}</td>
          <td>{{ account.beneficiary_accountcode }}</td>
          <td>{{ account.type }}</td>
          <td>{{ account.currency_name }}</td>
          <td>{{ account.country_name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </md-dialog-content>
</md-dialog>
