<div id="make_a_payment" class="page-layout simple fullwidth" layout="column">
  <div class="content" layout="column">
    <ms-form-wizard flex>
      <md-tabs md-no-select-click="true" md-dynamic-height md-selected="vm.selectedIndex" md-stretch-tabs="always">
        <md-tab ng-disabled="vm.selectedIndex != 0" id="tab_0">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="101.672px" height="193.615px" viewBox="0 0 101.672 193.615" enable-background="new 0 0 101.672 193.615"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M101.672,128.028c0,11.025-3.436,20.515-10.299,28.477
	c-6.873,7.962-15.828,12.881-26.885,14.762v18.881c0,1.02-0.316,1.855-0.936,2.502c-0.609,0.646-1.387,0.966-2.322,0.966h-14.02
	c-0.926,0-1.705-0.351-2.324-1.05s-0.955-1.503-1.008-2.418v-18.881c-4.594-0.641-9.02-1.771-13.254-3.385
	c-4.235-1.613-7.747-3.199-10.531-4.761c-2.786-1.561-5.351-3.312-7.673-5.244c-2.322-1.935-3.921-3.28-4.802-4.036
	c-0.884-0.752-1.493-1.398-1.86-1.934c-1.135-1.504-1.188-2.985-0.158-4.436L16.3,132.867c0.462-0.698,1.24-1.13,2.322-1.292
	c1.031-0.105,1.881,0.216,2.554,0.973l0.158,0.242c7.849,7.151,16.269,11.64,25.253,13.473c2.533,0.589,5.088,0.883,7.674,0.883
	c5.58,0,10.51-1.529,14.797-4.598c4.291-3.064,6.4-7.473,6.348-13.227c0-1.992-0.514-3.9-1.543-5.729
	c-1.031-1.829-2.197-3.337-3.49-4.519c-1.293-1.184-3.299-2.527-6.043-4.035c-2.732-1.505-5.033-2.66-6.895-3.469
	c-1.859-0.805-4.625-1.987-8.293-3.548c-2.678-1.13-4.803-2.019-6.348-2.665c-1.555-0.646-3.699-1.612-6.432-2.904
	c-2.744-1.288-4.877-2.393-6.432-3.307c-1.545-0.914-3.51-2.208-5.887-3.872c-2.375-1.667-4.234-3.201-5.58-4.599
	c-1.344-1.397-2.837-3.148-4.499-5.244c-1.649-2.097-2.857-4.193-3.636-6.291c-0.776-2.096-1.522-4.494-2.248-7.184
	c-0.716-2.685-1.008-5.507-0.853-8.471c0-9.895,3.385-18.607,10.153-26.138c6.768-7.525,15.596-12.339,26.497-14.441V3.468
	c0-0.972,0.334-1.775,1.008-2.422C45.559,0.4,46.338,0.053,47.211,0h14.02c0.936,0,1.713,0.321,2.322,0.967
	c0.619,0.646,0.936,1.476,0.936,2.501v19.039c3.975,0.432,7.797,1.235,11.467,2.417c3.668,1.189,6.684,2.397,9.059,3.632
	s4.572,2.581,6.59,4.036c2.018,1.45,3.354,2.501,4.025,3.148c0.674,0.641,1.188,1.155,1.557,1.529
	c1.188,1.293,1.365,2.664,0.535,4.115l-8.439,15.732c-0.516,1.131-1.293,1.719-2.322,1.777c-0.986,0.21-1.945-0.032-2.871-0.731
	c-0.209-0.215-0.691-0.673-1.469-1.371c-0.779-0.699-2.125-1.64-4.027-2.822c-1.912-1.183-3.949-2.339-6.127-3.468
	c-2.166-1.13-4.729-2.071-7.672-2.822c-2.943-0.757-5.906-1.157-8.9-1.215c-6.57,0-11.908,1.536-16.041,4.599
	c-4.129,3.069-6.232,7.073-6.273,12.024c0,1.881,0.307,3.604,0.926,5.16c0.619,1.561,1.629,3.069,3.027,4.519
	c1.387,1.451,2.752,2.639,4.098,3.548c1.346,0.914,3.279,2.045,5.813,3.389c2.533,1.346,4.625,2.313,6.273,2.906
	c1.66,0.588,4.076,1.587,7.283,2.986c3.67,1.397,6.465,2.527,8.367,3.389c1.912,0.861,4.551,2.123,7.902,3.789
	c3.363,1.665,5.971,3.199,7.83,4.598c1.861,1.399,4.004,3.201,6.434,5.408c2.428,2.202,4.256,4.492,5.496,6.857
	c1.24,2.364,2.322,5.107,3.26,8.229C101.209,120.98,101.672,124.371,101.672,128.028"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Payment(s)</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="progress-loader" ng-hide="vm.loader">
              <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 1</strong> <span hide-xs>-</span> Please select the currency and method to fund the deal</h3>
            <p class="pull-me-right-top" ng-hide="vm.showPaymentHistory" ng-click="vm.viewPaymentHistories()"><a href="javascript:;">Payment History</a></p>
            <form name="wizardStep1" class="md-inline-form step1-form" ms-form-wizard-form novalidate>
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container ng-class=" vm.step1Invalid == false ? '' : (vm.step1.currency == null ? 'required-field':'') " flex="30" flex-gt-xs="30" flex-sm="40" flex-gt-sm="40" flex-offset="5" flex-offset-sm="0" flex-offset-gt-sm="0" flex-offset-xs="0">
                  <label>Currency</label>
                  <md-select ng-model="vm.step1.currency" ng-required="true" ng-disabled="vm.disableFunding" ng-change="vm.deselectAccount()">
                    <md-option ng-repeat="currency in vm.fundingCurrencies | orderBy: 'currency_name'" ng-value="currency.currency_id">
                      <strong>{{ currency.currency_name }}</strong> - {{ currency.currency_description }}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container ng-class=" vm.step1Invalid == false ? '' : (vm.step1.method == null ? 'required-field':'') " flex="30" flex-gt-xs="30" flex-sm="40" flex-gt-sm="40" flex-offset-gt-sm="5" flex-offset="5" flex-offset-xs="0">
                  <label>Method</label>
                  <md-select ng-model="vm.step1.method" ng-required="true" ng-change="vm.deselectAccount()">
                    <md-option ng-repeat="method in vm.fundingMethods | orderBy: 'name'" value="{{ method.id }}">
                       {{vm.convertMethods(method.name)}}
                    </md-option>
                    <!--{{ method.name }}-->
                  </md-select>
                </md-input-container>
                <md-input-container class="position-relative" flex="30" flex-gt-xs="30" flex-sm="40" flex-gt-sm="40" flex-offset-gt-sm="5" flex-offset="5" flex-offset-xs="0">
                  <label>Account</label>
                  <input type="text" ng-model="vm.step1.account" ng-click="vm.showAccount($event)">
                  <span class="erase-selection" ng-click="vm.deselectAccount()"><i class="material-icons">close</i></span>
                </md-input-container>
              </div>
            </form>

            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" layout-xs="column" class="next-button-container">
              <md-button class="md-primary equal-width" ng-show="vm.selectedIndex === 0" ng-click="vm.showSinglePayment($event)">Single Payment</md-button>
              <md-button class="md-primary equal-width" ng-show="vm.selectedIndex === 0" ng-click="vm.showMultiplePayment($event)">Multiple Payment</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 1" id="tab_1" md-on-select="onTabChanges(1)">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="172.305px" height="196.394px" viewBox="0 0 172.305 196.394" enable-background="new 0 0 172.305 196.394"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M154.27,178.602V54.004H55.094v53.404H37.06V54.004
	c0-9.82,8.075-17.791,18.034-17.791h99.176c9.959,0,18.035,7.971,18.035,17.791v124.598c0,9.82-8.076,17.791-18.035,17.791H55.094
	c-9.959,0-18.034-7.971-18.034-17.791v-17.801h18.034v17.801H154.27 M82.141,142.999H19.024C9.065,142.999,1,135.03,1,125.209
	V18.413C1,8.583,9.065,0.611,19.024,0.611h108.198v17.802H19.024v106.796h63.116v-17.801l36.07,26.695l-36.07,26.697V142.999"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Approval</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 10px; top:0;">
              <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 2</strong> <span hide-xs>-</span> Please review the deal details and click approve</h3>
            <div layout-xs="column" layout="row" layout-align="start center" layout-align-xs="start start" class="payment-detail">
              <div flex="10" flex-xs="100" flex-gt-xs="15">
                <p>Currency<span>{{ vm.getPaymentCurrencyName(vm.step1.currency) }}</span></p>
              </div>
              <div flex="10" flex-xs="100" flex-gt-xs="15">
                <p>Method <span class="method bill" style="padding:2px 4px;margin-top:1px;">{{ vm.getFundingsMethodName(vm.step1.method) }}</span></p>
              </div>
              <div flex="20" flex-xs="100" flex-gt-xs="25">
                <p>Account<span>{{ vm.getAccountName(vm.step1.account) }}</span></p>
              </div>
            </div>
            <!-- Beneficiary Details -->
            <div layout="row" layout-xs="row" layout-wrap class="details-block step2-table-container">
              <div flex="100" class="heading-block">
                <h3>Payee Details</h3>
              </div>
              <div flex="100" class="details-table">
                <table class="mdl-data-table" ms-responsive-table>
                  <tbody>
                  <tr ng-repeat="payee in vm.payeeEntries track by $index">
                    <td>
                      {{$index+1}} - {{payee.payee_ | limitTo: 25 }}
                      <span class="method aba" ng-if=" vm.includes(payee.type, 'ABA') ">ABA</span>
                      <span class="method swift" ng-if=" vm.includes(payee.type, 'Swift') ">Swift</span>
                      <span class="method iban" ng-if=" vm.includes(payee.type, 'Accounts') ">Accounts</span>
                      <span class="method ach" ng-if=" vm.includes(payee.type, 'Ach')">ACH</span>
                      <span class="method eft" ng-if=" vm.includes(payee.type, 'Eft') ">EFT</span>
                      <span class="method iban" ng-if=" vm.includes(payee.type, 'Iban') ">IBAN</span>
                      <span class="method pre-auth-debit" ng-if=" vm.includes(payee.type, 'Pre-Authorized Debit') ">Pre-Authorized Debit</span>
                      <span class="method sepa" ng-if=" vm.includes(payee.type, 'Sepa') ">SEPA</span>
                      <span class="method ach-debit" ng-if=" vm.includes(payee.type, 'ACH-Debit') ">ACH-Debit</span>
                      <span class="method incoming-fx-wire" ng-if=" vm.includes(payee.type, 'Incoming FX Wire') ">Incoming FX Wire</span>
                      <span class="method global-ach" ng-if=" vm.includes(payee.type, 'Global ACH') ">Global ACH</span>
                      <span class="method bacs" ng-if=" vm.includes(payee.type, 'Bacs') ">BACS</span>
                    </td>
                    <td>
                      {{ payee.amount | currency:"":2 }}
                      <span class="currency {{ vm.toLowerCase(vm.getFundingCurrencyName(vm.step1.currency)) }}">{{ vm.toUpperCase(vm.getFundingCurrencyName(payee.currency)) }}</span>
                    </td>
                    <td class="space-around"><strong>Fee:</strong> <p><span>{{payee.fee | currency:"":2}}</span></p></td>
                    <td class="space-around"><strong>Total:</strong> <p><span>{{  vm.getSingleBeneficiaryForApproval(payee) | currency:"":2 }}</span></p></td>
                    <td style="text-transform: uppercase; font-weight: 400;">{{ payee.payment_reference || 'N/A' | limitTo: 25 }}</td>
                    <td>{{ payee.value_date | date: 'MM/dd/yyyy'}}</td>
                  </tr>
                  </tbody>
                  <tfoot ng-hide="true">
                  <tr>
                    <td></td>
                    <td>{{ vm.getTotalBeneficiaryAmount() | currency:"":2 }}</td>
                    <td>{{ vm.getTotalBeneficiaryFee() | currency:"":2 }}</td>
                    <td colspan="4">{{ vm.getTotalBeneficiary() | currency:"":2 }}</td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container" style="position: relative;">
              <md-button  class="md-primary" ng-if="vm.selectedIndex === 1" ng-mouseover="vm.showPopOverFunc()" ng-mouseleave="vm.showPopLeaveFunc()" ng-hide="vm.skipApprovalStep == true" ng-click="vm.approveNow()">Approve <span>{{ vm.approvalCounter }} / {{ vm.approvalPolicy[0].approval_level }}</span></md-button>
              <md-button class="md-outline" ng-if="vm.selectedIndex === 1" ng-click="vm.ApproveFunc()" ng-show="vm.ApprovalNext || (vm.skipApprovalStep == true)">Next</md-button>
              <md-button class="md-primary md-secondary" ng-if="vm.selectedIndex === 1" ng-click="vm.previousStep()" ng-show="vm.approvalCounter <= 0">Previous</md-button>
              <div class="popup" ng-show="vm.showPopOver">
                <span>{{ vm.popover.title }}</span>
                <table ms-responsive-table class="simple">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="approval in vm.approvals track by $index">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ vm.toUpperCase(approval.user_name) }}</td>
                    <td>{{ approval.approval_date | date: 'MM/dd/yyyy h:mm:ss a'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 2" id="tab_2">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="273.518px" height="191.991px" viewBox="0 0 273.518 191.991" enable-background="new 0 0 273.518 191.991"
	 xml:space="preserve">
<path fill-rule="evenodd" clip-rule="evenodd" fill="#929292" d="M175.823,193.787h58.617l39.078-77.496V0.044H156.284v116.247
	h58.617L175.823,193.787 M19.525,193.787h58.616l39.063-77.496V0.044H0v116.247h58.604L19.525,193.787"/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Quote</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 10px; top:0;">
              <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 3</strong> <span hide-xs>-</span> Please review the rate and click accept to book the deal.</h3>
            <div layout="row" layout-xs="column" layout-align="space-between center" class="quote-block">
              <div flex="50" flex-xs="90" flex-gt-xs="50" flex-offset-xs="5" flex-gt-sm="50" class="inside-details-block step3-quote" ng-hide="vm.hideQuoteScreens">
                <div>
                  <h3>Beneficiary details</h3>
                </div>
                <table class="simple" ms-responsive-table>
                  <thead>
                    <tr>
                      <th>Currency</th>
                      <th>Amount</th>
                      <th>Rate</th>
                      <th>Cost</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="entry in vm.finalEntries track by $index">
                    <td class="align-left">
                      <span class="currency {{ vm.toLowerCase(vm.getFundingCurrencyName(entry.currency)) }}">{{ vm.toUpperCase(vm.getFundingCurrencyName(entry.currency)) }}</span>
                    </td>
                    <td class="align-left">
                      {{ entry.amount | currency:"":2}}
                    </td >
                    <td class="align-left"><strong>Rate:</strong> <span>{{  entry.rate | currency:"":2 }}</span></td>
                    <td class="align-left"><strong>Cost:</strong> <span>{{  entry.cost | currency:"":2 }}</span></td>
                    <td class="align-left">{{ entry.count || 0 }}</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="5">Total Cost: <span>{{ vm.totalCost | currency:"":2 }}  {{ vm.getFundingCurrencyName(vm.step1.currency)  | uppercase }}</span></td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div flex="90" flex-offset="5" flex-xs="90" flex-gt-xs="50" flex-offset-xs="5" flex-gt-sm="50" class="inside-details-block step3-quote" ng-show="vm.hideQuoteScreens">
                <div>
                  <h3>Beneficiary details</h3>
                </div>
                <table class="simple">
                  <thead>
                    <tr>
                      <th>Currency</th>
                      <th>Amount</th>
                      <th>Rate</th>
                      <th>Cost</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="entry in vm.finalEntries track by $index">
                    <td class="align-left">
                      <span class="currency {{ vm.toLowerCase(vm.getFundingCurrencyName(entry.currency)) }} ">{{ vm.toUpperCase(vm.getFundingCurrencyName(entry.currency)) }}</span>
                    </td>
                    <td class="align-left">
                      {{ entry.amount | currency:"":2}}
                    </td>
                    <td class="align-left"><strong>Rate:</strong> <span>{{  entry.rate | currency:"":2 }}</span></td>
                    <td class="align-left"><strong>Cost:</strong> <span>{{  entry.cost | currency:"":2 }}</span></td>
                    <td class="align-left">{{ entry.count || 0 }}</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="5">Total Cost: <span>{{ vm.totalCost | currency:"":2 }}</span></td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div flex="30" flex-offset="5" flex-gt-xs="40" flex-gt-sm="30" id="circular-timer-box" hide-xs ng-hide="vm.hideQuoteScreens"></div>
              <div id="linear-timer-box" hide-gt-xs ng-hide="vm.hideQuoteScreens">
                <div class="progress">
                  <div class="progress-bar" style="width: {{ vm.percent_duration + '%' }};" role="progressbar" aria-valuenow="{{ vm.expires_in }}" aria-valuemin="0" aria-valuemax="60">
                    <span class="sr-only">{{ vm.expires_in }} Seconds</span> {{ vm.expires_in }} Seconds
                  </div>
                </div>
              </div>
            </div>
            <div layout="row" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button class="md-primary" ng-click="vm.AcceptQuote()" ng-disabled="vm.disableMe">Accept</md-button>
              <md-button class="md-secondary" ng-click="vm.DeclineQuote()" ng-disabled="vm.disableMe">Decline</md-button>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab ng-disabled="vm.selectedIndex != 3" id="tab_3">
          <md-tab-label>
            <span class="ms-form-wizard-step-label">
              <span class="ms-form-wizard-step-icon">
                <span class="icon-circle icon-circle-outline">
                  <svg version="1.1" class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="258.229px" height="193.647px" viewBox="0 0 258.229 193.647" enable-background="new 0 0 258.229 193.647"
	 xml:space="preserve">
<polyline fill-rule="evenodd" clip-rule="evenodd" fill="#929292" points="82.156,153.211 20.535,92.515 0,112.741 82.156,193.678
	258.229,20.242 237.693,0 82.156,153.211 "/>
</svg>
                </span>
              </span>
              <span class="ms-form-wizard-step-text">Confirmation</span>
            </span>
          </md-tab-label>
          <md-tab-body>
            <div class="show-circle-loader" ng-hide="vm.showCircleLoader" style="position: absolute; right: 10px; top:0;">
              <md-progress-circular  class="md-accent" md-diameter="40px"></md-progress-circular>
            </div>
            <h3 class="md-text-accent" flex-gt-md="100" flex-offset="5"><strong>Step 4</strong> <span hide-xs>-</span> Your rates are confirmed, please review the confirmation summary</h3>
            <!-- Payment Details -->
            <div layout="row" layout-xs="column" layout-wrap class="step4-payment-details">
              <div class="payment-detail">
                <!--<strong>Deal : </strong><span>{{vm.deal.recordnumber}}</span>-->
                <strong>Deal : </strong><span>{{vm.deal.recordnumber}}</span>
              </div>
              <table class="payment-detail" ms-responsive-table>
                <thead>
                  <tr>
                    <th>Buy</th>
                    <th>Sell</th>
                    <th>Count</th>
                    <th>Rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="entry in vm.finalEntries track by $index">
                    <td>{{ entry.amount | currency:"":2 }} <span class="currency vm.toLowerCase(vm.getFundingCurrencyName(entry.currency))">{{ vm.getFundingCurrencyName(entry.currency) }}</span></td>
                    <td>{{ entry.cost | currency:"":2 }} <span class="currency vm.toLowerCase(vm.getPaymentCurrencyName(vm.step1.currency))">{{ vm.getPaymentCurrencyName(vm.step1.currency) }}</span></td>
                    <td>{{ entry.count || 0 }}</td>
                    <td>{{ entry.rate | currency:"":2 }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td><strong>Total Buy:</strong> {{ vm.getTotalSells()  | currency:"":2 }}</td>
                    <td><strong>Total Sell:</strong> {{ vm.getTotalBuys() | currency:"":2 }}</td>
                    <td colspan="3"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- Beneficiary Details -->
            <div layout="row" layout-xs="row" layout-wrap class="details-block beneficiary-details step4-tables step4-beneficiary-details">
              <div flex="100" class="heading-block">
                <h3>Payee Details</h3>
              </div>
              <div flex="100" class="details-table">
                <table class="mdl-data-table">
                  <tbody>
                  <tr ng-repeat="payee in vm.payeeEntries track by $index">
                    <td>
                      {{$index+1}} - {{payee.payee_ | limitTo: 25}}
                      <span class="method aba" ng-if=" vm.includes(payee.type, 'ABA') ">ABA</span>
                      <span class="method swift" ng-if=" vm.includes(payee.type, 'Swift') ">Swift</span>
                      <span class="method iban" ng-if=" vm.includes(payee.type, 'Accounts') ">Accounts</span>
                      <span class="method ach" ng-if=" vm.includes(payee.type, 'Ach')">ACH</span>
                      <span class="method eft" ng-if=" vm.includes(payee.type, 'Eft') ">EFT</span>
                      <span class="method iban" ng-if=" vm.includes(payee.type, 'Iban') ">IBAN</span>
                      <span class="method pre-auth-debit" ng-if=" vm.includes(payee.type, 'Pre-Authorized Debit') ">Pre-Authorized Debit</span>
                      <span class="method sepa" ng-if=" vm.includes(payee.type, 'Sepa') ">SEPA</span>
                      <span class="method ach-debit" ng-if=" vm.includes(payee.type, 'ACH-Debit') ">ACH-Debit</span>
                      <span class="method incoming-fx-wire" ng-if=" vm.includes(payee.type, 'Incoming FX Wire') ">Incoming FX Wire</span>
                      <span class="method global-ach" ng-if=" vm.includes(payee.type, 'Global ACH') ">Global ACH</span>
                      <span class="method bacs" ng-if=" vm.includes(payee.type, 'Bacs') ">BACS</span>
                    </td>
                    <td>
                      {{ payee.amount | currency:"":2}}
                      <span class="currency {{ vm.toLowerCase( vm.getFundingCurrencyName(payee.currency) ) }}">{{ vm.toUpperCase( vm.getFundingCurrencyName( payee.currency ) ) }}</span>
                    </td>
                    <td class="space-around"><strong>Fee:</strong> <p><span>{{payee.fee | currency:"":2 }}</span></p></td>
                    <td class="space-around"><strong>Total:</strong> <p><span>{{  vm.getSingleBeneficiary(payee) | currency:"":2 }}</span></p></td>
                    <td style="font-weight: bold;">Reference: {{ payee.payment_reference || 'N/A' | limitTo: 25 }}</td>
                    <td>Value Date: {{payee.value_date | date: 'MM/dd/yyyy'}}</td>
                    <td style="text-align: right">
                      <div class="print-btn-block" ng-repeat="method in vm.allElectronicMethods">
                        <a ng-if="payee.paymentmethod == method.id"  class="print-btn" ng-click="vm.printSettlement(payee)"><i class="fa fa-print"></i></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="2"></td>
                    <td class="space-around"><strong>Fee: </strong> <p style="position:relative;right:2px"><span class="make-fee">{{ vm.getTotalBeneficiaryFee() | currency:"":2 }}</span></p></td>
                    <td colspan="5" class="space-around"><strong>Total: </strong> <p><span>{{ vm.getTotalBeneficiary() | currency:"":2 }}</span></p></td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <!-- Funding Summary -->
            <div layout="row" layout-xs="row" layout-wrap class="details-block funding-details step4-tables step4-funding-details">
              <div flex="100" class="heading-block">
                <h3>Funding Details</h3>
              </div>
              <div flex="100" class="details-table funding-table">
                <table class="mdl-data-table" ms-responsive-table>
                  <tbody>
                  <tr>
                    <td>
                      <strong>{{ vm.getAccountName(vm.step1.account) }}</strong>
                      <span class="method {{ vm.toLowerCase(vm.getFundingsMethodName(vm.step1.method)) }}">{{ vm.getFundingsMethodName(vm.step1.method) }}</span>
                    </td>
                    <td>
                      <span class="currency {{ vm.toLowerCase(vm.getPaymentCurrencyName(vm.step1.currency)) }}">{{ vm.getPaymentCurrencyName(vm.step1.currency) }}</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="center center" flex-offset="0" layout-align-xs="column" class="next-button-container">
              <md-button class="md-primary" ng-if="vm.selectedIndex === 3" ng-click="vm.doneFunc()">Done</md-button>


              <md-button class="md-outline" ng-if="vm.selectedIndex === 3"><a href="javascript:;" ng-click="vm.printDeal()"><i class="material-icons">print</i> Print</a></md-button>

            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </ms-form-wizard>
  </div>
  <div class="modern-data-table-and-options" layout="column" layout-align="center stretch" ng-if="vm.payeeEntries.length > 0" ng-show="vm.selectedIndex == 0">
    <div flex="100" class="responsive">
      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Bank</th>
          <th>Amount</th>
          <th>Fee</th>
          <th>Payment Reference</th>
          <th>Value Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody ms-scroll>
          <tr ng-repeat="payee in vm.payeeEntries track by $index" id="{{ payee.current_id }}">
            <td>{{ $index + 1 }}</td>
            <td>{{ payee.payee_ | limitTo: 25}} <span class="method {{ payee.type | lowercase | filter:dashes }}">{{ payee.type | uppercase }}</span></td>
            <td><a href="javascript:void(0)" class="link" ng-click="vm.viewBankDetails($event, payee)">View Bank Detail</a></td>
            <td>
              <div class="amount">{{ payee.amount | currency:'':2 }} <span class="currency {{ payee.currency_name | lowercase }}">{{ payee.currency_name }}</span></div>
            </td>
            <td>
              <div class="amount">{{ payee.fee | currency:'':2 }}</div>
            </td>
            <td>{{ payee.payment_reference || 'N/A' | limitTo: 25 }}</td>
            <td>{{ payee.value_date | date: 'MM/dd/yyyy' }}</td>
            <td>
              <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button ng-click="vm.editSinglePayment(payee)"> <ion-icon></ion-icon><span md-menu-align-target=""><i class="material-icons">edit</i> Edit</span></md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.deleteRow(payee, event)"> <span md-menu-align-target=""><i class="material-icons">delete</i> Delete</span></md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="options" layout="row" layout-align="center center">
      <md-button class="md-primary" ng-click="vm.savePaymentDialog()" ng-hide="vm.showNext == false">Save</md-button>
      <md-button class="md-outline" ng-click="vm.acceptDealPayment(vm.step1)" ng-hide="vm.showNext">Next</md-button>
    </div>
  </div>
</div>
