<!-- Multiple Add Payee Custom Dialog -->
<md-dialog aria-label="ADD MULTIPLE PAYEE" id="multiple_payment_dialog">
  <md-dialog-content>
    <div class="show-loader" ng-hide="multipleLoader">
      <md-progress-circular  class="md-accent" md-diameter="60px"></md-progress-circular>
    </div>
    <div layout="column">
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex="100" flex-xs="70">
          <h3 class="md-text-accent">Add Multiple Payee</h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
      <form class="md-inline-form" novalidate>
        <div class="advance-data-table" ms-scroll>
          <table>
            <thead>
            <tr>
              <th>
                <md-input-container>
                  <label for="payee">Payee</label>
                  <input type="text" id="payee" ng-model="vm.searchKeys.payee" ng-pattern="/^[a-zA-Z0-9\-\_]+$/g">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label for="method">Method</label>
                  <input type="text" id="method" ng-model="vm.searchKeys.method" ng-pattern="/^[a-zA-Z0-9\-\_]+$/g">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label for="currency">Currency</label>
                  <input type="text" id="currency" ng-model="vm.searchKeys.currency" ng-pattern="/^[a-zA-Z0-9\-\_]+$/g">
                </md-input-container>
              </th>
              <th>
                <md-input-container>
                  <label for="account">Account</label>
                  <input type="text" id="account" ng-model="vm.searchKeys.account" ng-pattern="/^[a-zA-Z0-9\-\_]+$/g">
                </md-input-container>
              </th>
              <th>
                <md-button class="md-icon-button" title="Clear filters" ng-click="clearFilters()">
                  <i class="material-icons">clear_all</i>
                </md-button>
              </th>
              <th></th>
            </tr>
            </thead>
            <tbody ng-repeat="payee in payees | filter: payeeFilter | filter: methodFilter | filter: currencyFilter | filter: accountFilter">
            <tr id="payee-{{ payee.id }}">
              <td>{{ payee.name }}</td>
              <td>{{ payee.type }}</td>
              <td>{{ payee.currency_name }}</td>
              <td>{{ payee.beneficiary_accountcode }}</td>
              <td>
                <md-input-container>
                  <label for="amount">Amount</label>
                  <input type="text" id="amount" ng-model="payee.amount" format="currency" ng-change="checkMyRow(payee)" ng-keydown="vm.protectAmount($event)">
                </md-input-container>
              </td>
              <td>
                <md-button class="md-icon-button show-more-btn" ng-click="showMore(payee, $event)">
                  <i class="material-icons">add</i>
                </md-button>
              </td>
            </tr>
            <tr class="more_record hide">
              <td colspan="6">
                <md-input-container>
                  <label>Value Date</label>
                  <input type="text" jq-date-picker ng-model="payee.value_date" data-min-date="today" ng-keydown="vm.stopInputing($event)"  ng-init="payee.value_date = vm.defaultValueDate" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                </md-input-container>
                <md-input-container>
                  <label ng-show="payee.payment_purpose != null">Purpose of payment</label>
                  <md-select ng-model="payee.payment_purpose" placeholder="Purpose of payment" ng-change="checkMyRow(payee)" ng-required="vm.popMandate">
                    <md-option ng-repeat="purpose in vm.purpose_of_payment | orderBy: 'name'" ng-value="purpose.id" data-ng-selected="purpose.id == payee.purpose">
                      {{ purpose.name }}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Payment Reference</label>
                  <input type="text" ng-model="payee.payment_reference" ng-keydown="vm.noSpecialCharactersFunction($event)" ng-paste="vm.pasteLimit($event, 25)"  data-ng-keypress="vm.limitLength($event, 25)" style="text-transform:uppercase;" ng-change="checkMyRow(payee)" ng-keypress="vm.limitLength($event, 25)">
                </md-input-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <div layout="row" layout-align="center center">
      <md-button class="md-primary" ng-click="addMultiplePayee(payees)">Add Payee</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
