<md-dialog aria-label="Confirm Payment" id="confirm_payment_dialog" class="md-small">
  <md-dialog-content>
    <div layout="row" layout-align="space-between start">
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
    <div layout-align="center center" layout="column">
      <div flex>
        <div class="icon-svg">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="63.401px" height="63px" viewBox="0 0 63.401 63" enable-background="new 0 0 63.401 63" xml:space="preserve">
          <g>
    <g>
      <g>
        <g>
          <g>
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#72BB53" d="M62.484,31.841c0,5.575-1.374,10.712-4.123,15.412
              c-2.749,4.699-6.475,8.433-11.176,11.2s-9.841,4.142-15.419,4.122c-5.577-0.02-10.728-1.394-15.449-4.122
              c-4.721-2.728-8.446-6.461-11.176-11.2c-2.729-4.739-4.104-9.876-4.124-15.412S2.373,21.169,5.142,16.43
              c2.769-4.739,6.495-8.472,11.176-11.2C21,2.502,26.148,1.128,31.767,1.108s10.758,1.354,15.419,4.122s8.387,6.501,11.176,11.2
              S62.524,26.266,62.484,31.841 M57.375,31.841c0-3.464-0.688-6.78-2.062-9.946c-1.375-3.166-3.188-5.884-5.438-8.154
              s-4.98-4.092-8.188-5.466c-3.208-1.374-6.515-2.051-9.921-2.031s-6.724,0.697-9.95,2.031c-3.228,1.334-5.947,3.156-8.158,5.466
              c-2.211,2.31-4.034,5.028-5.468,8.154c-1.434,3.126-2.122,6.441-2.062,9.946c0.06,3.504,0.747,6.82,2.062,9.946
              c1.315,3.126,3.138,5.844,5.468,8.154c2.331,2.31,5.05,4.131,8.158,5.466c3.107,1.334,6.424,2.011,9.95,2.031
              s6.833-0.657,9.921-2.031c3.088-1.374,5.816-3.196,8.188-5.466c2.37-2.27,4.184-4.988,5.438-8.154S57.256,35.306,57.375,31.841
               M47.126,21.597c0,1.414-0.498,2.619-1.494,3.614c-0.996,0.995-2.212,1.503-3.646,1.523c-1.435,0.02-2.64-0.488-3.616-1.523
              c-0.976-1.036-1.474-2.24-1.494-3.614c-0.02-1.374,0.479-2.579,1.494-3.614c1.017-1.036,2.222-1.533,3.616-1.493
              c1.395,0.04,2.609,0.538,3.646,1.493C46.667,18.938,47.165,20.143,47.126,21.597 M26.627,21.597
              c0,1.414-0.498,2.619-1.494,3.614c-0.996,0.995-2.201,1.503-3.615,1.523s-2.62-0.488-3.616-1.523
              c-0.996-1.036-1.504-2.24-1.524-3.614c-0.02-1.374,0.488-2.579,1.524-3.614c1.036-1.036,2.241-1.533,3.616-1.493
              c1.374,0.04,2.58,0.538,3.615,1.493C26.169,18.938,26.667,20.143,26.627,21.597 M46.408,39.009
              c-0.996,3.226-2.839,5.824-5.527,7.795c-2.689,1.971-5.728,2.957-9.114,2.957s-6.435-0.986-9.144-2.957
              s-4.552-4.57-5.528-7.795c-0.199-0.677-0.139-1.324,0.179-1.941c0.319-0.617,0.827-1.035,1.524-1.254
              c0.658-0.219,1.306-0.169,1.942,0.149c0.638,0.319,1.057,0.826,1.255,1.523c0.657,2.13,1.893,3.853,3.706,5.167
              c1.813,1.314,3.834,1.981,6.065,2.001s4.243-0.647,6.036-2.001s3.028-3.076,3.705-5.167c0.219-0.697,0.647-1.205,1.285-1.523
              c0.638-0.318,1.295-0.368,1.972-0.149c0.678,0.219,1.166,0.637,1.465,1.254C46.528,37.686,46.588,38.333,46.408,39.009"/>
          </g>
        </g>
      </g>
    </g>
  </g>
          </svg>
        </div>
      </div>
      <div flex>
        <h3>PAYEE DATA HAS BEEN SAVED SUCCESSFULLY!</h3>
      </div>
      <div flex>
        <md-button class="md-primary" ng-click="vm.nextStep()">Next</md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
