<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pick A Beneficiary</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <!-- BASIC FORM -->
        <div  flex="100">
          <form name="basicForm" class="md-inline-form" novalidate>
            <div layout="column" layout-gt-sm="row">
              <p>Send Funds to *  </p>
              <md-input-container flex>
                <md-radio-group ng-model="data.group1">
                  <md-radio-button value="Recipient" class="md-primary"> Recipient</md-radio-button>
                  <md-radio-button value="My Demo Account"> My Demo Account</md-radio-button>
                </md-radio-group>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <label>Date *</label>
                <md-datepicker ng-model="vm.spot_deal_form.value_date" style="width: 100%;"></md-datepicker>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-sm="row">
              <md-input-container flex>
                <label>Currency To Send * </label>
                <md-select ng-model="vm.spot_deal_form.you_sell">
                  <md-option value="CAD">
                    CAD
                  </md-option>
                  <md-option value="AUS">
                    AUS
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <div layout="column" layout-gt-xs="row">
              <md-input-container flex>
                <label>Amount</label>
                <input type="text" name="amount" ng-model="vm.basicForm.city">
              </md-input-container>
              <md-input-container flex>
                <label style="display: inline-block;float: right;text-align: right;">CAD Equivalent</label>
                <md-switch ng-model="vm.cad" style="display: inline;"></md-switch>
              </md-input-container>
            </div>
          </form>

        </div>
        <!-- / BASIC FORM -->

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer('add_order')">
        Add Order
      </md-button>
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
