<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Quick Payment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">


        <!-- BASIC FORM -->
        <div flex="100">
          <table class="simple" ms-responsive-table>
            <tbody>
            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>

            <tr>
              <td colspan="4">ACME CORP - SWIFT EUR-F3423420427294 106 CAPITAL PARTNER, LLC</td>
            </tr>
            <tr>
              <td class="name">
                <span>
                  <span>Date:</span>
                  <span>
                    <md-input-container>
                   <md-datepicker ng-model="vm.spot_deal_form.value_date"></md-datepicker>
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="position">
                <span>
                  <span>Amount:</span>
                  <span>
                    <md-input-container>
                  <input type="text" name="amount">
                </md-input-container>
                  </span>
                </span>
              </td>
              <td class="office">
                <span>
                  <span>POP:</span>
                  <span>

                      <md-input-container>
                  <md-select ng-model="seledte">
                    <md-option value="payment_for">
                      Payment for deposit
                    </md-option>
                  </md-select>
                </md-input-container>

                  </span>
                </span>
              </td>
              <td class="age">
                <span>
                  <span>Payment Refference:</span>
                  <span>

                     <md-input-container>
                  <input type="text" name="payment">
                </md-input-container>
                  </span>
                </span>
              </td>
            </tr>


            </tbody>
          </table>

        </div>
        <!-- / BASIC FORM -->

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-primary md-raised" ng-click="answer('add_order')">
        Add Order
      </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
