<!-- Single Add Payee Custom Dialog -->
<md-dialog aria-label="Add Payee" id="single_payment_dialog">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">Add Payee</h3>
        </div>
        <span flex></span>
        <div class="show-circle-loader" ng-hide="singlePayeeLoader" style="position: absolute; right: 5%; top: 3%;">
          <md-progress-circular  class="md-accent" md-diameter="30px"></md-progress-circular>
        </div>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
      <form name="wizardStep1" class="md-inline-form single-payee-form" ms-form-wizard-form novalidate>
        <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row" class="payee-holder">
          <div flex="50" flex-offset="0" flex-xs="100" flex-gt-xs="45">
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="currency_select">
                <label>Currency*</label>
                <md-select ng-model="single.currency" ng-change="makePayeeAndFeeNull()" ng-click="vm.hidePayeeTableOnClick()">
                  <md-option ng-repeat="currency in fundingCurrencies | orderBy: 'currency_name'" value="{{ currency.currency_id }}">
                    <strong>{{ currency.currency_name }}</strong> - {{ currency.currency_description }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="payee_input">
                <label>Payee*</label>
                <input type="text" ng-click="showPayeeTableFunc($event)" ng-keydown="vm.stopInputing($event)" ng-model="single.payee_"  >

              </md-input-container>
              <div class="advance-data-table click-outside-and-hide" layout="row" ng-hide="vm.showPayeeTable">
                <i class="material-icons hide-payee-table" ng-click="hidePayeeTableFunc()">close</i>
                <div flex>
                  <table ms-responsive-table>
                    <thead>
                    <tr>
                      <th>
                        <md-input-container>
                          <input type="text" id="routing" ng-model="vm.payeeTable.routing" placeholder="Routing/Account Name" autocomplete="off">
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <input type="text" id="payee_payor" ng-model="vm.payeeTable.payee_payor" placeholder="Payee/Payor" autocomplete="off">
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <input type="text" id="bank_name" ng-model="vm.payeeTable.bank_name" placeholder="Bank Name" autocomplete="off">
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <md-select ng-model="vm.payeeTable.method" placeholder="Payment Method">
                            <md-option value="{{ vm.toLowerCase(method.name) }}" ng-repeat="method in vm.methods | orderBy: 'name'">{{ method.name }}</md-option>
                          </md-select>
                        </md-input-container>
                      </th>
                      <th>
                        <md-input-container>
                          <md-select ng-model="vm.payeeTable.country" id="country" placeholder="Country">
                            <md-option ng-repeat="country in vm.countries | orderBy: 'country_name'" value="{{ vm.toLowerCase(country.country_name) }}">
                              {{ country.country_name }}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="payeeSelectFunc($event)" ng-repeat="payee in payeesList | filter: routingFilter | filter: payeeFilter | filter: bankFilter | filter: countryFilter | filter: methodFilter" id="{{ payee.id }}">
                      <td>{{ payee.beneficiary_accountcode }} - {{payee.beneficiarybank_name }}</td>
                      <td>{{ payee.name }} </td>
                      <td>{{payee.beneficiarybank_name }}</td>
                      <td>{{payee.type }}</td>
                      <td>{{ payee.country_name }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="payee_amount_input">
                <label>Amount*</label>
                <input type="text" ng-model="single.amount" format="currency" ng-keydown="vm.protectAmount($event)">
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="payment_reference_input">
                <label>Payment Reference</label>
                <input type="text" name="reference" ng-keydown="vm.noSpecialCharactersFunction($event)" ng-model="single.payment_reference" ng-paste="vm.pasteLimit($event, 200)" ng-keypress="vm.limitLength($event, 200)" >
              </md-input-container>
            </div>
            <div layout="column" layout-gt-xs="row" flex flex layout-xs="column">
              <md-input-container flex="100" flex-gt-xs="100" flex-xs="100" flex-offset="0" class="fee_input">
                <label>Fee</label>
                <input type="text" name="fee" ng-model="single.fee" format="currency" ng-readonly="true">
              </md-input-container>
            </div>
          </div>
          <!-- /flex-row-end -->
          <div flex="50" flex-offset="5" flex-xs="100" flex-gt-xs="45" flex-offset-gt-xs="5" class="top-placement-parent">
            <md-checkbox ng-click="collapseAll(data)" aria-label="No Payee Notification" class="md-secondary top-placement" ng-model="show" *ng-if="showHelloMe">
              Additional details
            </md-checkbox>
            <div ng-show="data.expanded" class="top-placement-fix">
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="value_date_input">
                  <label style="left:0;">Value date*</label>
                  <input type="text" jq-date-picker ng-model="single.value_date" min-date="today" ng-keydown="vm.stopInputing($event)" placeholder="Value date" ng-pattern="/^(0[1-9]|1[012])[-/.](0[1-9]|[12][0-9]|3[01])[-/.](19|20)\d\d$/">
                </md-input-container>
              </div>
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="purpose_payment_input">
                  <label>Purpose Of Payment</label>
                  <md-select ng-model="single.payment_purpose">
                    <md-option ng-repeat="purpose_of_payment in vm.purposes_of_payment | orderBy: 'name'" value="{{ purpose_of_payment.id }}" title="{{ purpose_of_payment.description }}" ng-selected="vm.toLowerCase(single.payment_purpose) === vm.toLowerCase(purpose_of_payment.name)" ng-required="vm.popMandate">
                      {{ purpose_of_payment.name }}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="payment_reference_input">
                  <label>Internal Reference</label>
                  <input type="text" name="internal reference" ng-keydown="vm.noSpecialCharactersFunction($event)" ng-paste="vm.pasteLimit($event, 25)"  ng-keypress="vm.limitLength($event, 25)" ng-model="single.internal_payment_reference" style="text-transform:uppercase;">
                </md-input-container>
              </div>
              <div layout="column" layout-gt-xs="row" flex>
                <md-input-container flex="100" flex-gt-xs="100" flex-offset="0" class="payment_reference_email_input">
                  <label>Payee Notification Email Address</label>
                  <input type="text" name="payee notification" ng-keypress="vm.limitLength($event, 100)" ng-paste="vm.pasteLimit($event, 100)" ng-model="single.payee_notification">
                </md-input-container>
              </div>
            </div>
          </div>
          <!-- /flex-row-end -->
        </div>
        <!-- /layout-row -->
      </form>
    </ms-form-wizard>
  </md-dialog-content>
  <md-dialog-actions>
    <div layout="row" layout-align="center center" layout-gt-lg="row" layout-align-gt-lg="row">
      <md-button class="md-primary" ng-click="addPayee(single)">Add Payee</md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
