<!-- View Bank Details Dialog -->
<md-dialog aria-label="VIEW BANK DETAIL" id="view_bank_details_dialog">
  <md-dialog-content>
    <ms-form-wizard flex>
      <div layout="row" layout-align="space-between start" class="dialog-title">
        <div flex>
          <h3 class="md-text-accent">Bank Detail</h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
      <div layout="row" layout-align="space-between stretch" layout-xs="column" layout-gt-xs="row" layout-gt-sm="row" class="view_bank_details_box">
        <div flex="100" flex-offset="0" flex-xs="100" flex-gt-xs="100">
          <table class="simple" ms-responsive-table>
            <thead>
            <tr>
              <th>Bank Name</th>
              <th>Account Number</th>
              <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td> {{ single.beneficiarybank_name }} </td>
              <td> {{ single.beneficiary_accountcode }} </td>
              <td> {{ single.beneficiarybank_address1 }} </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ms-form-wizard>
  </md-dialog-content>
</md-dialog>
